@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.post-play-page {
  height: 100% !important;
  background: var(--theme-dark-blue);
  color: var(--white);
  $home-button-size: 45px;
  $zendesk-size: 17.5vw;
  $book-height: calc(100vh - #{$home-button-size} - #{$zendesk-size} - 30vh);
  $real-book-height: calc(100vh - #{$home-button-size} - #{$zendesk-size} - 35vh);

  .upper-part {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100vw;

    .page-header {
      background: var(--theme-light-blue);
      width: 100vw;
      height: $zendesk-size;
      display: flex;
      align-items: center;

      .logout-container {
        margin: 0;
        display: flex;
        align-items: center;
        width: 100% !important;
        flex-wrap: inherit !important;
        justify-content: space-between;
      }

      .search-container {
        svg {
          height: 40px !important;
          width: 40px !important;
        }
      }
    }
  }

  .more-button {
    margin-right: 5vw;
  }

  .bell-button {
    margin-left: 4vw;
  }

  .home-button-container {
    margin-left: calc(74px + 3vw);

    button {
      border-bottom-right-radius: 9px;
      background: var(--theme-light-blue) !important;

      svg {
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  h2 {
    font-family: $font-family-bold;
    font-size: 1.7vw;
    margin-bottom: 2.5vh;
  }

  .book-navigator {
    overflow-x: scroll;
    top: 0;
    right: 0;
    width: 100vw;
    background: var(--theme-light-blue);
    height: $mobile-menu-height;
    display: flex;
    font-size: 7vw;

    svg {
      margin-left: 4vw;
      margin-right: 4vw;
      height: 10vw;
      width: 10vw;
    }

    .prep-tab {
      width: 22vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .question-tab {
      width: 15vw;
      display: flex;
      font-family: $font-family-bold;
      justify-content: center;
      align-items: center;

      svg {
        margin-left: 1vw;
        width: 5vw;
        height: 5vw;
        stroke-width: 3;
      }
    }
  }

  .wefw-book-container {
    height: calc(100% - 17.5vw - 68px) !important;
  }

  .post-book-swiper {
    height: calc(100% - 17.5vw - 68px) !important;

    .swiper-container {
      height: 100%;
    }

    blockquote {
      font-size: 4.5vw;
    }
  }

  .home-button-container button .return-arrow {
    padding: 4px;
    width: 57% !important;
    height: 57% !important;
    border-radius: 50%;
    stroke-width: 2.5;
    background: var(--theme-orange);
    color: var(--theme-dark-blue);
  }

  .mobile-attempts {
    $footer-height: 6vh;
    $panel-radius: 3vw;
    position: relative;
    border-radius: $panel-radius;
    margin-left: 5vw !important;
    margin-right: 5vw !important;
    margin-top: 5%;
    height: 95%;
    color: var(--theme-dark-blue);
    background: var(--tab-gray);

    .play-text {
      font-size: 9vw;
      margin-right: 3vw;
      margin-top: 0 !important;
      display: flex;
      align-items: center;
    }

    .green-button-container2 {
      padding-top: 2vh;
      padding-bottom: 3.2vh;

      .green-button-container3 {
        width: 22vw !important;
        height: 22vw !important;
        padding: 3vw;
        border-radius: 50%;
        background: var(--theme-green-alpha3);

        button {
          width: 16vw !important;
          height: 16vw !important;

          svg {
            stroke-width: 1 !important;
          }
        }
      }
    }

    .attempts {
      background: var(--white);
      height: calc(100% - 22vw - 2vh - 3.2vh - #{$footer-height});
      overflow-y: auto;
    }

    .attempt-info {
      border-bottom: 0.2vh solid var(--tab-gray);
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      background: var(--white);
      display: flex;
      position: relative;

      .percentage {
        margin-left: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14vw;
        height: 14vw;
        border-radius: 50%;
        color: var(--white);
        font-size: 7.5vw;
        font-family: $font-family-bold;
        background: var(--theme-green);
      }

      .score-text {
        display: flex;
        align-items: center;
        margin-left: 2.5vw;
        font-size: 7vw;
        font-family: $font-family-bold;
        color: var(--theme-dark-blue);
      }

      .clock-time {
        position: absolute;
        right: 8vw;
        top: calc(1.5vh + 9.4vw);
        font-size: 4.6vw;
      }

      &.active {
        background: var(--theme-green);

        .percentage {
          color: var(--theme-green);
          background: var(--white);
        }

        .score-text {
          color: white;
        }
      }
    }

    $header-height: 10%;

    .header {
      position: relative;
      height: $header-height;
    }

    .header-absolute {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 6vw;
      white-space: nowrap;
      overflow-x: hidden;
      font-family: $font-family-bold;
      text-overflow: ellipsis;

      p {
        padding-left: 1.5vw;
        text-align: center;
        font-family: $font-family-bold;
        font-size: 6vw;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 10;

      &:after {
        content: "";
        width: 100%;
        height: 1px;
        bottom: -1px;
        display: block;
        position: absolute;
        z-index: 8;
        -webkit-box-shadow: 0px 0px 15px 2px #aaa;
        -moz-box-shadow: 0px 0px 15px 2px #aaa;
        box-shadow: 0px 0px 15px 2px #aaa;
      }
    }

    .scroll-content {
      background: var(--white);
      overflow-y: auto;
      height: calc(100% - #{$header-height} - #{$footer-height});
      padding-left: 5vw;
      padding-right: 5vw;

      .open-question {
        font-family: $font-family-regular-italic;
        margin-top: 2vh;
        font-size: 5vw;

        p {
          font-family: inherit;
          font-size: inherit;
        }
      }

      .expand-title {
        font-size: 8vw;

        .centered {
          width: 15vw;

          .round-icon {
            width: 8vw;
            height: 8vw;
          }
        }
      }

      .expanded-text {
        padding-top: 2vh;
        font-size: 5vw;

        p {
          font-size: inherit;
        }
      }
    }

    .footer {
      filter: drop-shadow(0mm -10px 8px rgba(0, 0, 0, 0.2));
      border-bottom-left-radius: $panel-radius;
      border-bottom-right-radius: $panel-radius;
      width: 100%;
      background: var(--tab-gray);
      position: absolute;
      bottom: 0;
      font-size: 6.5vw;
      height: $footer-height;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      font-family: $font-family-bold;

      @keyframes right-left {
        0% {
          margin-right: 2vw;
        }

        30% {
          margin-right: 4vw;
        }

        100% {
          margin-right: 2vw;
        }
      }

      svg {
        right: 0;
        position: absolute;
        animation: right-left 1s infinite;
        margin-left: 2vw;
        height: 4.1vh;
        width: 4.1vh;
        color: var(--theme-dark-blue);
      }
    }
  }

  .expand-title {
    color: var(--theme-dark-blue);
    line-height: 1.3;
    display: flex;
    align-items: center;
    height: 4vw;
    margin: 5vh 0 1vh 0;
    font: 2.4vw $font-family-bold;

    >span {
      &:first-child {
        @include tabletP {
          width: 6vw;
        }
      }
    }

    .round-icon {
      width: 2vw;
      border-radius: 50%;
      height: 2vw;
      margin: 0 1.8vw 0 1vw;
      overflow: hidden;
      position: relative;
      transition: 500ms transform ease-in-out;

      .arrow {
        height: 80%;
        width: 80%;
        @extend %posAbsolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .image {
      height: 100%;
    }

    .help-prep {
      color: var(--theme-dark-blue);
      font-family: $font-family-regular;
      font-size: 1vw;
    }
  }

  .main-text-container {
    display: flex;
    align-items: center;
    min-height: 30%;
    margin-left: 4vw;
    width: 92vw;
    left: 4vw;
    margin-top: 0;

    h1 {
      font-weight: normal !important;
      font-family: $font-family-black;
      letter-spacing: 0.05vw;
      display: flex;
      align-items: center;
      font-size: 9vw;
      line-height: 0;
      padding-top: 0.5vh;
      height: 5vh;
      margin: 0;
    }

    .wefw-sub-title {
      margin-top: 1vh;
    }

    h2.desktop {
      display: none;
    }

    h2 {
      font-weight: normal !important;
      font-size: 6vw;
      line-height: 0;
      height: 5vh;
      display: flex;
      align-items: center;
      font-family: $font-family-regular;
      margin: 0;
    }

    .button-container {
      position: relative;

      button {
        position: absolute;
        border: none;
        top: -4.5vh;
        left: 38vw;
        width: 54vw;
        outline: none;
        border-radius: 4vw;
        font-family: $font-family-bold;
        font-size: 5.5vw;
        line-height: 0;
        background: var(--theme-orange);
        text-align: center;
        padding: 2vh 0;
        transition: all 300ms ease-out !important;
      }
    }
  }

  .book-main-container {
    z-index: 200;
    margin-left: 6.5vw;
    width: 87vw;
    height: 77%;
    max-height: 120vw;
  }

  .book-container {
    $book-radius: 2vw;
    width: 100%;
    height: 100%;

    .book {
      width: 100%;
      position: relative;
      height: 100%;
    }

    .front {
      width: 30.1vw;
      height: 100%;
      top: 0;
      left: 0;
      border-bottom-right-radius: $book-radius;
      border-top-right-radius: $book-radius;
    }

    .book-page {
      background: #fafafa;
      border-bottom-left-radius: $book-radius !important;
      border-top-left-radius: $book-radius !important;
      overflow-y: auto;

      >div {
        border-bottom-right-radius: $book-radius !important;
        border-top-right-radius: $book-radius !important;
      }
    }

    .synthesis-page {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

    .front {
      width: 100%;
      background: var(--theme-dark-blue);
    }

    .front {
      position: relative;
      line-height: 1.45;
      color: var(--theme-orange);
      @extend %textCenter;
      font-family: $font-family-black;
      background: var(--tab-gray);

      .page-stitch {
        position: absolute;
        height: 100%;
        width: 4vw;

        .vertical-line,
        .horizontal-line {
          position: absolute;
          background: var(--white);
        }

        .vertical-line {
          height: 100%;
          right: 0;
          width: 2vw;
        }

        .horizontal-line {
          height: 2vw;
          width: 100%;
        }

        .top-line-1 {
          top: 7.8vh;
        }

        .top-line-2 {
          top: 14.7vh;
        }

        .bottom-line-1 {
          bottom: 14.7vh;
        }

        .bottom-line-2 {
          bottom: 7.8vh;
        }
      }

      .page-cover {
        height: 100%;
        display: flex;
        flex-direction: column;

        .image-background-container {
          width: 40vw;
          height: 40vw;
          @extend %flexCenter;
          margin: 6.5vh auto 3vh auto;
          background: var(--white);
          border-radius: 2vw;
          padding: 1vw;

          .svg {
            width: 85%;
            height: 85%;
          }
        }

        .brick-title {
          margin: 0 1.8vw;
          margin-left: 5vw;
          text-transform: uppercase;
          color: var(--theme-dark-blue);
          font-size: 6vw;
          width: 80vw;
          height: 18vh;

          p {
            font-size: 6vw;
          }
        }

        .names-row {
          margin-bottom: 3vh;
          font-size: 6vw;
          height: 7vh;
          color: var(--theme-light-blue);
        }
      }
    }

    .page1,
    .page3-empty,
    .page4-attempts {
      background: #fafafa;
    }

    .page3-empty,
    .page4-attempts {
      color: #d3d4d5;
    }

    .front-cover {
      background: #efefef;
    }

    .page4-attempts {
      padding-top: 5vh;
      overflow-y: auto;

      .attempt-info {
        cursor: pointer;
        width: 24.5vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-left: 3vw;
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 1.3vw;

        .percentage {
          @extend %flexCenter;
          font-size: 1.5vw;
          width: 2.5vw;
          height: 2.5vw;
          color: var(--white);
          margin-right: 1vw;
          background: var(--theme-green);
          border-radius: 50%;
        }

        &.active {
          color: var(--theme-dark-blue);
        }
      }
    }

    .page2 {
      background: #fdfdfd;

      .normal-page {
        .normal-page-container {
          position: relative;
          height: calc(#{$real-book-height} - 15vh - 5vh);
          font-family: $font-family-black;
          color: #d3d4d5;
          margin-top: 15vh;
          margin-bottom: 5vh;
          margin-left: 5vw;
          margin-right: 2vw;
          letter-spacing: 0.6vw;
          font-size: 1vw;

          h2 {
            font-size: 2vw;
          }

          .bottom-button {
            cursor: pointer;
            color: var(--theme-dark-blue);
            position: absolute;
            bottom: 0;
            font-size: 1.2vw;
            letter-spacing: 0.1vw;
            margin-left: 6vw;
            @extend %flexCenter;

            svg {
              margin-left: 1vw;
              height: 3vw;
              width: 3vw;
            }
          }
        }
      }
    }

    .page5 {
      background: #efefef;
    }

    .page6 {
      background: #efefef;
    }

    .introduction-brief {
      .intro-header {
        text-transform: uppercase;
        font-family: $font-family-black;
      }
    }

    .page3,
    .page3-cover {
      background: #f5f5f5;
    }

    .page4 {
      background: #f5f5f5;
    }

    .synthesis-page {
      color: var(--theme-dark-blue);

      h2 {
        text-align: center;
      }
    }
  }

  $scale: 1.15;

  .bookmark {
    z-index: 1000;
    position: fixed;
    height: $real-book-height + 0vh;
    left: -2vh;
    width: 4vh;
    top: 1vh;
    transform-style: preserve-3d;
    @extend %transitionAll300;

    &.hidden {
      top: -3.8vh;
      height: 0;
    }
  }

  //#region book animations
  .book-main-container {
    &.expanded {
      width: 50vw;

      .front-cover {
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        background: #efefef;
      }
    }
  }

  //#endregion
  .arrow-description {
    z-index: 1;
    position: fixed;
    color: var(--white);
    bottom: 5vh;
    font-size: 1.2vw;
    font-family: $font-family-light;
    @extend %transitionAll300;

    &.hidden {
      opacity: 0;
    }
  }
}

.last-question-cover {
  @extend %flexCenter;

  >div {
    position: relative;
  }
}

.green-button-container1 {
  .green-button-container2 {
    width: 100%;
    @extend %flexCenter;

    .green-button-container3 {
      position: relative;
      width: 7vw;
      height: 7vw;

      button {
        padding: 1.5vw;
      }

      .custom-hover-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0.5 !important;
        background: var(--theme-green);
        @extend %transitionAll300;
      }
    }
  }

  .play-green-button {
    position: relative;
    @extend %flexCenter;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 7vw;
    height: 7vw;
    background: var(--theme-green);

    .svg {
      margin-left: 10% !important;
      width: 80%;
      height: 80%;
    }
  }

  .play-text {
    text-align: center;
    font-size: 2.8vw;
    margin-top: 1vh;
    color: var(--theme-dark-blue);
    font-family: $font-family-bold;
  }
}

.page3 {
  height: 100%;
  overflow-y: scroll;
}

// questions content
.post-play-page .mobile-attempts.question {
  $footer-height: 6vh;
  $header-height: calc(35vw + 1vh);

  .question-title {
    position: relative;
    font-family: $font-family-black;
    color: var(--theme-dark-blue);
    font-size: 7.5vw;
    margin-bottom: 2vw;
    .ge-phone-title {
      margin-top: 1vh;
      display: flex;
      align-items: center;
      font-size: 1.7vw;
      .ge-phone-circle {
        margin-right: 1vw;
        $size: 1.4vw;
        width: $size;
        height: $size;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
          color: var(--white);
          width: 62%;
          height: 62%;
          stroke-width: 4;
        }
      }
    }
    .marks-container {
      position: absolute;
      font-size: 4vw;
      top: 1vw;
      right: 2vw;
      text-align: center;
      line-height: 1.3;
    }
  }

  .header {
    display: block;
    position: relative;
    height: $header-height;
  }

  .header-absolute {
    display: block;

    p {
      padding-left: 1.5vw;
      text-align: center;
      font-family: $font-family-bold;
      font-size: 6vw;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }

    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;

    .question-header {
      width: 100%;
      display: flex;
      padding-top: 1vh;
      align-items: center;

      .round-question-num {
        margin-left: 3vw;
        color: var(--white);
        height: 8vw;
        width: 8vw;
        border-radius: 50%;
        font-size: 6vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--theme-dark-blue);
      }

      .title {
        margin-left: 3vw;
        font-size: 6vw;
        width: calc(100% - 16vw);
        overflow: scroll;
        text-align: left;

        p {
          text-align: inherit;
          font-size: inherit;
        }
      }
    }

    .switch-container {
      display: flex;
      font-size: 6.5vw;
      width: 100%;

      .col {
        margin-top: 2vw;
        font-size: 5vw;
        width: 50%;

        svg {
          margin-left: 2.3vw;
          margin-right: 2.3vw;
          height: 8vw;
          width: 8vw;
          stroke-width: 3;
        }

        .ew-cancel {
          stroke-width: 4;
        }
      }

      .col:first-child {
        border-right: 0.5vw solid gray;
      }
    }

    .text {
      font-size: 4vw;
      font-family: $font-family-regular-italic;
      color: gray;
    }

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      bottom: -1px;
      display: block;
      position: absolute;
      z-index: 8;
      -webkit-box-shadow: 0px 0px 15px 2px #aaa;
      -moz-box-shadow: 0px 0px 15px 2px #aaa;
      box-shadow: 0px 0px 15px 2px #aaa;
    }
  }

  .scroll-content {
    background: var(--white);
    overflow-y: auto;
    height: calc(100% - #{$header-height} - #{$footer-height});
    font-size: $mbase-font-size !important;

    .desktop {
      display: none;
    }

    .text-play {
      font-size: inherit;

      p {
        font-size: inherit;
      }
    }

    .quotes-live {
      font-size: inherit !important;

      p {
        font-size: inherit !important;
      }
    }

    .question-unique-play {
      font-size: inherit !important;

      .help-text {
        font-size: 3vw !important;
        font-family: $font-family-regular-italic !important;
      }

      .words-container,
      .lines-container {
        font-size: inherit !important;

        .word,
        .line {
          font-size: inherit !important;
        }
      }

      .pair-match-play-option,
      .pair-match-play-choice,
      .sort-choice-custom,
      .sort-category {
        font-size: inherit !important;

        p {
          font-size: inherit !important;
        }
      }

      &.vertical-shuffle-play {
        .vertical-content {
          font-size: $mbase-font-size !important;

          p {
            font-size: $mbase-font-size !important;
          }
        }
      }

      .question-hint-global {
        font-size: $mbase-font-size !important;

        p {
          font-size: $mbase-font-size !important;
        }
      }
    }
  }
}