@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.post-play-page ~ .beta-text {
  display: none;
}

.post-play-page {
  $radius: 2vw;
  height: 100% !important;
  background: var(--theme-dark-blue);
  color: var(--white);

  .top-menu {
    height: $home-button-size;
    width: 100vw;
    display: flex;

    .navigation-container {
      display: flex;
      top: 0;
      border-bottom-left-radius: $radius;
      width: calc(100vw - #{$home-button-size} - 2vw);
      height: $home-button-size;
      background: var(--theme-light-blue);

      .contents-button {
        width: 6.5vw;
        height: 100%;
        cursor: pointer;

        >div {
          border-radius: 50%;
          background: var(--white);
          $size: 4vw;
          width: $size;
          height: $size;

          svg {
            color: var(--theme-dark-blue);
            $size: 75%;
            width: $size;
            height: $size;
          }
        }
      }

      .nav-button {
        cursor: pointer;
        width: 4.5vw;
        height: 100%;

        svg {
          $size: 3vw;
          width: $size;
          height: $size;
        }
      }

      .nav-questions-container {
        height: 100%;
        display: flex;
        overflow-x: auto;
        max-width: 60vw;
        .question-tab {
          cursor: pointer;
          $width: 5vw;
          width: $width;
          min-width: $width;
          font-size: 2.2vw;
          height: 100%;

          svg {
            $size: 1.9vw;
            width: $size;
            height: $size;
            stroke-width: 3;
          }
        }
      }
    }
  }

  .page-content {
    $top: 2vw;
    $sidebar-width: 20vw;

    margin-top: $top;
    width: 100vw;
    height: calc(100vh - #{$top} - #{$home-button-size});
    display: flex;

    .sidebar {
      background: var(--theme-light-blue);
      height: 100%;
      width: $sidebar-width;
      border-top-right-radius: $radius;

      .sidebar-header {
        height: 8vh;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        font-size: 1.7vw;
        text-align: center;
        border-bottom: 0.3vh solid #294779;
      }
      .scroll-content {
        height: calc(100% - 8vh);
        overflow-y: scroll;
        > div {
          cursor: pointer;
          font-size: 1.5vh;
          height: 8vh;
          display: flex;
          align-items: center;
          border-bottom: 0.3vh solid #294779;
          svg {
            margin-left: 1.4vh;
            margin-right: 1.4vh;
            $size: 6.5vh;
            width: $size;
            height: $size;
          }
          .bold {
            font-size: 2.5vh;
            margin-right: 1vh;
          }
          .ellipsis {
            width: 100%;
            padding-right: 0.5vw;
          }
          &.question-link {
            .bold {
              font-size: 3vh;
              margin: 0;
              text-align: center;
              width: 9.3vh;
            }
          }
        }
      }
    }
    .content-area {
      $border: 2vw;
      margin-left: $border;
      width: calc(100vw - #{$sidebar-width} - #{$border});
      height: 100%;
      > div {
        overflow: hidden;
        $left-part-width: 65%;
        height: calc(100% - #{$border});
        width: calc(100% - #{$border});
        border-radius: $radius;
        background: var(--white);
        color: var(--theme-dark-blue);
        display: flex;
        .real-content {
          padding: 2.5vw 3vw;
          width: $left-part-width;
          overflow-y: scroll;
          .question-unique-play {
            padding-bottom: 0 !important;
            margin-bottom: 0 !important;
          }
        }
        .right-part {
          width: calc(100% - #{$left-part-width});
          background: var(--off-white);
        }
      }
    }
  }
}