@import "../../../assets/sass/partials/variables";
@import "../../../assets/sass/partials/mixins";
@import "../../../assets/sass/partials/extensions";

.dashboard-page {
  overflow: hidden;
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  font-family: $font-family-regular;
}
