@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.logo-page {
  height: 100%;
  background: white;
  .brick-logo-image {
    width: 50%;
    padding-bottom: 9%;
  }

  .logo-mobile-text-image {
    width: 48%;
  }
}