@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.logo-page {
  height: 100%;
  background: white;

  .brick-logo-image {
    width: 69.5%;
    padding-bottom: 10%;
  }
}