@import '_variables';

.home-button-container {
  padding-right: 1.2vw;
  width: 5.5vw;
  border-bottom-right-radius: 2vw;
  background: $light-blue;
  height: 10.5vh;
  padding-left: 1.05vw;
  padding-top: 2.2vh;

  .home-button {
    cursor: pointer;
    height: 6.3vh;
    width: 6.3vh;
    display: block;
    > div {
      height: 6.3vh;
      width: 6.3vh;
      display: block;
      background-image: url(/images/choose-login/logo.png);
      transform-origin: 70% 50%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
