@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.horizontal-shuffle-play {
  .horizontal-shuffle-answer {
    display: inline-block;
    padding: 14px;
    margin: 2px;
    font-size: 10px;
    background: var(--tab-gray);
    box-shadow: none !important;
  }
  .MuiCard-root {
    cursor: pointer;
    font-size: 1rem !important;
    color: var(--theme-dark-blue);
    font-family: $font-family-regular;
  }
}
