@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.horizontal-shuffle-play {
  .horizontal-shuffle-answer {
    display: inline-block;
    margin: 2px;
    border-radius: 0.6vw;
    background: var(--tab-gray);
    box-shadow: none !important;
    .answer {
      padding-left: 0.3vw;
      padding-right: 0.3vw;
      font-size: 1.25vw !important;
      line-height: 1.75;
      text-align: center;
      @include phone_and_tabletP {
        font-size: $mbase-font-size !important;
      }
    }

    .play-wave-container {
      padding-top: 0;
      width: 8vw;
    }

    .play-icon-container-d1 {
      padding-left: 0 !important;

      .play-icon-d1 {
        width: 2vw;
        height: 2vw;
      }
    }

    .play-icon-container-d1,
    wave,
    .custom-audio-controls {
      height: 4vw !important;
      width: 4vw !important;
    }

    .volume-container-main input {
      display: none;
    }

    .absolute-start-time,
    .absolute-end-time {
      top: 3.6vw !important;
    }

    .absolute-start-time {
      left: -70%;
    }

    .absolute-end-time {
      right: -50%;
    }

    .relative-waves-container {
      width: 3vw;
      padding-bottom: 1vw !important;
    }
  }
  .MuiCard-root {
    cursor: pointer;
    font-size: 1.25vw !important;
    color: var(--theme-dark-blue);
    font-family: $font-family-regular;
  }
}
