@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.horizontal-shuffle-play {
  .horizontal-shuffle-answer {
    display: inline-block;
    margin: 2px;
    border-radius: 0.6vw;
    background: var(--tab-gray);
    box-shadow: none !important;
    .answer {
      padding-left: 1vw;
      padding-right: 1vw;
      font-size: 1.25vw !important;
      line-height: 1.75;
      text-align: center;
      @include phone_and_tabletP {
        font-size: $mbase-font-size !important;
      }
    }
    .question-hint {
      text-align: center;
    }
    .question-hint.correct {
      padding: 0.3vw;
    }
  }
  .MuiCard-root {
    cursor: pointer;
    font-size: 1.25vw !important;
    color: var(--theme-dark-blue);
    font-family: $font-family-regular;
  }
}
