.class-stats-container {
    overflow-x: hidden;
    overflow-y: hidden !important;
}

.stats-graph {
    .stats-box-plot {
        fill: #001c5844;
        stroke: var(--theme-dark-blue);
    }

    .stats-date-axis {
        .line, .tick {
            stroke: var(--theme-dark-blue);
        }
        .tick-label {
            fill: var(--theme-dark-blue);
            font-size: 10pt;
        }
    }
}