@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.classes-events-page {
  .teach-assigned {
    overflow-y: auto;
    .sort-box {
      display: flex;
      align-items: center;
      height: 6vh;
      padding: 0 1.4vw;
    }
    .sort-radio-btns {
      height: 4.5vh;
      font-size: 1.2vw;

      .MuiFormControlLabel-root {
        width: 50%;
        margin: 0;
      }

      &.full-width .MuiFormControlLabel-root {
        width: 100%;
      }
      .MuiButtonBase-root {
        padding: 0;
      }

      .MuiIconButton-label {
        margin-right: 0.5vw;
        svg {
          color: white;
        }
      }
    }
    .filter-row {
      padding: 0 1.4vw;

      &.margin-smaller {
        &.top-margin-bigger {
          margin-top: 1vh;
        }
      }
    }
    .filter-header {
      position: relative;
      height: 4vh;
      background: var(--light-blue-alpha5);
      padding: 0 1.4vw;
      font-size: 1.2vw !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Brandon Grotesque Bold";
    }
  }
  .tab-content {
    overflow-y: auto;
    padding-bottom: 1vw;
    color: var(--theme-dark-blue);
    position: relative;

    .publish-toggle {
      top: 1vh;
      > span {
        letter-spacing: 0;
        margin-left: 1.5vw;
      }
    }

    .table-head {
      margin-top: 2vh;
      display: flex;
      font-size: 1.2vw;

      .header {
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          width: 0.7vw;
          height: 0.7vw;
        }
      }
    }
    
    .name-column {
      padding-left: 1.5%;
      width: 25%;
    }
    .creator-column {
      width: 25%;
    }
    .domain-column {
      width: 25%;

    }
    .students-column {
      width: 12.5%;
    }

    .assigned-column {
      width: 12.5%;
    }

    .first-column {
      display: flex;
      align-items: center;
      padding-left: 2%;
      width: 50%;
      p {
        display: inline;
      }
    }
    .second-column {
      display: flex;
      align-items: center;
      width: 10%;
    }
    
    .subject-column {
      width: 15%;

      .subject-block {
        display: flex;
        align-items: center;
        margin: 0 0.2vw;
        .circle {
          margin: 0 0.2vw;
          width: 0.7vw;
          height: 0.7vw;
          border-radius: 50%;
        }
      }
    }

    .table-row {
      display: flex;
      font-size: 1vw;
      padding: 0.4vw 0;

      &:nth-child(odd) {
        background: var(--tab-gray);
      }
    }
  }

  .MuiTypography-root {
    font-size: 1vw;
  }

  .select-container {
    position: relative;
    .absolute-placeholder {
      font-size: 1vw;
      position: absolute;
      left: 2vw;
      top: calc(2.5vh);
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #7E7E7E;
      z-index: 1;
    }
  }

  .select-multiple-subject {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 21vw;
    .MuiSelect-select {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      color: var(--theme-dark-blue);
      height: 5vh;
      border-radius: 0.5vw;
      background: var(--white);
    }
    &::after, &::before {
      display: none !important;
      content: null !important;
    }
  }

  .sub-tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .sub-tab-container {
      left: 0;
      top: 0;
    }
    
    > div {
      cursor: pointer;
      font-size: 1vw;
      font-family: $font-family-bold;
      color: var(--dark-gray);
      margin: calc(2vh + 0.3vw) 0.5vw;
      border-bottom: 2px solid rgba($color: #000, $alpha: 0);
      &.active {
        color: var(--theme-dark-blue);
        border-bottom: 2px solid var(--theme-dark-blue);
      }
    }
  }
}

.user-list-page .table-container {
  width: 100%;
  overflow-x: scroll;
  .users-table-d34 {
    width: 97vw;
  }
}

.user-list-page .tab-content .users-table-d34 {

  .publish-column {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 9%;
    padding-right: 1% !important;
  }

  .author-column {
    width: 13%;
  }
  .second-column {
    width: 24%;
  }
  .third-column {
    width: 8%;
  }
  .credits-column {
    width: 7%;
  }
}

.user-list-page .users-table-d34 .brills-column {
  width: 7%;
  padding-right: 1%;

  &.header {
    padding-left: 2.4vw;
  }

  .brills-count {
    width: 60%;
    text-align: right;
  }

  .brill-coin-img-v2 {
    position: relative;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
    width: 2vw;
    height: 2vw;
    img {
      margin: 0 !important;
      width: 100% !important;
      height: 100% !important;
    }
    svg {
      color: var(--theme-orange);
      position: absolute;
      top: 22.5%;
      left: 22.5%;
      width: 55%;
      height: 55%;
    }
  }
}

.user-list-page .users-table-d34 .credits-column {

  .desktop-credit-coins {
    width: 2vw;
    height: 2vw;
    cursor: pointer;

    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.8;
    }
    svg {
      width: 2vw;
      height: 2vw;
    }
    span {
      width: 2vw !important;
      height: 2vw !important;
      font-size: 1vw;
    }
  }

  .add-credits-popup {
    padding: 0 1vw;
    margin-right: 0.4vw;
    margin-left: 0.4vw;
    font-size: 1.1vw;
    border-radius: 4vw;
    color: white;
    font-family: $font-family-bold;
    background: var(--theme-green);
    cursor: pointer;

    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 0.6;
    }
  }
}

.user-list-page .tab-content {
  .btn.prev-button, .btn.next-button {
    color: var(--theme-dark-blue);
  }
  .table-row {
    padding-top: 0;
    padding-bottom: 0;
    height: calc(5vh - 0.2vw) !important;
    > div {
      display: flex;
      align-items: center;
    }

    .see-container {
      .btn {
        margin-top: 0;
      }
    }

    .round-btn {
      cursor: pointer;
      width: 3.4vh;
      height: 3.4vh;
      border-radius: 50%;
      margin-left: 0.3vw;
      margin-right: 0.3vw;

      transition: all 300ms ease-in-out;

      svg {
        width: 1.7vh;
        height: 1.7vh;
      }

      &.blue {
        background: #4C608A;
      }

      &.orange {
        background: var(--theme-orange);
        svg {
          width: 2.2vh;
          height: 2.2vh;
        }
      }
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .activity-column {
    display: flex;
    align-items: center;
    width: 17%;
  
    .attempts-count-box {
      height: 1.7vw;
      display: flex;
      cursor: pointer;

      &.no-hover {
        cursor: initial;
      }
 
      &.margin-left {
        margin-left: 0.5vw;
      }
      
      svg {
        color: var(--theme-light-blue);
        width: 1.7vw;
        height: 1.7vw;
      }
      .count-d4421 {
        display: flex;
        align-items: center;
        font-family: $font-family-regular;
        font-size: 1vw;
        margin-left: 0.4vw;
      }

      &.whiter {
        cursor: initial;
        .absolute-count-d4421 {
          color: var(--theme-dark-blue);
        }
      }
    }
  }
}

.only-user-events {
  .filter-domain {
    max-height: calc(34vh - 10vw);
    overflow-y: auto;
  }
}

.adding-credits-dialog {
  .close-button svg {
    color: var(--theme-orange) !important;
  }
  .input-block {
    border-radius: 0.5vw;
    color: var(--theme-dark-blue);
    background: var(--tab-gray);
  }
}
