@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.final-step-page {
  color: var(--theme-dark-blue) !important;

  .round-button {
    background: var(--theme-green) !important;
    svg {
      $padding: 0.7vw;
      padding: $padding;
      color: var(--white);
      height: calc(100% - #{$padding * 2}) !important;
      width: calc(100% - #{$padding * 2}) !important;
    }
  }

  .intro-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .left-brick-circle {
    left: 1.8vw !important;
    top: 3.7vh !important;
  }

  p {
    @extend %textCenter;
    font-size: 2.1vw;
    margin-top: 4.2vh;
    font-family: $font-family-bold;
  }

  .share-row {
    margin-top: 12.5vh;

    .button-container {
      @extend %flexToXCenter;

      svg {
        cursor: pointer;
        $icon-size: 6vw;
        height: $icon-size;
        width: $icon-size;
        stroke-width: 1;
      }
      .inline-button {
        margin-left: 1.4vw;
      }
    }
    .link-text {
      margin-top: 2vh;
      font-family: $font-family-bold;
      @extend %textCenter;
      font-size: 2vw;
    }
    @extend %questionLinkDescription;
  }
}
