@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.username-page {
  background-color: var(--theme-dark-blue);
  color: var(--white) !important;
  height: 100%;

  .hidden {
    opacity: 0;
    transition: all 2000ms ease-out !important;
  }

  .shown {
    opacity: 1;
  }

  .blue-right-block {
    position: fixed;
    right: 0;
    bottom: 0;
    background: var(--theme-light-blue);
    height: 74.9vh;
    width: 43.8vw;
    border-top-left-radius: 2vw;
    z-index: 1;
  }

  form {
    display: flex;
    height: 100%;
    margin-left: 10vw;
    align-items: center;

    > div {
      min-height: calc(23vh + 22vw);
    }

    h1 {
      font-size: 4vw;
      font-family: $font-family-black;
      letter-spacing: 0.1vw;
    }

    .inputs-box {
      @extend %posRelative;
      margin-top: 9vh;
      margin-bottom: 9vh;
      width: 100%;
      margin: 1vw 0;
      svg {
        cursor: pointer;
        width: 2.8vw;
        position: absolute;
        top: calc(3vh - 0.3vw);
        font-size: 1.8vw;
        font-family: $font-family-regular;
        padding: 0vw 1vw;
        border-radius: 0.7vw;
        right: -6vw;
        border: none;
        outline: none;
        color: var(--theme-orange);
        &:hover {
          color: var(--white);
        }
      }

      .MuiInput-underline {
        width: 100%;
        color: var(--theme-dark-blue);

        &:before,
        &:after {
          display: none !important;
        }
      }

      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        pointer-events: none;
        transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 0.3vh;
        height: 0.45vh;
      }

      &:before {
        width: 0;
        background-color: var(--solitude-light);
        z-index: 1;
      }

      &:after {
        width: 100%;
        background-color: var(--tab-gray);
        z-index: 0;
      }

      &:hover,
      &:focus-within {
        &:before {
          width: 100%;
        }
      }

      input,
      textarea {
        width: 100%;
        padding: 0 0 0vw 0;
        border: 0;
        font-size: 3.3vw;
        // font-size: 1.6vw;
      }

      input {
        margin-top: 6vh;
        margin-bottom: 2vh;
        width: 100%;
        font-size: 1.8vw;
        color: var(--white);
        text-transform: capitalize;
      }
      .MuiInputBase-root.MuiInput-root.invalid {
        background: var(--theme-orange);
      }

      .back-to-type {
        height: calc(9vh + 1.8vw);
      }
    }

    .submit-button {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10vh;
      letter-spacing: 0.1vw;
      font-size: 3vw;
      font-family: $font-family-bold;

      button {
        font-size: 2.5vw;
        border: none;
        outline: none;
        border-radius: 1.5vw;
        padding: 1.1vh 2.5vw;
        background: var(--theme-orange);
        font-family: $font-family-bold;
        transition: all 300ms ease-out !important;
        &:hover {
          background: var(--white);
          color: var(--theme-orange);
        }
        &.invalid {
          background: var(--theme-light-blue);
        }
      }
    }

    .arrow-button {
      position: relative;
      svg {
        position: absolute;
        right: 4vw;
        height: 5vw;
        width: 5vw;
        color: var(--theme-orange);
        transition: all 300ms ease-out;

        &.invalid {
          color: var(--theme-light-blue);
        }
      }

      &:hover {
        svg {
          right: 3vw;
        }
      }
    }
  }

  .phone-username-preview {
    z-index: 2;

    .phone {
      background: var(--white);

      .phone-border {
        background-color: var(--tab-gray);
      }

      .volume,
      .sleep,
      .screen {
        background: var(--white) !important;
      }

      .screen {
        border-radius: 1.6vw;
        display: flex;
        justify-content: center;
        align-items: center;

        &.username-screen {
          padding-top: 3vw;
          align-items: flex-start;
        }

        .icon-container {
          width: 100%;
          display: flex;
          justify-content: center;
        }

        .username {
          text-align: center;
          font-size: 1.7vw;
          font-family: $font-family-bold;
          text-transform: uppercase;
          color: var(--theme-dark-blue);
          width: 100%;
          overflow-x: auto;
        }

        .username-help-label {
          margin-top: 1vh;
          text-align: center;
          font-size: 1.7vw;
          color: var(--theme-dark-blue);
          font-family: $font-family-regular-italic;
          transition: all 300ms ease-out;

          &.smaller {
            font-size: 1.4vw;
          }
        }

        svg {
          transition: all 300ms ease-out !important;
          max-width: auto;
          height: 14vw;
          color: var(--theme-dark-blue);
        }
        .username-container {
          max-width: 100%;
          svg {
            height: 10vw;
          }
        }
      }
    }
  }
}
