.BuyCredits {
  padding-top: 6vh;
  .stripe-credits-box {
    margin: 0 !important;
    margin-left: 10vw !important;
    width: 80vw !important;

    button {
      svg {
        width: 5vw;
        height: 5vw;
      }
    }

    .CheckOut .radio-row > div {
      height: 15vw;
    }
  }
}