.btn {
  @extend %transitionAll300;
  text-transform: none;
  @extend %themeRadius;
  @extend %b0;
  font-family: $font-family-bold;
  letter-spacing: 0.2vw;
  &.btn-block {
    width: 100%;
    &.btn-display {
      display: block;
      text-align: center;
      font-size: 1.5vw;
    }
  }
  &.btn-md {
    @include phone_and_tabletP {
      padding: 1vw 2vw;
      font-size: 4.35vw;
      border-radius: 1.8vw;
    }
    @include tabletP {
      padding: 0.5vw 1vw;
      font-size: 1.5vw;
      border-radius: $editor-radius;
    }
  }
  &.btn-xl {
    padding: 2.5vh 0;
    font-size: 1.2vw;
    @include phone_and_tabletL {
      font-size: 1.6vw;
    }
    @include phone_and_tabletP {
      font-size: 1.2vw;
    }
    @include tabletL {
      font-size: 1vw;
    }
  }
}

.round-button-center {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22vw;
  padding-left: 0.3vw;
  background: var(--tab-gray);
  border-radius: 1.2vw;
  border: 0;
  color: var(--theme-dark-blue);
  .svg {
    color: var(--theme-dark-blue);
    @extend %removePosition;
  }
  .synthesis-text {
    font-family: $font-family-regular;
    line-height: 2.05;
    font-size: 2.6vh;
    letter-spacing: 0.3vw;
    .svg {
      color: var(--white);
      @extend %removePosition;
    }
  }
  &:hover {
    background: var(--theme-orange);
    color: var(--white);
    .svg {
      color: var(--white);
    }
  }
}

.play-preview {
  position: fixed;

  @include tabletP {
    top: 1.4vw;
    right: 1.4vw;
  }
}

.play-preview,
.user-preference-next {
  width: 4.5vw;
  height: 4.5vw;
  font-size: 1.15vw;

  letter-spacing: 0.05vw;
  z-index: 1000;
  cursor: pointer;
  outline: 0 !important;
  @extend %radCircle;
  @extend %b0;
  @include phone_and_tabletP {
    width: 17vw;
    height: 17vw;
    bottom: calc(85px);
    right: 5vw;
  }
  &:after {
    content: "";
    @extend %floatToCenter;
    @extend %radCircle;
    z-index: -1;
    @include phone_and_tabletP {
      width: calc(100% + 3vw);
      height: calc(100% + 3vw);
    }
    @include tabletP {
      width: calc(100% + 1vw);
      height: calc(100% + 1vw);
    }
  }
  .svg {
    z-index: 1;
    @include phone_and_tabletP {
      margin-left: 1vw;
    }
    @include tabletP {
      margin-left: 0.3vw;
    }
  }
  &.play-green,
  &.play-gray,
  &.play-white {
    &:hover {
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-timing-function: ease;
    }
  }
  &.play-green {
    background-color: var(--theme-green);
    &:after {
      background-color: var(--theme-green-alpha3);
    }
    .svg {
      color: var(--white);
    }
    &:hover {
      animation-name: pulse-green;
    }
  }
  &.play-gray {
    background-color: var(--gray);
    &:after {
      background-color: var(--gray-alpha3);
    }
    .svg {
      color: var(--tab-gray);
    }
  }
  &.play-white {
    background-color: var(--tab-gray);
    &:after {
      background-color: var(--tab-gray-alpha3);
    }
    &:hover {
      background-color: var(--theme-dark-blue);
      animation-name: pulse-blue;
    }
  }
  &.bg-tab-gray {
    .svg {
      color: var(--gray);
    }
    &:after {
      background-color: var(--tab-gray-alpha3);
    }
  }
  .svg {
    width: 3vw;
    height: 3vw;
  }
  .hidden {
    opacity: 0;
  }
}

.stroke-1 {
  stroke-width: 1.2 !important;
}

.stroke-2 {
  stroke-width: 2;
}
