.play-preview {
  width: 4.5vw;
  height: 4.5vw;
  position: fixed;
  font-size: 1.15vw;
  top: 1.4vw;
  right: 1.4vw;
  letter-spacing: 0.05vw;
  z-index: 1000;
  cursor: pointer;
  outline: 0 !important;
  @extend %radCircle;
  @extend %b0;
  &.play-green,
  &.play-white {
    &:hover {
      animation-duration: 1s;
      animation-delay: 0s;
      animation-iteration-count: 5;
      animation-timing-function: ease;
    }
  }
  &.play-green {
    background-color: $light-green;
    .svg {
      color: $white;
    }
    &:hover {
      animation-name: pulse-green;
    }
  }
  &.play-white {
    background-color: $tab-gray;
    &:hover {
      background-color: $dark-blue;
      animation-name: pulse-blue;
    }
  }
  .svg {
    width: 3vw;
    height: 3vw;
  }
  .hidden {
    opacity: 0;
  }
}
