.text-white {
  color: var(--white) !important;
}
.text-theme-green {
  color: var(--theme-green) !important;
}
.text-theme-orange {
  color: var(--theme-orange) !important;
}
.text-tab-gray {
  color: var(--tab-gray) !important;
}
.text-white-blue {
  color: var(--white-blue) !important;
}
.text-blue {
  color: var(--text-blue) !important;
}
.text-theme-light-blue {
  color: var(--theme-light-blue) !important;
}
.text-theme-dark-blue {
  color: var(--theme-dark-blue) !important;
}
.text-gray {
  color: var(--gray) !important;
}
