@each $color, $value in $colors {
  @for $i from 1 through 10 {
    @if $i == 10 {
      .text-#{$color} {
        color: #{$value} !important;
      }
    } @else {
      .text-#{$color}-alpha#{$i} {
        color: rgba($value, $i/10) !important;
      }
    }
  }
}

.b-red {
  background: var(--theme-orange) !important;
}
.b-yellow {
  background: var(--theme-yellow) !important;
}
.b-yellow-50 {
  background-color: var(--theme-yellow) 50% !important;
}
.b-green {
  background: var(--theme-green) !important;
}
.b-white {
  background: var(--white) !important;
}
.b-dark-blue {
  background: var(--theme-dark-blue) !important;
}

.MuiButtonBase-root.MuiIconButton-root.MuiRadio-root.white {
  color: white;
  height: 3.5vw;
  width: 3.5vw;
  padding: 0 !important;

  span {
    padding: 0 !important;
    margin: 0 !important;
    height: inherit;
    width: inherit;
  }

  svg {
    margin: 0 !important;
    height: 3vw !important;
    width: 3vw !important;
  }

  input {
    margin: 0 !important;
    padding: 0 !important;
    height: inherit !important;
    width: inherit !important;
  }
}

.alert-icon {
  color: white;
  background-color: var(--theme-orange) !important;
}
