.dialog-box {
  z-index: 999999 !important;

  .MuiDialog-paperScrollPaper {
    @extend %m0;

    @include phone_and_tabletP {
      padding: 2.5vw;
      border-radius: 2vw;
      width: 90%;
    }

    @include tabletP {
      width: max-content;
      padding: 1.5vw;
      border-radius: 0.8vw;
    }
  }

  .dialog-header {
    letter-spacing: 0;
    color: var(--theme-dark-blue);

    @include phone_and_tabletP {
      margin-bottom: 2vw;
      font-size: 4.35vw !important;
    }

    @include tabletP {
      margin-bottom: 1vw;
      font-size: 1.5vw;
    }

    //!! only for profile page drag and drop and crop zone
    .cropper-container {
      background: #E5E8ED;
    }
    .cropper-view-box {
      border-radius: 50%;
    }
    .dropzone-instructions {
      >div {
        color: var(--theme-dark-blue);
        font-style: normal;
      }
    }

    .dropzone-instructions--main {
      position: relative;
      color: transparent !important;
      font-size: 1.4vw;
      margin-bottom: 1vh;
    }

    .dropzone-instructions--main::after {
      position: absolute;
      top: 0;
      font-size: 1.4vw;
      width: 100%;
      color: var(--theme-dark-blue);
      text-align: center;
      display: block;
      content: "Drag Image Here | Click to Select Image";
      font-family: $font-family-regular;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.5vw;

    .btn {
      width: 100%;
      margin: 0 0.5vw;
      font-family: $font-family-regular !important;
      white-space: nowrap;
      box-sizing: content-box;
    }
  }

  &.light-blue {
    .MuiDialog-paper {
      background: var(--light-blue);
      color: white;

      .dialog-header {
        margin-bottom: 0;
        color: inherit;

        >div {
          margin-bottom: 4.5vh;
          text-align: center;
          width: 30vw;
        }

        input,
        .records-box {
          background: white;
          border-radius: 0.5vw;
        }

        input {
          padding: 1.5vh 1.8vw;
          text-transform: capitalize;
          font-size: 1.6vw;
          width: calc(100% - 1.8vw - 1.8vw);
          color: var(--theme-dark-blue);
        }

        .records-box {
          padding-top: 0.8vh;
          padding-bottom: 0.8vh;
          padding-left: 1.8vw;
          padding-right: 1.8vw;
          color: var(--theme-dark-blue);
          text-align: left;
          margin-top: 0.5vh;
          height: 15vh;
          background: var(--off-white);
          margin-bottom: 0;
          overflow-y: auto;

          >div {
            cursor: pointer;
          }
        }
      }
    }
  }
}