.dialog-box {
  z-index: 999999 !important;

  .MuiDialog-paperScrollPaper {
    @extend %m0;

    @include phone_and_tabletP {
      padding: 2.5vw;
      border-radius: 2vw;
      width: 90%;
    }

    @include tabletP {
      width: max-content;
      padding: 1.5vw;
      border-radius: 0.8vw;
    }
  }

  .dialog-header {
    letter-spacing: 0;
    color: var(--theme-dark-blue);

    @include phone_and_tabletP {
      margin-bottom: 2vw;
      font-size: 4.35vw !important;
    }

    @include tabletP {
      margin-bottom: 1vw;
      font-size: 1.5vw;
    }

    .select {
      background: white;
      border-radius: 0.5vw;
      padding: 1.5vh 1.8vw;
      text-transform: capitalize;
      width: 100%;
      font-size: 1.6vw;
      color: var(--theme-dark-blue);

      option {
        text-transform: inherit;
      }
      option:before{
        content: ">";
        font-size:20px;
        display:none;
        padding-right:10px;
        padding-left:5px;
        color:#fff;
        background: black;
      }
    }
    .select:after {
      content:"";
      border-radius: 10vw;
      width:0;
      height:0;
      border:5px solid transparent;
      border-color:black transparent transparent transparent;
      position:absolute;
      top:9px;
      right:6px;
    }
  }

  .dialog-footer {
    display: flex;
    justify-content: space-between;
    margin: 0 -0.5vw;

    .btn {
      width: 100%;
      margin: 0 0.5vw;
      font-family: $font-family-regular !important;
      white-space: nowrap;
      box-sizing: content-box;
    }
  }

  &.light-blue {
    .MuiDialog-paper {
      background: var(--light-blue);
      color: white;
      .dialog-header {
        color: inherit;
        div {
          margin-bottom: 4.5vh;
          text-align: center;
          width: 30vw;
        }
      }
    }
  }
}