.menu-dropdown {
  .MuiPaper-root {
    position: fixed;
    min-width: 14.9vw !important;
    min-height: 31.3vh;
    border-radius: 0;
    border-bottom-left-radius: 2vw;
    color: var(--white);
    background: var(--light-blue);
    box-shadow: none;
    right: 0 !important;
    left: auto !important;
    @include phone_and_tabletP {
      bottom: 5.9vh !important;
      top: unset !important;
      min-width: 40vw !important;
      min-height: fit-content;
      border-radius: 4vw 0 0;
    }
    @include tabletP {
      top: 10.5vh !important;
    }
    .MuiList-root {
      @include phone_and_tabletP {
        padding: 0 !important;
      }
      .menu-item {
        cursor: pointer;
        position: relative;
        font-family: $font-family-regular !important;
        font-size: 1.45vw;
        color: var(--white) !important;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include phone_and_tabletP {
          font-size: 3.45vw;
          padding: 2vw 2vw 2vw 2.5vw;
        }
        @include tabletP {
          padding: 0.8vw 0.8vw 0.8vw 1vw;
          font-size: 1.45vw;
        }
        .menu-text {
          width: 10vw;
         }
        .btn {
          .svg {
            width: 2.5vw;
            height: 2.5vw;
            @extend %removePosition;
            background: transparent;
          }
        }
        .svg-icon {
          filter: invert(1);
        }
        .user-icon {
          width: 1.93vw;
        }
        .logout-icon {
          width: 1.88vw;
        }
        .manage-users-icon {
          margin-top: 0.13vh;
          width: 1.9vw;
        }
      }
    }
  }
}
