html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.w100 {
  width: 100% !important;
}
.h100 {
  height: 100% !important;
}

.w-2 {
  width: 2vw !important;
}
.w-3 {
  width: 3vw !important;
}
.w-4 {
  width: 4vw !important;
}
.w-5 {
  width: 5vw !important;
}
.h-2 {
  height: 2vw !important;
}
.h-3 {
  height: 3vw !important;
}
.h-4 {
  height: 4vw !important;
}
.h-5 {
  height: 5vw !important;
}
.m-t-10 {
  margin-top: 10vw !important;
}
.m-l-02 {
  margin-left: 0.2vw !important;
}
.m-r-02 {
  margin-right: 0.2vw !important;
}

.text-center {
  text-align: center !important;
}

.text-white {
  color: var(--white) !important;
}
.text-theme-green {
  color: var(--theme-green) !important;
}
.text-theme-orange {
  color: var(--theme-orange) !important;
}

.text-tab-gray {
  color: $tab-gray !important;
}

.text-theme-dark-blue {
  color: var(--theme-dark-blue) !important;
}

.text-gray {
  color: $gray !important;
}

.bg-tab-gray {
  color: $tab-gray !important;
}

.bg-gray {
  color: $gray !important;
}

.scale-07 {
  transform: scale(0.7);
}

.btn-transparent {
  background: transparent !important;
  border: 0 !important;
  outline: none !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.svg {
  @extend %noUserSelect;
  fill: currentColor;
  // stroke: currentColor;
}

.svgOnHover {
  @extend %posRelative;
  > .svg,
  > span {
    @include transition(all 350ms cubic-bezier(0.5, 1, 0.89, 1));
  }
  > .svg {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;
    @extend %floatToCenter;
    &.svg-default,
    &.svg-blue,
    &.svg-white,
    &.svg-green,
    &.svg-red,
    &.svg-orange {
      color: var(--theme-pro-gray);
    }
    &.hover,
    &.colored {
      visibility: hidden;
      opacity: 0;
    }
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  &:hover,
  &.active {
    > .svg {
      visibility: hidden;
      opacity: 0;
      &.hover,
      &.active,
      &.colored {
        visibility: visible;
        opacity: 1;
      }
      &.svg-default {
        color: var(--black-light);
      }
      &.svg-blue {
        color: var(--blue);
      }
      &.svg-white {
        color: var(--white);
      }
      &.svg-green {
        color: var(--theme-green);
      }
      &.svg-red {
        color: var(--red);
      }
      &.svg-orange {
        color: var(--theme-orange);
      }
    }
  }
  > h5,
  > h6,
  > span {
    &:not(:last-child):not(:first-child) {
      margin: 0 7px;
    }
    &:first-child {
      margin-right: 7px;
    }
    &:last-child {
      margin-left: 7px;
    }
    &:only-child {
      margin: 0px;
    }
  }
  > span.tooltip-inner {
    margin: 0px;
  }
}

.your-bricks-list {
  position: relative;
  min-height: 70%;
  padding-left: $left;
  padding-right: $right;
}

.hover-icons-row {
  height: 5.8vh;
  color: var(--theme-dark-blue);
  width: 100%;
  position: relative;
  .round-button {
    position: absolute;
    left: -0.2vw;
    height: 2.1vw;
    width: 2.1vw;
    bottom: 1vh;
    border-radius: 20vw;
    padding-right: -31vw;
    background: black;
  }
  .bin-button {
    cursor: pointer;
    position: absolute;
    left: 9.2vw;
    height: 3.7vh;
    bottom: 1vh;
    padding-right: -31vw;
  }
  .play-button {
    cursor: pointer;
    position: absolute;
    right: -0.2vw;
    height: 3.7vh;
    bottom: 1vh;
    padding-right: -31vw;
  }
}
@media only screen and (min-width: 1280px) {
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 12px;
          .sort-by {
            padding-top: 5px;
          }
          .sort-element {
            padding-top: 6px;
            font-size: 12px;
          }

          .expanded-icon {
            height: 24px !important;
            width: 24px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 9px;
          .sort-by {
            padding-top: 1px;
          }
          .sort-element {
            padding-top: 2px;
            font-size: 8px;
          }

          .expanded-icon {
            height: 12px !important;
            width: 12px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 599px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 7px;
          .sort-by {
            padding-top: 1px;
          }
          .sort-element {
            padding-top: 2px;
            font-size: 7px;
          }

          .expanded-icon {
            height: 10px !important;
            width: 10px !important;
          }
        }
      }
    }
  }
}

.home-button-container {
  z-index: 1000;
  border-bottom-right-radius: 2vw;
  background: $light-blue;
  width: calc(6.834vw - 1vw) !important;
  height: 5.834vw;
  margin-right: 1vw;
  padding: 0.35vw 0.782vw 0.782vw 0.35vw;
  .home-button {
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: block;
    &:hover {
      > .svg {
        @include transition(all 350ms cubic-bezier(0.5, 1, 0.89, 1));
        transform: scale(0.7) translate(calc(-50% - 1vw), calc(-50% + 0.3vw)) !important;
      }
      .smoke-container {
        display: flex;
      }
      .roof {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .roof {
    width: 100%;
    height: inherit;
    @extend %floatToXCenter;
    top: -1vw;
    visibility: hidden;
    opacity: 0;
    @include transition(all 350ms cubic-bezier(0.5, 1, 0.89, 1));
  }
  .smoke-container {
    display: none;
    position: absolute;
    width: 1.1vw;
    height: 2vw;
    margin: 0;
    left: 0.7vw;
    top: -1.2vw;
    z-index: 999;
    .smoke-1,
    .smoke-2,
    .smoke-3 {
      opacity: 0;
    }
    .smoke-1 {
      @include animation(smoke-1 2s linear 0s infinite);
    }
    .smoke-2 {
      @include animation(smoke-2 3s linear 0.5s infinite);
    }
    .smoke-3 {
      @include animation(smoke-3 4s linear 1s infinite);
    }
  }
}
.logout-container {
  width: calc(93.16vw - 1vw) !important;
  height: 5.834vw;
  margin-left: 1vw;
  border-bottom-left-radius: 2vw;
  background: $light-blue;
  align-items: center;
  .search-container {
    display: flex;
    width: 70%;
    .MuiGrid-item {
      height: 3.698vw;
      display: flex;
      align-items: center;
    }
  }
  .action-container {
    width: 30%;
    justify-content: flex-end;
  }
  .search-input {
    display: block;
    background-color: transparent;
    font-family: $font-family-regular;
    font-size: 1.7vw;
    border-radius: 12px;
    border: none;
    margin: 0 0 0 1.4vw;
    letter-spacing: 0.045vw;
    width: 100%;
    color: #acacac;
  }
  .search-button,
  .bell-button,
  .more-button {
    cursor: pointer;
    margin: 0 2vw 0 0;
    width: 3.698vw;
    height: 3.698vw;
    display: inline-block;
    .svg {
      width: 100%;
      height: 100%;
      color: var(--theme-orange);
      stroke: var(--theme-orange);
    }
  }
  .search-button {
    margin: 0 0 0 1.4vw;
  }
  .user-button {
    cursor: pointer;
    margin-top: 0.635vh;
    display: block;
    height: 4.3vh;
    width: 4.1vh;
    margin-right: 1.9vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(/images/brick-list/user.png);
    transition: all 0.2s ease-in-out;
    transform-origin: 50% 50%;
    &:hover {
      background-image: url(/images/brick-list/user-hover.png);
      transform: scale(1.4);
    }
  }
}

h3 {
  color: white;
  font-family: $font-family-regular;
  font-weight: normal;
  margin-top: 2.5vh;
  margin-left: 1.05vw;
  margin-bottom: 1vh;
  letter-spacing: 0.27vw;
  font-size: 1.3vw;
}

.sorted-brick:hover {
  position: absolute;
  z-index: 2;
  width: 95%;
}

.next-bricks {
  position: absolute;
  right: 0;
  color: white;
  top: 2vh;
}

.question-hint,
.question-hint-global {
  color: var(--theme-dark-blue);
}
.question-hint {
  line-height: 1;
  margin-top: 2px;
  background: #ff9d00;
  padding: 2px 5px;
  border-radius: 1px 2px 3px 4px;
  font-family: $font-family-regular;
  display: block;
  font-size: 1vw;
  p {
    font-size: 1vw;
    display: inline;
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table {
    margin-left: 0;
    margin-right: 0;
  }

  table,
  td,
  th {
    border: 1px solid var(--theme-dark-blue);
  }
  td {
    min-width: 0;
    padding: 0;
  }
}
.question-hint-global {
  width: 100%;
  font: 500 16px/24px $font-family-regular;
  background: #ff9d00;
  border-radius: 1px 2px 3px 4px;
  margin-top: 0.5vw;
  > div {
    padding: 0.5vw;
  }
  p {
    font-size: 1vw;
  }
  .table {
    margin-left: 0;
    margin-right: 0;
    overflow-x: auto;
  }
  table {
    margin: auto;
    border-collapse: collapse;
  }
  table,
  td,
  th {
    border: 1px solid var(--theme-dark-blue);
  }
  td {
    min-width: 2em;
    padding: 0.4em;
  }
  &.correct {
    background: var(--white);
  }
  &.wrong {
    background: var(--theme-orange);
  }
}

.choose-choice {
  font: $answer-input-text-size $font-family-regular;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  color: var(--theme-dark-blue) !important;
  text-align: center;
  text-transform: none !important;
  border-radius: 0 !important;
  width: 100%;
  padding: 14px 0 !important;
  background-color: $tab-gray !important;
  opacity: 1;
  .MuiButton-label {
    flex-direction: column;
  }
  img {
    width: 100%;
  }
  p {
    text-align: center !important;
  }
  &.active {
    background: $white-blue;
  }
  &.correct {
    background: var(--theme-green);
    .question-hint {
      background: white;
    }
  }
  &.wrong {
    background: var(--theme-orange);
  }
}
