.sorted-row {
  // margin-top: 3.5vh;
  // height: calc(100vh - 11.954vh - 3.5vh);
  padding-left: 0;
  padding-right: 0;
  @include phone_and_tabletP {
    height: $height-mobile-view;
  }
  @include tabletP {
    margin-top: 2vw;
    height: $height-desktop-view;
  }
  .sort-and-filter-container {
    color: white;
    flex-basis: inherit;
    max-width: inherit;
    width: calc(25% - 1vw);
    margin-right: 1vw;
    border-top-right-radius: $main-panel-radius;
    background: var(--light-blue);
    flex-wrap: initial;
    flex-direction: column;
    position: relative;
    @include phone_and_tabletP {
      height: $height-mobile-view;
      display: none;
    }
    @include tabletP {
      height: $height-desktop-view;
    }
    .sort-box {
      width: 100%;
      .filter-container {
        display: flex;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        .custom-color svg {
          color: var(--color);
        }
        .filter-radio,
        .MuiFormControlLabel-root,
        .sortBy {
          padding: 0 !important;
          margin: 0 !important;
          margin-right: 0.5vw !important;
          svg {
            width: 1.25vw;
            height: 1.25vw;
            color: var(--theme-orange);
            padding: 0 !important;
          }
        }
        .MuiFormControlLabel-label {
          font: 1.05vw $font-family-light !important;
          letter-spacing: 0.06vw;
        }
      }
      .sort-by-box {
        padding: 1.4vw;
        flex-direction: column;
        .sort-header {
          text-transform: uppercase;
          font-size: 2.3vh;
          letter-spacing: 0.45vh;
        }
        .sort-group {
          padding: 1.4vw 0 0 0;
          display: flex;
          flex-wrap: wrap;
          flex-direction: row;
          label {
            width: max-content !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
          }
        }
      }
      .subject-indexes-box,
      .indexes-box {
        flex-direction: column;
        .index-box {
          cursor: pointer;
          position: relative;
          font-size: 1.1vw;
          .right-index {
            position: absolute;
            color: var(--theme-dark-blue);
            background: white;
            line-height: 1;
            padding: 0.25vw 0.6vw;
            border-radius: 0.65vw;
            font-size: 1vw;
            right: 1.4vw;
            top: 50%;
            transform: translateY(-50%);
          }
          &.active {
            background: $lighter-blue;
          }
          &.color1 {
            .round-button,
            .right-index {
              background: var(--theme-orange);
            }
            svg {
              color: var(--theme-orange);
            }
          }
          &.color2 {
            .round-button,
            .right-index {
              background: var(--yellow);
            }
            svg {
              color: var(--yellow);
            }
          }
          &.color3 {
            .round-button,
            .right-index {
              background: var(--white);
            }
            svg {
              color: var(--white);
            }
          }
          &.color4 {
            .round-button,
            .right-index {
              background: var(--theme-green);
            }
            svg {
              color: var(--theme-green);
            }
          }
        }
      }
      .subject-indexes-box {
        margin: 1.4vw;
        width: calc(100% - 2.8vw);
        .index-box {
          margin: 0 0 0.4vw 0;
          .right-index {
            right: 0;
          }
        }
      }
      .indexes-box {
        .index-box {
          padding: 0.53vw 0 0.53vw 1.4vw;
        }
      }
      .role-filter-header {
        margin-top: 1.2vh;
        margin-left: 1.3vw;
        text-transform: uppercase;
        font-size: 2.4vh;
        letter-spacing: 0.25vw;
        margin-bottom: 1.7vh;
      }
      .roles-row {
        margin-left: 0.3vw;
      }
      .filter-header {
        position: relative;
        text-transform: uppercase;
        background: $lighter-blue 0% 0% no-repeat padding-box;
        padding: 0.3vw 1.4vw;
        font-size: 1.2vw;
        letter-spacing: 0.22vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .filter-control {
          height: 100%;
          vertical-align: middle;
        }
        .filter-control:not(:first-child) {
          margin-left: 0.9vw;
          cursor: pointer;
        }
        .filter-icon {
          position: relative;
          width: 30px;
          height: 30px;
          cursor: pointer;
          &.arrow-up,
          &.arrow-down,
          &.arrow-cancel {
            &:before,
            &:after {
              content: '';
              position: absolute;
              top: 50%;
              width: 2px;
              border-radius: 2px;
              height: 13px;
              @extend %transitionAll300;
              background-color: var(--white);
            }
          }
          &.arrow-up,
          &.arrow-down {
            &:before {
              left: calc(50% - 4px);
            }
            &:after {
              right: calc(50% - 6px);
            }
          }
          &.arrow-up {
            &:before {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
            &:after {
              transform: translate(-50%, -50%) rotate(45deg);
            }
          }
          &.arrow-down {
            &:before {
              transform: translate(-50%, -50%) rotate(45deg);
            }
            &:after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
          &.arrow-cancel {
            &:before {
              left: 15px;
              transform: translate(-50%, -50%) rotate(45deg);
            }
            &:after {
              right: 13px;
              transform: translate(-50%, -50%) rotate(-45deg);
            }
          }
        }
      }
      .subjects-filter {
        margin: 0 1.4vw;
        padding: 2vh 0 0 0;
        width: calc(100% - 2.8vw);
        @include phone_and_tabletP {
          height: calc(100vh - 55vw);
        }
        @include tabletP {
          height: calc(100vh - 24vw);
        }
        @include tabletL {
          height: calc(100vh - 23vw);
        }
        overflow-y: auto;
        .published-count {
          font-size: 1.05vw;
          text-align: center;
          font-family: $font-family-light;
        }
        .MuiGrid-container {
          margin-bottom: 0.4vw;
        }
        .MuiRadio-root {
          color: inherit !important;
          .MuiIconButton-label {
            color: inherit !important;
            .MuiSvgIcon-root {
              color: inherit !important;
            }
          }
        }
        .MuiTypography-root {
          color: var(--white) !important;
        }
      }
    }
    .back-hover-area {
      @extend %floatToXCenter;
      top: 26%;
      @extend %flexCenter;
      flex-direction: column;
      color: $tab-gray;
      cursor: pointer;
      .create-icon {
        margin-bottom: 1vh;
        width: 8vw;
        height: 8vw;
        @extend %transitionAll150;
      }
      &:hover {
        .create-icon {
          color: var(--theme-orange);
          transform: rotate(10deg);
        }
      }
      h3 {
        font-size: 1.6vw;
        font-family: $font-family-black;
        color: var(--white);
        letter-spacing: 0.3vw;
        margin: 0;
      }
    }
  }
  .brick-row-container {
    position: relative;
    border-top-left-radius: $main-panel-radius;
    padding-left: 1.18vw;
    margin-left: 1vw;
    flex-basis: inherit;
    max-width: inherit;
    overflow-y: auto;
    @include phone_and_tabletP {
      width: 100%;
      height: $height-mobile-view;
      padding: 0 4vw;
      margin: 0;
      background-color: var(--white);
      border-top-left-radius: 10vw;
    }
    @include tabletP {
      width: calc(75% - 1vw);
      height: $height-desktop-view;
      background: var(--light-gray);
    }
    .brick-row-title {
      padding-left: 1.15vw;
      color: var(--theme-dark-blue);
      line-height: 1;
      letter-spacing: 0.4vw;
      @include phone_and_tabletP {
        font-size: 5vw;
        font-family: $font-family-bold;
        padding-top: 1.3vh;
        border-bottom: 0.2vh solid var(--light-gray);
        padding-bottom: 0.9vh;
        margin-bottom: 2.5vh;
        position: sticky;
        top: 0;
        background-color: var(--white);
        z-index: 10;
      }
      @include tabletP {
        font-family: $font-family-black;
        padding-top: 2.3vh;
        padding-bottom: 0;
        font-size: 5.2vw;
      }
    }
    .bricks-list-container {
      @include tabletP {
        height: 62vh !important;
        overflow: auto;
      }
      &.bricks-container-mobile {
        overflow: hidden;
        @include phone_and_tabletP {
          overflow-y: auto;
        }
      }
      .bricks-list {
        display: grid;
        @include tabletP {
          grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
        }
      }
      .main-brick-container {
        display: flex;
        position: relative;
        padding: 0.8vw 0 0 0.8vw;
        min-height: 9.4vh;
        .brick-container {
          width: 100%;
          position: relative;
          height: $min-brick-height;
          font-family: $font-family-regular;
          text-align: left;
          @include phone_and_tabletP {
            text-align: center;
          }
          .short-brick-info {
            @include phone_and_tabletP {
              top: 0.5vh;
              left: 12vw;
              width: calc(100% - 4vh);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
          &:hover {
            color: var(--white);
          }
          h1 {
            color: var(--theme-dark-blue);
            padding: 5px;
            line-height: 48px;
            text-transform: capitalize;
            font-size: 32px;
          }
          h2 {
            font-size: 24px;
          }
          h3 {
            color: var(--theme-dark-blue);
            padding: 5px;
            font-size: 16px;
            line-height: 28px;
          }
          &.color1 {
            .round-button,
            .right-index {
              background: var(--theme-orange) !important;
            }
            svg {
              color: var(--theme-orange);
            }
          }
          &.color2 {
            .round-button,
            .right-index {
              background: var(--yellow) !important;
            }
            svg {
              color: var(--yellow);
            }
          }
          &.color3 {
            .round-button,
            .right-index {
              background: white !important;
            }
            svg {
              color: white;
            }
          }
          &.color4 {
            .round-button,
            .right-index {
              background: var(--theme-green) !important;
            }
            svg {
              color: var(--theme-green);
            }
          }
          .MuiExpansionPanel-root {
            background: var(--light-gray);
          }

          .MuiExpansionPanel-root.Mui-expanded {
            margin: 0 !important;
            margin-bottom: 16px !important;
          }
          .absolute-container {
            position: absolute;
            border-radius: $brick-radius;
            color: var(--theme-dark-blue);
            width: 95%;
            text-align: left;
            height: $min-brick-height;
            .short-description {
              display: flex;
              width: 100%;
              height:100%;
              .left-brick-roller {
                position: absolute;
                top: 1.5vh;
                left: 0.15vw;
                > div {
                  height: 2.1vw;
                  width: 1.9vw;
                  background-size: 100% 100%;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-image: url(/images/roller-green.png);
                }
              }
              .left-brick-circle {
                position: absolute;
                top: 1.3vh;
                > div {
                  height: 2.1vw;
                  width: 2.1vw;
                  border-radius: 20vw;
                  background-color: var(--gray);
                  @include phone_and_tabletP {
                    height: 8.1vw;
                    width: 8.1vw;
                  }
                }
              }
            }
            &.brick-row-0,
            &.brick-row-1,
            &.brick-row-2,
            &.brick-row-3 {
              .expanded-brick-info {
                border-top-left-radius: 0 !important;
              }
            }
            &.brick-row-4,
            &.brick-row-5 {
              .expanded-brick-info {
                bottom: 0;
                border-bottom-left-radius: 0 !important;
              }
            }
          }
          .edit-button {
            text-align: center;
            padding-bottom: 8px;
          }
          .right-color-column {
            border-top-right-radius: $brick-radius;
            border-bottom-right-radius: $brick-radius;
            background: white;
            position: absolute;
            right: 0;
            height: 100%;
            min-height: $min-brick-height;
            width: 3.3%;
          }
        }
      }
    }
    .users-table {
      border: none;
      width: calc(100% + 1.18vw);
      margin-left: -1.18vw;
      thead {
        background: $tab-gray;
        color: var(--theme-dark-blue);
        font-family: $font-family-black;
        font-size: 1.3vw;
        letter-spacing: 0.25vw;
        tr {
          th {
            padding-top: 0.6vh;
            padding-bottom: 0.6vh;
            text-align: left;
            padding-left: 0.5vw;

            .sort-button {
              cursor: pointer;
              margin-top: 0.3vh;
              margin-left: 0.4vw;
              height: 1.5vw;
              width: 1.5vw;
            }
          }

          .subject-title {
            width: 5%;
          }
          .user-full-name {
            width: 30%;
          }
          .email-column {
            width: 31.3%;
          }
          .edit-button-column {
            width: 2.5vw;
          }
        }
      }
      tr.user-row {
        height: 4.5vh;
        td {
          padding-left: 0.5vw;
          color: var(--theme-dark-blue);
          font-size: 1.3vw;
          padding-top: 0;
        }
        .user-actions-cell {
          min-width: 5.5vw;
          .delete-button,
          .edit-button {
            display: inline-block;
            cursor: pointer;
            height: 1.85vw;
            width: 1.85vw;
					}
					.edit-button {
						margin-left: 1vw;
					}
        }
        .activate-button-container {
          padding-left: 2vw;
        }
      }
      tr.user-row:nth-child(even) {
        background: $tab-gray;
      }
      .user-last-name {
        font-family: $font-family-bold;
      }
    }
    .role-description {
      width: 100%;
      text-align: right;
      font-size: 0.8vw;
      margin-top: 0.6vh;
      margin-right: 6vw;
      color: var(--theme-dark-blue);
      letter-spacing: 0.015vw;

      .bold {
        font-family: $font-family-bold;
      }
    }
  }
}
