.wAuto {
  width: auto !important;
}
@for $value from 0 through 100 {
  .w#{$value} {
    width: percentage($value/100) !important;
  }
}
@for $value from 0 through 300 {
  .w-#{$value} {
    width: #{$value + 'vw'} !important;
  }
}
.hAuto {
  height: auto !important;
}
@for $value from 0 through 100 {
  .h#{$value} {
    height: percentage($value/100) !important;
  }
}
@for $value from 0 through 100 {
  .h-#{$value} {
    height: #{$value + 'vw'} !important;
  }
}

@for $value from 0 through 100 {
  .p-#{$value} {
    padding: #{$value + 'vw'} !important;
  }
  .p-t-#{$value} {
    padding-top: #{$value + 'vw'} !important;
  }
  .p-r-#{$value} {
    padding-right: #{$value + 'vw'} !important;
  }
  .p-b-#{$value} {
    padding-bottom: #{$value + 'vw'} !important;
  }
  .p-l-#{$value} {
    padding-left: #{$value + 'vw'} !important;
  }
  .p-l-r-#{$value} {
    padding-left: #{$value + 'vw'} !important;
    padding-right: #{$value + 'vw'} !important;
  }
  .p-t-b-#{$value} {
    padding-top: #{$value + 'vw'} !important;
    padding-bottom: #{$value + 'vw'} !important;
  }
}

.mAuto {
  margin: auto !important;
}
@for $value from 0 through 100 {
  .m-#{$value} {
    margin: #{$value + 'vw'} !important;
  }
  .m-t-#{$value} {
    margin-top: #{$value + 'vw'} !important;
  }
  .m-r-#{$value} {
    margin-right: #{$value + 'vw'} !important;
  }
  .m-b-#{$value} {
    margin-bottom: #{$value + 'vw'} !important;
  }
  .m-l-#{$value} {
    margin-left: #{$value + 'vw'} !important;
  }
  .m-l-r-#{$value} {
    margin-left: #{$value + 'vw'} !important;
    margin-right: #{$value + 'vw'} !important;
  }
  .m-t-b-#{$value} {
    margin-top: #{$value + 'vw'} !important;
    margin-bottom: #{$value + 'vw'} !important;
  }
}
.m-l-012 {
  margin-left: 1.2vw !important;
}
.m-t-2vh {
  margin-top: 2vh !important;
}
.f-s-2 {
  font-size: 1.4vw;
}

.m-l-02 {
  margin-left: 0.2vw !important;
  @include phone_and_tabletP {
    margin-left: 1vw !important;
  }
}
.m-l-03 {
  margin-left: 0.3vw !important;
}
.m-r-02 {
  margin-right: 0.2vw !important;
}
.m-r-04 {
  margin-right: 0.4vw !important;
}
.m-b-05 {
  margin-bottom: 0.5vw !important;
}
.m-b-03 {
  margin-bottom: 0.3vw !important;
}
.m-b-02 {
  margin-bottom: 0.2vw !important;
}
