input,
select,
textarea {
  -webkit-appearance: none;
  &::placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    font-family: $font-family-regular;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background: var(--theme-dark-blue) !important;
    -webkit-box-shadow: none !important;
    border: 0 !important;
  }
}
