// SCROLLBAR
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  // background-color: transparent;
  display: none !important;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  // border: 3px solid transparent;
  // background-clip: padding-box;
  display: none !important;
}
::-webkit-scrollbar-track {
  // background-color: var(--shadow-alpha5);
  display: none !important;
}
::-webkit-scrollbar-thumb {
  // background-color: var(--shadow);
  display: none !important;
  &:hover {
    // border: 1px solid var(--shadow);
    display: none !important;
  }
}

input,
select,
textarea {
  -webkit-appearance: none;
  &::placeholder,
  &:-ms-input-placeholder,
  &::-ms-input-placeholder {
    font-family: $font-family-regular;
  }
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    background: var(--theme-dark-blue) !important;
    -webkit-box-shadow: none !important;
    border: 0 !important;
  }
}
