.custom-toggle {
  width: 4vw;

  input[type='checkbox'] {
    display: none;
    pointer-events: none;
    & + label {
      cursor: pointer;
      svg {
        width: 4vw;
        stroke: var(--theme-green);
        stroke-width: 10;
        fill: transparent;

        .box {
          stroke-dasharray: 173;
          stroke-dashoffset: 258;
          // fill: #ccc;
          stroke-linecap: round;
        }
      }
    }
  }
}
.reverse {
  .box {
    stroke-dashoffset: 430 !important;
    transition: stroke-dashoffset 0.3s linear;
  }
}

.no-reverse {
  .box {
    stroke-dashoffset: 431;
    stroke: var(--theme-orange);
    transition: stroke-dashoffset 0.3s linear;
  }
}
