@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.custom-toggle {
  width: 4vw;

  input[type='checkbox'] {
    display: none;
    pointer-events: none;
    & + label {
      width: 100%;
      height: 2vw;
      cursor: pointer;
      @extend %posRelative;
      @extend %flexCenter;
      svg {
        width: 4vw;
        stroke-width: 10;
        fill: transparent;
        @extend %floatToCenter;
        .base-box,
        .box {
          stroke-dasharray: 173;
          stroke-dashoffset: 258;
          stroke-linecap: round;
          position: relative;
          z-index: 3;
        }
        .box {
          stroke: var(--theme-orange);
        }
        .base-box {
          stroke-dasharray: none;
          stroke: var(--gray-alpha4);
          z-index: 0;
        }
      }
    }
  }
}
.reverse {
  .box {
    stroke: var(--theme-green) !important;
    stroke-dashoffset: 430 !important;
    @extend %transitionAll300;
  }
}

.no-reverse {
  .box {
    stroke-dashoffset: 431;
    stroke: var(--theme-orange);
    transition: stroke-dashoffset 0.3s linear;
  }
}
