@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.user-list-page {
  .sorted-row {
    .sort-box {
      .subjects-filter {
        height: calc(100vh - 38vh);
      }
    }
    .brick-row-container {
      @include tabletP {
        padding-left: 0;
      }
      .user-header {
        position: relative;
        @extend %flexCenter;
        justify-content: space-between;
        .brick-row-title {
          @include tabletP {
            padding-left: 1.18vw;
          }
        }
        .add-user-button {
          cursor: pointer;
          margin: 0 1.3vw;
          font-family: $font-family-black;
          color: var(--theme-dark-blue);
          font-size: 1vw;
          width: 6vw;
          height: max-content;
          @extend %flexCenter;
          flex-direction: column;
          > img {
            width: 60%;
            height: 60%;
          }
        }
      }
      .users-table {
        width: 100%;
        // height: 58vh;
        height: calc(100vh - #{$page-head-height} - #{$sorted-row-margin-top} - 5.2vw - 15vh) !important;
        overflow-y: auto;
        > table {
          width: 100%;
          border: none;
          thead {
            background: var(--tab-gray);
            color: var(--theme-dark-blue);
            font-family: $font-family-black;
            font-size: 1.3vw;
            letter-spacing: 0.25vw;
            tr {
              th {
                padding-top: 0.6vh;
                padding-bottom: 0.6vh;
                text-align: left;
                padding-left: 0.5vw;

                .sort-button {
                  cursor: pointer;
                  margin-top: 0.3vh;
                  margin-left: 0.4vw;
                  height: 1.5vw;
                  width: 1.5vw;
                }
              }

              .subject-title {
                width: 5%;
              }
              .user-full-name {
                width: 30%;
              }
              .email-column {
                width: 31.3%;
              }
              .edit-button-column {
                width: 2.5vw;
              }
            }
          }
          tr {
            height: 5vh;
            overflow-y: auto;
            &.user-row {
              height: 4.4vh;
              font-family: $font-family-regular;
              &:nth-child(even) {
                background: var(--tab-gray);
              }
              td {
                padding-left: 0.5vw;
                color: var(--theme-dark-blue);
                font-size: 1vw;
                padding-top: 0;
              }
              .user-actions-cell {
                min-width: 5.5vw;
                .delete-button,
                .edit-button {
                  display: inline-block;
                  cursor: pointer;
                  height: 1.85vw;
                  width: 1.85vw;
                }
                .edit-button {
                  margin-left: 1vw;
                }
              }
              .activate-button-container {
                padding-left: 2vw;
              }
            }
            .user-last-name {
              font-family: $font-family-bold;
            }
          }
        }
      }
      .user-first-name {
        font-family: $font-family-regular !important;
      }
      .sort-by-box {
        height: 20vh;
        overflow-y: auto;
      }
    }
  }
}

.user-list-page ~ .beta-text {
  color: var(--theme-dark-blue);
}
