@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.user-list-page {
  .role-description {
    font-size: 1.2vw;
    font-family: $font-family-regular;
    .bold.m-1 {
      margin-left: 1.5vw;
    }
    .bold.m-2 {
      margin-left: 2.4vw;
    }
  }
  .sorted-row {
    .sort-box {
      .subjects-filter {
        margin: 0 !important;
        width: 100% !important;
        height: calc(100vh - 38vh);

        .subject-list-v2 {
          padding-bottom: 0.5vh;
          padding-top: 0.5vh;
          padding-left: 1.2vw;
          padding-right: 1.2vw;
          margin-bottom: 0 !important;

          &:hover {
            background: var(--light-blue-alpha3);
          }
          &.checked {
            background: var(--white);
            color: var(--theme-dark-blue);
            .MuiFormControlLabel-root .MuiTypography-root {
              color: var(--theme-dark-blue) !important;
            }
            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
    }

    .brick-row-container {
      @include tabletP {
        padding-left: 0;
      }

      .user-header {
        position: relative;
        @extend %flexCenter;
        justify-content: space-between;

        .brick-row-title {
          font-size: 3.8vw !important;
          letter-spacing: 0 !important;
          font-family: $font-family-bold;

          @include tabletP {
            padding-left: 1.18vw;
          }
        }

        .add-user-button {
          right: 0;
          position: absolute;
          cursor: pointer;
          margin: 0 1.3vw;
          margin-top: 3vh;
          font-family: $font-family-bold;
          color: var(--theme-dark-blue);
          font-size: 1vw;
          width: 6vw;
          height: max-content;
          @extend %flexCenter;
          flex-direction: column;

          >svg {
            stroke-width: 1.5;
            width: 60%;
            height: 3.4vw;
          }
          &:hover svg {
            color: var(--theme-orange);
          }
        }
      }

      .users-table {
        width: 100%;
        height: calc(100vh - 7.834vw - 6.5vh - 6vh) !important;
        overflow-y: auto;

        >table {
          width: 100%;
          border: none;

          thead {
            color: var(--theme-dark-blue);
            font-family: $font-family-bold;
            font-size: 1.3vw;

            tr {
              th {
                padding-top: 0.6vh;
                padding-bottom: 0.6vh;
                text-align: left;
                padding-left: 0.5vw;

                .sort-button {
                  cursor: pointer;
                  margin-top: 0.3vw;
                  margin-left: 0.4vw;
                  height: 1.5vw;
                  width: 1.5vw;
                  color: var(--theme-dark-blue);
                  &:hover {
                    color: var(--theme-orange) !important;
                  }
                }
              }

              .subject-title {
                padding-left: 0.8vw;
                width: 11.5%;
              }

              .user-full-name {
                width: 30%;
              }

              .email-column {
                width: 31.3%;
              }

              .edit-button-column {
                width: 2.5vw;
              }
            }
          }

          tr {
            height: calc((100vh - 7.834vw - 5.2vw - 18vh)/13) !important;
            overflow-y: hidden;

            &.user-row {
              height: calc((100vh - 7.834vw - 5.2vw - 18vh)/13) !important;
              font-family: $font-family-regular;

              &:nth-child(odd) {
                background: var(--tab-gray);
              }

              td {
                padding-left: 0.5vw;
                color: var(--theme-dark-blue);
                font-size: 1vw;
                padding-top: 0;
              }

              .user-actions-cell {
                padding-right: 1vw !important;
                min-width: 5.5vw;

                .delete-button,
                .edit-button {
                  display: inline-block;
                  cursor: pointer;
                  height: 1.85vw;
                  width: 1.85vw;

                  &:hover {
                    svg {
                      color: var(--theme-orange) !important;
                    }
                  }
                }

                .edit-button {
                  margin-left: 1vw;
                }

                >div {
                  @extend %displayFlex;
                }
              }

              .activate-button-container {
              }
            }

            .user-last-name {
              font-family: $font-family-bold;
            }
          }
        }
      }

      .user-first-name {
        font-family: $font-family-regular !important;
      }

      .sort-by-box {
        height: 20vh;
        overflow-y: auto;
      }
    }
  }

  .users-pagination {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .joing-date {
    padding-left: 1.2vw !important;
  }

  .preference-type {
    display: flex;
    align-items: center;
    height: calc((100vh - 7.834vw - 5.2vw - 18vh)/13) !important;
    svg {
      width: 1.4vw;
      height: 1.4vw;
    }
  }
}

.user-list-page~.beta-text {
  color: var(--theme-dark-blue);
}