@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.SixthformChoicesPage {
  $placeholder-color: #4C608A;
  $font-scale: 1.14;
  background: var(--theme-dark-blue);

  .top-left-logo-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 23vw;
    height: 5.834vw;
    border-bottom-right-radius: 2vw;
    background: var(--theme-light-blue);

    .logo-container-r23 {
      position: relative;

      svg {
        position: absolute;
        top: 0;
      }

      .white-logo-r23 {
        z-index: 2;
        top: 0.5vw;
        height: 5.334vw;
        left: 1vw;
        width: 8.5vw;
      }

      .red-shape-r23 {
        width: 3.6vw;
        height: 5vw;
        left: 3.5vw;
      }
    }

    .course-select-label {
      height: 5.834vw;
      display: flex;
      align-items: center;
      color: white;
      margin-left: 11.4vw;
    }
  }

  .logo-top-container {
    z-index: 2;
    position: absolute;
    top: 0 !important;
  }

  .white-blue {
    color: #4C608A;
  }

  .logout-container {
    background: var(--theme-light-blue);
    margin-left: 25.434vw;
    height: 5.834vw;
    border-bottom-left-radius: 2vw;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    width: calc(100vw - 25.434vw);
  }

  .header-top {
    height: 5.834vw;
  }

  .dashboard-page {
    background: var(--theme-dark-blue);
  }

  .sorted-row {
    display: flex;
  }

  .sort-and-filter-container {
    background: var(--theme-blue);
    width: 22vw;
    color: white;
    margin-right: 1.2vw;
    border-top-right-radius: 2vw;

    .ranking-label {
      padding-top: 1vh;
      padding-left: 2vw;
    }
  }

  .brick-row-container {
    position: relative;
    display: flex;
    width: 67vw;
    line-height: 1;
    background: var(--white) !important;
    height: calc(100vh - 7.834vw - 5vh - 3vw - 4vh);
    border-top-left-radius: 2vw;
    margin-left: 1.2vw;
    color: var(--theme-dark-blue);
    background: white;
    padding: 0 4vw 5vh 5vw;
    padding-top: 4vh;
    padding-bottom: calc(5vh + 3vw);

    .smaller-text-box {
      line-height: 1.45;
    }
  }

  .bold {
    font-family: 'Brandon Grotesque Bold';
  }

  .sorted-row select {
    cursor: pointer;
    color: var(--theme-dark-blue);
    padding: 0.5vw;
    border: 2px solid var(--tab-gray);
    border-radius: 1vw;
    width: 100%;
  }

  /* sidebar */
  .subjects-select-box {
    padding-left: 2vw;
    padding-bottom: 1vh;
    border-bottom: 2px solid rgba(222, 222, 222, 0.1);
  }

  .sidebar-title {
    padding-top: 2vh;
    padding-bottom: 2%;
  }

  /* radio buttons style */
  .check-box-container {
    border-radius: 0.4vw;
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 1vh;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0.3vw;
    left: 0;
    height: 1vw;
    width: 1vw;
    border: 0.15vw solid white;
    border-radius: 50%;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 0.1vw;
    left: 0.1vw;
    width: 0.6vw;
    height: 0.6vw;
    border-radius: 50%;
    background: white;
  }

  .container .checkmark.checked {
    border: 0.15vw solid var(--theme-orange);
  }

  /* Show the indicator (dot/circle) when checked */
  .container .checkmark.checked:after {
    display: block;
    background: var(--theme-orange);
  }


  ::-webkit-scrollbar {
    margin-left: 2vw;
    width: 0.5vw;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #475F92;
    border-radius: 0.2vw;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #475F92;
  }

  .subjects-scrollbar {
    line-height: 1;
    margin-top: 1vh;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    border-radius: 0.5vw;
    height: calc(100vh - 7.834vw - 2vh - 3vw - 2vh - 4vh - 6.5vw - 1vw - 4vw - 0.3vh);
    border: 2px solid rgba(222, 222, 222, 0.1);
    overflow-y: scroll;
    transition: all 300ms ease-in-out;

    >div {
      position: relative;

      .subject-name {
        width: calc(100% - 5vw);
      }

      .level-round {
        position: absolute;
        top: 0.3vw;
        right: 0.5vw;
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        height: 1.5vw;
        border-radius: 0.4vw;
        background: #4C608A80;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    >div:hover {
      background: $placeholder-color;
    }

    .sidebar-footer {
      border-top: 0.3vw solid var(--light-blue-alpha5);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 5vw;
      width: 100%;
      background: var(--theme-light-blue);
    }
  }

  .subjects-scrollbar>div {
    display: flex;
    align-items: center;
    padding-left: 1vw;
    height: 5vh;
    border-bottom: 2px solid rgba(222, 222, 222, 0.1);
  }

  .subjects-scrollbar .subject-circle {
    width: 0.8vw;
    height: 0.8vw;
    border-radius: 50%;
    color: var(--theme-orange);
    margin-right: 0.5vw;

    &.yellow-circle {
      color: var(--theme-yellow);
    }

    &.green-circle {
      color: var(--theme-green);
    }

    &.red-circle {
      color: var(--theme-orange);
    }
  }

  .big-subjects-sidebar {
    height: calc(100vh - 7.834vw - 2vh - 3vw - 2vh - 4vw);
  }












  .absolute-contunue-btn {
    cursor: pointer;
    position: absolute;
    bottom: 5vh;
    right: 4vw;
    border: none;
    outline: none;
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    border-radius: 0.5vw;
    padding-top: 1.7vh;
    padding-bottom: 1.7vh;
    font-family: "Brandon Grotesque Regular" !important;
    background: var(--theme-light-blue);
    transition: all 300ms ease-in-out;

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  .absolute-back-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 5vh;
    left: 3.2vw;
    color: $placeholder-color;
    border-radius: 0.5vw;
    padding-top: 0.4vw;
    padding-bottom: 0.4vw;
    font-family: "Brandon Grotesque Regular" !important;
    background: none;
    transition: all 300ms ease-in-out;
  }

  .absolute-back-btn svg {
    height: 1vw;
    width: 1vw;
    margin-right: 0.5vw;
  }

  .absolute-contunue-btn:hover {
    opacity: 0.9;
  }

  .ionLibrary {
    margin-top: 3vh;
    margin-bottom: 2vh;
    width: 12vh;
    height: 12vh;
  }

  .text-box-number1 {
    padding-top: 1.5vh;
    padding-bottom: 1vh;
  }

  .text-box-number2 {
    padding-top: 1vh;
    padding-bottom: 2vh;
  }

  .boxes-container .check-box-container {
    max-width: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    line-height: 1;
    padding-left: 2.6vw;
    background: #4C608A1A;

    .main-box {
      width: 100%;
    }

    svg {
      position: absolute;
      top: calc(1vh + 0.4vw);
      left: 0.8vw;
      width: 1.2vw;
      height: 1.2vw;
    }

    .other-choices>div {
      padding-top: 0.4vh;
      position: relative;
      padding-left: 1.5vw;
      margin-left: 0vw;

      svg {
        top: calc(0.4vh + 0.5vw);
        left: 0vw;
      }
    }

    .current-school-autocomplete {
      margin-top: 2vh;
      margin-bottom: 1vh;
      border-radius: 0.5vw;
      background: white;

      width: calc(100% - 1.5vw);

      input {
        color: var(--theme-dark-blue);
        line-height: 1;

        padding-top: 0.7vh;
        padding-bottom: 0.7vh;

        padding-left: 1vw;
        width: calc(100% - 1vw);
      }

      input::placeholder {
        color: $placeholder-color;
      }
    }
  }

  .boxes-container .check-box-container .checkmark {
    margin-left: 0.8vw;
    top: calc(1vh + 0.2vw);
    border: 0.15vw solid var(--theme-dark-blue)3
  }

  .boxes-container .check-box-container .checkmark.checked {
    border: 0.15vw solid var(--theme-orange);
  }

  .boxes-container-2 {
    max-width: 45vw;
  }

  .question {
    width: 100%;

    .mask-step-img {
      position: absolute;
      top: 0;
      right: 0;
      height: calc(18vw);
    }

    .home-absolute-help-box {
      display: flex;
      position: absolute;
      bottom: calc(5vh + 2vw + 7vh);
      padding: 0.9vw;
      padding-bottom: 1.4vw;
      border-radius: 0.5vw;
      line-height: 1.4;
      right: 2.5vw;
      width: 19vw;
      background: #F2F6FF;

      svg {
        width: 2.2vw;
        height: 2.2vw;
        padding-right: 0.7vw;
      }

      a {
        text-decoration: underline;
      }
    }

    .absolute-contunue-btn {
      padding-left: 3vw;
      padding-right: 3vw;
    }

    .MuiAutocomplete-root {
      margin-bottom: 0 !important;

      .MuiInputBase-root {
        background: white;
        box-shadow: none !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        input {
          line-height: 1;
          padding-top: 1.5vh !important;
          padding-bottom: 1.5vh !important;
        }

        .MuiAutocomplete-endAdornment {
          height: 100%;
          top: 0;

          .MuiButtonBase-root {
            margin: 0 !important;
          }

          .MuiSvgIcon-root {
            position: relative;
            left: unset;
            top: unset;
            right: unset;
            width: 2vw;
            height: 2vw;
          }
        }
      }
    }

    .help-without {
      display: flex;
      align-items: center;
      width: 43.5vw;
      margin-top: 6vh;
      margin-bottom: 2vh;
      padding-left: 0.7vw;
      padding-top: 2vh;
      padding-bottom: 2vh;
      border-radius: 0.5vw;
      color: #46494D;
      background: #F2F6FF;
      font-family: "Brandon Grotesque Regular" !important;
      line-height: 1.26;

      svg {
        padding-top: 0.4vw;
        width: 2.2vw;
        height: 2.2vw;
        padding-right: 0.65vw;
      }
    }

    .question-text {
      line-height: 1;
      width: 93%;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    .question-text-3 {
      line-height: 0.4;
      margin-top: 4vh;
      margin-bottom: 3vh;
    }
  }

  .question-popup {
    width: 40vw;
    border-radius: 1vw;
    padding: 1vw;
    padding-left: 2vw;
    padding-right: 2vw;
    color: white;
    background: var(--theme-light-blue);

    svg {
      width: 2vw;
      height: 2vw;
      margin-right: 0.7vw;
    }

    .title-flex {
      display: flex;
      align-items: center;
      margin-bottom: 2vh;
    }

    .green-btn {
      cursor: pointer;
      margin-top: 2vh;
      color: var(--theme-green);
      text-align: right;
      width: 100%;
    }
  }

  .popup-container {
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

  .subject-sixth-popup {
    box-shadow: 0 1em 3em 0 #00000040;
    color: var(--theme-dark-blue);
    position: fixed;
    z-index: 9;
    left: 21vw;
    width: 24.4vw;
    background: white;
    border-radius: 0.5vw;
    padding: 2vh 1.2vw;

    .facilitation-container {
      width: 100%;
      position: relative;

      >div {
        position: absolute;
        top: 0.3vw;
        right: 0;
        display: flex;
        align-items: center;
      }

      svg {
        width: 1vw;
        height: 1vw;
      }
    }

    .subject-name {
      position: relative;
      display: flex;
      align-items: center;
      width: 20vw !important;

      padding-bottom: 1vh;

      .subject-name-only {
        width: 20vw;
      }

      .subject-circle {
        margin-right: 0.3vw;
        width: 0.8vw;
        height: 0.8vw;
      }

      .yellow-circle {
        color: var(--theme-yellow);
      }

      .green-circle {
        color: var(--theme-green);
      }

      .red-circle {
        color: var(--theme-orange);
      }
    }

    .second-row {
      display: flex;

      .box-v32 {
        margin-top: 2vh;
        border-radius: 0.3vw;
        width: 33.3%;
        background: #4C608A1A;
        padding-bottom: 0.5vh;

        text-align: center;

        div {
          padding-top: 0.2vh;
          padding-bottom: 0.2vh;
        }

        svg {
          padding-top: 0.5vw;
          width: 2vw;
          height: 2vw;
        }

        &.m-r {
          margin-right: 0.5vw;
        }

        &.m-l {
          margin-left: 0.5vw;
        }

        >div {
          display: flex;
          justify-content: center;
        }
      }
    }

    .switch-button {
      border-radius: 0.5vw;
      margin-top: 2vh;
      background: #EEF0F4;
      color: #181B20;
      display: flex;
      padding-top: 0.22vw;
      padding-bottom: 0.22vw;
      padding-left: 0.22vw;
      padding-right: 0.22vw;

      >div {
        cursor: pointer;
        text-align: center;
        width: 33.4%;
        padding-top: 0.6vh;
        padding-bottom: 0.6vh;
      }

      .active {
        border-radius: 0.5vw;
      }

      .active-yellow {
        color: white;
        background: var(--theme-yellow);
      }

      .active-green {
        color: white;
        background: var(--theme-green);
      }

      .active-red {
        color: white;
        background: var(--theme-orange);
      }
    }

    .taste-container {
      cursor: pointer;
      margin-top: 2vh;
      display: flex;
      background: #4C608A1A;
      border-radius: 0.5vw;
      padding: 0 0.6vw;

      >div {
        width: 48%;
      }

      .label-container {
        display: flex;
        align-items: center;
        padding-right: 0;
        width: 52%;

        .font-18 {
          margin-bottom: 1vh;
        }
      }

      .brick-container {
        position: relative;

        .scroll-block {
          margin-top: 2vh;
          margin-bottom: 2vh;
          width: 9.5vw;
          height: 6.4vw;
          border-radius: 1vw;
          background-size: cover;
          background-position: center center;

          flex-flow: column nowrap;
          background-repeat: no-repeat;
          position: relative;
          margin-left: auto;
          margin-right: auto;
        }

        .bottom-description,
        .bottom-description-color {
          position: absolute;
          bottom: 0;
          text-align: center;
          height: 1.8vw;
          width: 100%;
        }

        .bottom-description-color {
          opacity: 0.8;
          background: var(--tab-gray);
          z-index: 10;
        }

        .bottom-description {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 11;
        }
      }
    }

    &.big-T-level {
      width: 32vw;
    }
  }


  /* fonts */
  .font-8 {
    font-size: calc(0.5vw * $font-scale);
  }

  .font-11 {
    font-size: calc(0.6875vw * $font-scale);
  }

  .font-12 {
    font-size: calc(0.75vw * $font-scale);
  }

  .font-13 {
    font-size: calc(0.81vw * $font-scale);
  }

  .font-14 {
    font-size: calc(0.875vw * $font-scale) !important;
  }

  .font-15 {
    font-size: calc(0.9375vw * $font-scale);
  }

  .font-16 {
    font-size: calc(1vw * $font-scale);
  }

  .font-18 {
    font-size: calc(1.125vw * $font-scale);
  }

  .font-20 {
    font-size: calc(1.25vw * $font-scale);
  }

  .font-22 {
    font-size: calc(1.35vw * $font-scale);
  }

  .font-24 {
    font-size: calc(1.5vw * $font-scale);
  }

  .font-25 {
    font-size: calc(1.56vw * $font-scale);
  }

  .font-32 {
    font-size: calc(2vw * $font-scale);
  }

  .font-36 {
    font-size: calc(2.25vw * $font-scale);
  }

  .font-40 {
    font-size: calc(2.5vw * $font-scale);
  }

  .font-58 {
    font-size: calc(3.48vw * $font-scale);
  }






















  // step3
  .question {
    .subjects-table {
      border-radius: 0.5vw;
      margin-top: 2vh;
      background-color: #4C608A1A;
      width: 100%;
      height: auto;

      .table-head {
        display: flex;
        background: #FFFFFF80;

        >div {
          color: $placeholder-color;
          padding-top: 1vh;
          padding-bottom: 1vh;
          text-align: left;

          &.first-column {
            padding-left: 1vw;
          }

          >div {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          svg {
            margin-left: 0.4vw;
            cursor: pointer;
            width: 1.4vw;
            height: 1.4vw;
          }

          .hover-area {
            z-index: 10;
            cursor: pointer;
            position: relative;

            svg {
              color: $placeholder-color;
            }

            .hover-content {
              position: absolute;
              line-height: 1.3;
              padding: 0.4vw 1vw;
              border-radius: 0.5vw;
              bottom: 2vw;
              width: 14vw;
              color: white;
              background: var(--theme-dark-blue);
              display: none;
            }

            .hover-arrow-bottom {
              position: absolute;
              display: none;
              top: -1vw;
              left: 0.5vw;
              width: 0.7vw;
              height: 0.7vw;
              border-left: 0.7vw solid transparent;
              border-right: 0.7vw solid transparent;

              border-top: 0.7vw solid var(--theme-dark-blue);
            }

            &:hover {
              svg {
                color: var(--theme-orange);
              }

              .hover-content {
                display: block;
              }

              .hover-arrow-bottom {
                display: block;
              }
            }
          }
        }
      }

      .center-y {
        display: flex;
        align-items: center;
      }

      .first-column {
        padding-left: 1vw;
        width: 16vw;
      }

      .subject-box-r21 {
        display: flex;
        align-items: center;
      }

      .second-column {
        width: 10vw;
      }

      .third-column {
        width: 10vw;
      }

      .forth-column {
        width: 10vw;
      }

      .fifth-column {
        width: 10vw;
      }

      .six-column {
        width: 20vw;

        display: flex;
        align-items: center;
        justify-content: center;

        .MuiInputBase-root {
          border-radius: 0.4vw;
          background: var(--white);
          color: var(--theme-dark-blue);
          font-size: 1.2vw;

          .MuiSelect-root {
            width: 6.7vw;
            text-align: center;
            padding-left: 0;
            padding-top: 0.3vh;
            padding-bottom: 0.3vh;
            padding-right: 0.8vw;

            font-family: $font-family-regular !important;
          }

          &::before,
          &::after {
            display: none;
          }

          .MuiSelect-icon {
            top: calc(50% - 1vw);
            color: var(--theme-dark-blue);
            width: 2vw;
            height: 2vw;
          }
        }

      }

      .center-column {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .table-body {
        height: auto;
        max-height: calc(100vh - 5.834vw - 23vh - 6.8vw);
        overflow-y: scroll;

        >div {
          display: flex;

          &:nth-child(even) {
            background: #FFFFFF80
          }

        }

        >div {
          margin-top: 0.25vw;
          margin-bottom: 0.25vw;
          display: flex;

          .subject-lozengue {
            color: white;
            border-radius: 1vw;
            padding: 0 0.7vw;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 1.6vw;
            background: var(--theme-orange);
          }
        }

        .radio-container {
          display: flex;
          align-items: center;
          justify-content: center;

          .check-box-container {
            padding-left: 0;
            padding-right: 1.3vw;
            margin-bottom: 0;
          }

          svg {
            cursor: pointer;
            width: 1.3vw;
            max-height: 1.4vw;
          }
        }

        .result-container {
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 0.3vw;
          padding-bottom: 0.3vw;

          >div {
            color: var(--theme-dark-blue);
            border-radius: 0.5vw;
            padding-top: 0.5vw;
            padding-bottom: 0.5vw;
            padding-left: 1vw;
            padding-right: 1vw;
            min-width: 5vw;
            text-align: center;
            background: white;
          }

          &.default {
            >div {
              color: #4C608A66;
            }
          }
        }
      }
    }

    .main-subjects-container {
      margin-top: 2vh;
      display: flex;

      .first-box-R21 {
        position: relative;
        border-radius: 0.7vw;
        background: #4C608A1A;
        width: 43vw;
        height: calc(100vh - 5.834vw - 22vh - 7vw);
        margin-right: 2vw;

        .toggle-R21 {
          margin-left: 0.5vw;
          margin-top: 1vh;
          background: #4C608A1F;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 0.3vw;
          padding-right: 0.3vw;
          padding-top: 0.3vw;
          padding-bottom: 0.3vw;
          border-radius: 0.5vw;
          color: $placeholder-color;

          width: 21.5vw;

          >div {
            cursor: pointer;
            border-radius: 0.55vw;
            padding-top: 0.7vh;
            padding-bottom: 0.7vh;
            padding-left: 1.4vw;
            padding-right: 1.4vw;
          }

          .active {
            color: var(--theme-dark-blue);
            background: var(--white);
          }
        }

        .subjects-box-s6-r21 {
          position: relative;
          overflow-y: scroll;
          width: 100%;
          height: calc(100vh - 5.834vw - 22vh - 1vh - 1.4vh - 7vw - 0.6vw - 0.9vw);
        }

        .expand-subjects-button {
          margin-top: 3vh;
          width: calc(100% - 1.8vw);
          position: absolute;
          bottom: 1vh;
          cursor: pointer;
          color: white;
          transition: all 200ms ease-in-out;
          background: #4C608A !important;

          &:hover {
            opacity: 0.8;
          }
        }

        .subjects-typer-r21 {
          margin-top: 2vh;
          padding-top: 1vh;
          padding-bottom: 1vh;
          margin-left: 0.9vw;
          margin-right: 0.9vw;
          border-radius: 0.5vw;
          background: white;

          input {
            color: var(--theme-dark-blue);
            padding-left: 0vw;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            width: 100%;
            line-height: 1.5;
            font-size: 1vw !important;

            &::placeholder {
              opacity: 1 !important;
              color: $placeholder-color;
            }
          }

          .MuiAutocomplete-root .MuiInputBase-root {

            &::before,
            &::after {
              display: none;
            }

            .MuiAutocomplete-endAdornment {
              height: auto !important;
              top: unset !important;

              .MuiSvgIcon-root {
                width: 1.3vw;
                height: 1.3vw;
              }
            }
          }
        }
      }

      .expanded-label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1.4vh;
        margin-bottom: 1.4vh;
        color: #919EAB;

        .line-r21 {
          height: 2px;
          width: 18vw;
          background: #BAC2D1;
        }

        .expanded-text {
          margin-left: 0.5vw;
          margin-right: 0.5vw;
        }
      }

      .second-box-R21 {
        padding-top: 1vh;
        padding-left: 1vh;
        border-radius: 0.7vw;
        padding-left: 0;
        padding-right: 0;
        background: #4C608A1A;
        width: 20.5vw;
        height: calc(100vh - 5.834vw - 22vh - 7vw);
        overflow-y: scroll;

        .second-box-title {
          padding-left: 1vw;
        }
      }

      .subjects-lozenges {
        display: flex;
        margin-left: 0.4vw;
        flex-wrap: wrap;

        .subject-lozenge {
          cursor: pointer;
          margin: 0.8vh 0.3vw;

          padding: 0.8vh 0.8vw 0.6vh 0.8vw;

          border-radius: 2vw;
          display: flex;
          background-color: #C43C3033;

          svg {
            margin-left: 0.5vw;
            width: 1vw;
            height: 1vw;
            stroke-width: 2;
          }

          &.active {
            color: white;
            background: var(--theme-orange);
          }
        }
      }
    }
  }

  // step3 sub C1
  .question {
    .drag-container-r22 {
      margin-top: 2vh;
      border-radius: 0.5vw;
      background: #4C608A1A;
      height: calc(100vh - 5.834vw - 4vh - 2vh - 9vh - 2vh - 8vw - 3vh - 3.4vh - 5vh - 2vh - 1vw);

      .title-r22 {
        padding-top: 1vh;
        padding-left: 0.7vw;
      }

      .container-r22 {
        overflow-y: scroll;
        height: calc(100vh - 5.834vw - 4vh - 2vh - 9vh - 2vh - 8vw - 3vh - 3.4vh - 5vh - 2vh - 1vw - 1vh - 1.1vw - 2vh);


        margin-top: 2vh;
        display: flex;

        .left-part-r22 {
          margin-left: 0.8vw;

          .drag-boxv2-r22 {
            border-top-left-radius: 0.5vw;
            border-bottom-left-radius: 0.5vw;
            margin: 0.2vw 0;
            padding: 0.5vw;
            background: #F6F7F9;

            &.correct {
              border: 2px solid var(--theme-green);
            }
          }

          .drag-boxv3-r22.correct {
            height: 3.455vw;
            border: 2px solid var(--theme-green);
            border-right: none;
          }

          .drag-box-r22 {
            padding: 0.4vw 0;
            border-radius: 0.6vw;
            background: white;
            display: flex;
            justify-content: center;
            width: 10vw;

            .drag-item-r22 {
              cursor: pointer;
              border-radius: 2vw;
              text-align: center;
              color: white;
              padding: 0.4vw 0.7vw;
              background: var(--theme-orange);
            }
          }
        }

        .answer-item-r22 {
          padding-left: 1vw;
          padding-right: 1vw;
          margin-top: 0.2vw;
          border-top-right-radius: 0.5vw;
          border-bottom-right-radius: 0.5vw;
          margin-bottom: 0.2vw;
          height: 3.455vw;
          background: #F6F7F9;
          display: flex;
          align-items: center;
        }

        .answer-item-v3r22.correct {
          border: 2px solid var(--theme-green);
          border-left: none;
        }
      }
    }
  }

  // step3 c3
  .question {
    .tick-container-c3-r23 {
      border-radius: 0.4vw;
      padding: 1vw;
      padding-top: 0.5vw;
      padding-bottom: 0;
      background: #4C608A1A;

      .scrollbox-c3-r23 {
        overflow-y: scroll;
        height: calc(80vh - 20vw);
      }

      .combo-block-c3-r23 {
        padding-left: 0.5vw;
        margin-top: 0.4vw;
        margin-bottom: 0.4vw;
        border-radius: 0.5vw;
        background: #F6F7F9;
        width: 100%;
        height: 3vw;
        display: flex;
        align-items: center;

        &.orange {
          height: 5vw;
          border: 2px solid var(--theme-yellow);
        }

        &.green {
          height: 5vw;
          border: 2px solid var(--theme-green);
        }

        &.red {
          height: 5vw;
          border: 2px solid var(--theme-orange);
        }

        .help-text {
          margin-top: 1vh;
          color: #4C608A99;
        }
      }

      .text-block-c3-r23 {
        width: 54vw;
      }

      .icons-block-c3-r23 {
        width: 15vw;
        height: 2vw;
        display: flex;
        border-radius: 0.4vw;
        align-items: center;
        justify-content: center;
        background: white;

        font-size: 1vw;

        padding-top: 0.2vw;
        padding-bottom: 0.2vw;

        svg {
          padding-left: 1vw;
          padding-right: 1vw;
          cursor: pointer;
          margin-left: 0.2vw;
          margin-right: 0.2vw;
          width: 1.8vw;
          height: 1.8vw;
        }
      }
    }
  }

  .question-step-3c1 {
    .drag-container-r22 {
      height: auto;

      .container-r22 {
        height: auto;
        max-height: calc(100vh - 5.834vw - 25vh - 7vw);
      }
    }
  }

  .question-step-3c2 {
    .drag-container-r22 {
      height: auto;

      .container-r22 {
        height: auto;
        max-height: calc(100vh - 5.834vw - 22vh - 6vw);
      }
    }
  }

  .question-title-sub-second {
    width: 25vw;
  }

  .question-text-sub-second {
    width: 42vw;
  }

  // step3 c3
  .question.question-c3 {

    .question-text-3 {
      margin-bottom: 3vh;
    }

    .margin-text-c3 {
      margin-bottom: 2vh;
    }

    .bottom-text-r23 {
      margin-top: 2vh;
    }

    .icons-block-c3-r23 {
      .clickable {
        cursor: pointer;
      }

      color: #A5AFC4;

      .green-active {
        color: var(--theme-green);
      }

      .red-active {
        color: var(--theme-orange);
      }

      .orange {
        color: var(--theme-yellow);
      }
    }

    .tick-container-c3-r23 .scrollbox-c3-r23 {
      height: auto;
      max-height: calc(100vh - 20vh - 16vw);
    }
  }

  // step3 c4
  .question.question-c4 {

    .question-text-3 {
      margin-bottom: 3vh;
    }

    .margin-text-c3 {
      margin-bottom: 2vh;
    }

    .drag-container-r23 {
      margin-top: 1vh;
      display: flex;

      .container-r23 {
        margin-left: 0.7vw;
        margin-right: 0.7vw;
        border-radius: 0.5vw;
        width: 17vw;
        overflow-y: scroll;
        height: calc(100vh - 5.834vw - 25.4vh - 6vw);
        background: #4C608A1A;
        margin-top: 2vh;
        display: flex;
        padding-left: 0.8vw;
        padding-top: 1.5vh;

        &.first {
          margin-left: 0;
          background: #4C608A1A;
        }

        &.second {
          background: #30C47433;
        }

        &.third {
          background: #FFB11D33;
        }

        &.last {
          display: flex;
          align-items: center;
          margin-right: 0;
          background: none;
          text-align: center;

          .skip-btn-container {
            display: flex;
            justify-content: center;
            margin-top: 2vh;
            color: #4C608A;

            >div {
              cursor: pointer;
              padding: 0.4vw 2vw;
              border-radius: 0.3vw;
              color: var(--white);
              background: #4C608A;
            }
          }
        }

        .sort-category-r23 {
          padding-bottom: 1vh;
        }

        >div {
          width: 100%;

          .sort-category-list-container-r23 {
            width: 100%;
            height: calc(100% - 2vw - 1vh);

            .sortable-list-r23 {
              width: 100%;
              height: 100%;

              .drag-box-r23 {
                display: flex;

                &.other-language {
                  .drag-item-r23 {
                    padding-right: 1vw;
                    border-radius: 0.5vw;
                    color: var(--theme-dark-blue);
                    background: #C43C304D;

                    .other-language-label {
                      display: flex;
                      justify-content: center;
                      margin-bottom: 0.4vw;
                    }

                    svg {
                      transition: all 300ms ease-in-out;
                      width: 1vw;
                      height: 1vw;
                    }
                  }

                  &.expanded {
                    .subject-left {
                      margin-top: 0.4vw;
                      margin-bottom: 0.4vw;
                      display: flex;

                      >div {
                        text-align: left;
                        color: white;
                        display: flex;
                        padding: 0.4vw 0.7vw;
                        border-radius: 2vw;
                        background: var(--theme-orange);
                      }
                    }

                    svg {
                      rotate: -90deg;
                    }
                  }
                }
              }
            }
          }
        }

        .drag-item-r23 {
          margin-top: 0.4vw;
          margin-bottom: 0.4vw;
          cursor: pointer;
          border-radius: 2vw;
          text-align: center;
          color: white;
          padding: 0.4vw 0.7vw;
          background: var(--theme-orange);
        }
      }
    }

    .bottom-text-r23 {
      margin-top: 2vh;
    }
  }

  .question.question-3d {
    .sub-title-e23 {
      margin-top: 2vh;
      margin-bottom: 2vh;
    }

    .text-d3-r23 {
      padding-left: 3.5vw;
      padding-right: 3.5vw;
      margin-top: 16vh;
    }

    .question-text-3 {
      margin-bottom: 3vh;
    }

    .button-step-d-r23 {
      display: flex;
      justify-content: center;
      margin-top: 5vh;

      >div {
        cursor: pointer;
        bottom: 5vh;
        right: 5vw;
        border: none;
        outline: none;
        color: white;
        padding-left: 5vw;
        padding-right: 5vw;
        border-radius: 0.5vw;
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
        font-family: "Brandon Grotesque Regular" !important;
        background: var(--theme-light-blue);
        transition: all 300ms ease-in-out;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .d3-table-scroll-container {
      margin-top: 2vh;
      overflow-y: scroll;
      height: calc(100vh - 5.834vw - 2vw - 4vh - 2vh - 10vh - 5vw - 7vh - 2vw);
    }

    .question-step-3d-tableleaf {
      .d3-table-scroll-container {
        height: calc(100vh - 5.834vw - 22vh - 7vw);
      }
    }

    .coursor-pointer {
      cursor: pointer;
    }

    .d3-table-leaf {
      display: flex;
      flex-direction: row;

      >div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      svg {
        width: 1vw;
        height: 1vw;
      }

      .first-b-r-23 {
        margin-right: 0.4vw;
      }

      .second-b-r-23 {
        margin-left: 0.4vw;
      }

      .big-r-23 {
        svg {
          margin-left: 0.8vw;
          margin-right: 0.4vw;
          width: 1.5vw;
          height: 1.5vw;
        }
      }
    }

    .course-box-r-23 {
      padding-top: 2vh;
      padding-bottom: 2vh;
      margin-top: 0.4vh;
      margin-bottom: 0.4vh;
      border-radius: 0.4vw;
      background: #4C608A1A;

      .course-name-r23 {
        width: 27.5vw;
      }
    }

    .course-subjects-r23 {
      margin-top: 2vh;
    }

    .course-subject-r23 {
      cursor: pointer;
      width: 100%;
      display: flex;
      margin-top: 1vh;
      margin-bottom: 1vh;

      svg {
        margin-left: 0.8vw;
        margin-right: 0.4vw;
        width: 1vw;
        height: 1vw;
      }

      .text-container-r23 {
        width: 27vw;
      }
    }

    .big-b-r-23 {
      cursor: pointer;
      padding-left: 1vw;

      .nothing-hint {
        padding-left: 1.7vw;
        color: #909CB6;
      }
    }

    .top-label-r3-r23 {
      padding-top: 10vh;
      margin-bottom: 3vh;
    }

    .button-step-dl4-r23 {
      margin-top: 2vh;

      >div {
        padding-left: 0;
        padding-right: 0;
        width: 40vw;
        text-align: center;
      }
    }
  }

  .question-step-3e {
    .drag-container-r22 {
      height: 100%;

      .container-r22 {
        height: auto !important;
        max-height: calc(100vh - 5.834vw - 22vh - 8vw - 3.4vh);
      }
    }
  }

  .question .question-step-3f {
    .d3-table-scroll-container {
      height: calc(100vh - 5.834vw - 21vh - 7.6vw);
    }
  }


  // step 4
  .question {
    .question-text-4 {
      margin-top: 2.5vh;
      margin-bottom: 2vh;
    }

    .margin-bottom-1 {
      margin-bottom: 1.7vh;
    }

    .categories-container {
      display: flex;

      &.categories-container-r342 {
        display: flex;
        max-width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
      }

      >div {
        margin-right: 0.4vw;
        margin-left: 0.4vw;
      }

      >div>div {
        overflow-y: scroll;
        cursor: pointer;
        border-radius: 0.4vw;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #4C608A1A;
        width: 32vw;
        height: calc(3vw + 3vh);
        text-align: center;
        margin-top: 1vh;
        margin-bottom: 1vh;

        &.first {
          margin-left: 0;
        }

        &.last {
          margin-right: 0;
        }

        &.start-f-r24 {
          padding-top: 2vh;
          align-items: flex-start;
        }

        &.active {
          color: white;
          background: #4C608A;
        }

        svg {
          width: 2.6vw;
          height: 2.6vw;
          margin-bottom: 2vh;
        }
      }

      .hovered-category {
        padding-top: 1.5vh;
        padding-left: 1.6vw;
        height: auto;
        min-height: calc(6vw + 2.6vh);
        text-align: left;
        display: block;

        .h-title-r24 {
          margin-bottom: 1.5vh;
        }

        .lozengies-container {
          display: flex;
          margin-top: 1vh;
          margin-bottom: 1vh;

          >div {
            padding: 0.7vh 0.7vw;

            margin-right: 0.6vw;
            border-radius: 2vw;
            background: #4C608A66;
          }
        }

        .first-lozengies {
          margin-top: 3vh;
        }
      }

      >div {
        .hovered-category {
          .lozengies-container {
            >div {
              color: var(--theme-dark-blue);
              background: #4C608A66;
            }
          }

          .lozengies-r232 {
            margin-top: 1vh;
            display: flex;
            max-width: 100%;
            flex-direction: row;
            flex-wrap: wrap;

            >div {
              margin-top: 0.7vh;
              margin-bottom: 0.7vh;
            }
          }

          &.active .lozengies-container>div {
            background: white;
          }
        }
      }
    }
  }

  // step 4c
  .question .categories-container-4c-r23 {
    height: calc(100vh - 7.834vw - 20vh - 7vw);
    overflow-y: scroll;

    .checkbox-container-r23 {
      display: flex;
      max-width: 100%;
      flex-direction: row;
      flex-wrap: wrap;

      >div:nth-child(odd) {
        margin-right: 1vw;
      }
    }

    .check-box-container {
      width: 31vw;
      padding-top: 0.4vh;
      padding-bottom: 0.4vh;
      min-height: 2vw;
      padding-left: 0.8vw;
      background: #4C608A1A;
      display: flex;
      align-items: center;

      svg {
        padding-right: 0.5vw;
        width: 1.2vw;
        height: 1.2vw;
      }
    }

    .text-4c {
      margin-top: 1vh;
      margin-bottom: 1vh;

      >div {
        margin-top: 0.3vh;
        margin-bottom: 0.3vh;
      }
    }

    >div {
      padding: 1vh 1vw;
      border-radius: 0.4vw;
      margin-bottom: 2vh;
      background: #4C608A1A;
    }
  }

  // step 4d1
  .question-step-4d1 .facilitation-category {
    height: calc(100vh - 7.834vw - 20vh - 9vw);

    >div {
      margin-bottom: 0;
    }
  }

  // step 4d2
  .question-step-4d2 .non-facilitation-category {
    height: calc(100vh - 7.834vw - 18vh - 7vw);

    >div {
      margin-bottom: 0;
    }
  }

  // step 4e1
  .question-4e1 {
    .button-step-d-r23 {
      display: flex;
      justify-content: center;
      margin-top: 5vh;

      >div {
        cursor: pointer;
        bottom: 5vh;
        right: 5vw;
        border: none;
        outline: none;
        color: white;
        padding-left: 5vw;
        padding-right: 5vw;
        border-radius: 0.5vw;
        padding-top: 1.7vh;
        padding-bottom: 1.7vh;
        font-family: "Brandon Grotesque Regular" !important;
        background: var(--theme-light-blue);
        transition: all 300ms ease-in-out;

        &:hover {
          opacity: 0.9;
        }
      }
    }

    .d3-table-scroll-container {
      margin-top: 2vh;
      overflow-y: scroll;
      height: calc(100vh - 5.834vw - 2vw - 4vh - 2vh - 10vh - 5vw - 7vh - 2vw);
    }

    .coursor-pointer {
      cursor: pointer;
    }

    .d3-table-leaf {
      display: flex;
      flex-direction: row;

      >div {
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      svg {
        width: 1vw;
        height: 1vw;
      }

      .first-b-r-23 {
        margin-right: 0.4vw;
      }

      .second-b-r-23 {
        margin-left: 0.4vw;
      }

      .big-r-23 {
        svg {
          margin-left: 0.8vw;
          margin-right: 0.4vw;
          width: 1.5vw;
          height: 1.5vw;
        }
      }
    }

    .course-box-r-23 {
      padding-top: 2vh;
      padding-bottom: 2vh;
      margin-top: 0.4vh;
      margin-bottom: 0.4vh;
      border-radius: 0.4vw;
      background: #4C608A1A;

      .course-name-r23 {
        width: 27.5vw;
      }
    }

    .course-subjects-r23 {
      margin-top: 2vh;
    }

    .course-subject-r23 {
      cursor: pointer;
      width: 100%;
      display: flex;
      margin-top: 1vh;
      margin-bottom: 1vh;

      svg {
        margin-left: 0.8vw;
        margin-right: 0.4vw;
        width: 1vw;
        height: 1vw;
      }

      .text-container-r23 {
        width: 27vw;
      }
    }

    .top-label-r3-r23 {
      padding-top: 10vh;
      margin-bottom: 3vh;
    }

    .button-step-dl4-r23 {
      margin-top: 2vh;

      >div {
        padding-left: 0;
        padding-right: 0;
        width: 40vw;
        text-align: center;
      }
    }

    .course-box-4e1 {
      cursor: pointer;

      .course-subjects-r23 {
        padding-left: 2.7vw;
        padding-right: 1vw;
      }

      &.active {
        color: white;
        background: #4C608A;
      }
    }
  }

  .question .drag-container-5a {
    height: auto;

    .container-r22 {
      height: auto;
      max-height: calc(100vh - 5.834vw - 22vh - 12.5vw);
    }
  }

  .question .drag-container-5a .container-r22 {
    .left-part-r22 {
      width: 20vw;
      padding-bottom: 0.4vw;

      .drag-boxv2-r22 {
        cursor: pointer;
        padding-top: 0.3vw;
        padding-bottom: 0;
        height: 2.7vw !important;
        position: relative;
        width: 20vw;

        .absolute-correct-check {
          position: absolute;
          top: 0.7vw;
          left: -1.5vw;
          width: 1vw;
          height: 1vw;
        }
      }
    }

    .right-part-r22 {
      width: 43.5vw;
      margin-left: 0.2vw;

      .answer-item-r22 {
        border-top-right-radius: 0.3vw;
        border-bottom-right-radius: 0.3vw;
        justify-content: center;
        height: 2.7vw !important;
      }
    }

    &.correct {
      .left-part-r22 {
        .drag-boxv2-r22 {
          margin-left: 1vw;
          border: 2px solid var(--theme-green);
          border-right: none;
        }
      }

      .right-part-r22 {
        margin-left: 1vw;
        width: 40vw;

        .answer-item-r22 {
          border: 2px solid var(--theme-green);
          border-left: none;
        }
      }
    }
  }

  .question .drag-container-5b .container-r22 {
    .left-part-r22 {
      padding-left: 1vw;

      .drag-boxv2-r22.active {
        color: var(--white);
        background: #4C608A;
      }
    }

    .right-part-r22 {
      margin-left: 1.15vw;
      width: 43vw;

      .answer-item-r22 {
        cursor: pointer;

        &.active {
          color: var(--white);
          background: #4C608A;
        }
      }
    }
  }

  // step 5
  .question .subjects-table-5c {
    height: auto;
    //height: calc(100vh - 5.834vw - 4vh - 2vh - 9vh - 2vh - 9vw - 3vh - 4.4vh);
    background: #4C608A1A;

    .checkbox-column {
      width: 4vw;
    }

    .table-head {
      background: none;

      .header-label {
        padding-left: 0.8vw;
        justify-content: flex-start;
      }
    }

    .top-row {
      padding-top: 1.4vh;
      padding-left: 0.6vw;
    }

    .table-5c-body-row {
      display: flex;
      cursor: pointer;
      padding-right: 1vw;
    }

    .table-5c-column {
      width: 18vw;
    }

    .table-body-5c {
      padding-bottom: 1vh;
      height: calc(100vh - 5.834vw - 4vh - 2vh - 9vh - 2vh - 9vw - 3vh - 4.4vh - 2vh - 1.5vw);
      overflow-y: scroll;

      svg {
        width: 1vw;
        height: 1vw;
      }

      .value-column-5c {
        background: #F6F7F9;
        display: flex;
        padding-left: 1vw;
        align-items: center;
        min-height: 7vh;
        margin-bottom: 0.4vh;

        &.border-right {
          border-right: 4px solid #4C608A1A;
        }

        &.first {
          border-top-left-radius: 0.5vw;
          border-bottom-left-radius: 0.5vw;
        }

        &.last {
          border-top-right-radius: 0.5vw;
          border-bottom-right-radius: 0.5vw;
        }
      }

      .value-column-5c-big {
        display: flex;
        align-items: center;
        width: 54.5vw;
        min-height: 7vh;
        background: #F6F7F9;
        margin-bottom: 0.4vh;
      }
    }
  }


  .question-6 {
    .question-text {
      margin-bottom: 2vh;
      display: flex;
      align-items: center;

      .hover-area {
        z-index: 10;
        cursor: pointer;
        position: relative;

        svg {
          margin-left: 1vw;
          margin-top: 0.5vw;
          width: 1.5vw;
          height: 1.5vw;
          color: $placeholder-color;
        }

        .hover-content {
          position: absolute;
          line-height: 1.3;
          padding: 0.4vw 1vw;
          padding-left: 0;
          padding-right: 0;
          border-radius: 0.5vw;
          bottom: -1vw;
          text-align: center;
          left: 3vw;
          width: 30vw;
          color: white;
          background: var(--theme-light-blue);
          display: none;

          .triangle-popup {
            position: absolute;
            z-index: 100;
            top: 2vw !important;
            left: -0.9vw;
            margin-left: 0.6vw;
            width: 0;
            height: 0;
            $size: 0.6vw;
            border-right: $size solid var(--theme-light-blue);
            border-top: $size solid transparent;
            border-bottom: $size solid transparent;
          }
        }

        &:hover {
          svg {
            color: var(--theme-orange);
          }

          .hover-content {
            display: block;
          }

          .hover-arrow-bottom {
            display: block;
          }
        }
      }
    }

    .big-svg-description {
      margin-top: 2vh;
      height: calc(40vh - 2vw);
      width: 100%;
    }

    .boxes-container {
      &.start {
        margin-right: 0.9vw;
      }

      &.end {
        margin-left: 0.9vw;
      }

      margin-top: 2vh;

      .check-box-container {
        padding-top: 1.5vh;
        padding-bottom: 1.5vh;

        svg {
          top: calc(1.5vh);
        }
      }
    }
  }

  .question-6-second {
    .subjects-table {
      .first-column {
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 20vw;

        .blue-background-s6 {
          border-radius: 2vw;
          padding: 0.7vh 0.7vw;
          color: white;
          background: #4C608A;
        }
      }

      .second-column,
      .third-column,
      .fourth-column {
        width: 17vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }

      .table-body {
        max-height: calc(100vh - 5.834vw - 23vh - 9vw);
      }
    }
  }

  .question-6-third {
    .question-text .hover-area .hover-content {
      bottom: -0.5vw;
      width: 24vw;

      .triangle-popup {
        top: 1.2vw !important;
      }
    }

    .subjects-table {
      .first-column {
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 38vw;

        .blue-background-s6 {
          border-radius: 2vw;
          padding: 0.7vh 0.7vw;
          color: white;
          background: #4C608A;
        }
      }

      .fourth-column {
        width: 5vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }

      .table-body {
        max-height: calc(100vh - 5.834vw - 23vh - 9vw);
      }
    }
  }

  .question-6-fourth {
    .question-text .hover-area .hover-content {
      bottom: -0.5vw;
      width: 28vw;

      .triangle-popup {
        top: 1.2vw !important;
      }
    }

    .subjects-table {
      .subject-box-r21.first-column {
        display: block;
      }

      .first-column {
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 38vw;
      }

      .fourth-column {
        width: 5vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }

      .table-body {
        max-height: calc(100vh - 5.834vw - 23vh - 9vw);
      }
    }
  }

  .question-6-fifthB {
    .subjects-table {
      .subject-box-r21.first-column {
        display: block;
      }

      .first-column {
        padding-top: 1vh;
        padding-bottom: 1vh;
        width: 38vw;
      }

      .fourth-column {
        width: 5vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }
    }
  }

  .question-6-sixth {
    .subjects-table {
      .first-column {
        width: 38vw;
      }

      .fourth-column {
        width: 5vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }

      .table-body {
        max-height: calc(100vh - 5.834vw - 23vh - 9vw);
      }
    }
  }

  .question-6-seventh {
    .question-text {
      .hover-area {
        .hover-content {
          width: 26vw;
        }
      }
    }

    .subjects-table {
      .first-column {
        width: 38vw;
      }

      .fourth-column {
        width: 5vw;
      }

      .check-box-container {
        padding-right: 0 !important;
      }

      .table-body {
        max-height: calc(100vh - 5.834vw - 23vh - 10vw);
      }
    }
  }

  .question-6-final {
    position: relative;

    .background-confetti-sixthform {
      position: absolute;
      z-index: 1;
      top: -4vh;
      left: -5vw;
      width: calc(100% + 9vw);

      .confeti-sixthform {
        width: 100%;
        height: 70vh;
      }
    }

    .background-opacity-s6 {
      position: absolute;
      z-index: 2;
      top: -4vh;
      left: -5vw;
      width: calc(100% + 9vw);
      height: 70vh;
      background: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

    .success-icon {
      padding-top: 12vh;
      height: 15vh;
    }

    .question-text {
      justify-content: center;
      margin-bottom: 4vh;
    }

    .abolute-final-s5 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(100vh - 7.834vw - 4vh);
      z-index: 3;
    }

    .absolute-contunue-btn {
      padding-left: 6vw;
      padding-right: 6vw;
      right: -1vw;
    }
  }
}

.SixthformChoicesPage~.beta-text {
  display: none;
}

.taster-brick-popup {
  $font-scale: 1;

  .MuiPaper-root {
    color: white;
    background: var(--theme-light-blue);

    .font-25 {
      font-size: calc(1.56vw * $font-scale);
    }

    .font-36 {
      font-size: calc(2.25vw * $font-scale);
    }

    .title-e234 {
      margin-bottom: 2vh;
    }

    svg {
      width: 5vw;
      height: 5vw;
    }

    .dialog-footer {
      margin-top: 5vh;

      .bg-custom-blue {
        color: white;
        background: #4C608A;

        &:hover {
          background: var(--theme-dark-blue);
        }
      }

      .bg-theme-green:hover {
        background: var(--theme-dark-blue) !important;
      }

      button {
        width: 14vw;
      }
    }
  }
}

.new-school-popup {
  .MuiPaper-root {
    padding: 2vw;
    max-width: 30vw !important;
    font-size: 1.2vw;
    border-radius: 0.5vw;
    color: var(--theme-dark-blue);

    .btn {
      margin-top: 2vh;
      cursor: pointer;
      text-align: center;
      width: 100%;
      color: white;
      background: var(--theme-green);
      transition: opacity 200ms ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}