@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.filter-container {
  display: flex;
  margin: 0;
  width: 100%;
  .custom-color svg {
    color: var(--color);
  }

  .filter-radio,
  .MuiFormControlLabel-root,
  .sortBy {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 0.5vw !important;

    svg {
      width: 1.25vw;
      height: 1.25vw;
      color: var(--theme-orange);
      padding: 0 !important;
    }
  }

  .MuiFormControlLabel-label {
    font-size: $base-build-font-size !important;
    font-family: $font-family-light !important;
  }
}
.subjects-filter {
  margin: 0 $sidebar-gutter;
  padding: 2vh 0 6vh 0;
  width: calc(100% - #{$sidebar-gutter * 2});

  @include phone_and_tabletP {
    height: calc(100vh - 55vw);
  }

  @include tabletP {
    height: calc(100vh - 34vh);
  }

  overflow-y: auto;

  .published-count {
    font-size: $base-build-font-size;
    @extend %textCenter;
    font-family: $font-family-light;
  }

  .MuiGrid-container {
    margin-bottom: 1vh;
  }

  .MuiRadio-root {
    color: inherit !important;

    .MuiIconButton-label {
      color: inherit !important;

      .MuiSvgIcon-root {
        color: inherit !important;
      }
    }
  }

  // .MuiTypography-root {
  //   color: var(--white) !important;
  // }
  &.subjects-filter-v2 {
    padding-top: 0 !important;
    margin: 0 !important;
    width: 100% !important;
    .subject-list-v2 {
      cursor: pointer;
      margin-bottom: 0 !important;
      padding-bottom: 0.5vh;
      padding-top: 0.5vh;
      padding-left: 1.2vw;
      padding-right: 1.2vw;
      .subject-border {
        margin-right: 0.4vw !important;
        padding: 0.05vw;
        border-radius: 50%;
        @extend %flexToYCenter;

        .radio-checked {
          stroke-width: 2;
        }
      }
      .subject-no-border {
        margin: 0.25vw;
        margin-right: 0.65vw;
        .filter-circle {
          margin-right: 0 !important;
          width: 0.85vw;
          height: 0.85vw;
          border-radius: 50%;
        }
      }
      &:hover {
        background: var(--light-blue-alpha3);
      }
      &.checked {
        background: var(--white) !important;
        color: var(--theme-dark-blue) !important;
        .MuiFormControlLabel-root {
          color: var(--theme-dark-blue) !important;
          .MuiTypography-root {
            color: var(--theme-dark-blue) !important;
          }
        }
        &:hover {
          opacity: 0.9;
        }
      }
    }
  }
  &.subjects-filter-v3 {
    height: calc(100vh - 10.834vw - 2vw - 2.4vw - 6.5vw - 2vw - 1.8vw) !important;
    padding: 0 !important;
  }
}
