@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.login-desktop-page {
  display: flex;
  flex-direction: row;
  background: var(--theme-dark-blue);
  height: 100%;

  .left-part-join {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 55vw;
    overflow: hidden;
    h1 {
      text-align: center;
      color: var(--white);
      margin-top: 8.5vh;
      margin-bottom: 7vh;
      font-size: 2.8vw;
      letter-spacing: 0.1vw;
      font-family: $font-family-bold;
    }
    .image-container {
      display: flex;
      justify-content: center;

      img {
        height: 55vh;
      }
    }
    .spinning {
      animation: spinning 9s infinite linear;
    }
  }
  // email input form

  // left part
  .left-part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    background: #12326a;
    width: 45vw;
    height: 100%;
    padding-top: 12.4vh;
    transition: all 500ms ease-out;

    &.right {
      position: absolute;
      left: 55vw;
    }

    .logo {
      $logo-width: 11.3vw;
      margin-bottom: 5.6vh;
      .logo-image {
        width: $logo-width;
      }

      .logo-text-image {
        width: $logo-width;
        margin-top: 3.5vh;
      }
    }

    .button-box {
      display: flex;
      justify-content: center;
      width: 100%;
      transition: width ease-in-out 300ms;
    }
    $button-width: 30vw;
    .email-button,
    .google-button-desktop {
      position: relative;
      font-size: 2vw;
      font-family: $font-family-regular;
      border-radius: 0.5vw;
      transition: all 450ms ease-out;
      width: $button-width;
      border: none;
      @extend %flexCenter;
      padding: 2.2vh;
      svg {
        position: absolute !important;
        left: 2vw;
        width: 2vw;
        height: 2vw;
        transition: all 0.2s ease-in-out;
        margin-right: 1vw;
      }
      span {
        margin: 0 !important;
      }
      .MuiButton-label {
        justify-content: flex-start;
      }
    }
    .google-button-desktop {
      background: var(--white);
      color: var(--theme-dark-blue);
    }
    .email-button {
      margin-top: 3vh;
      background: var(--theme-orange);
      .svg,
      span {
        color: var(--white);
      }

      &:hover {
        background: var(--theme-dark-blue);
      }
    }
    .text-box {
      padding-left: 1.4vw;
      margin-top: 2vh;
      width: calc(#{$button-width} + 2vw);
      position: relative;
      display: flex;
      color: var(--white);
      font-family: $font-family-regular;
      letter-spacing: 0.1vw;
      font-size: 1.3vw;

      .signin-button {
        cursor: pointer;
        position: absolute;
        top: -0.1vw;
        left: 1vw;
        display: flex;
        align-items: center;
        font-family: $font-family-bold;

        svg {
          transition: all 300ms ease-out;
          width: 2vw;
          height: 2vw;
          margin-left: 13vw;
        }
        &:hover {
          svg {
            margin-left: 12vw;
          }
        }
      }

      .join-button {
        cursor: pointer;
        position: absolute;
        top: -0.1vw;
        left: 13vw;
        display: flex;
        align-items: center;
        font-family: $font-family-bold;

        svg {
          transition: all 300ms ease-out;
          width: 2vw;
          height: 2vw;
        }
        &:hover {
          svg {
            margin-left: 1vw;
          }
        }
      }
    }
  }
  // right part
  .right-part {
    height: 100%;
    position: absolute;
    left: 45vw;
    display: relative;
    .container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 55vw;
      .loginPhone {
        z-index: 10;
      }
      svg {
        margin-bottom: 2vh;
        transform: perspective(70vw) rotateY(-25deg);
        height: 72vh;
        font-family: $font-family-black;
      }
      #phone-image {
        animation: phone-animate 2s;
      }
    }
    $top: 24.5%;
    .bricks-container {
      @extend %flexCenter;
      @extend %floatToCenter;
      // position: absolute;
      // top: $top;
      width: 55vw;
      height: calc(100% - #{$top});
      .inner {
        width: 100%;
        animation: appear 1400ms ease-in-out;
      }
      .row {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      .block {
        display: inline-block;
        width: 20%;
        height: 7.3vh;
        margin: 0.7%;
        border-radius: 0.6vw;
        background: #12326a;
      }
    }
    .icons-container {
      position: absolute;
      top: 0;
      height: 100%;
      width: 55vw;
      .glasses {
        width: 17vh;
        position: absolute;
        top: 12vh;
        left: 3.2vw;
        .blue {
          fill: var(--theme-orange) !important;
          stroke: var(--theme-orange) !important;
        }
      }
      .teach-icon {
        width: 19vh;
        position: absolute;
        top: 8.5vh;
        right: 3.5vw;
        transform: rotateZ(13deg);
      }
      .trowel-login {
        width: 19vh;
        position: absolute;
        right: 5vw;
        bottom: 22vh;
        transform: rotateZ(-1deg);
      }
      .floating1 {
        animation: floating1 3s ease-in-out infinite;
      }
      .floating2 {
        animation: floating2 3s ease-in-out infinite;
      }
      .floating3 {
        animation: floating3 3s ease-in-out infinite;
      }
    }
  }
  // email input form
  .button-box {
    display: flex;
    justify-content: center;
    width: 100%;
    transition: width ease-in-out 300ms;
    form {
      input {
        color: var(--white);
        text-align: center;
        width: 20vw !important;
        padding: 2.3vh 1vw !important;
        background: var(--theme-dark-blue);
        margin-bottom: 1vh;
      }
      button {
        border: none;
        outline: none;
        background: var(--theme-orange);
        width: 100% !important;
        font-family: $font-family-bold;
        color: var(--white);
        font-size: 1.7vw;
        line-height: 1.3;
        padding: 2.3vh 1vw !important;
        border-radius: 1.7vh;
        transition: all 300ms ease-out;

        &:hover {
          color: var(--theme-orange);
          background: var(--white);
        }
      }
    }
  }
}

.login-desktop-page ~ .beta-text {
  z-index: 13;
  color: var(--theme-orange) !important;
}

@keyframes spinning {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes appear {
  0% {
    width: 0;
  }
  100% {
    width: 70%;
  }
}
@keyframes floating1 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
@keyframes floating2 {
  0% {
    transform: translate(0, -15px);
  }
  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -15px);
  }
}
@keyframes floating3 {
  0% {
    transform: translate(0, 7px);
  }
  50% {
    transform: translate(0, -7px);
  }
  100% {
    transform: translate(0, 7px);
  }
}
@keyframes phone-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.choose-login-desktop {
  $col-radius: 2vw;
  $col-color: var(--theme-light-blue);
  width: 100%;
  height: 100%;
  background-color: var(--theme-dark-blue);

  .first-row {
    height: 24.95%;

    .first-col {
      width: 30.5%;
      height: 100%;
      border-bottom-right-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 2%;
      width: 50.1%;
      height: 100%;
      border-bottom-right-radius: $col-radius;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }

    .third-col {
      margin-left: 2%;
      width: 15.4%;
      height: 100%;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }
  }
  .second-row {
    height: 58.4%;
    margin-top: 3.2vh;

    .first-col {
      margin-left: 1.7%;
      width: 50.1%;
      height: 100%;
      border-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 1.72%;
      width: 46.48%;
      height: 100%;
      border-top-left-radius: $col-radius;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }
  }
  .third-row {
    height: 9.82%;
    margin-top: 3.63vh;

    .first-col {
      width: 35.25%;
      height: 100%;
      border-top-right-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 2%;
      width: 50.1%;
      height: 100%;
      border-top-right-radius: $col-radius;
      border-top-left-radius: $col-radius;
      background: $col-color;
    }

    .third-col {
      margin-left: 2%;
      width: 10.65%;
      height: 100%;
      border-top-left-radius: $col-radius;
      background: $col-color;
    }
  }
  .user-type-btn:hover {
    color: white;
    background: var(--theme-orange) !important;

    span {
      font-family: $font-family-bold !important;
    }
  }
  .user-type-btn {
    padding: 2.85vh 0;
    background-color: var(--theme-orange);
    color: var(--theme-dark-blue);
    margin-top: 1.55vh;
    margin-bottom: 1.6vh;
    margin-right: 3.4vw;
    border-radius: 0.7vw;
    font-weight: 200 !important;
    width: 51%;
    font-size: 2.55vw;

    span {
      font-family: $font-family-light;
      font-weight: 200 !important;
    }

    .user-type-name {
      line-height: 1 !important;
    }
  }
  @include tabletL {
    .logo-image {
      height: 28vh;
      margin-bottom: -13vh;
    }

    .logo-text-image {
      height: 6vh;
    }
  }
}
