.invite-editor-dialog {
  .MuiPaper-root.MuiDialog-paper.MuiDialog-paperScrollPaper {
    width: 39vw !important;
    max-width: 50vw !important;
  }
  .MuiInputBase-input.MuiOutlinedInput-input.MuiAutocomplete-input.MuiAutocomplete-inputFocused.MuiInputBase-inputAdornedStart.MuiOutlinedInput-inputAdornedStart.MuiInputBase-inputAdornedEnd {
    width: 14vw !important;
    padding-left: 0.5vw !important;
    padding-right: 0 !important;
  }
  .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
    padding-left: 0;
    padding-right: 0;
  }

  .MuiGrid-root.input-container.MuiGrid-item {
    margin-bottom: 1.5vw !important;
  }

  .dialog-footer .yes-button {
    width: auto !important;
    padding-left: 3vw;
    margin-bottom: 0 !important;
    .send-icon {
      margin-left: 1vw !important;
    }
    &:hover {
      background: var(--white) !important;
      color: var(--theme-orange) !important;
    }
  }
}
