@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

@include phone_and_tabletP {
  @import './UsernamePageMobile.scss';
}

@include tabletP {
  @import './UsernamePageTablet.scss';
}

// mobile is bellow
@include phone_and_tabletP {
  background-color: var(--theme-dark-blue);
  color: var(--white) !important;
  height: 100%;

  .hidden {
    transition: all 2000ms ease-out !important;
    opacity: 0;
  }

  .shown {
    opacity: 1;
  }

  .blue-right-block {
    position: fixed;
    right: 0;
    bottom: 0;
    background: var(--theme-light-blue);
    height: 74.9vh;
    width: 43.8vw;
    border-top-left-radius: 2vw;
    z-index: 1;

    @include phone_and_tabletL {
      display: none;
    }
  }

  form {
  }
}