@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.brick-links-page {
  .tab-content {
    overflow-y: auto;
    padding-bottom: 1vw;
    color: var(--theme-dark-blue);
    position: relative;

    height: calc(100vh - 5.834vw - 2vw) !important;


    .table-head {
      margin-top: 2vh;
      display: flex;
      font-size: 1.2vw;

      .header {
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          width: 0.7vw;
          height: 0.7vw;
        }
      }
    }

    .index-column {
      padding-left: 1.6vw;
      width: 7%;
    }
    
    .link-column {
      padding-left: 1.5%;
      width: 60%;
      overflow-x: auto;
    }
    .brick-column {
      padding-left: 2vw;
      width: 15%;
    }
    .status-column {
      width: 15%;

    }
    .table-row {
      display: flex;
      font-size: 1vw;
      padding: 0.4vw 0;

      &:nth-child(odd) {
        background: var(--tab-gray);
      }
    }
  }

  .MuiTypography-root {
    font-size: 1vw;
  }

  .select-container {
    position: relative;
    .absolute-placeholder {
      font-size: 1vw;
      position: absolute;
      left: 2vw;
      top: calc(2.5vh);
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #7E7E7E;
      z-index: 1;
    }
  }

  .select-multiple-subject {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 21vw;
    .MuiSelect-select {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      color: var(--theme-dark-blue);
      height: 5vh;
      border-radius: 0.5vw;
      background: var(--white);
    }
    &::after, &::before {
      display: none !important;
      content: null !important;
    }
  }

  .sub-tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .sub-tab-container {
      left: 0;
      top: 0;
    }
    
    > div {
      cursor: pointer;
      font-size: 1vw;
      font-family: $font-family-bold;
      color: var(--dark-gray);
      margin: calc(2vh + 0.3vw) 0.5vw;
      border-bottom: 2px solid rgba($color: #000, $alpha: 0);
      &.active {
        color: var(--theme-dark-blue);
        border-bottom: 2px solid var(--theme-dark-blue);
      }
    }
  }
}

.brick-links-page .table-container {
  width: 100%;
  overflow-x: scroll;
  .users-table-d34 {
    width: 100%;
  }
}