@import "_variables";

.choose-several-live {
  .choose-choice {
    color: $dark-blue;
    text-align: center;
    text-transform: none !important;
    border-radius: 0 !important;
    width: 100%;
    opacity: 1;
    font-size: $answer-input-text-size;
    font-family: $font-family-regular;
  }

  .choose-choice {background: $tab-grey}

  .choose-choice.active {
    padding-top: 4px;
    border: 5px solid white;
  }

  .choose-choice.correct {
    background: $light-green;

    .question-hint {
      background: white;
    }
  }
}