@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.choose-several-live {
  .image-choice {
    background: inherit;
    border: 4px solid var(--light-gray) !important;
    width: 100%;
    padding: 0;
  }

  .help-text {
    font-family: $font-family-regular;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    @include phone_and_tabletP {
      font-size: 3vw;
    }
    @include tabletP {
      font-size: 0.8vw;
    }
  }
}
