@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.choose-several-live {
  .MuiButton-label {
    div {
      display: inline;
      margin: 0 !important;
    }
    p {
      margin: 0 !important;
    }
    img {
      width: 100%;
    }
  }

  .image-choice {
    background: inherit;
    border: 4px solid var(--light-gray) !important;
    width: 100%;
    padding: 0;
  }

  .help-text {
    font-family: $font-family-regular;
    font-size: 0.8vw;
    margin-bottom: 3px;
  }
}
