.drag-tabs {
  display: inline-block;
  width: 100%;

  .draggable-tab {
    display: inline-block;
    background-color: white;
    cursor: move;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    width: 100%;

    .remove-icon:hover {
      cursor: pointer;
    }
  }

  .last-tab {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
  }
}