.drag-tabs {
  display: inline-block;
  width: 100%;
  height: 40px;
  border: 1px solid black;
  border-bottom: none;

  .drag-tile {
    cursor: pointer;

    background-color: #BFBFBF;
  }
  .drag-tile.active {
    background: white;
  }
  .draggable-tab {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    padding: 6px 0;
    font-size: 24px;
    width: 100%;

    .remove-icon:hover {
      cursor: pointer;
    }
  }

  .last-tab {
    margin-top: 10px;
    text-align: center;
    font-size: 10px;
    background-color: #BFBFBF;
  }
}