@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.expanded-assignment {
  padding-left: 0 !important;
  padding-right: 0 !important;

  .classroom-title {
    padding-left: 1.6vw;
  }

  .users-table {
    $table-height: calc(64vh - 6.5vw);
    height: calc(#{$table-height} + 5vh) !important;
    .user-row {
      height: calc(#{$table-height / 8}) !important;
    }
    .padding-left-column {
      width: 0.7vw;
    }
    .student-status, .student-book {
      width: 2.75vw;
      > div {
        @extend %flexCenter;
      }
    }

    .assigned-student-name {
      padding-left: 0.7vw !important;
      min-width: 18vw;
    }
    .circle-td {
      width: 5vw;
      .teach-circle {
        @extend %flexCenter;
        height: 4.4vh;
        width: 4.4vh;
        background: var(--theme-green);
        border-radius: 50%;
        color: var(--white);
      }
    }
    thead {
      background: inherit !important;
      th {
        font-family: $font-family-regular !important;
        padding: 0 !important;
        .center {
          @extend %flexCenter;
        }
        .btn-grey-circle {
          background: var(--tab-gray) !important;
          border-radius: 50%;
          height: 1.3vw;
          width: 1.3vw;

          svg {
            height: 1vw;
            width: 1vw;
          }
        }
      }
    }
    td {
      padding-left: 0 !important;
      text-transform: capitalize;

      .reminder-icon, .book-open-icon {
        color: white;
        border-radius: 50%;
        padding: 0.25vw;
        stroke-width: 1.5;
        width: 1.7vw;
        height: 1.7vw;
      }

      .reminder-icon {
        background: var(--theme-yellow);
      }

      .book-open-icon {
        background: var(--theme-green);
      }

      .circle {
        border-radius: 50%;
        width: 2.18vw;
        height: 2.18vw;
        color: white;
        @extend %flexCenter;
      }

      .stats-text {
        margin-left: 1vw;
        font-size: 1.3vw;
      }

      &.icon-container {
        svg {
          width: 2vw;
          height: 2vw;
        }
      }
    }
  }
}
