@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.introjs-tooltipReferenceLayer * {
  font-family: $font-family-regular;
  color: var(--theme-dark-blue);
  
}

.introjs-helperLayer {
  box-shadow: rgba(33, 33, 33, .5) 0px 0px 0px 5000px !important;
}