@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.save-image {
  $image-size: 6.5vw;
  cursor: pointer;
  @extend %textCenter;
  height: $image-size;
  width: $image-size;
  background: var(--tab-gray) 0% 0% no-repeat padding-box;
  border: 0.25vw solid var(--solitude-light);
  box-shadow: $base-shadow;

  outline: 0 !important;
  @extend %radCircle;
  @extend %b0;
  &:after {
    content: '';
    @extend %floatToCenter;
    @extend %radCircle;
  }

  @include phone_and_tabletP {
    $image-size: 15vw;
    height: $image-size;
    width: $image-size;
  }

  &:after {
    background-color: var(--theme-green-alpha3);
  }

  svg {
    $icon-size: 70%;
    height: $icon-size;
    width: $icon-size;
    color: var(--theme-dark-blue);

    @include phone_and_tabletP {
      $icon-size: 6vw;
      height: $icon-size;
      width: $icon-size;
    }
  }
}

.save-image.valid {
  background: var(--theme-green);

  svg {
    color: var(--white);
  }
}

.save-image.save-pulse {
  animation-name: pulse-green;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-iteration-count: 5;
  animation-timing-function: ease;
}
