@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.phone-preview-component.user-profile-preview {
  color: var(--theme-dark-blue);
  .leonardo-image {
    @extend %flexCenter;
    img {
      margin-top: 15vh;
      margin-right: 1vh;
      width: 68%;
      transition: all 450ms ease-out;
    }
    &.small {
      img {
        margin-top: 4.5vh;
      }
    }
    $image-height: 10vw;
    .profile-image {
      width: $image-height;
      height: $image-height;
      border-radius: 50%;
      margin-bottom: 2vh;
    }
    .profile-image-icon {
      margin-top: 4.5vh;
      margin-bottom: 2vh;
      width: $image-height;
      height: $image-height;
    }
  }
  .title {
    text-align: center;
    font-size: 6vh;
    margin-bottom: 3vh;
    font-family: $font-family-bold;
  }
  .label {
    font-family: $font-family-regular-italic;
    padding-left: 3vh;
    padding-right: 3vh;
    font-size: 2.4vh;
  }
}
