@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.manage-classrooms-page {
  $tabs-margin-between: 0.2vw;
  $width: calc(100.2vw - #{$filter-sidebar-size} - (#{$filter-sidebar-margin * 2}) - #{$tabs-margin-between});

  .tab-container {
    display: flex;
    flex-wrap: nowrap;

    .tab-icon-container {
      display: flex;
      width: 3.8vh;
      height: 3.8vh;
      margin-top: 1.2vh;
      margin-left: 2.4vw;
      .svg {
        height: 100%;
        width: 100%;
      }
    }

    .long {
      width: 25vw;

      >div {
        height: 100%;
      }
    }

    .toggle-button {
      min-height: 6.6vh;
    }

    >div {
      cursor: pointer;
      width: 100%;
      min-height: $backwork-tab-height;
      font-size: 4.5vh;
      border-top-left-radius: 0.5vw;
      font-family: $font-family-black;
      text-transform: uppercase;
      letter-spacing: 0.5vw;
      color: var(--theme-dark-blue);
      background: var(--tab-gray);
      padding-left: 1.5vw;
      border-top-right-radius: 0.5vw;
      margin-right: $tabs-margin-between;

      >div {
        opacity: 0.2;
      }
    }

    >div.active {
      background: var(--white);

      >div {
        opacity: 1;
      }
    }
    >div.no-active:hover {
      background: var(--off-white);
    }

    >div:last-child {
      border-top-right-radius: 0vw;
      margin-right: 0;
    }
  }
  .tab-content {
    height: $backwork-tab-content-height !important;
    background: white;

    .classroom-list-buttons {
      position: absolute;
      top: calc(6.6vh + 1.8vh);
      right: 1vw;
      display: flex;

      div {
        cursor: pointer;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 0.9vw;
        font-family: $font-family-bold;
        letter-spacing: 0.1vw;
        color: var(--gray);
      }

      div.active {
        color: var(--theme-dark-blue);
      }
    }
  }
}
