@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.image-play-container2 {
  display: flex;
  @extend %flexCenter;
  justify-content: flex-start;
  align-items: flex-start;

  &.center {
    justify-content: center;
    .il-image-container {
      display: flex;
      justify-content: center;
    }
  }
}
.image-play {
  max-width: 100%;
  @extend %textCenter;
  margin-top: 5px;
}
.custom-component.mobile-question-component {
  .image-play {
    height: auto !important;
  }
}

.image-source {
  width: 100%;
  text-align: center;
}

.image-caption {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
  font-family: $font-family-regular;
  color: var(--theme-dark-blue);
}

@include phone_and_tabletP {
  .image-play-container {
    width: 100%;
    .image-play {
      height: auto !important;
      width: auto;
    }
  }
}