@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.quotes-live {
  padding: 0.5vw;
  color: var(--theme-dark-blue);
  justify-content: center;
  background: var(--off-white);
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  @extend %themeRadius;
}
