@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.next-question-button-container {
  .next-question-button {
    margin: 0;
    margin-top: 22px;
    font-size: 16px;
    padding-bottom: 85px;

    .MuiFormControlLabel-label {
      margin-right: 5px;
    }
  }
}
.MuiInputLabel-animated {
  font-family: $font-family-regular !important;
}
.question-hint,
.question-hint-global {
  width: 100%;
  color: var(--theme-dark-blue);
  @extend %themeRadius;
  padding: 0.3vw;
  @include tabletP {
    font-size: 0.8vw;
  }
  img {
    width: 100%;
  }
}
.question-hint {
  width: 100%;
  margin: 0;
  background: #ff9d00;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  display: block;
  p {
    display: inline;
    @include tabletP {
      font-size: 1vw;
    }
  }
  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table {
    margin-left: 0;
    margin-right: 0;
  }

  table,
  td,
  th {
    border: 1px solid var(--theme-dark-blue);
  }
  td {
    min-width: 0;
    padding: 0;
  }

  img {
    width: 100%;
  }
}
.question-hint-global {
  background: #ff9d00;
  > div {
    margin-bottom: 0.4vw;
    &:last-child {
      margin-bottom: 0;
    }
    &:only-child {
      margin-bottom: 0;
    }
  }
  p {
    line-height: initial;
    @include tabletP {
      font-size: 1vw;
    }
  }
  .table {
    margin-left: 0;
    margin-right: 0;
    overflow-x: auto;
  }
  table {
    margin: auto;
    border-collapse: collapse;
  }
  table,
  td,
  th {
    border: 1px solid var(--theme-dark-blue);
  }
  td {
    min-width: 2em;
    padding: 0.4em;
  }
  &.correct {
    background: var(--white);
  }
  &.wrong {
    background: var(--theme-orange);
  }
}

.question-unique-play {
  margin-top: 1vw !important;
  margin-bottom: 1vw !important;
  font-size: 1.25vw !important;
  .document-editor {
    .ck-editor {
      .ck-editor__main {
        .ck-content {
          min-height: auto;
        }
      }
    }
  }
}

@include phone_and_tabletP {
  .question-unique-play {
    font-size: 4.5vw !important;
  }
}
