.post-play-page {
  .expand-title {
    font-size: 2vw;
  }
  .expanded-text p {
    font-size: 1vw;
  }
  .book-page.synthesis-page,
  .book-page.introduction-prep {
    padding-left: 10% !important;
    padding-right: 10% !important;
  }
}