@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.post-play-page {
  $base-font-size: 0.85vw;
  .introduction-content {
    margin-top: 3.9vh !important;
  }
  .expand-title {
    margin-top: 0;
    font-size: 2vw;
    height: 2.85vw;
  }
  .intro-header {
    h1 {
      font-size: 2vw !important;
    }
  }
  .expanded-text p {
    font-size: $base-font-size;
  }
  .book-page.synthesis-page,
  .book-page.introduction-prep {
    padding-left: 10% !important;
    padding-right: 10% !important;
    .introduction-page {
      width: 100%;
    }
  }
  .pair-match-play .pair-match-play-option .option-container p,
  .pair-match-play .answers-list .pair-match-play-choice .MuiListItem-root p {
    font-size: $base-font-size !important;
  }
  p {
    font-size: $base-font-size;
  }
  .open-question {
    font-size: 1vw;
    font-family: $font-family-regular-italic !important;
  }
  .youtube-video {
    iframe {
      width: 100% !important;
      height: 28vh !important;
    }
  }
}
