@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.provisional-score-page {
  h1 {
    @include tabletP {
      margin: 4vh 0;
      padding-left: 0 !important;
      display: block !important;
      text-align: center !important;
    }
  }
  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }
  .stepper {
    @include phone_and_tabletP {
      flex-direction: row !important;
    }
    .step {
      color: var(--theme-dark-blue) !important;
      @include phone_and_tabletP {
        font-size: 5vw !important;
      }
      svg {
        @extend %removePosition;
        @include phone_and_tabletP {
          height: 4vw !important;
          width: 4vw !important;
        }
      }
    }
  }
  &.mobile-provisional-score {
    @include phone_and_tabletP {
      overflow-y: inherit !important;
      height: calc(100vh - 6vh) !important;
      position: relative;
    }
    @include tabletP {
      height: 90vh;
      overflow: hidden !important;
    }
    .intro-text-row {
      position: relative;
    }
    .question-live-play {
      margin: 0 !important;
      width: 100% !important;
      @include phone_and_tabletP {
        overflow-y: hidden !important;
      }

      .circle-progress {
        width: 90vw !important;
        height: 90vw !important;
      }
      .score-data {
        width: 90vw !important;
        height: 90vw !important;
      }
    }
  }
}
