@import '_variables';

.quotes-live {
  padding: 5px;
  font: 500 16px/24px $font-family-regular;
  color: black;
  padding: 5px;
  justify-content: center;
  background: #e1e1e1;
  margin-top:20px;
  margin-bottom: 10px;
}