@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.quotes-live {
  padding: 5px;
  font: 500 16px/24px $font-family-regular;
  color: black;
  justify-content: center;
  background: #e1e1e1;
  margin-top:20px;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
}