@import '_variables';

.text-play {
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
  font: 500 16px/24px $font-family-regular;
  p {
    font: 500 16px/24px $font-family-regular;
  }

  table {
    border-collapse: collapse;
  }

  .table {
    margin-left: 0;
    margin-right: 0;
  }
  
  table, td, th {
    border: 1px solid $dark-blue;
  }
  td {
    min-width: 2em;
    padding: 0.4em;
  }
}