@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.text-play {
  overflow: auto;
  margin-top: 5px;
  margin-bottom: 5px;
	font-size: 1vw;
	color: var(--theme-dark-blue);
  p {
		font-size: 1vw;
		color: var(--theme-dark-blue);
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  .table {
    margin-left: 0;
    margin-right: 0;
  }

  table, td, th {
    border: 1px solid var(--theme-dark-blue);
  }
}
