@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.missing-word-live {
  p {
    display: inline !important;
  }

  line-height: 1.45;
  margin: 0 0;
  place-content: center space-evenly;

  .missing-word-choice {
    font-family: $font-family-regular;
    display: inline;
    color: var(--theme-dark-blue);
    font-size: 1.25vw;

    > div {
      font-size: 0;
    }

    div {
      display: inline;
    }

    br {
      position: relative;
      display: inline-block;
      font-size: 0;
      line-height: 0;
      height: 0;
      content: "A";
      width: 0;
    }

    .missing-select {
      margin-left: 0.8vw;
      margin-right: 0.8vw;
      margin-top: 0;
      font-family: $font-family-regular;
      font-size: 1.25vw;
      color: var(--theme-dark-blue);
    }

    .question-hint.correct {
      background: var(--off-white) !important;
    }

    .MuiInputBase-root {
      display: inline;
    }
  }

  @include phone_and_tabletP {
    .missing-word-choice {
      font-size: $mbase-font-size !important;
    }

    .MuiInputBase-input {
      padding: 2vw 4vw !important;
      font-size: $mbase-font-size !important;
    }

    .MuiSvgIcon-root {
      height: 5.5vw !important;
      width: 5.5vw !important;
    }
  }
}

.phone-question-preview {
  .missing-word-choice {
    font-size: 1vw;

    .MuiInputBase-root {
      position: relative;
      display: inline-block;
      min-width: 3vw !important;

      .MuiSelect-select {
        display: inline-block;
        padding: 0;
        min-width: 3vw !important;
      }
    }
  }
}

.MuiListItem-root {
  color: var(--theme-dark-blue) !important;
  font-family: $font-family-regular !important;
}

.play-preview-pages .sorted-row .brick-row-container
.brick-container .introduction-page .missing-word-choice {
  .MuiSelect-icon {
    top: unset !important;
    right: 0vw;
    bottom: 0.2vw;
  }
  
  .MuiSelect-selectMenu {
    padding-left: 0;
    padding-right: 0;
    height: 1.56vw;
  }

  .MuiInput-underline:before,
  .MuiInput-underline:after {
    bottom: 0vw;
  }

  .MuiSelect-root {
    overflow: visible !important;
  }

  .missing-select {
    &.correct {
      .MuiSelect-root {
        padding-left: 0.5vw !important;
        color: var(--white);
        background: var(--theme-green-alpha5) !important;

        div {
          color: var(--theme-dark-blue);
        }

        p {
          color: var(--theme-dark-blue);
        }
      }

      svg {
        display: none;
      }
      &.Mui-disabled:before {
        border-bottom-style: none !important;
      }
    }

    &.wrong {
      .MuiSelect-root {
        padding-left: 0.2vw;
        padding-right: 0.2vw;
        color: var(--white);
        background: var(--theme-orange);
      }
      svg {
        color: var(--white);
      }
      &.MuiInput-underline:before {
        content: none;
        border-bottom: none !important;
      }

      color: var(--white);

      p {
        color: var(--white);
      }
    }

    &.empty .MuiSelect-root {
      padding-left: 2vw;
      padding-right: 2vw;
    }
  }
}