@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.missing-word-live {
  p {
    display: inline !important;
  }
  line-height: 1.45;
  margin: 5px 0;
  place-content: center space-evenly;

  .missing-word-choice {
    font-family: $font-family-regular;
    display: inline;
    color: var(--theme-dark-blue);
    font-size: 1.25vw;

    div {
      display: inline;
    }

    .missing-select {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -3px;
      font-family: $font-family-regular;
      font-size: 1.25vw;
      color: var(--theme-dark-blue);
    }

    .question-hint.correct {
      background: var(--off-white) !important;
    }
  }

  .question-hint-global {
    margin-top: 8px;
  }

  @include phone_and_tabletP {
    .missing-word-choice {
      font-size: $mbase-font-size !important;
    }

    .MuiInputBase-input {
      padding: 2vw 4vw !important;
      font-size: $mbase-font-size !important;
    }

    .MuiSvgIcon-root {
      height: 5.5vw !important;
      width: 5.5vw !important;
    }
  }
}

.phone-question-preview {
  .missing-word-choice {
    font-size: 1vw;
    .MuiInputBase-root {
      position: relative;
      display: inline-block;
      min-width: 3vw !important;
      .MuiSelect-select {
        display: inline-block;
        padding: 0;
        min-width: 3vw !important;
      }
    }
  }
}

.MuiListItem-root {
  color: var(--theme-dark-blue) !important;
  font-family: $font-family-regular !important;
}

