.animated {
  animation-fill-mode: both;
  animation-duration: 400ms;
  animation-timing-function: easeOutCirc;
  &.iteration-infinite {
    animation-iteration-count: infinite;
  }
  &.iteration-2 {
    animation-iteration-count: 2;
  }
  &.iteration-5 {
    animation-iteration-count: 5;
  }
  &.duration-1s {
    animation-duration: 1s;
  }
  &.duration-2s {
    animation-duration: 2s;
  }
}

@for $delay from 1 through 100 {
  $i: $delay * 100;
  .delay-#{$i} {
    animation-delay: $i + ms !important;
  }
}

// @import './slide';
// @import './borders';
// @import './heartbeat';
@import './pulse';
@import './smoke';
@import './rotation';
@import './eye-movement';
