@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

.heartbeat {
  animation: heartbeat 2s infinite;
}
