@include keyframes(pulse-orange-alpha5) {
  0% {
    text-shadow: 0 0 0 var(--theme-orange-alpha5);
  }
  70% {
    text-shadow: 0 0 150px transparent;
  }
  100% {
    text-shadow: 0 0 0 transparent;
  }
}

@include keyframes(pulse-gray) {
  0% {
    @include box-shadow(0 0 0 0 #b0b0ad);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}
.pulse-gray {
  animation-name: pulse-gray;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-play-state: running;
}

@include keyframes(pulse-green) {
  0% {
    @include box-shadow(0 0 0 0 #30c474);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}
.pulse-green {
  animation-name: pulse-green;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-play-state: running;
}

@include keyframes(pulse-yellow) {
  0% {
    @include box-shadow(0 0 0 0 #ff9d00);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}

@include keyframes(pulse-orange) {
  0% {
    @include box-shadow(0 0 0 0 #c43c30);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}
@include keyframes(fade-orange) {
  100% {
    @include box-shadow(0 0 0 0.7vw rgba(196, 60, 48, 0.5));
  }
}
.pulse-orange {
  animation-name: pulse-orange;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-play-state: running;
}

@include keyframes(pulse-blue) {
  0% {
    @include box-shadow(0 0 0 0 #001c58);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}

@include keyframes(pulse-white) {
  0% {
    @include box-shadow(0 0 0 0 #ffffff);
  }
  70% {
    @include box-shadow(0 0 0 20px transparent);
  }
  100% {
    @include box-shadow(0 0 0 0 transparent);
  }
}

.pulse-blue {
  animation-name: pulse-blue;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-play-state: running;
}
.pulse-white {
  animation-name: pulse-white;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-play-state: running;
}
