@include keyframes(slide) {
  0%,
  15%,
  100% {
    @include translate(0%, 0%);
  }
  25%,
  40% {
    @include translate(0%, 100%);
  }
  50%,
  65% {
    @include translate(100%, 100%);
  }
  75%,
  90% {
    @include translate(100%, 0%);
  }
}
@include keyframes(slideIn) {
  0% {
    opacity: 0;
    @include translateX(-100%);
  }
  20% {
    opacity: 1;
    @include translateX(0px);
  }
  80% {
    opacity: 1;
    @include translateX(0px);
  }
  100% {
    opacity: 0;
    @include translateX(100%);
  }
}

.slideIn {
  @include animation(slideIn 2s ease infinite);
}

@include keyframes(slideInUp) {
  0% {
    @include translateY(100%);
    visibility: visible;
  }
  100% {
    @include translateY(0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@include keyframes(slideInRight) {
  0% {
    @include translateX(100%);
    visibility: visible;
  }
  100% {
    @include translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

@include keyframes(slideInDown) {
  0% {
    @include translateY(-100%);
    visibility: visible;
  }
  100% {
    @include translateY(0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@include keyframes(slideInLeft) {
  0% {
    @include translateX(-100%);
    visibility: visible;
  }
  100% {
    @include translateX(0);
  }
}

.slideInLeft {
  animation-name: slideInLeft;
}

@include keyframes(slideDown) {
  0% {
    @include translateY(-100%);
  }
  50% {
    @include translateY(8%);
  }
  100% {
    @include translateY(0%);
  }
}

.slideDown {
  animation-name: slideDown;
  animation-duration: 1s;
  animation-timing-function: ease;
  visibility: visible !important;
}

@include keyframes(slideOutUp) {
  0% {
    @include translateY(0);
  }
  100% {
    visibility: hidden;
    @include translateY(-100%);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

@include keyframes(slideOutRight) {
  0% {
    @include translateX(0);
  }
  100% {
    visibility: hidden;
    @include translateX(100%);
  }
}

.slideOutRight {
  animation-name: slideOutRight;
}

@include keyframes(slideOutDown) {
  0% {
    @include translateY(0);
  }
  100% {
    visibility: hidden;
    @include translateY(100%);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@include keyframes(slideOutLeft) {
  0% {
    @include translateX(0);
  }
  100% {
    visibility: hidden;
    @include translateY(-100%);
  }
}

.slideOutLeft {
  animation-name: slideOutLeft;
}
