@keyframes smoke-1 {
  0% {
    transform: translate(10px, 50px);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }

  100% {
    transform: translate(10px, 0px);
    opacity: 0;
  }
}
@keyframes smoke-2 {
  0% {
    transform: translate(0, 50px);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}
@keyframes smoke-3 {
  0% {
    opacity: 1;
    transform: translate(0px, 80px);
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 0;
  }
}