
.create-brick-page {
  margin: 10px;
  
  .row {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
  }
  
  .text-box {
    padding: 5px;
    color: white;
    width: 100%;
  }

  .right {
    text-align: right;
  }
  
  .center-text-box {
    text-align: center;
    padding: 5px;
    color: white;
    width: 100%;
  }

  textarea, input {
    border: 2px solid #0B3A7E;
    width: 100%;
    padding: 5px 10px 5px 10px;
  }

  textarea {
    height: 100px;
  }
  
  ::placeholder {
    color: #aaa;
    opacity: 1; /* Firefox */
    font-weight: 500;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #aaa;
   font-weight: 500;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: #aaa;
   font-weight: 500;
  }

  .fullWidth {
    width: 100%;

    .left-box {
      color: white;
      padding: 5px 10px 5px 5px;
      margin-right: 10px;
    }
  }
  
}

@media only screen and (max-width: 320px) and (min-width: 271px)  {
  .text-box {
    font-size: 12px;
  }

  .center-text-box {
    font-size: 12px;
  }
}

@media only screen and (max-width: 490px) and (min-width: 441px)  {
  .left-box {
    font-size: 14px;
  }
}

@media only screen and (max-width: 440px) and (min-width: 271px)  {
  .left-box {
    font-size: 12px;
  }
}

@media only screen and (max-width: 270px) and (min-width: 231px)  {
  .text-box {
    font-size: 10px;
  }

  .center-text-box {
    font-size: 12px;
  }

  .left-box {
    font-size: 12px;
  }
}

@media only screen and (max-width: 230px) and (min-width: 100px)  {
  .text-box {
    font-size: 8px;
  }

  .center-text-box {
    font-size: 10px;
  }
  
  .left-box {
    font-size: 12px;
  }
  
}

@media only screen and (max-width: 205px) and (min-width: 100px)  {
  .text-box {
    font-size: 8px;
  }

  .center-text-box {
    font-size: 8px;
  }

  .left-box {
    font-size: 6px;
    padding: 5px 5px 5px 2px !important;
  }

  textarea, input, .left-box {
    font-size: 8px;
  }
}