@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.review-page {
  @include phone_and_tabletP {
    overflow-y: hidden;
  }
  > .MuiGrid-container {
    @include phone_and_tabletP {
      display: flex;
      flex-direction: row;
      > :nth-child(1) {
        order: 2;
      }
    }
  }
  .introduction-info {
    .step {
      color: var(--theme-dark-blue) !important;
    }
  }
  .introduction-page {
    @include phone_and_tabletP {
      height: calc(100vh - 49.8vw) !important;
    }
    .review-content {
      @include phone_and_tabletP {
        margin: 0.5vh 0vw 0vw 8vw !important;
        width: calc(100% - 8vw) !important;
      }
    }
  }
  .edited-step-icon {
    color: var(--black-blue);
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid var(--black-blue);
  }
  .back-button {
    height: 3.5vw;
    width: 3.5vw;
    .svg {
      margin: 0 !important;
    }
  }
}
