@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.LibraryOnboarding {
  height: 100%;
  color: var(--white);
  background: var(--theme-dark-blue);
  padding-left: 12.4vw;
  padding-right: 12.4vw;
  font-size: 1.5vw;

  .sub-title-d563 {
    font-size: 2vw;
    font-family: $font-family-regular-italic;
  }

  h1 {
    padding-top: 8vh;
    padding-bottom: 8vh;
    font-size: 4vw;
    text-align: center;
    font-family: $font-family-bold;
  }

  .sub-title-d43 {
    display: none;
  }

  .customer-real-library {
    .MuiSelect-root {
      width: 28vw;
      background: var(--theme-light-blue);

      .MuiSelect-root {
        border-radius: 2vw !important;
      }

      .MuiTypography-body1 {
        border-radius: 2vw !important;
        padding-left: 1vw;
        color: var(--white);
      }
    }

    input {
      color: var(--white);
      background: var(--theme-light-blue);

      &::placeholder {
        opacity: 1 !important;
        color: var(--white) !important;
      }
    }

    .btn {
      width: 21vw;

      &.invalid {
        background: var(--theme-light-blue);
      }
    }
  }
}