@import "../../../../assets/sass/partials/variables";
@import "../../../../assets/sass/partials/mixins";
@import "../../../../assets/sass/partials/extensions";

.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
  opacity: 0;
}
.live-page {
  .MuiBox-root {
    padding: 0;
  }
  .question-index-container {
    margin-left: 1vw;
    margin-top: 2vw;
    padding: 0.5vw;
    width: 2.3vw;
    height: 2.3vw;
    border-radius: 100vw;
    .question-index {
      padding: 0;
      font-size: 2vw;
      background: #e5e8ed;
      border-radius: 100vw;
      font-family: $font-family-black;
      color: $dark-blue;
      text-align: center;
      width: 2.3vw;
      height: 2.3vw;
      line-height: 1.25;
    }
  }
  .question-index-container.attempted {
    background: #82c0ed;
    .question-index {
      background: $blue;
    }
  }
  .question-live-play {
    margin-left: 5vw;
    margin-right: 3vw;
  }
  .stepper {
    .step {
      cursor: pointer;
      font-size: 2vw;
      font-family: $font-family-black;
      color: #d3d4d5;
    }

    .step.completed, .step.current {
      color: $dark-blue;
    }
  }
  .edited-step-icon {
    color: $black-blue;
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid $black-blue;
  }
  .MuiBox-root {
    padding-top: 0;
  }
  .MuiStepper-root {
    padding-top: 20px;
    padding-bottom: 16px;

    .MuiStepButton-root {
      padding-top: 27px;
      padding-bottom: 10px;
    }
  }
  .fotter-text {
    margin-top: 3vw;
  }
}
