@import '../../../../variables';

.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
    opacity: 0;
}
.edited-step-icon {
    color: $black-blue;
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid $black-blue;
}