@import "../../../../assets/sass/partials/variables";
@import "../../../../assets/sass/partials/mixins";
@import "../../../../assets/sass/partials/extensions";

.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
  opacity: 0;
}
.live-page {
  .MuiBox-root {
    padding: 0;
  }

  .stepper {
    .step {
      color: #d3d4d5;
    }
  }
  .edited-step-icon {
    color: $black-blue;
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid $black-blue;
  }
  .MuiBox-root {
    padding-top: 0;
  }
  .MuiStepper-root {
    padding-top: 20px;
    padding-bottom: 16px;

    .MuiStepButton-root {
      padding-top: 27px;
      padding-bottom: 10px;
    }
  }
  .fotter-text {
    margin-top: 3vw;
  }
}
