@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.create-user-button-wrap {
  padding-top: 1vh;
  padding-bottom: 1vh;
  .create-user-button {
    cursor: pointer;
    position: relative;
    font-family: $font-family-black;
    color: var(--theme-dark-blue);
    font-size: 1.2vw;
    margin-left: 1vw;
    width: 13vw;
    height: max-content;
    letter-spacing: 0;

    $height: 2.5vw;

    .circle {
      border-radius: 50%;
      background: var(--theme-dark-blue);
      width: $height;
      height: $height;
      padding: 0.4vw;
      color: var(--white);
      display: inline-block;

      svg {
        height: 100%;
        width: 100%;
      }
    }

    .label {
      position: absolute;
      @extend %flexCenter;
      left: $height;
      top: 0;
      height: $height;
      width: 9.7vw;
    }
  }
}
