@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.create-user-button {
  cursor: pointer;
  margin: 0 1.3vw;
  font-family: $font-family-black;
  color: var(--theme-dark-blue);
  font-size: 1.2vw;
  margin: 2vh 1.8vw;
  width: 12vw;
  height: max-content;
  @extend %flexCenter;
  flex-direction: column;
  letter-spacing: 0.3vw;

  >img {
    width: 32%;
    height: 32%;
  }
}
