@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.assign-class-dialog {
  .MuiDialog-container {
    padding-left: 20vw;
    padding-top: $page-head-height;
  }
  .MuiInputBase-root {
    background: white !important;
    box-shadow: none !important;
    border-radius: 0.5vw;

    .MuiAutocomplete-endAdornment {
      height: 100%;
      position: absolute;
      top: 0;
      .MuiAutocomplete-clearIndicator {
        display: none !important;
      }
      .MuiAutocomplete-popupIndicator {
        height: 100%;
        border-radius: 0;
      }
    }
  }
  .MuiSelect-root {
    padding: 1.5vh 1.8vw;
    text-transform: capitalize;
    font-size: 1.6vw;
    width: calc(100% - 1.8vw - 1.8vw);
    color: var(--theme-dark-blue);
    background-color: white;
    border-radius: 0.5vw;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .MuiListItemText-root {
      flex-grow: 0;
    }
  }
}
