@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.create-classroom-dialog,
.dialog-box {
  .dialog-select-container {
    position: relative;
    margin-bottom: 2vh !important;
    .absolute-placeholder {
      pointer-events: none;
      position: absolute;
      color:#777;
      z-index: 40;
      top: 1.2vw;
      font-family: $font-family-regular;
    }

    .MuiInputBase-root {
      margin-bottom: 0 !important;
    }

    .MuiListItemText-root {
      display: inline-flex;
      margin: 0 !important;
    }
  }

  input {
    line-height: 1.87 !important;
  }

  .MuiSelect-root.MuiSelect-select {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 1.1vw !important;
  }

  .title { 
    font-size: 2vw;
  }
}

// only create class popup
.create-classroom-dialog {
  .MuiPaper-root {
    padding: 0 !important;
  }
  .dialog-header {
    padding: 3vh 3vw 4vh 3vw;
    width: 55vw;

    .text-r324 {
      margin-bottom: 2vh !important;
      text-align: left !important;
    }

    .help-text-r423 {
      text-align: left !important;
    }

    font-size: 1.4vw !important;

    .r-class-inputs input {
      border-radius: 1vw !important;
      width: 100% !important;
    }

    > div {
      width: 100% !important;
      margin-bottom: 0 !important;
    }

    .r-regular-center {
      margin-top: 2vh !important;
      margin-bottom: 2vh !important;
    }
  }

  .dialog-footer {
    background: white;
    padding: 2vh 3vw 2vh 3vw;
    
    .message-box-r5 {
      font-size: 1.3vw;
      width: 33vw;
      color: var(--theme-orange);
    }

    .invalid {
      opacity: 0.7 !important;
    }
    .btn {
      width: 11vw !important;
    }
  }

  .regular {
    margin-bottom: 0 !important;
    padding-bottom: 1vw;
  }

  .dialog-select-container {
    .MuiInputBase-root {
      border-radius: 0.5vw;
      margin-bottom: 0 !important;

      .MuiSelect-root {
        padding: 1.5vh 0 !important;
        min-height: calc(2.97vw) !important;
      }

      .MuiListItemText-root {
        display: inline-flex;
        margin: 0 !important;
        color: var(--theme-dark-blue);
      }
    }
  }

  .dialog-footer .btn {
    font-size: 1.6vw;
  }

  .help-expandable {
    display: flex;
    color: var(--theme-dark-blue);
    font-size: 1.4vw;

    .help-icon-v3 {
      display: flex;
      align-items: center;
      margin-right: 0.6vw;

      svg {
        width: 1.6vw;
        height: 1.6vw;
      }
    }


    .underline {
      cursor: pointer;
      margin-left: 0.3vw;
      text-decoration: underline;
    }

    .text-with-icon {
      display: flex;
      align-items: center;

      svg {
        transition: all 300ms ease-in-out;
        cursor: pointer;
        width: 1.6vw;
        height: 1.6vw;
      }

      .expanded {
        transform: rotate(-180deg);
      }
    }
  }

  .expanded-text-v3 {
    padding-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 3vw;
    width: 56vw;
    font-size: 1.4vw;
    color: var(--theme-dark-blue);
    background: var(--white);

    .spacing-bigger {
      letter-spacing: 0.05vw;

      .text-underline {
        color: var(--theme-dark-blue);
        text-decoration: underline;
      }
    }
  }
}