@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.create-classroom-dialog,
.dialog-box {
  .dialog-select-container {
    position: relative;
    margin-bottom: 2vh !important;
    .absolute-placeholder {
      pointer-events: none;
      position: absolute;
      color:#777;
      z-index: 40;
      top: 1vw;
      font-family: $font-family-regular;
    }

    .MuiInputBase-root {
      margin-bottom: 0 !important;
    }

    .MuiListItemText-root {
      display: inline-flex;
      margin: 0 !important;
    }
  }

  input {
    line-height: 1.87 !important;
  }

  .MuiSelect-root.MuiSelect-select {
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 2vw !important;
  }

  .title {
    font-size: 2vw;
  }
}

// only create class popup
.create-classroom-dialog {
  .dialog-select-container {
    .MuiInputBase-root {
      border-radius: 0.5vw;
      margin-bottom: 0 !important;

      .MuiSelect-root {
        padding: 1.5vh 0 !important;
        min-height: calc(2.97vw) !important;
      }

      .MuiListItemText-root {
        display: inline-flex;
        margin: 0 !important;
        color: var(--theme-dark-blue);
      }
    }
  }

  .dialog-footer .btn {
    font-size: 1.6vw;
  }
}