@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.name-subject-form,
.name-subject-display {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;

  height: 100%;
  padding-left: 1vw;
}

.name-subject-form {
  .subject-input {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;

    .MuiSelect-root {
      .MuiListItemIcon-root {
        svg {
          width: 3vw;
          height: 3vw;
        }
      }

      .MuiListItemText-root {
        display: none;
      }
    }

    .arrow-icon {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }

  .name-input {
    .MuiInputBase-root {
      font-size: 1.5vw;
      letter-spacing: 0.15vw;
      color: var(--theme-dark-blue);
    }
  }

  .submit-icon {
    width: 1.5vw;
    height: 1.5vw;
    color: var(--theme-dark-blue);
    margin-left: 1vw;
  }
}

.name-subject-display {
  .subject-icon {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
  }

  .name-display {
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    font-family: $font-family-black;
    text-transform: uppercase;
    color: var(--theme-dark-blue);
  }

  .edit-icon {
    width: 1.5vw;
    height: 1.5vw;
    color: var(--theme-dark-blue);
    margin-left: 1vw;

    opacity: 50%;

    &:hover {
      opacity: 100%;
    }
  }
}
