@mixin linear-gradient ($from, $to, $axis) {
	background: transparent;
	background: -moz-linear-gradient(top, $from 0%, $to 100%);
	@if $axis=='vertical' {
		background: --webkit-gradient(left top, left bottom, color-stop(0%, $from), color-stop(100%, $to));
		background: --webkit-linear-gradient(top, $from 0%, $to 100%);
		background: -o-linear-gradient(top, $from 0%, $to 100%);
		background: -ms-linear-gradient(top, $from 0%, $to 100%);
		background: linear-gradient(to bottom, $from 0%, $to 100%);
	} @else if $axis == 'horizontal' {
		background: -webkit-gradient(left top, right top, color-stop(0%, $from), color-stop(100%, $to));
		background: -webkit-linear-gradient(left, $from 0%, $to 100%);
		background: -o-linear-gradient(left, $from 0%, $to 100%);
		background: -ms-linear-gradient(left, $from 0%, $to 100%);
		background: linear-gradient(to right, $from 0%, $to 100%);
	}
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}', GradientType=1 );
}

@mixin diagonal-gradient-tlbr($colorStart, $colorEnd) {
	background: transparent;
	background: -moz-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%) ;
	background: -webkit-gradient(left top, right bottom, color-stop(0%, $colorStart), color-stop(100%, $colorEnd)) ;
	background: -webkit-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: -o-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: -ms-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$colorStart}', endColorstr='#{$colorEnd}', GradientType=1);
}

@mixin diagonal-gradient-bltr($colorStart, $colorEnd) {
	background: transparent;
	background: -moz-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, $colorStart), color-stop(100%, $colorEnd));
	background: -webkit-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: -o-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: -ms-linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	background: linear-gradient(45deg, $colorStart 0%, $colorEnd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$colorStart}', endColorstr='#{$colorEnd}', GradientType=1);
}
