@mixin input-generator ($size) {
	@if $size == 'xs' {
		padding: 0px 8px;
		font-size: 10px;
		height: 22px;
		line-height: 20px;
		&[type="file"] {
			padding: 1px;
		}
	} @else if $size == 'sm'{
		padding: 0px 12px;
		font-size: 12px;
		height: 30px;
		line-height: 30px;
		&[type="file"] {
			padding: 6px;
		}
	} @else if $size == 'md'{
		padding: 0px 14px;
		font-size: 14px;
		height: 38px;
		line-height: 36px;
		&[type="file"] {
			padding: 14px;
		}
	} @else if $size == 'lg'{
		padding: 0px 20px;
		font-size: 16px;
		height: 46px;
		line-height: 44px;
		&[type="file"] {
			padding: 20px;
		}
	} @else if $size == 'xl'{
		padding: 0px 35px;
		font-size: 18px;
		height: 54px;
		line-height: 52px;
		&[type="file"] {
			padding: 35px;
		}
	}
	border-radius: 4px;
}