@mixin transform($transforms) {
	-webkit-transform: $transforms;
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	transform: $transforms;
}

@mixin transform-dual ($transforms1, $transforms2) {
	-webkit-transform: $transforms1 $transforms2;
	-moz-transform: $transforms1 $transforms2;
	-o-transform: $transforms1 $transforms2;
	-ms-transform: $transforms1 $transforms2;
	transform: $transforms1 $transforms2;
}

@mixin rotate($rotate) {
	@include transform(rotate($rotate));
}

@mixin rotateX($rotateX) {
	@include transform(rotateX($rotateX));
}

@mixin rotateY($rotateY) {
	@include transform(rotateY($rotateY));
}

@mixin rotate3d($x, $y, $z, $rotate) {
	@include transform(rotate3d($x, $y, $z, $rotate));
}

@mixin scale($scale) {
	@include transform(scale($scale));
}

@mixin scale3d($x, $y, $z) {
	@include transform(scale3d($x, $y, $z));
}

@mixin translateX($x) {
	@include transform(translateX($x));
}

@mixin translateY($y) {
	@include transform(translateY($y));
}

@mixin translateZ($z) {
	@include transform(translateZ($z));
}

@mixin translate($x, $y) {
	@include transform(translate($x, $y));
}

@mixin translate3d($x, $y, $z) {
	@include transform(translate3d($x, $y, $z));
}
