@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.notification-popup {
  top: 5.834vw !important;
  left: unset !important;
  right: 0;
  margin-top: 0.5vw;
  .MuiPopover-paper {
    background-color: var(--theme-light-blue);
    box-shadow: none !important;
    border-radius: 1.5vw !important;
    right: 0 !important;
    left: auto !important;

    @include phone_and_tabletP {
      width: 100vw !important;
      border-radius: 1.5vw !important;
    }
  }
  .brill-icon-ff {
    border: none !important;
    width: 3.2vw;
    height: 3.2vw;
    img {
      width: 3.2vw;
      height: 3.2vw;
    }
    svg {
      position: absolute;
      color: var(--theme-orange) !important;
      width: 55% !important;
      height: 55% !important;
      top: 22.5% !important;
      left: 22.5% !important;
    }
  }
  .notification-content {
    background-color: var(--theme-light-blue);
    &:hover {
      background-color: #223569;
    }
    box-shadow: none !important;
    position: relative;

    @include phone_and_tabletP {
      width: 100vw;
      border-radius: 1.5vw;
    }
    @include tabletP {
      border-radius: 1.5vw;
      width: $notification-width;
      // 300ms cubic-bezier(0.5, 1, 0.89, 1)
    }
    .notification-container {
      padding: 1vw 1vw 1vw 1vw !important;
      @extend %displayFlex;
      @extend %flexAlignCenter;
      .left-brick-circle {
        cursor: pointer;
        font-size: 2vw;
        width: 3vw;
        height: 3vw;
        @extend %radCircle;
        margin-right: 1vw;
        .svg {
          color: var(--white);
        }
        &.generic {
          background-color: #bdc2c8;
        }
        &.submitted-for-review {
          background-color: #ff9800;
        }
        &.published {
          background-color: #00c86b;
        }
        &.red {
          background-color: #d42c24;
        }
        &.new-comment {
          background-color: #006bfd;
        }
        &.invited-to-play {
          background-color: var(--white);
        }
      }
      .content-box {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        width: calc(100% - 3.5vw);
        .notification-detail {
          padding: 0.5vw 0;
          margin-right: 1vw;
          .notif-title,
          .notif-desc {
            @include tabletP {
              font-size: 1.1vw;
            }
            @include tabletL {
              font-size: 0.9vw;
            }
            @include desktop {
              font-size: 1vw;
            }
          }
          .notif-title {
            color: var(--white);
            text-transform: capitalize;
            font-family: $font-family-bold;
          }
          .notif-desc {
            color: var(--dark-gray);
            word-break: break-word;
            font-family: $font-family-regular;

            p {
              display: inline;
            }
          }
        }
        .actions {
          @extend %flexCenter;
          flex-direction: column;
          color: var(--tab-gray);
          .notification-time {
            @extend %textCenter;
            white-space: nowrap;
            margin-top: 0.4vh;
            @include phone_and_tabletP {
              font-size: 2.5vw;
            }
            @include tabletP {
              font-size: 0.9vw;
            }
            @include tabletL {
              font-size: 0.8vw;
            }
            @include desktop {
              font-size: 0.7vw;
            }
          }
          .delete-notification {
            padding: 0;
            @extend %width100;
            @include phone {
              width: 7vw;
              height: 7vw;
            }
            @include tabletP {
              width: 2vw;
              height: 2vw;
            }
            svg {
              @extend %removePosition;
              stroke-width: 2;
              &:hover {
                color: var(--theme-orange);
              }
            }
          }
        }
      }
      .notification-detail-single {
        width: 100%;
        @include phone_and_tabletP {
          font-size: 4vw;
          padding: 15px 0;
        }
        @include tabletP {
          font-size: 1.2vw;
          padding: 1vw 0;
        }
        @include tabletL {
          font-size: 1.4vw;
        }
        color: white;
        font-family: $font-family-light;
        @extend %textCenter;
        font-size: 1vw;
        em {
          font-size: 1vw;
        }
      }
    }
  }
  .clear-notification {
    background-color: var(--theme-orange);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    .clear-icon {
      svg {
        height: 1vw;
        width: 1vw;
      }
    }
    @include phone_and_tabletP {
      font-size: 3.5vw;
      button {
        padding: 2vw;
      }
    }
    @include tabletP {
      font-size: 1vw;
      height: 4.5vh;
      border-radius: 1.5vw;
      button {
        padding-top: 0vw;
        padding-bottom: 0vw;
      }
    }
    .delete-notification {
      padding: 0;
      @extend %width100;
      @include phone {
        width: 7vw;
        height: 7vw;
      }
      @include tabletP {
        width: 2vw;
        height: 2vw;
      }
      svg {
        @extend %removePosition;
        &:hover {
          color: var(--theme-orange);
        }
      }
    }
    .MuiCardActions-spacing {
      > :not(:first-child) {
        margin-left: 0;
      }
    }
  }
}
@keyframes notification-active {
  0% {
    right: -28vw;
  }

  100% {
    right: 0;
  }
}

// mobile
.notification-box {
  @include phone_and_tabletP {
    .scroll-buttons {
      display: none;
    }
    .MuiPopover-paper {
      box-shadow: none !important;
      width: 100%;
      transform: none !important;
      transform-origin: 0 !important;
      left: 0 !important;
      top: unset !important;
      bottom: 60px;
      border-radius: 12px 0 0 0;
      overflow: unset !important;
    }

    .notification-content {
      .notification-list li {
        .content-box {
          width: calc(100% - 10vw);

          .notification-detail {
            width: inherit;
            .notif-title,
            .notif-desc {
              @include phone_and_tabletP {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 3.5vw;
              }
            }
          }
        }

        .left-brick-circle {
          height: 9vw;
          width: 9vw;
        }
      }
    }
  }
  .send-icon-center {
    margin-top: 0.1vw;
    margin-left: -0.1vw;
  }
}

@keyframes notification-grow {
  0% {
    height: 0;
  }
  60% {
    height: 0;
  }
  100% {
    height: 33vh;
  }
}

@keyframes notification-grow-small {
  0% {
    height: 0;
  }
  60% {
    height: 0;
  }
  100% {
    height: 6vw;
  }
}

@keyframes notification-hide-small {
  0% {
    height: 9vw;
  }
  100% {
    height: 0;
  }
}

.main-notification-box {
  display: block;
  border-bottom-left-radius: 2vw;
  overflow: hidden;
  &.active {
    opacity: 1;
    height: 100%;
    animation: notification-grow 0.7s linear;
  }
  &.active.no-notifications {
    animation: notification-grow-small 0.7s linear;
  }
  &.no-notifications {
    height: 8.6vw;
  }
  &.hidden {
    height: 0;
    animation: notification-hide-small 0.3s linear;
  }
}
