@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.link-copied-dialog {
  .italic .MuiTypography-root {
    font-family: $font-family-regular-italic !important;
    font-size: $base-popup-font-size !important;
  }
  .bold .MuiTypography-root {
    font-family: $font-family-bold !important;
  }
}
