@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.choose-several-live {
  .sound-image-choice {
    img {
      width: auto;
      max-height: 20vh;
    }

    .relative-waves-container {
      padding-bottom: 1.8vw;
    }
  }
}
