@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.synthesis-page {
  .synthesis-expansion-panel {
    background: white !important;

    .MuiButtonBase-root {
      padding-left: 10px;
      padding-bottom: 14px;

      .MuiExpansionPanelSummary-content {
        margin-top: 6px;
      }
    }
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    >span {
      font: 16px/24px $font-family-regular;
      margin-right: 5px;
    }
  }

  .MuiTypography-root {
    width: 100% !important;
  }

  .table {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  table,
  td,
  th {
    border: 1px solid var(--theme-dark-blue);
  }

  td {
    min-width: 0;
    padding: 0;
  }

  &.mobile-synthesis-page {
    height: calc(100vh - 6vh) !important;
    position: relative;
    overflow-y: inherit !important;

    h1 {
      position: absolute !important;
      top: 0.2vw !important;
    }

    .question-index-container {
      width: 7vw !important;
      height: 7vw !important;

      .question-index {
        width: 7vw !important;
        height: 7vw !important;
        font-size: 6vw !important;
      }
    }

    .question-live-play {
      @include phone_and_tabletP {
        padding: 4vw;
      }
    }
  }
}

.synthesis-content {
  @include desktop {
    width: 46.5vw !important;
  }
}

.sorted-row-expanded {
  .synthesis-content {
    @include desktop {
      width: 53vw !important;
    }
  }
}