@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.pair-match-play {
  $font-size: 1.25vw;

  .MuiGrid-container {
    flex-direction: row !important;
  }

  .question-hint-global  {
    margin-top: 5px;
  }

  .pair-match-play-option {
    @extend %textCenter;
    color: var(--theme-dark-blue);
    margin: 5px 1px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--tab-gray) !important;
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;

    &.correct {
      background: var(--theme-green-alpha5) !important;
    }

    .image-source {
      display: none;
    }

    .question-hint {
      border-radius: 0 !important;
    }

    .option-container {
      width: 100%;
      overflow: scroll;

      p {
        text-align: center !important;
      }

      img {
        @include tabletP {
          width: auto !important;
          max-width: 100%;
          max-height: 15vh !important;
        }
      }
    }

    .pair-match-play-option-icon {
      display: inline-block;
    }

    .MuiListItemIcon-root {
      min-width: 31px !important;
    }

    .MuiListItemText-root {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 100%;
    }
  }

  .answers-list {
    display: grid !important;
    grid-auto-rows: 1fr;
    flex-wrap: wrap;
    width: 50%;
    .pair-match-play-choice {
      cursor: pointer;
      .MuiListItem-root {
        padding-top:4px !important;
        padding-bottom:4px !important;
        p {
          font-size: 1.25vw !important;
          @include phone_and_tabletP {
            font-size: $mbase-font-size !important;
          }
        }
        .MuiListItemText-root {
          font-size: 1.25vw !important;
          @include phone_and_tabletP {
            font-size: $mbase-font-size !important;
          }
        }
        img {
          @include tabletP {
            width: auto !important;
            max-width: 100%;
            max-height: 15vh !important;
          }
        }
      }
      .question-hint {
        margin-top: 1vh;
        border-radius: 0.6vw !important;
      }
    }
  }

  .pair-match-play-choice {
    @extend %textCenter;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: var(--solitude-light);

    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;

    p {
      text-align: center !important;
    }

    img {
      width: 100%;
    }
    &.correct {
      background: var(--theme-green-alpha5) !important;
    }
  }

  .MuiListItemText-root {
    font-size: $font-size;
  }

  .image-choice {
    background: inherit;
    border: 4px solid var(--tab-gray) !important;
    width: 100%;
    padding: 0;
  }

  .flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
