@import "../../../../assets/sass/partials/variables";
@import "../../../../assets/sass/partials/mixins";
@import "../../../../assets/sass/partials/extensions";

.ending-page {
  .fs-icon {
    position: absolute;
    top: 1.5vw;
    left: 1.5vw;
    border-radius: 100vw;
    font-family: $font-family-black;
    color: $dark-blue;
    background: $tab-gray;
    font-size: 1.7vw;
    padding: 0vw 0.2vw;
  }
  h1 {
    font-size: 3.6vw;
    text-align: center;
    color: $dark-blue;
    margin: 0;
    font-family: $font-family-bold;
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  $progress-height: 60vh;

  .circle-progress-container {
    position: relative;
    margin-bottom: 6px;
    width: 100%;
    height: $progress-height;

    .circle-progress-first {
      height: 50vh;
      width: 50vh;
    }

    .circle-progress {
      height: 294px !important;
      width: 294px !important;

      svg {
        overflow: overlay;

        circle {
          stroke-width: 4.5 !important;
        }
      }
    }

    .score-circle {
      left: 0;
      top: 0;
      width: 100%;
      height: $progress-height;
      position: absolute;

      .circle-progress-second {
        height: 46vh;
        width: 46vh;
      }
      .circle-progress-third {
        height: 42.5vh;
        width: 42.5vh;
      }
    }

    .score-data {
      position: absolute;
      height: 100%;
      color: black;
      text-align: center;
      > div {
        height: 100%;

        .score-precentage {
          margin-bottom: 5px;
          font-size: 50px;
        }

        .score-number {
          font-size: 24px;
        }
      }
    }
  }

  .MuiCircularProgress-colorPrimary {
    color: #0076b4 !important;
  }
}
