@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.ending-page {
  h1 {
    font-size: 3.6vw;
    text-align: center;
    color: var(--dark-blue);
    margin-top: 0;
    font-family: $font-family-bold;
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }
}
