@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.choose-one-live,
.choose-several-live {
  .image-choice {
    background: inherit;
    width: 100%;
    padding: 0 !important;

    .image-container {
      padding-left: 2vw;
      padding-right: 2vw;
      padding-top: 0.8vh;
      padding-bottom: 0.8vh;
      flex-direction: column;
      > img {
        width: auto !important;
        max-width: 100%;
        margin: 0 !important;
        max-height: 20vh;
      }
    }

    img {
      margin: 4px !important;
      margin-bottom: 0 !important;
    }
  }
  @include phone_and_tabletP {
    .choose-choice {
      margin-bottom: 1.2vh !important;
      p {
        font-size: 4.5vw !important;
      }
    }
  }
}
