@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.select-date {
  cursor: pointer;
  background: var(--white);
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  color: var(--white) !important;
  max-height: 10vw;
  width: 3.6vw !important;

  optgroup {
    overflow: scroll;
    max-height: 10vw;
    height: 10vw;
  }

  $radius: 0.5vw;

  &.first {
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
    width: 3.6vw !important;
  }
  &.last {
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
    width: 5vw !important;
  }
  &:before {
    display: none !important;
    content: '' !important;
  }
  &:after {
    display: none !important;
    content: '' !important;
  }
  .MuiSelect-root.MuiSelect-select {
    display: flex;
    align-items: center;
  }
}
