@import '_variables';

.sort-play {
  .MuiTypography-root {
    font-family: $font-family-regular !important;
  }
  .sort-category {
    color: $dark-blue;
    padding: 10px 0;
    text-align: center;
    font-family: $font-family-regular;
    background-color: $tab-grey;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1;
  }
  .sort-category-list-container {
    background-color: $answer-grey;
    min-height: 30px;
    min-width: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .sortable-list {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    min-height: 30px;

    .sortable-item {
      cursor: pointer;
      color: black;
      .MuiListItemIcon-root {
        min-width: 30px;
      }
    }
    .sortable-item:hover {
      color: grey;
    }
  }
}