.my-library {
  .subjects-filter {
    height: 25vh !important;
  }
  .classroom-filter-custom {
    height: 25vh;
    overflow-y: scroll;
  }
  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
}
