.email-test-popup {
  .input-block input {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 1.2vw;
    color: var(--theme-dark-blue) !important;
  }
  .MuiTypography-root {
    padding-left: 0.8vw;
    padding-right: 0.8vw;
    font-size: 1.2vw !important;
    color: var(--theme-dark-blue) !important;
  }
}