@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.back-to-work-page {
  .publish-bricks {
    height: calc(100% - 6.6vh) !important;
    .bricks-list-container {
      height: 100% !important;
    }
  }
  .absolute-loader {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(100% - 2vw);
    display: flex;
    z-index: 120;
    color: var(--theme-dark-blue);
    align-items: center;
    justify-content: center;
  }
  .brick-row-container {
    overflow: hidden;
    background: inherit !important;
    $tabs-margin-between: 0.2vw;
    $width: calc(
      100.2vw - #{$filter-sidebar-size} - (#{$filter-sidebar-margin * 2}) - #{$tabs-margin-between}
    );

    .tab-container {
      display: flex;
      flex-wrap: nowrap;  

      .long {
        width: 25vw;
        > div {
          height: 100%;
        }
      }
      .toggle-button {
        min-height: 6.6vh;
      }

      > div {
        cursor: pointer;
        width: 100%;
        min-height: $backwork-tab-height;
        font-size: 4.5vh;
        border-top-left-radius: 0.5vw;
        font-family: $font-family-black;
        text-transform: uppercase;
        letter-spacing: 0.5vw;
        color: var(--theme-dark-blue);
        background: var(--tab-gray);
        padding-left: 1.5vw;
        border-top-right-radius: 0.5vw;
        margin-right: $tabs-margin-between;
        > div {
          span, .no-active {
            @extend %transitionAll300;
            opacity: 0.2;
          }
          .round-button {
            opacity: 0.5;
          }
        }

        .tab-icon-container {
          display: flex;
          width: 3.8vh;
          height: 3.8vh;
          margin-top: 1.2vh;
          margin-left: 2.4vw;
          .svg {
            height: 100%;
            width: 100%;
          }
          .custom-tooltip {
            margin-top: 4.1vh;
            letter-spacing: 0;
            text-transform: none;
          }
          &.personal .custom-tooltip {
            margin-left: -5vw;
          }
          &.public .custom-tooltip {
            margin-left: -2.7vw;
          }
        }
      }

      > div.active {
        background: var(--white);
        > div {
          span {
            opacity: 1;
          }
        }
      }

      > div:last-child {
        border-top-right-radius: 0vw;
        margin-right: 0;
      }

      > div.no-active:hover {
        background: var(--off-white) !important;

        span, .no-active {
          opacity: 0.5;
        }
        
        .round-button {
          opacity: 1;
        }
      }
    }
  }

  .bricks-list-container,
  .bricks-pagination {
    background: var(--white);
    .bottom-next-button {
      position: inherit;
      @extend %flexCenter;
    }
  }

  .bricks-list-container {
    padding-top: $backwork-bricks-padding-top;
    height: $backwork-bricks-height !important;

    &.no-top-padding {
      padding-top: 5vh;
    }

    .main-brick-container {
      $padding2: 4.4vw;
      $padding: 2.2vw;
      &.empty-description {
        color: var(--theme-dark-blue);
        padding-left: $padding;
        padding-right: $padding;
        font-size: 1.02vw;

        .empty-title {
          margin-top: 5vh;
          margin-bottom: 3vh;
        }
        .italic {
          font-family: $font-family-regular-italic;
        }
      }
      &.empty-description:first {
        padding-left: $padding2;
      }

      &.empty-description.third {
        padding-left: 1.2vw;
        padding-right: 2vw;
      }

      &.description {
        .round-button {
          @extend %flexCenter;
          color: white;
        }
        .short-brick-info {
          top: 1.3vh !important;
          @extend %flexCenter;
          font-size: 1.35vw;
          height: 2.1vw;
          line-height: 1;
          font-family: $font-family-bold;
        }
      }

      .last-text {
        margin-top: 3vh;
      }

      .circle {
        height: 5.2vw;
        width: 5.2vw;
        border-radius: 50%;

        &.yellow-in-green {
          background-color: var(--theme-green);

          .circle {
            width: 4.6vw;
            height: 4.6vw;
          }
        }
        &.white-in-yellow {
          margin: auto;
          background-color: var(--theme-yellow);

          .circle {
            width: 4.6vw;
            height: 4.6vw;
          }
        }
      }
      .red {
        background: var(--theme-orange);
      }

      &.create-link {
        cursor: pointer;
        color: var(--theme-dark-blue);
        font-family: $font-family-bold;
        font-size: 1.25vw;
        $size: 4vw;
        .svg {
          color: var(--theme-orange);
          height: $size;
          width: $size;
          @extend %transitionAll300;
        }
        span {
          margin-left: 1vw;
          height: 3.8vw;
          @extend %flexToYCenter;
        }

        &:hover {
          .svg {
            -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
          }
        }
      }
    }

    h1 {
      margin-left: 1vw;
      margin-bottom: 1.5vh;
      font-size: 4.8vw;
      letter-spacing: 1vw;
      font-family: $font-family-black;
      color: var(--theme-dark-blue);
    }
  }
  .tab-content {
    height: $backwork-tab-content-height !important;
    background: white;

    .classroom-list-buttons {
      position: absolute;
      top: calc(6.6vh + 1.8vh);
      right: 1vw;
      display: flex;

      div {
        cursor: pointer;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 0.9vw;
        font-family: $font-family-bold;
        letter-spacing: 0.1vw;
        color: var(--gray);
      }

      div.active {
        color: var(--theme-dark-blue);
      }
    }
  }

  .private-core-toggle {
    transform: scale(0.8);
  }

  // Teach
  // Teach filter sidebar

  // Teach classroom list
  .classroom-list {
    position: relative;
    height: $backwork-inner-tab-content-height;
    overflow: auto;
    color: var(--theme-dark-blue);
    padding-left: 0;
    padding-right: 0;

    .users-table {
      width: 100%;
      overflow-y: auto;
      > table {
        width: 100%;
        border: none;
        thead {
          background: var(--tab-gray);
          color: var(--theme-dark-blue);
          font-family: $font-family-black;
          font-size: 1.3vw;
          letter-spacing: 0.25vw;
          tr {
            th {
              padding-top: 0.6vh;
              padding-bottom: 0.6vh;
              text-align: left;
              padding-left: 0.5vw;

              .sort-button {
                cursor: pointer;
                margin-top: 0.3vh;
                margin-left: 0.4vw;
                height: 1.5vw;
                width: 1.5vw;
              }
            }

            .subject-title {
              width: 5%;
            }
            .user-full-name {
              width: 30%;
            }
            .email-column {
              width: 31.3%;
            }
            .edit-button-column {
              width: 2.5vw;
            }
          }
        }
        tr {
          height: calc((100vh - 5.834vw - 2vw - 5.2vw - 15vh)/13) !important;
          overflow-y: auto;
          &.user-row {
            height: calc((100vh - 5.834vw - 2vw - 5.2vw - 15vh)/13) !important;
            font-family: $font-family-regular;
            &:nth-child(even) {
              background: var(--tab-gray);
            }
            td {
              padding-left: 0.5vw;
              color: var(--theme-dark-blue);
              font-size: 1vw;
              padding-top: 0;
            }
            .user-actions-cell {
              min-width: 5.5vw;
              .delete-button,
              .edit-button {
                display: inline-block;
                cursor: pointer;
                height: 1.85vw;
                width: 1.85vw;
              }
              .edit-button {
                margin-left: 1vw;
              }
            }
            .activate-button-container {
              padding-left: 2vw;
            }
          }
          .user-last-name {
            font-family: $font-family-bold;
          }
        }
      }
    }
  }
}
.teach-sort-box {
  $filter-height: calc(100vh - 5.834vw - 2vw - 2.4vw - 3vw);
  $expanded-filter-height: 62vh;
  $classes-label-height: 7.7vh;
  .classrooms-filter {
    transition: 500ms all;
    .classes-box {
      .index-box {
        display: flex;
        align-items: center;
        .classroom-name {
          text-transform: capitalize;
          // width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .classroom-icon {
            background-color: var(--white);
            color: var(--theme-dark-blue);
            margin-left: 0.3vw;
            @extend %transitionAll300;
            @extend %radCircle;
            width: 1.1vw;
            height: 1.1vw;
            .svg {
              width: 90%;
              height: 90%;
              @extend %flexCenter;
              margin: 0;
            }
          }
          &:hover {
            .classroom-icon {
              animation-name: pulse-white;
              animation-duration: 2s;
              animation-delay: 0s;
              animation-iteration-count: 5;
              animation-timing-function: ease;
            }
          }
          &.icon-animated {
            .classroom-icon {
              @extend %transitionAll300;
              @include rotate(90deg);
            }
          }
        }
      }
      &.active {
        .index-box {
          background: var(--theme-orange) !important;
        }
      }
    }
    .student-row {
      display: flex;
      padding: 0.53vw 1.4vw;
      .student-name {
        text-transform: capitalize;
        font-family: $font-family-light;
      }
      &.active {
        background: var(--theme-orange);
      }

      &.invitation {
        background: var(--theme-yellow);
        .student-name {
          text-transform: none !important;
        }
      }
    }
    .right-index {
      right: 0.3vw !important;
      display: flex;
      @extend %flexCenter;
      background: transparent !important;
      color: white !important;

      .white-box {
        margin-left: 0.3vw;
        background: white;
        color: var(--theme-dark-blue);
        border-radius: 0.65vw;
        padding: 0.25vw 0.6vw;
        font-size: 1vw;
        line-height: 1;
      }

      svg {
        margin-left: 0.4vw;
        $icon-size: 1.3vw;
        width: $icon-size;
        height: $icon-size;
      }
    }
  }

  &.sort-box-expanded {
    height: calc(#{$expanded-filter-height} + #{$classes-label-height});
    .classrooms-filter {
      transition: none;
    }
  }
}
.teach-sort-box ~ .sort-box {
  .subject-indexes-box {
    margin-top: 2.5vh !important;
  }
}

.sort-box.play-index-box {
  height: 70%;
}

.sort-box.play-box {
  height: 30% !important;
  overflow: hidden !important;
}

.publish-toggle {
  position: absolute;
  right: 2vw;
  top: 9vh;
  letter-spacing: 0.1vw;
  font-family: $font-family-bold;
  font-size: 0.9vw;
  > span {
    cursor: pointer;
    margin-left: 1vw;
    color: var(--dark-gray);

    &.active {
      color: var(--theme-dark-blue);
    }
    &:hover {
      font-family: $font-family-black;
    }
  }
}
.personal-build {
  .color2 {
    .left-brick-circle {
      background: var(--theme-yellow) !important;
    }
  }
}

// desktop learn tab
.back-to-work-page {
  .learn-tab-desktop {
    .bricks-list-container .main-brick-container .brick-container {
      .absolute-container .short-description .left-brick-circle.skip-top-right-border,
      .expanded-brick-info .left-brick-circle.skip-top-right-border {
        background: inherit !important;
        padding: 0 !important;
      }

      &.color2 {
        .round-button {
          border: 0.25vw solid var(--theme-yellow);
        }
      }
    }
  }
}

// mobile learn tab
.back-to-work-page {
  @include phone_and_tabletP {
    .brick-row-title {
      padding-right: 0 !important;
      .private-core-toggle {
        float:right;
        margin-left: auto;
        font-size: 5vw !important;

        .btn {
          span {
            margin-left: 3vw;
            margin-right: 3vw;
          }

          .svgOnHover {
            height: 8.8vw;
            .svg {
              width: 8vw;
              height: 8vw;
            }
          }
        }
      }
    }
    .learn-mobile-tab {
      .bricks-list-container {
        height: calc(100% - 39vh - 5vw - 74px) !important;
      }
      .mobile-scroll-bricks .swiper-container .swiper-slide .short-description .left-brick-circle {
        &.color2 .round-button {
          border: 1.5vw solid var(--theme-yellow);
          background-color: var(--white);
        }
        &.color1 .round-button {
          background: var(--theme-orange);
        }
      }
      .short-brick-info {
        width: auto !important;
      }
      .main-brick-container .brick-container .absolute-container .short-description {
        .left-brick-circle {
          background: inherit !important;
          padding: 0 !important;
        }
        .color2 .round-button {
          border: 1vw solid var(--theme-yellow);
          background-color: var(--white);
        }
        .color1 .round-button {
          background: var(--theme-orange);
        }
      }
      .color2 .round-button {
        border: 1.5vw solid var(--theme-green);
        background-color: var(--white);
      }
      .color1 .round-button {
        background: var(--theme-orange);
      }
    }
  }
}

.filter-create-button-container {
  @extend %flexCenter;
}

.back-hover-area-filter {
  width: 20vw;

  .create-icon {
    color: var(--theme-orange) !important;
  }

  .create-icon:hover {
    color: var(--white) !important;
  }

  .text-container {
    position: relative;
    letter-spacing: 0.05vw !important;
    font-family: $font-family-bold !important;
    font-size: 1.7vw;

    > div {
      position: absolute;
      right: -4vw;
      top: -0.5vw;
      color: var(--theme-orange);

      svg {
        $size: 3.6vw;
        height: $size;
        width: $size;
      }
    }
  }
}

.tab-container {
  .round-button-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 6.6vh;
    @extend %flexCenter;
  }
  .round-button {
    border-radius: 50%;
    width: 3.8vh;
    height: 3.8vh;
    @extend %flexCenter;
    font-size: 1.8vh;
    letter-spacing: 0;
    color: white;
    margin-right: 0.5vw;
    @extend %transitionAll300;
    font-family: $font-family-bold !important;

    &.draft {
      background: var(--theme-orange);
    }
    &.build {
      background: var(--theme-yellow);
    }
    &.review {
      border: 0.5vh solid var(--theme-green);
      color: var(--theme-green);
    }
    &.self-publish {
      border: 0.5vh solid var(--theme-yellow);
      color: var(--theme-yellow);
    }
    &.publish {
      background: var(--theme-green);
    }
  }
  .custom-tooltip {
    z-index: 1000;
    text-align: left;
    > div:first-child {
      font-family: $font-family-bold !important;
    }
  }
}

// №2776 zoom brick on hover
.back-to-work-page {
  .brick-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    .absolute-container {
      width: 100%;
      height: 4.8vw;
      transition: all 300ms ease-out;
    }
    .absolute-container:hover {
      width: 100% !important;
      height: 4.8vw !important;
    }
  }
}




// page scroliing
.back-to-work-page {
  .bricks-list-container {
    .bricks-list {
    }
  }
}