.autocomplete-profile-image {
  width: 2vw;
  height: 2vw;
  margin-right: 1vw;
  border-radius: 50%;
}

.autocomplete-profile-icon {
  width: 2.5vw;
  height: 2.5vw;
  margin-left: -0.25vw;
  margin-right: 1vw;
}