.highlight-html {
    mark,
    .hi {
        background-color: var(--highlight-yellow);
    }
}

.highlight-button {
    &.unhighlight {
        .svg {
            transition: rotate 0.5s ease-in-out;
            rotate: 180deg;
        }
    }
}