.highlight-html {
    mark,
    .hi {
        background-color: var(--highlight-yellow);
    }
}

.highlight-button {
    &.unhighlight {
        .svg {
            transition: rotate 0.5s ease-in-out;
            rotate: 180deg;
        }
    }
}

.annotation {
    color: var(--theme-dark-blue);
    transition: background-color 0.05s linear;
    background-color: var(--white-gray);
    border-radius: 0.25rem;
    box-sizing: content-box;
    padding: 0.25rem 0;

    &:hover,
    &:focus,
    &.focused {
        background-color: var(--highlight-blue);
    }
}

.relative {
    position: relative;
}

.comment-button-e323 {
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    padding: 0.6vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    color: var(--theme-dark-blue);
    background: var(--white);
    right: -2vw;
    transition: all 300ms ease-in-out;

    &:hover {
        color: white;
        background: var(--theme-dark-blue);
    }

    .relative {
        height: 1.5vw;
    }

    svg {
        stroke-width: 2;
        width: 1.5vw;
        height: 1.5vw;  
    }

    .plus-icon {
        position: absolute;
        stroke-width: 3.5;
        top: 0.25vw;
        left: 0.4vw;
        width: 0.7vw;
        height: 0.7vw;
    }
}