.highlight-html {
    mark,
    .hi {
        background-color: var(--highlight-yellow);
    }
}

.highlight-button {
    &.unhighlight {
        .svg {
            transition: rotate 0.5s ease-in-out;
            rotate: 180deg;
        }
    }
}

.annotation {
    color: var(--theme-dark-blue);
    transition: background-color 0.05s linear;
    background-color: var(--white-gray);
    border-radius: 0.25rem;
    box-sizing: content-box;
    padding: 0.25rem 0;

    &:hover,
    &:focus {
        background-color: var(--highlight-blue);
    }
}