@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.intro-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 2vw;
  font-family: $font-family-black;
  color: var(--theme-dark-blue);
  .clock {
    margin-left: 3vw;
    display: flex;
    align-items: center;
    min-width: 6vw;
    .clock-image {
      width: 2vw;
      height: 2vw;
    }
  }
  .counter {
    .counter-seconds {
      font-size: 1vw;
    }
  }
}
