@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.youtube-video-session {
  img {
    max-width: 100%;
  }
  .youtube-video {
    iframe {
      @include phone_and_tabletP {
        width: 100%;
      }
      max-width: 100%;
    }
  }
  blockquote {
    border-left: 0.3vw solid var(--tab-gray);
    padding-left: 1.3vw;
    padding-bottom: 0vw;
    &.no-break {
      white-space: nowrap;
    }
  }
}
