@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.user-preference-page .user-preference-container .terms-page {
  max-width: 44vw;
  height: calc(71vh - 2vw) !important;
  margin: 3vh 0vw !important;
  overflow: hidden;
  color: var(--theme-dark-blue);
  font-size: 1.1vw;

  > div {
    height: 100%;
    overflow: auto !important;
  }

  ol {
    margin-left: 1vw;
    overflow-x: hidden;
  }

  h1 {
    margin-top: 1.3vw;
    margin-bottom: 1.3vw;
    text-align: center;
    font-size: 3vw;
  }

  h2 {
    padding-top: 1vw !important;
    padding-bottom: 1vw !important;
    line-height: 1 !important;
    text-align: left !important;
    font-size: 2.1vw !important;
  }

  h3 {
    line-height: 2 !important;
    text-align: left !important;
    font-size: 1.7vw;
  }

  h1,
  h2,
  h3 {
    letter-spacing: 0;
    font-family: $font-family-bold;
    color: var(--theme-orange);
  }
}

.terms-page-container {
  height: 86vh;
  overflow: hidden;
  background: white;

  .bottom-button {
    display: flex;
    justify-content: center;

    button {
      position: absolute;
      bottom: 2vh;
      border: none;
      outline: none;
      border-radius: 1vw;
      padding: 0.5vh 1vw;
      font-size: 1.5vw;
      color: var(--white);
      background: var(--theme-green);
    }
  }
}