@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.word-highlighting-play {
  color: var(--theme-dark-blue);
  .words-container {
    width: 100%;
    br {
      height: 0 !important;
      line-height: 0 !important;
    }
    @include phone_and_tabletP {
      font-size: 3.5vw;
      overflow-x: auto;
    }
    @include tabletP {
      font-size: 0.86vw;
    }
    &.preview {
      max-width: 500%;
      line-height: 1.5 !important;
      overflow-x: auto;
    }
    .word {
      cursor: pointer;
    }
    .word.active {
      background: var(--white-blue);
    }
    .word.correct {
      background: var(--theme-green);
    }
    .word.wrong {
      background: var(--theme-orange);
    }
  }
}
