@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.word-highlighting-play {
  color: var(--theme-dark-blue);
  .words-container {
    width: 100%;
    @include phone_and_tabletP {
      font-size: 3.5vw;
    }
    @include tabletP {
      font-size: 0.7698vw;
    }
    .word {
      cursor: pointer;
      display:inline-block;
    }
    .word.active {
      background: var(--white-blue);
    }
    .word.correct {
      background: var(--theme-green);
    }
    .word.wrong {
      background: var(--theme-orange);
    }
  }
}
