@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.auth-confirm-dialog {
  .MuiPaper-root {
    padding-left: 1.2vw !important;
    padding-right: 1.2vw !important;
    padding-top: 1.2vw !important;
    padding-bottom: 0.7vw !important;
    width: 23vw !important;
  }

  .title {
    text-align: center;
    font-size: 1.4vw !important;
    margin-bottom: 0.4vw;
  }

  .btn {
    margin-top: 0.26vw;
    margin-bottom: 0.26vw;
    width: 100%;
    height: 3.5vw !important;
    display: flex;
    font-size: 1.3vw !important;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;

    font-family: $font-family-regular;

    svg {
      stroke-width: 1.8 !important;
      $size: 1.8vw;
      width: $size;
      height: $size;
    }

    &.bg-orange {
      background: var(--theme-orange);

      svg {
        margin-right: 0.8vw;
      }
    }

    &.bg-white {
      color: var(--theme-dark-blue);
      padding-right: 4vw;

      svg {
        $size: 2vw;
        width: $size;
        height: $size;
        margin-right: 1.7vw;
      }
    }

    &.bg-blue {
      background: var(--theme-dark-blue);
      padding-right: 5.8vw;

      svg {
        $size: 2vw;
        width: $size;
        height: $size;
        margin-right: 3.5vw;
      }
    }
  }

  .small-text {
    margin-top: 0.3vw;
    text-align: center;
    font-size: 0.95vw;
    font-family: $font-family-light-italic;
  }
}

.auth-library-confirm-dialog {
  .MuiPaper-root {
    padding: 0 !important;
    width: 26.1vw !important;
  }
  .head-title {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background: var(--theme-dark-blue);
  }
  .padding-1-2 {
    padding-left: 1.2vw;
    padding-right: 1.2vw;
    padding-bottom: 0.7vw;
  }
  .title {
    margin-bottom: 1vw;

    &.text-left {
      text-align: left;
      position: relative;

      .ll-help-container {
        position: absolute;
        top: 2vw;
        right: 0.4vw;
        .hover-area-content {
          width: 2vw;
          height: 2vw;
          position: relative;
          .hover-area {
            height: 2vw;
            .hover-content {
              z-index: 100;
              width: 12.6vw;
              display: none;
              position: absolute;
              background: white;
              color: var(--theme-dark-blue);
              border-radius: 0.4vw;
              padding: 0.7vw 1vw;
              right: -0.9vw;
              text-align: left;
              top: 2vw;
              font-size: 1vw;
            }
            &:hover {
              .hover-content {
                display: block;
              }
            }
          }
        }
      }
    }
  }
  .l-label {
    font-size: 1.2vw; 
    text-align: left;
  }
  .library-small-text {
    padding-top: 0.3vw;
    font-size: 0.91vw;
  }
  .btn-library-continue {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    margin-top: 2vw;
    cursor: pointer;
    svg {
      width: 1.6vw;
      height: 1.6vw;
      stroke-width: 2;
      margin-right: 0.5vw;
      transition: all 300ms ease-in-out;
    }
    &:hover {
      svg {
        color: var(--theme-orange);
      }
    }
  }

  .library-button {
    transition: all 300ms ease-in-out;
    span {
      padding-left: 0;
      padding-right: 0;
    }
    &:hover {
      background: var(--theme-dark-blue);
    }
  }
}
