@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.user-profile-page {
  .mobile-upper-space {
    height: 4%;
  }
  .profile-tab {
    width: 100vw;
    margin-top: 0;
    min-height: 8%;

    >div {
      min-height: unset;
      font-size: 4.5vw;

      svg {
        width: 5vw;
        height: 5vw;
      }

      .user-type-lozenge {
        margin-left: 2vw;
        font-size: 4.5vw;
        padding-left: 2vw;
        padding-right: 2vw;
      }
    }

    >div:first-child {
      padding-left: 2.5vw;
      border-top-right-radius: 4vw;
    }

    >div#manage-account-tab {
      border-top-left-radius: 4vw;
      border-top-right-radius: 0;
    }
  }

  .user-profile-content {
    height: calc(100% - 17.5vw - 4% - 8%);
  }

  .profile-image-container {
    padding-top: 3vh !important;
  }

  .profile-block {
    height: 100%;

    .profile-header {
      padding-top: 0 !important;
      text-align: center;
      padding-left: 0 !important;
      margin-left: 0 !important;
      width: 100vw !important;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: unset !important;
      height: calc(5.1vh + 1vh + 6vw);
    }

    .absolute-top-container {
      width: 100vw;
      right: 0;
      top: calc(3vh + 35vw + 5.1vh + 1vh + 6vw);

      .brills-number {
        font-size: 4.5vw;
      }

      .absolute-library-link,
      .brill-coin-img {
        width: 9vw;
        height: 9vw;
      }

      .brill-coin-img {
        margin-left: 1vw;
        margin-right: 3vw;
      }
    }

    .profile-inputs-container {
      padding-top: 10vw !important;
    }

    .big-input-container textarea,
    .MuiAutocomplete-root .MuiInput-formControl {
      border-radius: 1.7vh !important;
    }
    .big-input-container textarea {
      padding-top: 1.2vw;
    }
  }

  .search-container {
    display: none !important;
  }

  .manage-account-block {
    font-size: 4.5vw;

    .current-plan-box {
      display: block;
    }

    .current-plan {
      font-size: 4.5vw;
      width: 100%;

      >span {
        width: 75%;

        .bold {
          margin-right: 3vw;
        }
      }

      .price {
        width: 25%;

        &.btn {
          width: 37%;
        }
      }

      svg {
        width: 5vw !important;
        height: 5vw !important;
      }
    }

    .next-billing-date {
      width: 100% !important;
      min-height: 10vw;
      font-size: 4.5vw;
    }

    .credits-container {
      margin-top: 0;

      .brills-container {
        width: 30vw;

        .brill-coin-img {
          width: 8vw;
          height: 8vw;
        }
      }
      .credits-part {
        width: 24vw;
        .user-credits {
          width: 8vw;
          height: 8vw;
        }
        .label {
          margin-left: 1.2vw;
        }
      }
    }

    .card-details {
      height: 22vw;
      position: relative;
      padding-bottom: 12vw;
      font-size: 4.5vw;

      .light,
      .bigger-circles {
        font-size: 4.5vw;
        font-family: $font-family-regular;
      }

      .btn {
        bottom: 2vw;
        position: absolute;

        svg {
          width: 5vw;
          height: 5vw;
        }
      }
    }

    .leave-container {
      display: block;
      position: relative;
      padding-top: 6vw;

      .label {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0.3vw;
      }

      .btn {
        margin-top: 1vw;
        margin-bottom: 1vw;
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding: 0.5vw 2vw;
        width: 100%;
      }

      .first-btn {
        svg {
          width: 5vw;
          height: 5vw;
          margin-right: 0.5vw;
        }
      }
    }
  }
}

.user-profile-page .profile-block .profile-fields .profile-roles-container .roles-box .MuiGrid-item .MuiFormControlLabel-label {
  font-size: 4.5vw !important;
}

.user-profile-page .profile-block .profile-fields .profile-roles-container .roles-box {
  padding-top: 8vw;
  min-height: unset !important;
}