@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.brick-counter {
  position: relative;
  text-align: right;
  font-family: $font-family-black;
  font-size: 2vw;
  color: $dark-blue;
  min-width: 7vw;
  .counter-seconds {
    font-size: 1vw;
  }
  .intro-arrow {
    position: absolute;
    left: -2.5vw;
    top: 0.3vw;

    img {
      height: 2vw;
      width: 2vw;
    }
  }
}