@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';


.phone-provisional-score {
  .header .stepper {
    //padding: 0 !important;
    .step > div {
      > span {
      font-size: 4.5vw !important;
      }
      > svg {
        width: 5vw;
        height: 5vw;
      }
    }
  }
  .title {
    font-size: 8.5vw !important;
  }
  @keyframes fliping-coin {
    0% {
      transform: rotate3d(0, 0, 0);
    }

    50% {
      transform: rotate3d(0, 1, 0, 180deg);
    }

    100% {
      transform: rotate3d(0, 0, 0);
    }
  }
  
  .btn.btn-green {
    margin-top: 3vh;
    font-size: 9vw;
    width: 45vw;
    color: white;
    border-radius: 4vw;
    text-align: center;
    background: var(--theme-green);
    padding: 1vh 0;

    &.bigger {
      margin-left: 22.5vw;
      width: 55vw;
    }
  }

  .brill-coin-img {
    margin-bottom: 5vh;
    width: 25vh;
    height: 25vh;
    margin-left: calc(50% - 12.5vh);
    animation: fliping-coin 2s infinite linear;
    position: relative;

    img {
      height: 100%;
    }

    svg {
      position: absolute;
      color: var(--theme-orange);
      width: 12vh;
      height: 12vh;
      position: absolute;
      top: calc(50% - 6vh);
      left: calc(50% - 6vh);
    }
  }
  .attempted-text {
    color: white;
    > span:first-child() {
      opacity: 0;
      animation: fadein 2s 1s forwards;
    }
    > span:nth-child(2) {
      opacity: 0;
      animation: fadein 2s 1.75s forwards;
    }
  }
  .duration {
    color: white;
    opacity: 0;
    animation: fadein 2s 2.25s forwards;
  }

  .btn-center {
    display: flex;
    justify-content: center;

    .btn {
      margin: 0 !important;
      width: auto !important;
      padding: 2vw 8vw !important;
    }
  }

  &.bg-dark-blue {
    color: white;
    background: var(--theme-dark-blue);

    .brick-title {
      height: 6%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      text-align: center;
      color: white;
      font-family: $font-family-bold;
      font-size: 6.5vw;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .score {
      text-align: center;
      color: white;
      font-size: 5vw;
    }

    .title {
      margin: 0 !important;
      height: 19%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      font-size: 9.5vw !important;
      line-height: 1;
      color: white;
      position: relative;

      .absoulte-high-score {
        position: absolute;
        bottom: 13.5vw;
        text-align: center;
        font-size: 6vw;
        font-family: $font-family-regular;
      }
    }
    .hr-sub-title {
      color: white;
    }

    .content {
      height: 100%;

      .pr-progress-center {
        margin: 0;
        height: 35%;
        align-items: center;

        .pr-progress-container {
          height: 25vh;
          width: 25vh;

          .brill-coin-img.no-spinning {
            animation: none;

            svg {
              color: var(--theme-dark-blue);
            }
          }
        }
      }

      .btn.btn-green {
        color: var(--theme-dark-blue);
        background: var(--white);
      }
    }
  }
}