@import '../../../assets/sass/partials/variables';
@import '../../../assets/sass/partials/mixins';
@import '../../../assets/sass/partials/extensions';
@import '../../../assets/sass/utils/global';

.MuiExpansionPanelDetails-root {
  padding-top: 0 !important;
  .MuiTypography-root {
    font-size: 0.8vw;
  }
}

.play-preview-pages {
  .sorted-row {
    @include phone_and_tabletP {
      height: $back-to-work-height-mobile-view;
    }
    .play-sidebar {
      text-align: right;
      justify-content: inherit;
      $resize-icon-size: 2.6vw;
      $icons-size: 2vw;
      $right-padding: 1.5vw;

      .minimize-icon {
        cursor: pointer;
        margin-top: 0.8vw;
        margin-right: $right-padding;
        width: $resize-icon-size;
        height: $resize-icon-size;
      }
      .sidebar-button {
        margin-top: 3.5vh;
        padding-right: $right-padding;
        width: 100%;
        align-items: center;
        font-size: 1.6vw;
        text-align: right;
        justify-content: flex-end;
        span {
          padding-right: 1.5vw;
          color: white;
        }
        .svg {
          width: $icons-size;
          height: $icons-size;

          use {
            color: var(--white) !important;
          }
        }
      }
      .sidebar-button.active {
        span,
        use {
          color: var(--yellow) !important;
          fill: var(--yellow) !important;
        }
      }
    }
    .play-sidebar.rolled-up {
      margin-top: $home-button-size;
      width: $home-button-size;
    }
    .sort-and-filter-container {
      @include phone_and_tabletP {
        height: $back-to-work-height-mobile-view;
      }
    }
    .brick-row-container {
      background-color: var(--white);
      @include phone_and_tabletP {
        border-radius: 0;
        height: $back-to-work-height-mobile-view;
      }
      .brick-container {
        .MuiGrid-container {
          @include phone_and_tabletP {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
  $margin-top: 2vw;
  .sorted-row.sorted-row-expanded {
    padding-top: $margin-top;
    margin-top: 0;
    .brick-row-container {
      width: calc(98vw - #{$home-button-size}) !important;
      height: calc(100vh - #{$margin-top}) !important;
    }
    @include phone_and_tabletL {
      padding-top: 0;
      .brick-row-container {
        height: 100% !important;
        width: 100% !important;
      }
    }
  }
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
