@import "_variables";

$left-grey: #E6E6ED;
$light-grey: #f4f4f4;

.MuiExpansionPanelDetails-root {
  padding-top: 0 !important;
  .MuiTypography-root {
    font: 500 16px/24px $font-family-regular;
  }
}

.play-pages {
  .back-to-build {
    position: fixed;
    height: 100%;
    width: 15vw;
    left: 1.8vw;
    top: 0;
    font-size: 1.8vw;
    font-family: 'Brandon Grotesque Black';
    color: $left-grey;
    letter-spacing: 0.3vw;

    .create-icon {
      height: 5vw;
      width: 6.35vw;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(/images/main-page/create-grey.png);
      margin-bottom: 1.5vh;
    }
  }

  .MuiExpansionPanelDetails-root, .MuiExpansionPanelSummary-content {
    color: $dark-blue !important;
  }

  .MuiInputBase-input {
    color: $dark-blue;
  }

  .back-hover-area:hover {
    color: $dark-blue;
    .create-icon {
      background-image: url(/images/main-page/create.png);
    }
  }

  .brick-container {
    font-family: $font-family-regular;
    max-width: 800px;
    width: 100%;
    text-align: left;
    color: $dark-blue;

    h3 {
      padding: 5px;
      font-size: 16px;
      line-height: 28px;
    }

    h2 {
      font-size: 24px;
    }

    h1 {
      padding: 5px;
      line-height: 48px;
      text-transform: capitalize;
      font-size: 32px;
    }

    .MuiExpansionPanel-root {
      background: $light-grey;
    }

    .MuiExpansionPanel-root.Mui-expanded {
      margin: 0 !important;
      margin-bottom: 16px !important;
    }
  }

  .question-hint-global.correct {
    background: white;
  }
}
