@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.classroom-invitation {
  color: var(--theme-dark-blue);

  .classroom-name {
    margin-bottom: 1em;
    text-transform: capitalize;
  }

  .btn {
    margin-left: 0.2em;
    margin-right: 0.2em;

    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.5vw;
      height: 1.5vw;
      stroke-width: 3;
      margin-right: 0.5vw;
    }

    &:hover {
      background: var(--theme-dark-blue) !important;
    }
  }

  .sent-by {
    span {
      font-size: 1.25rem;
    }
  }
}

.personal-brick-invitation {
  font-size: 1vw;
  .brick-title-re2 {
    margin-bottom: 1.5vh;
    white-space: nowrap;
    font-size: 1.4vw;

    p {
      display: inline;
    }

    br {
      display: none !important;
    }
  }

  .btn {
    margin-top: 2vh;
    width: 10vw;
  }

  .MuiMobileStepper-root {
    margin-top: 2vh;
  }
}

.quick-assign-accept-dialog {
  .MuiPaper-root {
    $base: 0.6;
    $font-36: $base * 2.96vw;
    $font-25: $base * 2.05vw;
    $font-24: $base * 1.97vw;
    $font-22: $base * 1.80vw;
    $font-20: $base * 1.65vw;
    $font-18: $base * 1.48vw;

    max-width: 30vw !important;
  
    background: #12326A;
    .classroom-invitation {
      color: white;
      h1 {
        text-align: center;
        font-size: $font-36;
      }

      h2 {
        font-size: $font-24;
        margin-bottom: 1vw;
      }

      .text-with-help {
        position: relative;
        padding-right: 3vw;
        margin-bottom: 1vh;
        font-size: $font-25;
        .hover-area {
          top: 0.1vw;
          right: 0;
          position: absolute;
          svg {
            width: 1.6vw;
            height: 1.6vw;
            color: white;
          }
        }
      }
  
      p {
        font-size: 1.3vw;
      }

      input {
        text-align: center;
        padding-left: 0.5vw;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
        font-size: $font-25;
        margin-bottom: 1.4vh;
        width: calc(100% - 0.5vw);
        border-radius: 0.6vw;
        color: var(--theme-dark-blue);
        background: var(--tab-gray);
      }

      .login-or-content {
        height: 6vh;
        color: white;
        font-size: $font-22;
        .line {
          margin-left: 1vw;
          margin-right: 1vw;
          width: 5vw;
          border-top: 1px solid var(--white);
        }
      }

      .hover-content {
        top: 2vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding:0;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        font-size: $font-18;
        width: 13vw;
        border-radius: 0.5vw;
      }

      .btn {
        width: 100%;
        font-size: $font-25;
        margin-left: 0;
        margin-right: 0;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
      }
      .bottom-text {
        margin-top: 2vh;
        width: 100%;
        font-size: $font-18;
      }

      .b-blue {
        color: white;
        background: var(--theme-dark-blue);
      }
    }
  }
}

.signin-dialog-v5 {
  .MuiPaper-root {
    $base: 0.6;
    $font-36: $base * 2.96vw;
    $font-25: $base * 2.05vw;
    $font-24: $base * 1.97vw;
    $font-22: $base * 1.80vw;
    $font-20: $base * 1.65vw;
    $font-18: $base * 1.48vw;

    max-width: 27vw !important;
  
    background: #12326A;
    .classroom-invitation {
      color: white;
      min-width: 21vw;
      h1 {
        text-align: center;
        font-size: $font-36;
      }

      .google-button-v5, .microsoft-button-v5 {
        background: var(--white);
        border-radius: 0.6vw;
        font-size: $font-25;
        width: 100%;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
        position: relative;
        text-align: center;
        margin-bottom: 1.4vh;
    
        svg {
          position: absolute;
          top: calc(1.4vh);
          left: 0.9vw;
          width: 1.8vw;
          height: 1.8vw;
        }
    
        span {
          padding-left: 2vw;
          text-align: center;
          width: 100%;
          color: var(--theme-dark-blue) !important;
        }
      }

      .microsoft-button-v5 img {
        position: absolute;
        top: calc(1.4vh);
        left: 0.9vw;
        width: 1.8vw;
        height: 1.8vw;
      }

      .text-with-help {
        text-align: left;
        position: relative;
        margin-bottom: 1.4vh;
        width: 100%;
        font-size: $font-25;
        .hover-area {
          top: 0.1vw;
          right: 0;
          position: absolute;
          svg {
            width: 1.6vw;
            height: 1.6vw;
            color: white;
          }
        }
      }
 
      
      .big-bottom-margin {
        margin-top: 3vh;
        margin-bottom: 3vh;
      }
      p {
        font-size: 1.3vw;
      }

      input {
        text-align: center;
        background: var(--theme-dark-blue);
        padding-left: 0.5vw;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
        font-size: $font-25;
        margin-bottom: 1.4vh;
        width: calc(100% - 0.5vw);
        border-radius: 0.6vw;
        color: var(--white);
      }

      .login-or-content {
        height: 6vh;
        color: white;
        font-size: $font-22;
        .line {
          margin-left: 1vw;
          margin-right: 1vw;
          width: 5vw;
          border-top: 1px solid var(--white);
        }
      }

      .hover-content {
        top: 2vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding:0;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        font-size: $font-18;
        width: 13vw;
        border-radius: 0.5vw;
      }

      .btn {
        width: 100%;
        font-size: $font-25;
        margin-left: 0;
        margin-right: 0;
        padding-top: 1.4vh;
        padding-bottom: 1.4vh;
      }
      .b-orange {
        background: var(--theme-orange);
      }
      .bottom-text {
        margin-top: 2vh;
        width: 100%;
        font-size: $font-18;
      }
      .back-btn-container {
        width: 100%;
        justify-content: flex-end;
        display: flex;
      }
      .back-btn {
        cursor: pointer;
        margin-top: 1.4vh;
        justify-content: flex-end;
        display: flex;
        align-items: center;
        svg {
          width: 1.3vw;
          height: 1.3vw;
        }
      }
    }
  }
}