.classroom-invitation {
    .classroom-name {
        margin-bottom: 1em;
    }

    .btn {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .sent-by {
        span {
            font-size: 1.25rem;
        }
    }
}
