.questions {
  margin-top: 40px;
  width: 100%;

  .drop-box {
    min-height: 81px;
  }
}

@media only screen and (min-width: 1200px)  {
}

@media only screen and (max-width: 1199px) and (min-width: 900px)  {
}

@media only screen and (max-width: 899px) and (min-width: 600px)  {
}

@media only screen and (max-width: 599px) {
}