@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.line-highlighting-play {
  font-size: 1rem;
  font-family: $font-family-regular;
  color: $dark-blue;

  .lines-container {
    width: 100%;

    .line {
      cursor: pointer;
    }
    .line.active {
      background: $white-blue;
    }

    .line.correct {
      background: $light-green;
    }
    .line.wrong {
      background: $orange;
    }
  }
  .question-hint,
  .question-hint-global {
    color: $dark-blue;
  }
}
