.line-highlighting-play {
  .lines-container {
    border-left: 5px solid #006ece;
    margin-left: 25px;
    padding-left: 25px;

    .line {
      cursor: pointer;
      color: black;
    }
    .line.active {
      background: #00dece;
    }
  }
}
