@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.line-highlighting-play {
  font-size: 1.15vw;
  color: var(--theme-dark-blue);

  .lines-container {
    width: 100%;

    .line {
      cursor: pointer;
    }
    .line.active {
      background: var(--white-blue);
    }

    .line.correct {
      background: var(--theme-green);
    }
    .line.wrong {
      background: var(--theme-orange);
    }
  }
}
