// @include font-face('./assets/fonts/BrandonGrotesque/', 'Brandon_thin');

@font-face {
	font-family: 'Brandon Grotesque Thin';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Thin'), url('../../../fonts/BrandonGrotesque/Brandon_thin.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Thin Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Thin Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_thin_it.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Light';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Light'), url('../../../fonts/BrandonGrotesque/Brandon_light.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Light Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Light Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_light_it.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Regular'), url('../../../fonts/BrandonGrotesque/Brandon_reg.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Regular Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Regular Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_reg_it.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Medium';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Medium'), url('../../../fonts/BrandonGrotesque/Brandon_med.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Medium Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Medium Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_med_it.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Bold';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Bold'), url('../../../fonts/BrandonGrotesque/Brandon_bld.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Bold Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Bold Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_bld_it.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Black';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Black'), url('../../../fonts/BrandonGrotesque/Brandon_blk.woff') format('woff');
}

@font-face {
	font-family: 'Brandon Grotesque Black Italic';
	font-style: normal;
	font-weight: normal;
	src: local('Brandon Grotesque Black Italic'),
		url('../../../fonts/BrandonGrotesque/Brandon_blk_it.woff') format('woff');
}

.italic {
  font-family: $font-family-regular-italic;
}
