@font-face {
	font-family: 'Century Gothic Regular';
	src: url('./assets/fonts/CenturyGothic/CenturyGothic.eot');
	src: url('./assets/fonts/CenturyGothic/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/CenturyGothic/CenturyGothic.woff') format('woff'),
		url('./assets/fonts/CenturyGothic/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('./assets/fonts/CenturyGothic/CenturyGothic-Bold.eot');
	src: url('./assets/fonts/CenturyGothic/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('./assets/fonts/CenturyGothic/CenturyGothic-Bold.woff') format('woff'),
		url('./assets/fonts/CenturyGothic/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
