@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';
@import 'src/assets/sass/component/authpages';

.login-desktop-page ~ .beta-text {
  z-index: 13;
}

.login-desktop-page {
  display: flex;
  flex-direction: row;
  background: var(--theme-dark-blue);
  height: 100%;

  .left-part-join {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    height: 100%;
    width: 55vw;

    h1 {
      text-align: center;
      color: var(--white);
      margin-top: 8.5vh;
      margin-bottom: 7vh;
      font-size: 2.8vw;
      letter-spacing: 0.1vw;
      font-family: $font-family-bold;
    }
    .image-container {
      display: flex;
      justify-content: center;

      img {
        height: 55vh;
      }
    }

    @keyframes spinning {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg);
      }
    }

    .spinning {
      animation: spinning 5s infinite linear;
    }
  }

  .left-part {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    display: flex;
    flex-direction: column;
    background: #12326A;
    width: 45vw;
    height: 100%;
    padding-top: 12.4vh;
    transition: all 500ms ease-out;

    &.right {
      position: absolute;
      left: 55vw;
    }

    .logo {
      $logo-width: 11.3vw;
      margin-bottom: 5.6vh;
      .logo-image {
        width: $logo-width;
      }

      .logo-text-image {
        width: $logo-width;
        margin-top: 3.5vh;
      }
    }

    .button-box {
      display: flex;
      justify-content: center;
      width: 100%;
      transition: width ease-in-out 300ms;
    }

    .email-button,
    .google-button-desktop {
      border: none;
      @extend %flexCenter;
      padding: 2.2vh;

      .svg {
        transition: all 0.2s ease-in-out;
        margin-right: 1vw;
      }

      .MuiButton-label {
        justify-content: flex-start;
      }
    }

    .email-button {
      background: var(--theme-orange);

      .svg,
      span {
        color: var(--white);
      }

      &:hover {
        background: var(--theme-dark-blue);
      }
    }
    $button-width: 20vw;

    .google-button-desktop,
    .email-button {
      position: relative;
      font-size: 1.4vw;
      font-family: $font-family-regular;
      border-radius: 0.5vw;
      transition: all 450ms ease-out;
      width: $button-width;

      svg {
        position: absolute !important;
        height: 100%;
        left: 2vw;
        width: 2vw;
        height: 2vw;
      }
    }

    .google-button-desktop {
      background: var(--white);
      color: var(--theme-dark-blue);
    }
    .email-button {
      margin-top: 3vh;
    }
    .text-box {
      padding-left: 1.4vw;
      margin-top: 2vh;
      width: calc(#{$button-width} + 2vw);
      position: relative;
      display: flex;
      color: var(--white);
      font-family: $font-family-regular;
      letter-spacing: 0.1vw;
      font-size: 1.3vw;

      .join-button {
        cursor: pointer;
        position: absolute;
        top: -0.1vw;
        left: 13vw;
        display: flex;
        align-items: center;
        font-family: $font-family-bold;

        svg {
          transition: all 300ms ease-out;
          width: 2vw;
          height: 2vw;
        }
        &:hover {
          svg {
            margin-left: 1vw;
          }
        }
      }
    }
  }
}

@keyframes phone-animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// right part
.login-desktop-page .right-part {
  height: 100%;
  position: absolute;
  left: 45vw;
  display: relative;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55vw;
    svg {
      margin-bottom: 2vh;
      transform: perspective(70vw) rotateY(-25deg);
      height: 72vh;
      z-index: 10;
      font-family: $font-family-black;
    }
    #phone-image {
      animation: phone-animate 2s;
    }
  }

  .bricks-container {
    $top: 24.5%;
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    top: $top;
    width: 55vw;
    height: calc(100% - #{$top});
    .row {
      display: flex;
      justify-content: center;
    }
    .block {
      display: inline-block;
      width: 8vw;
      height: 7.3vh;
      margin: 0.4vw;
      border-radius: 0.6vw;
      background: #12326A;
    }
  }
  .icons-container {
    position: absolute;
    top: 0;
    height: 100%;
    width: 55vw;
    .glasses {
      position: absolute;
      top: 12vh;
      left: 9.2vw;
      width: 17vh;
      .blue {
        fill: red !important;
        stroke: red !important;
      }
    }
    .teach-icon {
      position: absolute;
      top: 8.5vh;
      right: 9.5vw;
      width: 19vh;
      transform: rotateZ(13deg);
    }
    .trowel-login {
      position: absolute;
      right: 11vw;
      width: 19vh;
      bottom: 22vh;
      transform: rotateZ(-1deg);
    }
    @keyframes floating1 { 
      0% { transform: translate(0,  0px); } 
      50%  { transform: translate(0, 15px); } 
      100%   { transform: translate(0, 0px); }     
    }
    @keyframes floating2 { 
      0% { transform: translate(0,  -15px); } 
      50%  { transform: translate(0, 0px); } 
      100%   { transform: translate(0, -15px); }     
    }
    @keyframes floating3 { 
      0% { transform: translate(0,  7px); } 
      50%  { transform: translate(0, -7px); } 
      100%   { transform: translate(0, 7px); }     
    } 
    .floating1 {
      animation: floating1 3s ease-in-out infinite;
    }
    .floating2 {
      animation: floating2 3s ease-in-out infinite;
    }
    .floating3 {
      animation: floating3 3s ease-in-out infinite;
    }
  }
}

// email input form
.login-desktop-page .button-box form {
  input {
    color: var(--white);
    text-align: center;
    width: 20vw !important;
    padding: 2.3vh 1vw !important;
    background: var(--theme-dark-blue);
    margin-bottom: 1vh;
  }
  button {
    border: none;
    outline: none;
    background: var(--theme-orange);
    width: 100% !important;
    font-family: $font-family-bold;
    color: var(--white);
    font-size: 1.7vw;
    line-height: 1.3;
    padding: 2.3vh 1vw !important;
    border-radius: 1.7vh;
    transition: all 300ms ease-out;

    &:hover {
      color: var(--theme-orange);
      background: var(--white);
    }
  }
}