.assign-multiple-class {
  .dialog-header .r-class-inputs.search-class-box .MuiAutocomplete-root > div .MuiChip-root svg {
    margin-top: 0 !important;
  }
  .subject-autocomplete .MuiAutocomplete-endAdornment .MuiAutocomplete-popupIndicator {
    margin-top: 0 !important;
    margin-right: 0 !important;
  }
}