@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.MuiAutocomplete-listbox {
  height: 30vh !important;
}
.assign-dialog {
  .dialog-header > div {
    width: 50vw !important;

    .MuiInputBase-input.MuiInput-input {
      width: 14vw;
    }
  }
  .icon-button {
    .svg {
      $size: 2.2vw;
      height: $size;
      width: $size;
    }
    .label {
      font-size: 1.6vw;
      padding: 0.5vh;
      font-family: $font-family-bold;
    }
  }
  .glasses {
    cursor: pointer;
    width: 3vw !important;
    color: var(--theme-orange);
  }
}

span.bold {
  font-family: $font-family-bold !important;
}
