@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.assign-choice-popup {
  $base: 0.9;
  $font-20: $base * 1.65vw;
  $font-18: $base * 1.48vw;
  $font-16: $base * 1.32vw;
  $font-14: $base * 1.16vw;
  $font-13: $base * 1.07vw;
  $font-11: $base * 0.91vw;
  $font-10: $base * 0.83vw;

  .font-20 {
    font-size: $font-20 !important;
  }
  .font-18 {
    font-size: $font-18 !important;
  }
  .font-16 {
    font-size: $font-16 !important;
  }
  .font-14 {
    font-size: $font-14 !important;
  }
  .font-13 {
    font-size: $font-13 !important;
  }
  .font-11 {
    font-size: $font-11 !important;
  }
  .font-10 {
    font-size: $font-10 !important;
  }

  .MuiPaper-root {
    width: 40vw !important;
    padding: 1vw !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    color: var(--theme-dark-blue) !important;
  }
  .dialog-header {
    margin-bottom: 0 !important;
  }
  .title-box {
    position: relative;
    .title-r1 {
      text-align: center;
      padding-bottom: 1vw !important;
      padding-right: 1vw !important;
      border-bottom: 1px solid #E5E8ED;
      margin-bottom: 0 !important;
    }
    svg {
      cursor: pointer;
      position: absolute;
      width: 2vw;
      height: 2vw;
      top: 0.4vw;
      right: 0.5vw;
      stroke-width: 2;
    }
  }
  
  .MuiDialog-paperScrollPaper {
    padding-bottom: 0 !important;
  }
  
  .icon-text-btn {
    cursor: pointer;
    border-bottom: 1px solid #E5E8ED;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 1vw;
    display: flex;
    transition: all 200ms ease-in-out;

    &:hover {
      background: #E5E8ED;
    }

    svg {
      width: 3.4vw;
      height: 3.4vw;

      &.arrow-right {
        width: 2vw;
        height: 2vw;
        stroke-width: 1.5;
      }
    }

    .text-container {
      margin-left: 1vw;
      width: 32vw;
    }
  }

  .dialog-footer {
    background: white;
    padding: 2vh 1.4vw;
    border-top: 1px solid #E5E8ED;

    svg {
      width: 1.4vw;
      height: 1.4vw;
    }
    .info-box {
      margin-right: 0.3vw;
    }
    .message-box-r5 {
      margin-left: 0.5vw;
      display: flex;
      align-items: center;
      width: 40vw;
      line-height: 1.2;
    }
  }
}
