.one-subject-pagination {
  position: absolute;
  bottom: 1vh;
  width: calc(100% - 4vw) !important;
  right: 2vw;
}
.single-subject-assignments {
  height: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh) !important;
}