@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.student-assignments {
  .classroom-title {
    position: absolute;
    top: calc(8.5vh - 0.2vw);
    height: auto !important;
    div {
      line-height: 1;
      background: inherit !important;
      font-family: $font-family-regular;
    }
    left: 0;
  }
}