@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';


.book-dialog {
  .dialog-book-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    opacity: 0.2;
    background: black;
  }
  .book-box {
    position: fixed;
    top: calc(#{$home-button-size} + 2vw + 6.6vh + 2vh);
    left: 53vw;
    width: 33vw;
    height: calc(calc(64vh - 6.5vw) + 13vh) !important;
    background: var(--white);
    border-radius: 1vw;
    z-index: 100001;
    overflow: hidden;
    .header {
      width: 100%;
      padding-left: 1vw;
      $color: var(--white);
      background: var(--theme-light-blue);
      color: $color;
      height: 8vh;

      .title {
        height: 3.5vh;
        display: flex;
        align-items: flex-end;
        font-size: 1vw;

        span {
          margin-left: 0.2vw;
        }
      }

      .stepper {
        display: flex;
        align-items: center;
        height: 4vh;
        .step {
          height: 100%;
          cursor: pointer;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.1vw;
          width: 2.2vw;
          font-family: $font-family-black;

          &.active {
            > span {
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              $size: 1.8vw;
              width: $size;
              height: $size;
              border: 0.2vw solid var(--white);
            }
            .fixed-stepper-triangle {
              position: absolute;
              z-index: 100;
              top: 4.5vh !important;
              left: -1.5vw;
              margin-left: 2.1vw;
              width: 0;
              height: 0;
              $size: 0.5vw;
              border-left: $size solid transparent;
              border-right: $size solid transparent;
              border-top: $size solid var(--theme-light-blue);
            }
          }
        }
      }

      .close-button {
        cursor: pointer;
        position: absolute;
        top: 0.25vw;
        right: 0.25vw;
        stroke-width: 3;
        color: var(--white);
        $size: 1.3vw;
        width: $size;
        height: $size;

        &:hover {
          color: var(--theme-orange);
        }
      }
    }
    .book-body {
      height: calc(100% - 8vh - 5vh);
      overflow: scroll;
      color: var(--theme-dark-blue);
      padding: 0 1vw;
      padding-top: 1vh;
      padding-bottom: 2vh;
      $book-font-size: 1vw;
      font-size: $book-font-size !important;

      .question-title {
        margin-bottom: 2.1vh;
        position: relative;
        font-family: $font-family-black;
        color: var(--theme-dark-blue);
        font-size: 2.5vw;
        .ge-phone-title {
          margin-top: 1vh;
          display: flex;
          align-items: center;
          font-size: 2.1vw;
          .ge-phone-circle {
            margin-right: 1vw;
            $size: 2.5vw;
            width: $size;
            height: $size;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
              color: var(--white);
              width: 62%;
              height: 62%;
              stroke-width: 4;
            }
          }
        }
        .marks-container {
          position: absolute;
          font-size: 1.2vw;
          top: 0;
          right: 2vw;
          text-align: center;
          line-height: 1.3;
        }
      }

      .vertical-shuffle-choice {
        min-height: 5vh;
        .vertical-content {
          min-height: 5vh;
        }
      }
      .image-play-container2 {
        img {
          height: auto !important;
        }
      }
      .question-unique-play {
        font-size: $book-font-size !important;
        padding-bottom: 0 !important;

        p {
          font-size: $book-font-size !important;
        }

        .question-hint-global,
        .question-hint {
          span.bold {
            font-size: $book-font-size !important;
          }
        }

        .words-container {
          .word {
            margin: 0 0.13vw;
          }
        }
      }
    }
    .footer {
      $color: var(--white);
      background: var(--theme-light-blue);
      padding-left: 1vw;
      height: 5vh;
      display: flex;
      align-items: center;
      color: $color;
      span {
        font-size: 1.3vw;
      }
      svg {
        width: 1.5vw;
        height: 1.5vw;
        color: $color;
      }
      .back-btn {
        margin-left: 6vw;
      }

      .back-btn,
      .next-btn {
        cursor: pointer;
        display: flex;
        position: relative;
        align-items: center;
        font-size: 1.4vw;
        svg {
          position: absolute;
          transition: ease-out 300ms;
        }
        &.disabled {
          color: var(--dark-gray);
          svg {
            display: none;
          }
        }
      }
      .back-btn {
        svg {
          left: -1.5vw;
        }
        &:hover {
          svg {
            left: -2vw;
          }
        }
      }
      .next-btn {
        margin-left: 2vw;

        svg {
          right: -1.5vw;
        }
        &:hover {
          svg {
            right: -2vw;
          }
        }
      }
    }
  }
}