.one-classroom-assignments {
  padding-top: 4vh !important;
  .fixed-classname {
    position: absolute;
    left: 0vw;
    top: 8vh;
    z-index: 1;
    width: 100%;
    height: calc(calc( 100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh)/6.35 - 2vh);

    .classroom-title {
      height: 100%;
    }

    .name-subject-display {
      padding-left: 2.2vw;
    }
  }

  .deadline-e33 {
    color: var(--theme-dark-blue);
    display: flex;
    align-items: center;
    width: 16.5vw;

    > div {
      display: flex;
      align-items: center;
      font-size: 1.2vw;
    }
    svg {
      margin-right: 0.7vw;
      width: 1.6vw;
      height: 1.6vw;
    }
  }

  .archived-bricks {
    height: calc(100vh - 7.834vw - 2vh - 6.6vh - 2.6vw - 6vh - 10vh);
    display: flex;
    .archived-bricks-d44 {
      border-right: 2px solid var(--tab-gray);
    }
    .assigned-brick-description {
      .short-brick-info {
        width: 25vw;
      }
      .assignment-second-part {
        width: 10vw;
      }
    }
    .tab-content {
      width: 30vw;
    }
  }
}