.container-d23423 {
  background: var(--theme-light-blue);
}
.top-name-v431 {
  padding-left: 1vw;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.one-classroom-assignments {
  .absolute-library-link {
    transition: all 200ms ease-in-out;
    position: relative;
    .css-custom-tooltip {
      z-index: 2;
      display: none;
      position: absolute;
      top: 2.2vw;
      padding-left:0.4vw;
      padding-right:0.4vw;
      opacity: 1;
      white-space: nowrap;
      color: white;
      background: var(--theme-dark-blue);
    }

    &:hover {
      background: var(--theme-light-blue) !important;
      .css-custom-tooltip {
        display: block;
      }
    }
  }
  padding-top: 0 !important;
  .sub-title-v8 {
    padding-left: 2vw;
    color: var(--theme-dark-blue);
  }

  .deadline-e33 {
    color: var(--theme-dark-blue);
    display: flex;
    align-items: center;
    width: 16.5vw;

    > div {
      display: flex;
      align-items: center;
      font-size: 1.2vw;
    }
    svg {
      margin-right: 0.7vw;
      width: 1.6vw;
      height: 1.6vw;
    }
  }

  .archived-bricks {
    height: calc(100vh - 7.834vw - 2vh - 6.6vh - 2.6vw - 6vh - 10vh);
    display: flex;
    .archived-bricks-d44 {
      border-right: 2px solid var(--tab-gray);

      .deadline-e33 {
        width: 10vw;
      }
    }
    .assigned-brick-description {
      .short-brick-info {
        width: 20vw;
      }
      .assignment-second-part {
        width: 10vw;
      }
    }
    .tab-content {
      width: 30vw;
    }
  }
}

// assignments
.one-classroom-assignments {
  $base: 0.9;
  $font-20: $base * 1.65vw;
  $font-16: $base * 1.32vw;
  $font-14: $base * 1.16vw;
  $font-13: $base * 1.07vw;
  $font-11: $base * 0.91vw;
  $font-10: $base * 0.83vw;

  .font-20 {
    font-size: $font-20 !important;
  }
  .font-16 {
    font-size: $font-16 !important;
  }
  .font-14 {
    font-size: $font-14 !important;
  }
  .font-13 {
    font-size: $font-13 !important;
  }
  .font-11 {
    font-size: $font-11 !important;
  }
  .font-10 {
    font-size: $font-10 !important;
  }
  .classroom-assignments-columns {
    display: flex;
    height: 100%;
    color: var(--theme-dark-blue);

    .assignments-column {
      overflow-y: scroll;
      width: 48.5vw;
      height: calc(100vh - 5.834vw - 2vw - 4vh - 2vw);

      .assignments-title {
        display: flex;
        align-items: center;
        padding-top: 1vw;
        padding-bottom: 1vw;
        padding-left: 1.8vw;

        .sort-v4y4 {
          display: flex;
          cursor: pointer;

          .css-custom-tooltip {
            z-index: 10;
            margin-top: 2vw;
          }

          &:hover {
            .css-custom-tooltip {
              display: block;
              opacity: 1;
              padding-right: 0.5vw;
            }
          }
        }

        svg {
          margin-top: 0.2vw;
          margin-left: 1vw;
          cursor: pointer;
          width: 1.6vw;
          height: 1.6vw;
        }
      }
    }
    .students-column {
      width: 26.5vw;
      display: flex;
      height: 100%;
      background: #F3F4F7;
      padding-left: 1vw;
      padding-right: 1vw;
      padding-top: 1vw;

      .learners-title {
        display: flex;
        margin-bottom: 1vw;

        .learners-count {
          width: 18vw;
        }

        .reminder-brick-actions-container {
          position: relative;
          margin-left: 4vw;
          .reminder-button-container {
            cursor: pointer;
            border-radius: 50%;
            width: 2vw;
            height: 2vw;
            background: var(--theme-yellow);
    
            svg {
              color: white;
              width: 1.3vw;
              height: 1.3vw;
            }
          }
          .css-custom-tooltip {
            right: -1.2vw;
            top: 2.3vw;
            padding-right: 0.5vw;
            white-space: nowrap;
            display: none;
            z-index: 3;
            opacity: 0;
          }
  
          &:hover {
            .css-custom-tooltip {
              display: block;
              opacity: 1;
            }
          }
        }
      }

      .scrollable-students {
        overflow-y: scroll;
        height: calc(100vh - 5.834vw - 2vw - 4vh - 2vw - 1vw - 1vw - 2.6vw);
        padding-bottom: 3vw;
      }

      .student {
        display: flex;
        $width: 19.3vw;
        background: white;
        border-bottom: 1px solid #DEDEDE;
        .email-box {
          padding-left: 0.5vw;
          width: $width;
          display: flex;
          padding-top: 0.5vw;
          padding-bottom: 0.5vw;

          .name {
            white-space: nowrap;
            overflow-x: hidden;
            text-overflow: ellipsis;
          }
        }
        .email {
          max-width: $width;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
        .pending {
          height: 1.4vw;
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          margin-left: 0.5vw;
          border-radius: 0.2vw;
          background: #DEDEDE;
        }
        .library {
          cursor: pointer;
          border-radius: 50%;
          width: 2vw;
          height: 2vw;
          background: var(--theme-dark-blue);
          margin-right: 0.5vw;

          svg {
            width: 1.3vw;
            height: 1.3vw;
            color: white;
          }
        }
        .delete {
          transition: all 200ms ease-in-out;
          position: relative;
          cursor: pointer;
          border-radius: 50%;
          width: 2vw;
          height: 2vw;
          background: var(--theme-orange);
          margin-right: 0.5vw;

          svg {
            width: 1vw;
            height: 1vw;
            color: white;
          }

          .css-custom-tooltip {
            z-index: 2;
            display: none;
            position: absolute;
            top: 2.2vw;
            right: -1.2vw;
            padding-left:0.4vw;
            padding-right:0.4vw;
            opacity: 1;
            white-space: nowrap;
            color: white;
            background: var(--theme-dark-blue);
          }
      
          &:hover {
            background: var(--theme-light-blue) !important;
            .css-custom-tooltip {
              display: block;
            }
          }
        }
      }

      .invitation {
        display: flex;
        $width: 21.8vw;
        border-bottom: 1px solid #DEDEDE;
        .email-box {
          padding-left: 0.5vw;
          width: $width;
          display: flex;
          padding-top: 0.5vw;
          padding-bottom: 0.5vw;
        }
        .email {
          max-width: $width;
          overflow-x: hidden;
          text-overflow: ellipsis;
        }
        .pending {
          height: 1.4vw;
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          margin-left: 0.5vw;
          border-radius: 0.2vw;
          background: #DEDEDE;
        }
        .delete {
          transition: all 200ms ease-in-out;
          position: relative;

          cursor: pointer;
          border-radius: 50%;
          width: 2vw;
          height: 2vw;
          background: var(--theme-orange);
          margin-right: 0.5vw;

          svg {
            width: 1vw;
            height: 1vw;
            color: white;
          }

          .css-custom-tooltip {
            z-index: 2;
            display: none;
            position: absolute;
            top: 2.2vw;
            right: -1.2vw;
            padding-left:0.4vw;
            padding-right:0.4vw;
            opacity: 1;
            white-space: nowrap;
            color: white;
            background: var(--theme-dark-blue);
          }
      
          &:hover {
            background: var(--theme-light-blue) !important;
            .css-custom-tooltip {
              display: block;
            }
          }
        }
      }
    }
  }
}