@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.expanded-assignment {
  padding-left: 0 !important;
  padding-right: 0 !important;
  .classroom-title {
    padding-left: 1.6vw;
    color: var(--theme-dark-blue);
  }
  .assignments-table {
    color: var(--theme-dark-blue);
    $table-height: calc(64vh - 6.5vw);
    height: calc(#{$table-height} + 5vh) !important;

    table {
      width: 100%;
    }

    thead tr {
      height: calc(#{$table-height / 15}) !important;
    }

    table tr.user-row:nth-child(odd) {
      background: var(--tab-gray);
    }

    .user-row {
      height: calc(#{$table-height / 8}) !important;
    }
    .padding-left-column {
      width: 0.7vw;
    }
    .student-status,
    .student-book {
      width: 2.75vw;
      > div {
        @extend %flexCenter;
      }
    }

    .assigned-student-name {
      color: var(--theme-dark-blue);
      padding-left: 0.85vw !important;
      width: 18vw;
    }
    .circle-td {
      width: 5vw;
      .teach-circle {
        @extend %flexCenter;
        height: 4.4vh;
        width: 4.4vh;
        background: var(--theme-green);
        border-radius: 50%;
        color: var(--white);
      }
    }
    thead {
      background: inherit !important;
      th {
        font-family: $font-family-regular !important;
        padding: 0 !important;
        .center {
          @extend %flexCenter;
        }
        .btn-grey-circle {
          background: var(--tab-gray) !important;
          border-radius: 50%;
          height: 1.3vw;
          width: 1.3vw;

          svg {
            height: 1vw;
            width: 1vw;
          }

          &.active {
            background: var(--blue) !important;
          }
        }
      }
    }
    td {
      padding-left: 0 !important;
      text-transform: capitalize;

      .round {
        border-radius: 50%;
        width: 1.9vw;
        height: 1.9vw;
      }

      .reminder-icon,
      .book-open-icon {
        color: white;
        stroke-width: 1.5;
        width: 1.4vw;
        height: 1.4vw;
      }
      .reminder-icon {
        width: 1.35vw;
        height: 1.35vw;
      }

      .book-open-icon {
        padding-top: 0.2vw;
        cursor: pointer;
      }

      .comment-icon {
        color: var(--theme-dark-blue);
        background: var(--off-white);
        border-radius: 50%;
        padding: 0.3vw;
        stroke-width: 1.5;
        width: 1.6vw;
        height: 1.6vw;
      }

      .reminder-icon {
        padding: 0.25vw;
        border-radius: 50%;
        background: var(--theme-yellow);
      }

      .circle {
        border-radius: 50%;
        width: 2.18vw;
        height: 2.18vw;
        color: white;
        @extend %flexCenter;
      }

      .stats-text {
        margin-left: 1vw;
        font-size: 1.3vw;
      }

      &.icon-container {
        svg {
          width: 2vw;
          height: 2vw;
        }
        .smaller {
          width: 1.8vw;
          height: 1.8vw;
        }
      }
    }
  }
}
