.reminder-brick-actions-container {
  svg {
    cursor: pointer;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    padding: 0.25vw;
    width: 1.2vw;
    height: 1.2vw;
    stroke-width: 1.5;
    background: var(--theme-yellow);
  }

  .hover-area {
    margin-left: 0.5vw;
    position: relative;
    .hover-content {
      top: 2vw;
      padding-left: 0.3vw;
      padding-right: 0.3vw;
      white-space: nowrap;
      position: absolute;
      display: none;
      color: white;
      border-radius: 0.5vw;
      background: var(--theme-light-blue)
    }
    &:hover {
      .hover-content {
        display: block;
      }
    }
  }
}