@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.teach-assigned {
  .student-row:hover, .index-box:hover {
    cursor: pointer;
    background: var(--light-blue-alpha3);
  }
}

.manage-classrooms-page .sort-row-v3y3 {
  display: flex;
  height: 6vh;
  .sort-v3y3 {
    position: relative;
    cursor: pointer;
    width: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-bold;
    font-size: 1.2vw;
    margin-right: 0.5vw;
    svg {
      width: 1.7vw;
      height: 1.7vw;
      stroke-width: 1.5;
    }
    
    .css-custom-tooltip {
      display: none;
      z-index: 100;
      top: 3vw;
      left: 0.5vw;
      width: 11vw;
    }

    &:hover .css-custom-tooltip {
      display: block;
      opacity: 1;
    }
  }
  .create-class-button {
    width: 14vw;
  }
  .sort-v4y4 {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      width: 1.7vw;
      height: 1.7vw;
    }
    .css-custom-tooltip {
      display: none;
      z-index: 100;
      top: 3vw;
      left: -3vw;
      width: 11vw;
    }

    &:hover .css-custom-tooltip {
      display: block;
      opacity: 1;
    }
  }
}

.manage-classrooms-page .m-view-all.flex-center {
  display: flex !important;
  justify-content: flex-start;
  .label-34rerf {
    width: 88%;
  }
  .sort-v4y4 {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      width: 1.7vw;
      height: 1.7vw;
    }
    .css-custom-tooltip {
      display: none;
      z-index: 100;
      top: 2vw;
      left: -0.5vw;
      width: 2.8vw;
    }

    &:hover .css-custom-tooltip {
      display: block;
      opacity: 1;
    }
  }
}

.manage-classrooms-page .pay-info {
  background: var(--white) !important;
  font-family: $font-family-bold !important;
  color: var(--theme-dark-blue) !important;
  padding-left: 1.4vw;
  > div {
    display: flex;
    align-items: center;
  }
  .premium-label {
    width: 55%;
    font-size: 1.05vw;
  }
  .premium-btn {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4vw;
    transition: all 150ms ease-in-out;
    svg {
      margin-left: 0.2vw;
      margin-right: 0.3vw;
      stroke-width: 1.4;
      width: 2vw;
      height: 2vw;
    }
    &:hover {
      color: var(--theme-green);
    }
  }

  &.no-free-tries {
    background: var(--theme-yellow) !important;
  }
}

.teach-sort-box {
  .classrooms-header {
    padding-top: 1.2vw;
    padding-bottom: 1.2vw;
    display: flex;
    .label-ew23 {
      width: 50%;
      padding-left: 1.4vw;
      font-size: 1.5vw;
    }
  }
}

.sort-dialog-ew33 {
  .MuiBackdrop-root {
    background-color: unset;
  }
  .MuiDialog-container {
    align-items: flex-start;
    justify-content: flex-start;
    .MuiPaper-root {
      margin-top: calc(5.834vw + 2vw + 2.4vw + 2vw + 2vh + 2vw); 
      margin-left: 20vw;
      .popup-3rfw {
        color: var(--theme-dark-blue);
        padding-top: 0.4vw;

        .btn-sort {
          padding-left: 0.4vw;
          padding-right: 0.4vw;
          transition: all 200ms ease-in-out;
          cursor: pointer;

          &:hover {
            background: var(--tab-gray);
          }

          &.last {
            padding-bottom: 0.2vw;
          }
        }
        .no-click {
          padding-left: 0.4vw;
          padding-right: 0.4vw;
        }
      }
    }
  }
}