@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.teach-assigned {
  .student-row:hover, .index-box:hover {
    cursor: pointer;
    background: var(--light-blue-alpha3);
  }
}

.manage-classrooms-page .sort-row-v3y3 {
  display: flex;
  height: 6vh;
  .sort-v3y3 {
    position: relative;
    cursor: pointer;
    width: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font-family-bold;
    font-size: 1.2vw;
    margin-right: 0.5vw;
    svg {
      width: 1.7vw;
      height: 1.7vw;
      stroke-width: 1.5;
    }
    
    .css-custom-tooltip {
      display: none;
      z-index: 100;
      top: 3vw;
      left: 0.5vw;
      width: 11vw;
    }

    &:hover .css-custom-tooltip {
      display: block;
      opacity: 1;
    }
  }
  .create-class-button {
    width: 14vw;
  }
  .sort-v4y4 {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    svg {
      width: 1.7vw;
      height: 1.7vw;
    }
    .css-custom-tooltip {
      display: none;
      z-index: 100;
      top: 3vw;
      left: -3vw;
      width: 11vw;
    }

    &:hover .css-custom-tooltip {
      display: block;
      opacity: 1;
    }
  }
}

.manage-classrooms-page .pay-info {
  background: var(--white) !important;
  font-family: $font-family-bold !important;
  color: var(--theme-dark-blue) !important;
  padding-left: 1.4vw;
  > div {
    display: flex;
    align-items: center;
  }
  .premium-label {
    width: 55%;
    font-size: 1.05vw;
  }
  .premium-btn {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.4vw;
    transition: all 150ms ease-in-out;
    svg {
      margin-left: 0.2vw;
      margin-right: 0.3vw;
      stroke-width: 1.4;
      width: 2vw;
      height: 2vw;
    }
    &:hover {
      color: var(--theme-green);
    }
  }

  &.no-free-tries {
    background: var(--theme-yellow) !important;
  }
}