html, body, #root {
  height: 100%
}

.register-page {
  height: 100%;
  background-color: #111f33;

  .login-container {
      width:450px;

      .login-card {
        margin-bottom: 20px;
        padding: 0px 20px 15px 20px;

        h1 {
          font-size: 32px;
          font-weight: 500;
        }
  
        .login-field {
          width: 100%;
        }
  
        .password {
          margin-bottom: 30px;
        }
      }

      .login-logo {
          font-size: 20px;
          text-align: center;
          color: #0076B4;
          padding: 5px 20px;
          margin-bottom: 30px;
      }
      
      .footer-image {
          width:50%;
          margin-top: 0px;
      }
  }

  @media only screen and (min-width: 1280px) {
    .login-container {
      width: 20vw;
    }
    .login-card {
      padding: 0 1vw 1vw 1vw !important;
    }
    .login-logo {
      margin-bottom: 1.54vw;
      .logo-img {
        width: 5.1vw;
      }
    }
    .MuiFormLabel-root {
      font-size: 1vw !important;
    }
    .MuiInputBase-root {
      margin-top: 0.8vw !important;
    }
  
    .footer-image {
      width: 12vw !important;
    }

    h1 {
      font-size: 1.65vw !important;
      margin-bottom: 1vw;
      margin-top: 1vw;
    }

    input {
      font-size: 0.8vw;
    }
  }

  @media only screen and (max-width: 599px) {
    .footer-image {
        max-height: 100px;
    }
  }
}
