html, body, #root {
  height: 100%
}

.register-page {
  height: 100%;
  background-color: #111f33;

  .login-container {
      width:450px;

      .login-card {
        margin-bottom: 20px;
        padding: 0px 20px 15px 20px;

        h1 {
          font-size: 32px;
          font-weight: 500;
        }
  
        .login-field {
          width: 100%;
        }
  
        .password {
          margin-bottom: 30px;
        }
      }

      .login-logo {
          font-size: 20px;
          text-align: center;
          color: #0076B4;
          padding: 5px 20px;
          margin-bottom: 30px;
      }
      
      .footer-image {
          width:50%;
          margin-top: 0px;
      }
  }
}

@media only screen and (max-width: 599px) {
  .footer-image {
      max-height: 100px;
  }
}
