@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.pair-match-play {
  $font-size: 1rem;
  .pair-match-play-option {
    text-align: center;
    color: $dark-blue;
    margin: 1px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    .option-container {
      width: 100%;

      .MuiListItemText-root {
        width: 100%;
        height: 100%;

        p {
          text-align: center !important;
        }
      }
    }
    .pair-match-play-option-icon {
      display: inline-block;
    }

    .MuiListItemIcon-root {
      min-width: 31px !important;
    }

    .MuiListItemText-root {
      padding-top: 8px;
      padding-bottom: 8px;
      height: 100%;
    }

    .question-hint {
      margin-right: 20px;
    }
  }
  .pair-match-play-option {
    margin-top: 5px;
    margin-bottom: 5px;
    background: $tab-gray;
  }

  .answers-list {
    display: grid !important;
    grid-auto-rows: 1fr;
    flex-wrap: wrap;
    width: 50%;
  }

  .pair-match-play-choice {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: $lighter-gray;

    p {
      text-align: center !important;
    }

    img {
      width: 100%;
    }
  }

  .pair-match-image-choice {
    padding-bottom: 2px;
  }
  .pair-match-play-option.pair-match-image-choice {
    background: none;
    padding: 0;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .MuiListItemText-root {
    font-size: $font-size;
  }

  .question-hint-global {
    margin-top: 10px;
  }

  .image-choice {
    background: inherit;
    border: 4px solid $lighter-gray !important;
    width: 100%;
    padding: 0;
  }
  .correct {
    background: $light-green;
  }
  .wrong {
    background: $orange;
  }

  .question-hint,
  .question-hint-global {
    color: $dark-blue;
  }
}
