@import '_variables';

.pair-match-play {
  $font-size: 14px;
  .pair-match-play-option {
    text-align: center;
    color: white;
    color: $dark-blue;
    margin: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 47px;
    width: 100%;
    overflow: hidden;
    .pair-match-play-option-text {
      font-family: $font-family-regular;
      font-size: $font-size;
      height: 24px;

      img {
        height: 44px;
      }
    }
    .pair-match-play-option-icon {
      display: inline-block;
    }

    .MuiListItemIcon-root {
      min-width: 31px !important;
    }

    .question-hint {
      margin-right: 20px;
    }
  }
  .pair-match-play-option {
    background: $tab-grey;
  }

  .answers-list {
    width: 50%;
  }

  .pair-match-play-choice {
    font-family: $font-family-regular;
    color: $dark-blue;
    font-size: $font-size;
    margin-top: 10px;
    margin-bottom: 10px;
    
    height: 47px;
    width: 100%;
    background: $answer-grey;
    overflow: hidden;

    .pair-match-play-data {
      min-height: 46px;
    }
  }

  .pair-match-image-choice {
    height: 110px;
    padding-bottom: 2px;
    img {
      height: 110px;
    }
  }
  .pair-match-play-option.pair-match-image-choice {
    background: none;
    height: 113px;
    padding: 0;
    img {
      max-width: 100%;
      max-height: 113px;
      height: auto;
    }
  }

  .question-hint-global {
    margin-top: 10px;
  }
}
