@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.custom-toggle {
  width: 4vw;

  input[type='checkbox'] {
    display: none;
    pointer-events: none;
    & + label {
      width: 100%;
      min-height: 2vw;
      cursor: pointer;
      @extend %posRelative;
      @extend %flexCenter;
      svg {
        width: 3vw;
        min-height: 100%;
        stroke-width: 16;
        fill: transparent;
        @extend %floatToCenter;
        .base-box,
        .box {
          stroke-dasharray: 173;
          stroke-linecap: round;
          stroke-linejoin: round;
          position: relative;
          z-index: 3;
        }
        .base-box {
          stroke-dasharray: none;
          stroke: var(--gray-alpha4);
          z-index: 0;
        }
      }
      &.reverse {
        svg {
          .box {
            stroke: var(--theme-green);
            stroke-dashoffset: 430;
            @extend %transitionAll300;
          }
        }
        &:hover svg .box {
          stroke: var(--theme-yellow);
        }
      }
      &.no-reverse {
        svg {
          .box {
            stroke-dashoffset: 258;
            stroke: var(--theme-orange);
            @extend %transitionAll300;
          }
        }
      }
    }
  }
}
