@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';
@import 'src/assets/sass/component/authpages';

.login-page ~ .beta-text {
  @include phone_and_tabletP {
    color: var(--theme-dark-blue);
  }
  @include tabletP {
    color: var(--theme-orange);
  }
}

.choose-login-desktop {
  $col-radius: 2vw;
  $col-color: var(--theme-light-blue);
  width: 100%;
  height: 100%;
  background-color: var(--theme-dark-blue);

  .first-row {
    height: 24.95%;

    .first-col {
      width: 30.5%;
      height: 100%;
      border-bottom-right-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 2%;
      width: 50.1%;
      height: 100%;
      border-bottom-right-radius: $col-radius;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }

    .third-col {
      margin-left: 2%;
      width: 15.4%;
      height: 100%;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }
  }

  .second-row {
    height: 58.4%;
    margin-top: 3.2vh;

    .first-col {
      margin-left: 1.7%;
      width: 50.1%;
      height: 100%;
      border-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 1.72%;
      width: 46.48%;
      height: 100%;
      border-top-left-radius: $col-radius;
      border-bottom-left-radius: $col-radius;
      background: $col-color;
    }
  }

  .third-row {
    height: 9.82%;
    margin-top: 3.63vh;

    .first-col {
      width: 35.25%;
      height: 100%;
      border-top-right-radius: $col-radius;
      background: $col-color;
    }

    .second-col {
      margin-left: 2%;
      width: 50.1%;
      height: 100%;
      border-top-right-radius: $col-radius;
      border-top-left-radius: $col-radius;
      background: $col-color;
    }

    .third-col {
      margin-left: 2%;
      width: 10.65%;
      height: 100%;
      border-top-left-radius: $col-radius;
      background: $col-color;
    }
  }

  .user-type-btn:hover {
    color: white;
    background: var(--theme-orange) !important;

    span {
      font-family: $font-family-bold !important;
    }
  }

  .user-type-btn {
    padding: 2.85vh 0;
    background-color: var(--theme-orange);
    color: var(--theme-dark-blue);
    margin-top: 1.55vh;
    margin-bottom: 1.6vh;
    margin-right: 3.4vw;
    border-radius: 0.7vw;
    font-weight: 200 !important;
    width: 51%;
    font-size: 2.55vw;

    span {
      font-family: $font-family-light;
      font-weight: 200 !important;
    }

    .user-type-name {
      line-height: 1 !important;
    }
  }
  @include tabletL {
    .logo-image {
      height: 28vh;
      margin-bottom: -13vh;
    }

    .logo-text-image {
      height: 6vh;
    }
  }
}

.second-col {
  position: relative;
  @extend %policy-text;
  .policy-text {
    position: absolute;
    bottom: 2.4vh;
    right: 0;
    span:hover {
      color: var(--theme-orange) !important;
    }
  }
}

@include phone_and_tabletP {
  .first-col.filled {
    z-index: 100;
    background: var(--theme-dark-blue);
  }
}

.mobile-button-box {
  @include phone_and_tabletP {
    background-color: $button-box;
    border-top-right-radius: 10vw;
    overflow: hidden;
    margin-top: 34px;
    height: calc(61% - 34px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end !important;
    padding: 8vh 6vw 0;
  }
}
