@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.beta-text {
	width: fit-content;
  position: fixed;
  bottom: 2.4vh;
  right: 2.4vh;
  color: var(--theme-orange);
	font-size: 2vw;
	line-height: 2vw;
  letter-spacing: 0.4vw;
	font-family: $font-family-black;
	@extend %flexCenter;
  @include phone {
    font-size: 6vw;
  }
  @include tabletP {
    font-size: 2vw;
  }
  div {
    display: inline-block;
  }

  .version-number {
		width: 0.5vw;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 0.5vw;
    letter-spacing: 0.08vw;
		@extend %flexCenter;
    transform: scale(-1, -1);
  }
}

strong {
  font-family: $font-family-black;
  font-weight: normal;
}

.MuiGrid-align-content-xs-center {
  display: -webkit-inline-box !important;
  -webkit-box-align: center !important;
}

.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-center {
  display: -webkit-inline-box !important;
  -webkit-box-align: center !important;
  -webkit-box-pack: center !important;
}

.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-flex-end {
  -webkit-box-pack: end !important;
}

#webWidget {
  left: 0;
}

#launcher {
  position: fixed;
  margin-left: 0.9vw !important;
  left: 0;
}

.youtube-link {
  padding-left: 1.2vw;
  margin-top: 1vw;
  height: 3vw;

  > a {
    border-radius: 1vw;
    font-size: 1.7vw;
    background: var(--theme-orange) !important;
    color: white !important;
    padding-top: 1.1vh;
    padding-bottom: 1.1vh;
    padding-left: 1vw;
    padding-right: 1vw;
  }
}