@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.beta-text {
  position: fixed;
  bottom: 2.4vh;
  right: 2.4vh;
  color: var(--theme-orange);
  font-size: 2vw;
  letter-spacing: 0.4vw;
  font-family: $font-family-black;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
  .version-number {
    writing-mode: vertical-lr;
    text-orientation: mixed;
    font-size: 0.6vw;
    letter-spacing: 0.08vw;
    -moz-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -ms-transform: scale(-1, -1);
    transform: scale(-1, -1);
  }
}

strong {
  font-family: $font-family-black;
  font-weight: normal;
}

.MuiGrid-align-content-xs-center {
  display: -webkit-inline-box !important;
  -webkit-box-align: center !important;
}

.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-center {
  display: -webkit-inline-box !important;
  -webkit-box-align: center !important;
  -webkit-box-pack: center !important;
}

.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-flex-end {
  -webkit-box-pack: end !important;
}

#webWidget {
  left: 0;
}

#launcher {
  position: fixed;
  margin-left: 0.9vw !important;
  left: 0;
}
