@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

$margin-left: 21%;

.annotations-no-scroll-panel {
  background: var(--off-white);
  $top-space: 15vh;
  width: calc(100% - 65%);
  position: relative;
  .annotation-title {
    position: absolute;
    width: 100%;
    top: 2vh;
    text-align: center;
    font-size: 1.5vw;
  }
  .toggle-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    top: calc(2vh + 2vw + 1vh);
  }
  .comment-text-container {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
    top: calc(2vh + 2vw + 1vh + 2.5vw + 1.5vh);
    width: calc(100% - 2rem) !important;
  }
  .annotations-panel {
    width: 100% !important;
    height: calc(100% - #{$top-space}) !important;
    margin-top: $top-space;
  }
}

.comments-panel,
.annotations-panel {
  &.comments-panel {
    background-color: var(--tab-gray);
    height: 100%;
    margin-left: 8%;
    width: 92% !important;
    border-radius: $editor-radius 0 0 $editor-radius;
  }

  .scroll-buttons {
    @extend %flexCenter;
    margin-top: 6vh;

    svg {
      height: 2vw;
      width: 2vw;
    }
    .disabled {
      color: var(--disabled-gray);
    }
  }

  .comments-title {
    position: relative;
    @extend %textCenter;
    color: var(--theme-dark-blue);
    font-size: $suggestions-title-font-size;
    letter-spacing: 1px;
    font-family: $font-family-black;
    padding-top: $suggestions-title-padding;
    padding-bottom: $suggestions-title-padding;

    svg {
      $icon-size: 3.6vh;
      cursor: pointer;
      position: absolute;
      top: 1.45vh;
      left: 1.6vh;
      height: $icon-size;
      width: $icon-size;
    }

    .filter-icon {
      margin-left: 1vw;
      &::before {
        background: var(--theme-dark-blue);
      }
      &::after {
        background: var(--theme-dark-blue);
      }
    }
  }

  .comment-container:first-child {
    .comment-item-container {
      margin-top: 0;
    }
  }

  button.new-comment {
    color: #ffffff;
    background-color: var(--theme-green);
    &:hover {
      background-color: var(--theme-green);
    }
    width: 100%;
    font-size: 1.25vw;
    letter-spacing: 7px;
    border-radius: 0;
  }

  .comments-column {
    color: var(--theme-dark-blue);
    overflow: scroll;
    display: block !important;
    position: absolute;
    z-index: 3;
    width: 82%;
    margin: 0 5%;
    max-height: 54vh;
    @include desktop {
      top: 17vh;
    }
    @include ex-desktop_wide_hd {
      top: 17vh;
    }
  }
  &.customize-panel {
    .comments-title {
      svg {
        margin-left: 0.8vw;
        position: unset;
      }
      > span {
        margin-left: 0.8vw;
      }
    }
    .profile-image-container {
      width: 2.6vw;
    }
    .comment-text {
      width: 12.5vw;
      margin-left: 0.13vw;
    }
  }
}

.question-comments-panel {
  height: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.7s ease-out;
  right: 0;
  &.hidden {
    right: -16vw;
  }

  .right-column {
    position: relative;
  }

  .comments-panel {
    .comments-title {
      @extend %displayFlex;
      @extend %flexAlignCenter;
    }
    .comments-column-wrapper {
      bottom: 0;
      width: 100%;
      overflow: scroll;
      flex-grow: 1;
      align-items: center;
    }
  }
}

.synthesis-comments-panel, .plan-comments-panel {
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: width 0.7s ease-out;
  right: 0;
  width: 100%;

  &.hidden {
    width: 0;
  }

  .comments-panel {
    .comments-title {
      @extend %displayFlex;
      @extend %flexAlignCenter;
    }
    .comments-column-wrapper {
      bottom: 0;
      width: 100%;
      overflow: scroll;
      flex-grow: 1;
      align-items: center;
    }
  }
}

.break-word {
  word-break: break-word;
}
