@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.comments-panel {
  background-color: var(--tab-gray);
  height: 100%;
  margin-left: 8%;
  width: 92% !important;
  border-radius: 10px 0 0 10px;

  .comments-title {
    position: relative;
    @extend %textCenter;
    color: var(--theme-dark-blue);
    font-size: $suggestions-title-font-size;
    letter-spacing: 1px;
    @extend %fontFamilyBlack;
    padding-top: $suggestions-title-padding;
    padding-bottom: $suggestions-title-padding;

    svg {
      $icon-size: 3.6vh;
      cursor: pointer;
      position: absolute;
      top: 1.45vh;
      left: 1.6vh;
      height: $icon-size;
      width: $icon-size;
    }
  }

  .comment-item-container {
    margin: 1.5vh;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0.7vh;
    width: 90%;
    border-radius: 1.2vh;
    background-color: #ffffff;
    font-size: 1vw;

    .stretch {
      flex-grow: 1;
      @extend %fontFamilyBold;
    }

    .comment-reply-container {
      border-top: 1px solid lightgrey;
      padding-top: 1vh;
      margin-top: 1vh;

      .comment-child-container {
        margin-left: 1rem;

        .comment-head-bar {
          display: flex;
          flex-direction: row;

          .comment-author {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .comment-container:first-child {
    .comment-item-container {
      margin-top: 0;
    }
  }

  button.new-comment {
    color: #ffffff;
    background-color: var(--theme-green);
    &:hover {
      background-color: var(--theme-green);
    }
    width: 100%;
    font-size: 1.25vw;
    letter-spacing: 7px;
    border-radius: 0;
  }

  .comments-column {
    color: var(--theme-dark-blue);
    overflow: scroll;
    display: block !important;
    height: 54vh;
  }
}

.question-comments-panel {
  height: $comments-panel-height;
  overflow: hidden;
  position: relative;

  .comments-panel {
    .comments-column-wrapper {
      bottom: 0;
      width: 92%;
      position: absolute;
      height: 60.5vh;
      overflow: hidden;
    }
    .comments-column {
      height: inherit;
    }
  }
}

.break-word {
  word-break: break-word;
}
