@import '../../../assets/sass/partials/variables';

.comments-panel {
  background-color: var(--tab-gray);
  height: 100%;
  margin-left: 8%;
  width: 92% !important;
  border-radius: 10px 0 0 10px;

  .comments-title {
    position: relative;
    text-align: center;
    color: var(--theme-dark-blue);
    font-size: $suggestions-title-font-size;
    letter-spacing: 1px;
    font-family: "Brandon Grotesque Black";
    padding-top: $suggestions-title-padding;
    padding-bottom: $suggestions-title-padding;

    svg {
      cursor: pointer;
      position: absolute;
      top: 1.36vh;
      left: 0.8vh;
      height: 3vh;
      width: 3vh;
    }
  }

  .comment-item-container {
    margin: 1.5vh;
    padding: 0.7vh;
    border-radius: 1.2vh;
    background-color: #ffffff;

    .stretch {
      flex-grow: 1;
    }

    .comment-reply-container {
      border-top: 1px solid lightgrey;
      padding-top: 1vh;
      margin-top: 1vh;
      
      .comment-child-container {
        margin-left: 1rem;

        .comment-head-bar {
          display: flex;
          flex-direction: row;

          .comment-author {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .comment-container:first-child {
    .comment-item-container {
      margin-top: 0;
    }
  }

  button.new-comment {
    color: #ffffff;
    background-color: var(--theme-green);
    &:hover {
      background-color: var(--theme-green);
    }
    width: 100%;
    font-size: 1.25vw;
    letter-spacing: 7px;
    border-radius: 0;
  }

  .comments-column {
    overflow: scroll;
    display: block !important;
    height: 54vh;
  }
}

.question-comments-panel {
  height: $comments-panel-height;
  overflow: hidden;
  position: relative;

  .comments-panel {
    .comments-column-wrapper {
      bottom: 0;
      position: absolute;
      height: 61.7vh;
      overflow: hidden;
    }
    .comments-column {
      height: inherit;
    }
  }
}