@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

$margin-left: 21%;

.comments-panel {
  background-color: var(--tab-gray);
  height: 100%;
  margin-left: 8%;
  width: 92% !important;
  border-radius: $editor-radius 0 0 $editor-radius;

  .scroll-buttons {
    @extend %flexCenter;
    margin-top: 6vh;

    svg {
      height: 2vw;
      width: 2vw;
    }
    .disabled {
      color: var(--disabled-gray);
    }
  }

  .comments-title {
    position: relative;
    @extend %textCenter;
    color: var(--theme-dark-blue);
    font-size: $suggestions-title-font-size;
    letter-spacing: 1px;
    font-family: $font-family-black;
    padding-top: $suggestions-title-padding;
    padding-bottom: $suggestions-title-padding;

    svg {
      $icon-size: 3.6vh;
      cursor: pointer;
      position: absolute;
      top: 1.45vh;
      left: 1.6vh;
      height: $icon-size;
      width: $icon-size;
    }

    .filter-icon {
      margin-left: 1vw;
      &::before {
        background: var(--theme-dark-blue);
      }
      &::after {
        background: var(--theme-dark-blue);
      }
    }
  }

  .comment-item-container {
    padding: 0.7vh;
    padding-left: 0.1vh;
    width: 100%;
    margin-bottom: 1.5vh;
    border-radius: 1.2vh;
    background-color: #ffffff;
    font-size: 1vw;
    @extend %posRelative;
    .profile-image-container {
      @extend %flexCenter;
      // width: $margin-left;
      width: 2.5vw;
      height: 2.5vw;
      cursor: pointer;
      .profile-image {
        @extend %flexCenter;
        background: var(--tab-gray);
        width: 2.2vw;
        height: 2.2vw;
        border-radius: 50%;
        overflow: hidden;

        svg,
        img {
          height: 1.8vw;
          width: 1.8vw;
          border-radius: 50%;
          overflow: hidden;
        }

        $border-width: 0.2vw;
        &.red-border {
          border: $border-width solid var(--theme-orange);
        }
        &.yellow-border {
          border: $border-width solid var(--theme-yellow);
        }
      }
    }

    .stretch {
      // margin-left: $margin-left;
      margin-left: 2.6vw;
      flex-grow: 1;
      line-height: 1.3;
      font-family: $font-family-bold;
      width: calc(12vw - 5.2vw - 12px);
      cursor: pointer;
      h4 {
        width: calc(9.8vw - 2.6vw - 6px);
        padding-left: 0.2vw;
      }
    }
    .buttons-container {
      // position: absolute;
      // top: 0;
      // right: 0;
      @extend %flexToXCenter;
      > button {
        height: 1.3vw;
        width: 1.3vw;
        border: 0;
        background-color: transparent;
        padding: 0;
        .svg {
          stroke-width: 2;
          @extend %removePosition;
          height: 100%;
          width: 100%;
        }
        &.message-button {
          .svg {
            color: var(--theme-dark-blue);
          }
        }
        &.cancel-button {
          .svg {
            color: var(--theme-orange);
          }
        }
      }
    }
    .comment-date {
      cursor: pointer;
      margin-left: 2.9vw;
      white-space: nowrap;
    }

    .comment-item {
      .comment-text {
        margin-left: 3%;
      }
    }

    .comment-item-collapsed {
      padding-left: 5%;
      padding-right: 5%;
      cursor: pointer;
      .comment-collapsed-row {
        white-space: nowrap;
        overflow: hidden;
        flex-wrap: nowrap;
        .comment-author {
          font-family: $font-family-bold;
          margin-right: 5%;

          svg {
            margin-top: 0.45vw;
            margin-right: 0.35vw;
            stroke-width: 2;
            height: 1.3vw;
            width: 1.3vw;
          }
        }
        .comment-text {
          width: 8vw;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .comment-reply-count {
        margin-left: auto;
        right: 0;
      }
    }

    .comment-reply-container {
      border-top: 1px solid lightgrey;
      padding-top: 1vh;
      margin-top: 1vh;

      .comment-child-container {
        position: relative;
        .comment-head-bar {
          display: flex;
          flex-direction: row;

          .comment-author {
            margin-left: $margin-left;
            padding-left: 0.3vw;
            flex-grow: 1;
            line-height: 1.3;
          }
        }
        .comment-date {
          margin-left: $margin-left;
          padding-left: 0.2vw;
          line-height: 1.3;
          margin-bottom: 10px;
        }
      }
    }
  }

  .comment-container:first-child {
    .comment-item-container {
      margin-top: 0;
    }
  }

  button.new-comment {
    color: #ffffff;
    background-color: var(--theme-green);
    &:hover {
      background-color: var(--theme-green);
    }
    width: 100%;
    font-size: 1.25vw;
    letter-spacing: 7px;
    border-radius: 0;
  }

  .comments-column {
    color: var(--theme-dark-blue);
    overflow: scroll;
    display: block !important;
    position: absolute;
    z-index: 3;
    width: 82%;
    margin: 0 5%;
    max-height: 54vh;
    @include desktop {
      top: 17vh;
    }
    @include ex-desktop_wide_hd {
      top: 17vh;
    }
  }
  &.customize-panel {
    .comments-title {
      svg {
        margin-left: 0.8vw;
        position: unset;
      }
      > span {
        margin-left: 0.8vw;
      }
    }
    .profile-image-container {
      width: 2.6vw;
    }
    .comment-text {
      width: 12.5vw;
      margin-left: 0.13vw;
    }
  }
}

.question-comments-panel {
  height: 100%;
  top: 0;
  overflow: hidden;
  position: absolute;
  transition: all 0.7s ease-out;
  right: 0;
  &.hidden {
    right: -16vw;
  }

  .right-column {
    position: relative;
  }

  .comments-panel {
    .comments-title {
      @extend %displayFlex;
      @extend %flexAlignCenter;
    }
    .comments-column-wrapper {
      bottom: 0;
      width: 100%;
      overflow: scroll;
      flex-grow: 1;
      align-items: center;
    }
  }
}

.synthesis-comments-panel, .plan-comments-panel {
  height: 100%;
  overflow: hidden;
  position: absolute;
  transition: width 0.7s ease-out;
  right: 0;
  width: 100%;

  &.hidden {
    width: 0;
  }

  .comments-panel {
    .comments-title {
      @extend %displayFlex;
      @extend %flexAlignCenter;
    }
    .comments-column-wrapper {
      bottom: 0;
      width: 100%;
      overflow: scroll;
      flex-grow: 1;
      align-items: center;
    }
  }
}

.break-word {
  word-break: break-word;
}
