@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.comment-text-container {
  $radius: 0.25vw;
  @extend %flexCenter;
  background-color: var(--theme-green);
  flex-wrap: wrap;
  margin-left: 5%;
  width:83%;
  position: absolute;
  top: 6vh;
  border-radius: $radius;
  box-shadow: 0px 5px 5px #a5a8aE;
  z-index: 4;
  > div {
    width: 90%;
  }

  .comment-text-form {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    width: 80%;
    border-radius: $radius 0 0 $radius;
    .comment-text-entry {
      padding: 0;
      font-size: 2vh;
      width: 84%;
      height: 3vh;
      min-height: 1.5vh;
      max-height: 40vh;
      margin-top: 0.8vh;
      margin-bottom: 0.8vh;
      padding-left: 8%;
      padding-right: 8%;
      border: none;
      resize: none;
    }

    > div {
      padding: 0;
      margin: 0;
    }

    input {
      font-size: 2vh;
      letter-spacing: 0.1vh;
      height: 2.7vh;
      margin: 0;
      padding: 0;
    }
  }
  .comment-button-container {
    height: 100%;
    width: 20%;
    cursor: pointer;

    svg {
      color: var(--white);
      margin: auto;
      height: 2vw;
      width: 2vw;
    }
  }

  &.disabled {
    background-color: var(--disabled-gray);
    .comment-button-container {
      cursor: inherit;
      svg {
        color: var(--tab-gray);
      }
    }
  }
}

.comment-reply-text-form {
  background-color: var(--tab-gray);
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  textarea {
    font-size: 1vw;
    color: var(--theme-dark-blue);
  }
}

button.comment-action-button {
  color: var(--white);
  font-size: 2vh;
  letter-spacing: 1px;

  .MuiButton-label {
    font-family: $font-family-black !important;
  }

  &:disabled {
    color: var(--global-light-text-gray) !important;
  }

  &.post {
    color: var(--theme-dark-blue);
  }

  &.cancel {
    color: var(--theme-orange);
  }

  &.in-child {
    font-size: 0.75vw;
  }
}
