@import "../../../assets/sass/partials/variables";

.comment-text-form {
    background-color: var(--white);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.comment-reply-text-form {
    background-color: var(--tab-gray);
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

button.comment-action-button {
    color: var(--white);
    font-size: 1vw;
    letter-spacing: 1px;

    .MuiButton-label {
        font-family: $font-family-black !important;
    }

    &:disabled {
        color: var(--global-light-text-gray) !important;
    }

    &.post {
        color: var(--theme-dark-blue);
    }

    &.cancel {
        color: var(--theme-orange)
    }

    &.in-child {
        font-size: 0.75vw;
    }
}