@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.bell-button {
  @include phone_and_tabletP {
    width: 45px;
    height: 45px;
    padding: 0;
  }
  #bell {
    stroke: var(--theme-orange);
    width: 100%;
    height: 100%;
    fill: none;
  }
  &:hover {
    .bell-cup {
      @extend %transitionAll300;
      fill: var(--theme-orange);
    }
  }
}

// phone
.bell-button {
  #bell {
    stroke: var(--white);
  }
  .bell-cup {
    fill: inherit !important;
  }

  .bell-circle {
    position: absolute;
    top: 0;
    right: calc(50% - 19px);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: var(--white);
    text-align: center;
    background: var(--theme-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2vw;
  }
}

// desktop and tablet
.bell-button.big-version {
  #bell {
    stroke: var(--white);
  }
  .bell-cup {
    fill: inherit;
  }

  .bell-circle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.8vw;
    height: 1.8vw;
    border-radius: 50%;
    color: var(--white);
    text-align: center;
    background: var(--theme-orange);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 1.2vw;
  }
}