@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.choose-one-live {
  .image-choice {
    background: inherit;
    padding: 0 !important;
    background-color: var(--light-gray);
    width: 100%;
  }
  .question-hint {
    width: 100%;
    margin: 0;
  }
}
