@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.brief-page {
  @extend %fontFamilyRegular;
  .left-block {
    margin-top: 15.5vh;
    > h1 {
      @include tabletL {
        margin-top: 0.5vh;
        font-size: 3.2vw;
        margin-bottom: 4vh;
      }
    }
  }
  .typing-text {
    top: 48%;
    height: 51%;
  }
}
