@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.brief-page {
  font-family: $font-family-regular;
  .left-block {
    margin-top: 15.5vh;
    > h1 {
      @include tabletL {
        margin-top: 0.5vh;
        font-size: 3.2vw;
        margin-bottom: 4vh;
      }
    }
  }
  .phone-preview-component {
    svg {
      width: auto;
      margin-left: 0vw;
      stroke-width: 1.2px;
      height: 12.7vw;
    }
    .typing-text {
      top: 48%;
      height: 51%;
    }
  }
}
