@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.provisional-score-page {
  .p-icon {
    position: absolute;
    left: 1vw;
    border-radius: 100vw;
    font-family: $font-family-black;
    color: $dark-blue;
    background: $tab-gray;
    font-size: 1.7vw;
    padding: 0vw 0.7vw;
  }
  h1 {
    font-size: 3.6vw;
    text-align: center;
    color: $dark-blue;
    margin-top: 0;
    font-family: $font-family-bold;
  }
  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .circle-progress-container {
    position: relative;
    margin-top: 14px;
    margin-bottom: 6px;

    .circle-progress {
      height: 294px !important;
      width: 294px !important;

      svg {
        overflow: overlay;

        circle {
          stroke-width: 4.5 !important;
        }
      }
    }

    .score-data {
      position: absolute;
      height: 100%;
      color: black;
      text-align: center;
      > div {
        height: 100%;

        .score-precentage {
          margin-bottom: 5px;
          font-size: 50px;
        }

        .score-number {
          font-size: 24px;
        }
      }
    }
  }



  .MuiCircularProgress-colorPrimary {
    color: #0076B4 !important;
  }
}