@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.provisional-score-page {
  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }
  .stepper {
    @include phone_and_tabletP {
      flex-direction: row !important;
    }
    .step {
      color: var(--theme-dark-blue) !important;
      svg {
        @include phone_and_tabletP {
          height: 4vw !important;
          width: 4vw !important;
        }
      }
    }
  }
  &.mobile-provisional-score {
    @include phone_and_tabletP {
      overflow-y: inherit !important;
      height: calc(100vh - 6vh) !important;
      position: relative;
    }
    @include tabletP {
      height: 90vh;
      overflow: hidden !important;
    }

    h1 {
      position: absolute !important;
      top: 0.2vw !important;
      left: 2.5vw;
    }
    .question-index-container {
      width: 7vw !important;
      height: 7vw !important;
      .question-index {
        width: 7vw !important;
        height: 7vw !important;
        font-size: 6vw !important;
      }
    }
    .action-footer {
      @include phone_and_tabletP {
        position: absolute !important;
        right: 0;
      }
    }
    .question-live-play {
      margin: 0 !important;
      width: 100% !important;
      @include phone_and_tabletP {
        overflow-y: hidden !important;
      }

      .circle-progress {
        width: 90vw !important;
        height: 90vw !important;
      }
      .score-data {
        width: 90vw !important;
        height: 90vw !important;
      }
    }
  }
}
