@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.provisional-score-page {
  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .stepper {
    .step {
      color: var(--dark-blue) !important;
    }
  }
}