@import '../../../assets/sass/partials/variables';
@import '../../../assets/sass/partials/mixins';
@import '../../../assets/sass/partials/extensions';

.pre-login-page {
  background: var(--dark-blue);
  height: 100%;
  .back-col {
    height: 13.3vh;
    width: 32.3vw;
    .back-box {
      text-align: center;
      .back-button {
        cursor: pointer;
        height: 3.6vw;
        width: 2vw;
        margin-left: 15vw;
        color: var(--theme-orange);
        transition: all 0.2s ease-in-out;
        transform-origin: 200% 50%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/feathericons/big-chevron-left-orange.png);
      }
      .back-button:hover {
        transform: scale(1.15, 1.05);
      }
    }
  }
  .first-col {
    width: 29.6vw;
    height: 100%;

    .first-item {
      background: $light-blue;
      height: 14.7vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $light-blue;
      margin-top: 4.7vh;
      height: 80.6vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-align: center;
      .logo-image {
        margin-top: 6.1vh;
        margin-bottom: 3.9vh;
        height: 20vh;
      }
    }
  }
  .second-col {
    margin-left: 2.7vw;
    width: 29.7vw;
    height: 100%;
    .first-item {
      background: $light-blue;
      height: 70.9vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $light-blue;
      margin-top: 4.7vh;
      height: 24.4vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .email-button,
  .google-button {
    padding: 2.5vh;
    border-radius: $button-radius;
    text-transform: none;
    font: 1vw $font-family-regular;
    letter-spacing: 0.1vw;
    width: 22vw;
    margin-bottom: 2.7vh;
    transition: all 0.2s ease-in-out;
    .svg {
      transition: all 0.2s ease-in-out;
      margin-right: 1vw;
      width: 2.5vw;
      height: 2.5vw;
    }
    .MuiButton-label {
      justify-content: flex-start;
    }
  }
  .email-button {
    background: var(--theme-orange);
    .svg,
    span {
      color: var(--white);
    }
    &:hover {
      background: var(--dark-blue);
    }
  }
  .google-button {
    background: var(--white);
    span {
      color: var(--dark-blue);
    }
    &:hover {
      background: var(--white);
      .svg {
        transform: scale(1.4);
      }
    }
  }
}
