@import '../../../assets/sass/partials/variables';
@import '../../../assets/sass/partials/mixins';
@import '../../../assets/sass/partials/extensions';

.pre-login-page {
  background: $dark-blue;
  height: 100%;
  .back-col {
    height: 13.3vh;
    width: 32.3vw;
    .back-box {
      text-align: center;
      .back-button {
        cursor: pointer;
        width: 4.5vw;
        height: auto;
        color: $orange;
        transition: all .2s ease-in-out;
        transform-origin: 110% 50%;
      }
      .back-button:hover {
        transform: scale(1.15, 1.05);
      }
    }
  }

  .first-col {
    width: 29.6vw;
    height: 100%;

    .first-item {
      background: $light-blue;
      height: 14.7vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $light-blue;
      margin-top: 4.7vh;
      height: 80.6vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-align: center;

      .logo-image {
        margin-top: 6.1vh;
        margin-bottom: 3.9vh;
        height: 20vh;
      }
    }
  }
  .second-col {
    margin-left: 2.7vw;
    width: 29.7vw;
    height: 100%;

    .first-item {
      background: $light-blue;
      height: 70.9vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $light-blue;
      margin-top: 4.7vh;
      height: 24.4vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  .email-button {
    background: white;
    text-transform: none;
    border-radius: $button-radius;
    padding: 2.5vh 0.4vw 2.5vh 0;
    font: 1.16vw $font-family-regular;
    letter-spacing: 0.1vw;
    width: 23vw;
    margin-bottom: 2.7vh;
    transition: all .2s ease-in-out;
    .email-icon {
      transition: all .2s ease-in-out;
      margin-right: 1.4vw;
      width: 2.6vw;
      height: auto;
      color: $dark-blue;
    }
  }

  .google-button {
    padding: 2.5vh 0 2.5vh 1.2vw;
    background: $orange;
    color: white;
    text-transform: none;
    border-radius: $button-radius;
    width: 23vw;
    font: 1.16vw $font-family-regular;
    letter-spacing: 0.1vw;
    margin-bottom: 2.7vh;
    .google-icon {
      transition: all .2s ease-in-out;
      margin-right: 2vw;
      width: 1.5vw;
      padding-top: 0.532vw;
      padding-bottom: 0.532vw;
      height: auto;
      color: $dark-blue;
    }
  }

  .google-button:hover {
    background: $orange;
    .google-icon {
      transform: scale(1.4);
    }
  }

  .email-button:hover {
    background: $dark-blue;
    opacity: 1;
    color: white;
    .email-icon {
      color: white;
    }
  }
}