@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.s-user-preference-page {
  height: 100%;
  background: var(--theme-dark-blue);
  color: var(--white);
  display: flex;
  justify-content: center;

  .ef-space-before-title {
    height: 4%;
  }

  h2 {
    padding-left: 8vw;
    padding-right: 4vw;
    text-align: left;
    font-size: 9vw;
    font-family: $font-family-bold;
  }

  .ef-space-after-title {
    height: 0;
  }

  .ef-radio-box {
    width: 100%;

    .radio-container {
      cursor: pointer;
      border-radius: 3.5vw;
      padding-top: 0vh;
      padding-bottom: 0.6vh;
      padding-left: 3vw;
      padding-right: 3vw;
      margin-left: 4vw;
      margin-right: 4vw;
      margin-top: 1vh;
      margin-bottom: 1vh;

      .MuiButtonBase-root {
        padding: 0;
        margin-right: 3vw;
        margin-bottom: 3.5vw;
      }

      .MuiSvgIcon-root {
        height: 6vw;
        width: 6vw;
        color: var(--white);
      }

      .radio-text {
        font-family: $font-family-bold;
        font-size: 7vw;
      }

      .ef-label {
        font-size: 5vw;
        margin-left: 10vw;
      }

      &.active {
        background: var(--theme-light-blue);     
      }

      &.disabled {
        cursor: inherit;
        color: #757575;
        .MuiSvgIcon-root {
          color: #757575;
        }
      }
    }
  }

  .ef-main-radio-context {
    overflow-y: auto;
  }

  .ss-user-preference-next {
    right: 6vw;
    top: calc(50vh - 3vw);
    background: var(--theme-orange);
    border-radius: 3vw;
    height: 5%;
    min-height: 6vw;
    margin-left: 10vw;
    width: 80vw;
    letter-spacing: 0.1vw;
    font-size: 6vw;
    svg {
      display: none;
    }
  }
}