@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.vertical-shuffle-play {
  .verical-shuffle-sort-list {
    width: 100%;
  }
}
.vertical-shuffle-choice {
  @keyframes spinning-v2 {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-360deg);
    }
  }

  .vertical-content {
    width: 100%;
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 0.6vw;
    &.full-height {
      > div {
        height: 100%;
        @include flexCenter;
      }
    }
    .image-container {
      margin: 5px;
      width: 100%;
      img {
        width: auto;
        max-height: 10vh;
      }
    }
    .circle-index {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 1vw;
      height: 100%;

      > div {
        background: var(--white);
        width: 2vw;
        height: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: $font-family-black;
        border-radius: 50%;
      }
      svg {
        height: 1.2vw;
        width: 1.2vw;
        color: #8CBAF5;
        animation: spinning-v2 2s infinite linear;
      }
    }
    .question-hint {
      width: calc(88vw) !important;
    }
  }
}

// build. phone preview
.phone-question-preview .vertical-shuffle-choice .vertical-content {
  width: 100%;
  position: relative;
  padding-left: 3vw;
  padding-right: 3vw;
  border-radius: .6vw;
  .image-container {
    margin: 0 !important;
    margin-top: 0.3vh !important;
  }
  .circle-index {
    top: 10%;
    left: 0.5vw;
  }
  img {
    max-width: 100%;
  }
}

// phone sound
.vertical-shuffle-choice .vertical-content.sound-type-d34 {
  .ver-data-d34 {
    width: 100%;
  }
  .relative-waves-container {
    padding-bottom: 2vw;
  }
  .absolute-end-time,
  .absolute-start-time {
    top: calc(100px);
  }
}

.image-container-v4 {
  line-height: 0 !important;
}

.play-preview-pages {
  .image-caption-v4 {
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-size: 1.4vw !important;
    line-height: 1.25 !important;
  
    > div {
      display: inline;
    }
  
    br {
      display: none;
    }
  
    div {
      display: inline;
    }
  
    p {
      margin: 0 !important;
      display: inline;
    }
  }

  .pair-match-play .image-caption-v4 {
    width: 30vw;
  }
}

.phone-question-preview .image-caption-v4 {
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.phone-question-preview .vertical-shuffle-choice .image-caption-v4 {
  padding-left: 3vw;
  padding-right: 0.5vw;
  width: 16vw;
}