@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';


.vertical-shuffle-play {
  .verical-shuffle-sort-list {
    width: 100%;
  }
}
.vertical-shuffle-choice {
  display: flex;
  border-radius: 2.5vw !important;

  @keyframes spinning-v2 {
    0% {
      transform: rotateZ(0deg);
    }
    100% {
      transform: rotateZ(-360deg);
    }
  }

  .vertical-content {
    border-radius: 4vw;
    width: 100%;
    position: relative;
    padding-left: 4vw;
    padding-right: 4vw;
    &.full-height {
      > div {
        height: 100%;
        @extend %flexCenter;
      }
    }
    .image-container {
      margin: 5px;
      width: 100%;
      img {
        width: auto;
        max-height: 10vh;
      }
    }
    .circle-index {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 1vw;
      background: var(--white);
      width: 6vw;
      height: 6vw;
      font-family: $font-family-black;
      border-radius: 50%;

      svg {
        height: 4vw;
        width: 4vw;
        color: #8CBAF5;
        animation: spinning-v2 2s infinite linear;
      }
    }
  }
}