@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.post-play-page {
  height: 100% !important;
  background: var(--theme-dark-blue);
  color: var(--white);
  $book-height: 60vh;
  $real-book-height: 64vh;

  h2 {
    font-family: $font-family-bold;
    font-size: 1.7vw;
    margin-bottom: 2.5vh;
  }

  .flipped-page {
    height: 100%;
    width: 100%;
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);

    padding-top: 3.5vh;
    color: var(--theme-dark-blue);

    &.question-page {
      padding-top: 1.5vh;
      padding-left: 10%;
      padding-right: 10%;
      position: relative;

      .question-number {
        width: 10%;
        position: absolute;
        left: 0;
        top: calc(1.5vh + 0.57vw);
        @extend %flexCenter;

        div {
          width: 1.6vw;
          height: 1.6vw;
          background: var(--tab-gray);
          border-radius: 50%;
          font-size: 1.4vw;
          font-family: $font-family-bold;
          @extend %flexCenter;
        }
      }
    }
  }

  .main-text-container {
    position: fixed;
    height: 100%;
    width: 38vw;
    top: 16.1vh;
    left: 16vw;
    margin-top: 2vh;

    h1 {
      font-weight: normal !important;
      font-family: $font-family-black;
      letter-spacing: 0.05vw;
      font-size: 2.8vw;
      margin: 0;
      line-height: 2;
    }

    h2 {
      font-weight: normal !important;
      font-size: 1.9vw;
      font-family: $font-family-regular;
      margin: 0;
      line-height: 2.3;
    }

    button {
      border: none;
      outline: none;
      border-radius: 1vw;
      margin-top: 8vh;
      margin-left: 7vw;
      font-family: $font-family-bold;
      font-size: 1.6vw;
      background: var(--theme-light-blue);
      padding: 0.8vh 1.5vw;
    }
  }

  .book-main-container {
    position: fixed;
    z-index: 200;
    right: 0;
    width: 45.15vw;
    height: 100%;
    top: 0;
    transition: all 0.8s ease-in-out;
  }

  .book-container {
    display: flex;
    perspective: 100vw;
    width: 0;
    left: 0;
    $book-radius: 0.4vw;

    .book {
      margin-top: 15.5vh;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      position: relative;
      height: $real-book-height;
      backface-visibility: visible;
    }

    .front {
      transform: rotateY(0deg);
    }

    .front,
    .front-cover,
    .back,
    .book-page,
    .page1,
    .page1-cover,
    .page2,
    .page3,
    .page3-cover,
    .page4-cover,
    .page3-empty,
    .page4-attempts,
    .page4,
    .page5,
    .page6 {
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d;
      position: absolute;
      width: 30.1vw;
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: left center;
      transition: transform 1s ease-in-out, box-shadow 0.7s ease-in-out;
      border-bottom-right-radius: $book-radius;
      border-top-right-radius: $book-radius;
    }

    .book-page {
      background: #fafafa;
      border-bottom-left-radius: $book-radius !important;
      border-top-left-radius: $book-radius !important;
      overflow-y: auto;

      >div {
        border-bottom-right-radius: $book-radius !important;
        border-top-right-radius: $book-radius !important;
      }

      >.flipped-page {
        border-bottom-left-radius: $book-radius !important;
        border-top-left-radius: $book-radius !important;
      }
    }

    .synthesis-page {
      border-bottom-left-radius: 0 !important;
      border-top-left-radius: 0 !important;
    }

    .front,
    .front-cover,
    .back {
      width: 30.5vw;
      height: $real-book-height;
      background: var(--theme-dark-blue);
    }

    .front {
      position: relative;
      line-height: 1.45;
      color: var(--theme-orange);
      @extend %textCenter;
      font-family: $font-family-black;
      background: var(--tab-gray);

      .page-stitch {
        position: absolute;
        height: 100%;
        width: 1.76vw;

        .vertical-line,
        .horizontal-line {
          position: absolute;
          background: var(--white);
        }

        .vertical-line {
          height: 100%;
          right: 0;
          width: 0.8vw;
        }

        .horizontal-line {
          height: 0.8vw;
          width: 100%;
        }

        .top-line-1 {
          top: 7.8vh;
        }

        .top-line-2 {
          top: 14.7vh;
        }

        .bottom-line-1 {
          bottom: 14.7vh;
        }

        .bottom-line-2 {
          bottom: 7.8vh;
        }
      }

      .page-cover {
        height: 100%;
        display: flex;
        flex-direction: column;

        .image-background-container {
          width: 10vw;
          height: 10vw;
          @extend %flexCenter;
          margin: 8vh auto;
          background: var(--white);
          border-radius: 0.4vw;
          padding: 0.4vw;

          .svg {
            width: 100%;
            height: 100%;
          }
        }

        .brick-title {
          margin: 0 1.8vw;
          text-transform: uppercase;
          color: var(--theme-dark-blue);
          font-size: 1.8vw;
          overflow-x: hidden;
          height: 18vh;
        }

        .names-row {
          margin-bottom: 3vh;
          font-size: 2.4vw;
          height: 7vh;
          color: var(--theme-light-blue);
        }
      }
    }

    .page1,
    .page3-empty,
    .page4-attempts {
      background: #fafafa;
    }

    .page3-empty,
    .page4-attempts {
      color: #d3d4d5;
    }

    .front-cover {
      background: #efefef;
    }

    .page4-attempts {
      padding-top: 5vh;
      overflow-y: auto;

      .attempt-info {
        cursor: pointer;
        width: 24.5vw;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        margin-left: 3vw;
        display: flex;
        align-items: center;
        line-height: 1;
        font-size: 1.3vw;

        .percentage {
          @extend %flexCenter;
          font-size: 1.5vw;
          width: 2.5vw;
          height: 2.5vw;
          color: var(--white);
          margin-right: 1vw;
          background: var(--theme-green);
          border-radius: 50%;
        }

        &:hover {
          span {
            opacity: 0.5;
            color: var(--theme-dark-blue);
          }
        }

        &.active {
          color: var(--theme-dark-blue);
        }
      }
    }

    .page1 {
      .flipped-page {
        .circle-icon {
          margin-top: 2vh;
          margin-bottom: 2vh;
          height: 5vw;
          width: 5vw;
          border-radius: 50%;
        }

        .proposal-titles {
          font-weight: normal;
          margin-left: 3vw;
          margin-right: 3vw;
          margin-top: 3vh;
          font-family: $font-family-regular;
          text-align: left;
          margin-left: 3.1vw;
          font-size: 1.3vw;

          .title {
            font-family: $font-family-bold;
            text-transform: uppercase;
            letter-spacing: 0.3vw;
            height: 20vh;
          }
        }
      }
    }

    .page2 {
      background: #fdfdfd;

      .normal-page {
        .normal-page-container {
          position: relative;
          height: calc(#{$real-book-height} - 15vh - 5vh);
          font-family: $font-family-black;
          color: #d3d4d5;
          margin-top: 15vh;
          margin-bottom: 5vh;
          margin-left: 5vw;
          margin-right: 2vw;
          letter-spacing: 0.6vw;
          font-size: 1vw;

          h2 {
            font-size: 2vw;
          }

          .bottom-button {
            cursor: pointer;
            color: var(--theme-dark-blue);
            position: absolute;
            bottom: 0;
            font-size: 1.2vw;
            letter-spacing: 0.1vw;
            margin-left: 6vw;
            @extend %flexCenter;

            svg {
              margin-left: 1vw;
              height: 3vw;
              width: 3vw;
            }
          }
        }
      }
    }

    .page5 {
      background: #efefef;
    }

    .page6 {
      background: #efefef;
    }

    .introduction-brief {
      .intro-header {
        text-transform: uppercase;
        font-family: $font-family-black;
      }
    }

    .page3,
    .page3-cover {
      background: #f5f5f5;
    }

    .page4 {
      background: #f5f5f5;
    }

    .synthesis-page {
      color: var(--theme-dark-blue);

      h2 {
        text-align: center;
      }
    }
  }

  $scale: 1.15;

  .bookmark {
    z-index: 1000;
    position: fixed;
    height: $real-book-height + 0vh;
    left: -2vh;
    width: 4vh;
    top: 1vh;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 100px) scale($scale);
    @extend %transitionAll300;

    &.hidden {
      top: -3.8vh;
      height: 0;
    }
  }

  //#region book animations
  .book-main-container {
    &.expanded {
      width: 50vw;

      .front {
        transform: rotateY(-160deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
      }

      .front-cover {
        transform: rotateY(-159.6deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        background: #efefef;
      }

      .back {
        transform: rotateY(-20deg) scale($scale);
      }
    }

    &.hovered {

      .page1,
      .page1-cover {
        transform: rotateY(-130deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
      }

      .page2 {
        transform: rotateY(-50deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 4;
      }

      .page3-empty {
        transform: rotateY(-49.8deg) scale($scale);
      }

      .page4-attempts {
        transform: rotateY(-31deg) scale($scale);
      }

      .page6 {
        transform: rotateY(-30deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 8;
      }
    }

    &.attempts-list {
      .page2 {
        transform: rotateY(-130.2deg) scale($scale);
      }

      .page3-empty {
        transform: rotateY(-130deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
      }

      .page4-attempts {
        transform: rotateY(-50deg) scale($scale);
      }

      .front {
        transform: rotateY(-180deg) scale($scale);
      }

      .page1-cover {
        transform: rotateY(-179deg) scale($scale);
      }

      .page1 {
        transform: rotateY(-159.5deg) scale($scale);
      }

      .introduction-brief {
        transform: rotateY(-49.5deg) scale($scale);
      }

      .introduction-prep {
        transform: rotateY(-30deg) scale($scale);
      }

      .page6 {
        transform: rotateY(-30deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 8;
      }
    }

    &.introduction {
      .page2 {
        transform: rotateY(-179.2deg) scale($scale);
      }

      .page3-empty {
        transform: rotateY(-179deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
      }

      .page4-attempts {
        transform: rotateY(-176.5deg) scale($scale);
      }

      .introduction-brief {
        transform: rotateY(-176deg) scale($scale);
      }

      .introduction-prep {
        transform: rotateY(-4deg) scale($scale);
      }

      .page3 {
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 6;

        &.first {
          transform: rotateY(-3.5deg) scale($scale);
        }
      }

      .front,
      .front-cover,
      .page1-cover,
      .page1 {
        transform: rotateY(-180deg) scale($scale);
      }

      .page3-cover.first {
        transform: rotateY(-3.5 deg) scale($scale);
      }

      .page4 {
        &.first {
          transform: rotateY(-3.5deg) scale($scale);
        }
      }

      .page6 {
        transform: rotateY(-3deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 8;
      }

      .back {
        transform: rotateY(0.5deg) scale($scale);
      }
    }

    &.question-attempt {
      .front {
        transform: rotateY(-181deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
      }

      .front-cover {
        transform: rotateY(-179deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        background: #efefef;
      }

      .page3-empty,
      .page4-attempts {
        transform: rotateY(-178.3deg) scale($scale);
      }

      .back {
        transform: rotateY(0.4deg) scale($scale);
      }

      .page1 {
        transform: rotateY(-180deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
      }

      .page2 {
        transform: rotateY(-178.3deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 4;
      }

      .page3 {
        transform: rotateY(-176deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 6;
        color: var(--theme-dark-blue);
      }

      .page3-cover {
        transform: rotateY(-175deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 6;
      }

      .page4 {
        transform: rotateY(-4deg) scale($scale);
        box-shadow: none;
        z-index: 7;
        color: var(--theme-dark-blue);
      }

      .page6 {
        transform: rotateY(0.5deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 8;
      }

      .back {
        transform: rotateY(0.5deg) scale($scale);
      }

      .introduction-brief {
        transform: rotateY(-178.3deg) scale($scale);
      }

      .introduction-prep {
        transform: rotateY(-178.3deg) scale($scale);
      }

      .synthesis-page {
        transform: rotateY(-2deg) scale($scale);
      }

      .last-question-cover {
        border-radius: 0 !important;
        transform: rotateY(-2deg) scale($scale);
      }
    }

    &.synthesis {
      .front {
        transform: rotateY(-181deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
      }

      .front-cover {
        transform: rotateY(-180deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 10;
        background: #efefef;
      }

      .page3-empty,
      .page4-attempts {
        transform: rotateY(-180deg) scale($scale);
      }

      .back {
        transform: rotateY(0.4deg) scale($scale);
      }

      .page1 {
        transform: rotateY(-180deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 5;
      }

      .page2 {
        transform: rotateY(-180deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 4;
      }

      .page3 {
        transform: rotateY(-178deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 6;
        color: var(--theme-dark-blue);
      }

      .page3-cover {
        transform: rotateY(-180deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 6;
      }

      .page4 {
        transform: rotateY(-180deg) scale($scale);
      }

      .page6 {
        transform: rotateY(0.5deg) scale($scale);
        box-shadow: 0 1em 3em 0 rgba(0, 0, 0, 0.2);
        z-index: 8;
      }

      .back {
        transform: rotateY(0.5deg) scale($scale);
      }

      .introduction-brief,
      .introduction-prep {
        transform: rotateY(-178.3deg) scale($scale);
      }

      .last-question-result {
        transform: rotateY(-178deg) scale($scale);
        box-shadow: none;
        z-index: 7;
        color: var(--theme-dark-blue);
      }

      .synthesis-page {
        transform: rotateY(-177deg) scale($scale);
      }

      .last-question-cover {
        border-radius: 0 !important;
        transform: rotateY(-3deg) scale($scale);
      }
    }

    .wrong {
      background: var(--theme-orange) !important;
    }
  }

  //#endregion
  .arrow-description {
    z-index: 1;
    position: fixed;
    color: var(--white);
    bottom: 5vh;
    font-size: 1.2vw;
    font-family: $font-family-light;
    @extend %transitionAll300;
    &.hidden {
      opacity: 0;
    }
  }
}


.last-question-cover {
  @extend %flexCenter;

  >div {
    position: relative;
  }
}

.page3-empty {
  .flipped-page {
    @extend %flexCenter;
  }
}

.green-button-container1 {
  .green-button-container2 {
    width: 100%;
    @extend %flexCenter;

    .green-button-container3 {
      position: relative;
      width: 7vw;
      height: 7vw;

      .custom-hover-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        opacity: 0.5 !important;
        background: var(--theme-green);
        @extend %transitionAll300;
        &.hovered {
          top: -10%;
          left: -10%;
          width: 120%;
          height: 120%;
        }
      }
    }
  }

  .play-green-button {
    position: relative;
    @extend %flexCenter;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 7vw;
    height: 7vw;
    background: var(--theme-green);

    .svg {
      margin-left: 10% !important;
      width: 80%;
      height: 80%;
    }
  }

  .play-text {
    text-align: center;
    font-size: 2.8vw;
    margin-top: 1vh;
    color: var(--theme-dark-blue);
    font-family: $font-family-bold;
  }
}

.page3 {
  height: 100%;
  overflow-y: scroll;
}
