.drop-box-item {
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 1rem;
  line-height: normal;
  background: #E5E5E5;
  border: 1px dashed black;
  margin: 4px 0;
  float: left;
}
  
@media only screen and (max-width: 1800px) and (min-width: 1200px)  {
}

@media only screen and (max-width: 1199px) and (min-width: 900px)  {
}

@media only screen and (max-width: 899px) and (min-width: 600px)  {
}

@media only screen and (max-width: 599px) {
  .drop-box-item {
    padding: 10px;
  }
}
