@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.dashboard-page {
  overflow: hidden;
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  font-family: $font-family-regular;
  .sorted-row {
    .sort-and-filter-container {
      
    }
  }
}