@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t0t65');
  src:  url('fonts/icomoon.eot?t0t65#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t0t65') format('truetype'),
    url('fonts/icomoon.woff?t0t65') format('woff'),
    url('fonts/icomoon.svg?t0t65#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-raw-blue-1:before {
  content: "\e900";
  color: #0b3b7f;
}
.icon-raw-blue-2:before {
  content: "\e901";
  color: #0b3b7f;
}
.icon-raw-blue-3:before {
  content: "\e902";
  color: #0b3b7f;
}
.icon-raw-blue-4:before {
  content: "\e903";
  color: #0b3b7f;
}
.icon-raw-blue-5:before {
  content: "\e904";
  color: #0b3b7f;
}
.icon-raw-blue-6:before {
  content: "\e905";
  color: #0b3b7f;
}
.icon-raw-blue-7:before {
  content: "\e906";
  color: #0b3b7f;
}
.icon-raw-blue-8:before {
  content: "\e907";
  color: #0b3b7f;
}
.icon-raw-blue-9:before {
  content: "\e908";
  color: #0b3b7f;
}
.icon-raw-blue-10:before {
  content: "\e909";
  color: #0b3b7f;
}
.icon-raw-blue-11:before {
  content: "\e90a";
  color: #0b3b7f;
}
.icon-raw-blue-12:before {
  content: "\e90b";
  color: #0b3b7f;
}
.icon-raw-blue-13:before {
  content: "\e90c";
  color: #0b3b7f;
}
.icon-raw-blue-14:before {
  content: "\e90d";
  color: #0b3b7f;
}
.icon-raw-blue-15:before {
  content: "\e90e";
  color: #0b3b7f;
}
.icon-raw-blue-16:before {
  content: "\e90f";
  color: #0b3b7f;
}
.icon-raw-blue-17:before {
  content: "\e910";
  color: #0b3b7f;
}
.icon-raw-blue-18:before {
  content: "\e911";
  color: #0b3b7f;
}
.icon-raw-blue-19:before {
  content: "\e912";
  color: #0b3b7f;
}
.icon-raw-blue-20:before {
  content: "\e913";
  color: #0b3b7f;
}
.icon-rect-blue-1:before {
  content: "\e914";
  color: #0b3b7f;
}
.icon-rect-blue-2:before {
  content: "\e915";
  color: #0b3b7f;
}
.icon-rect-blue-3:before {
  content: "\e916";
  color: #0b3b7f;
}
.icon-rect-blue-4:before {
  content: "\e917";
  color: #0b3b7f;
}
.icon-rect-blue-5:before {
  content: "\e918";
  color: #0b3b7f;
}
.icon-rect-blue-6:before {
  content: "\e919";
  color: #0b3b7f;
}
.icon-rect-blue-7:before {
  content: "\e91a";
  color: #0b3b7f;
}
.icon-rect-blue-8:before {
  content: "\e91b";
  color: #0b3b7f;
}
.icon-rect-blue-9:before {
  content: "\e91c";
  color: #0b3b7f;
}
.icon-rect-blue-10:before {
  content: "\e91d";
  color: #0b3b7f;
}
.icon-rect-blue-11:before {
  content: "\e91e";
  color: #0b3b7f;
}
.icon-rect-blue-12:before {
  content: "\e91f";
  color: #0b3b7f;
}
.icon-rect-blue-13:before {
  content: "\e920";
  color: #0b3b7f;
}
.icon-rect-blue-14:before {
  content: "\e921";
  color: #0b3b7f;
}
.icon-rect-blue-15:before {
  content: "\e922";
  color: #0b3b7f;
}
.icon-rect-blue-16:before {
  content: "\e923";
  color: #0b3b7f;
}
.icon-rect-blue-17:before {
  content: "\e924";
  color: #0b3b7f;
}
.icon-rect-blue-18:before {
  content: "\e925";
  color: #0b3b7f;
}
.icon-rect-blue-19:before {
  content: "\e926";
  color: #0b3b7f;
}
.icon-rect-blue-20:before {
  content: "\e927";
  color: #0b3b7f;
}
.icon-filled-rect-blue-1 .path1:before {
  content: "\e928";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-1 .path2:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-1 .path3:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-2 .path1:before {
  content: "\e92b";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-2 .path2:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-2 .path3:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-3 .path1:before {
  content: "\e92e";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-3 .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-3 .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-4 .path1:before {
  content: "\e931";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-4 .path2:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-4 .path3:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-5 .path1:before {
  content: "\e934";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-5 .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-5 .path3:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-6 .path1:before {
  content: "\e937";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-6 .path2:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-6 .path3:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-7 .path1:before {
  content: "\e93a";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-7 .path2:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-7 .path3:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-8 .path1:before {
  content: "\e93d";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-8 .path2:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-8 .path3:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-9 .path1:before {
  content: "\e940";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-9 .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-9 .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-10 .path1:before {
  content: "\e943";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-10 .path2:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-10 .path3:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-10 .path4:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-10 .path5:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-11 .path1:before {
  content: "\e948";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-11 .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-11 .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-11 .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-11 .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-12 .path1:before {
  content: "\e94d";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-12 .path2:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-12 .path3:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-12 .path4:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-12 .path5:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-13 .path1:before {
  content: "\e952";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-13 .path2:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-13 .path3:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-13 .path4:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-13 .path5:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-14 .path1:before {
  content: "\e957";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-14 .path2:before {
  content: "\e958";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-14 .path3:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-14 .path4:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-14 .path5:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-15 .path1:before {
  content: "\e95c";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-15 .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-15 .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-15 .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-15 .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-16 .path1:before {
  content: "\e961";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-16 .path2:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-16 .path3:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-16 .path4:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-16 .path5:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-17 .path1:before {
  content: "\e966";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-17 .path2:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-17 .path3:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-17 .path4:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-17 .path5:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-18 .path1:before {
  content: "\e96b";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-18 .path2:before {
  content: "\e96c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-18 .path3:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-18 .path4:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-18 .path5:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-19 .path1:before {
  content: "\e970";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-19 .path2:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-19 .path3:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-19 .path4:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-19 .path5:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-20 .path1:before {
  content: "\e975";
  color: rgb(11, 59, 127);
}
.icon-filled-rect-blue-20 .path2:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-20 .path3:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-20 .path4:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-rect-blue-20 .path5:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-1 .path1:before {
  content: "\e97a";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-1 .path2:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-1 .path3:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-2 .path1:before {
  content: "\e97d";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-2 .path2:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-2 .path3:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-3 .path1:before {
  content: "\e980";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-3 .path2:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-3 .path3:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-4 .path1:before {
  content: "\e983";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-4 .path2:before {
  content: "\e984";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-4 .path3:before {
  content: "\e985";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-5 .path1:before {
  content: "\e986";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-5 .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-5 .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-6 .path1:before {
  content: "\e989";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-6 .path2:before {
  content: "\e98a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-6 .path3:before {
  content: "\e98b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-7 .path1:before {
  content: "\e98c";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-7 .path2:before {
  content: "\e98d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-7 .path3:before {
  content: "\e98e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-8 .path1:before {
  content: "\e98f";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-8 .path2:before {
  content: "\e990";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-8 .path3:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-9 .path1:before {
  content: "\e992";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-9 .path2:before {
  content: "\e993";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-9 .path3:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-10 .path1:before {
  content: "\e995";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-10 .path2:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-10 .path3:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-10 .path4:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-10 .path5:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-11 .path1:before {
  content: "\e99a";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-11 .path2:before {
  content: "\e99b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-11 .path3:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-11 .path4:before {
  content: "\e99d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-11 .path5:before {
  content: "\e99e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-12 .path1:before {
  content: "\e99f";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-12 .path2:before {
  content: "\e9a0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-12 .path3:before {
  content: "\e9a1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-12 .path4:before {
  content: "\e9a2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-12 .path5:before {
  content: "\e9a3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-13 .path1:before {
  content: "\e9a4";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-13 .path2:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-13 .path3:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-13 .path4:before {
  content: "\e9a7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-13 .path5:before {
  content: "\e9a8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-14 .path1:before {
  content: "\e9a9";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-14 .path2:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-14 .path3:before {
  content: "\e9ab";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-14 .path4:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-14 .path5:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-15 .path1:before {
  content: "\e9ae";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-15 .path2:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-15 .path3:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-15 .path4:before {
  content: "\e9b1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-15 .path5:before {
  content: "\e9b2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-16 .path1:before {
  content: "\e9b3";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-16 .path2:before {
  content: "\e9b4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-16 .path3:before {
  content: "\e9b5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-16 .path4:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-16 .path5:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-17 .path1:before {
  content: "\e9b8";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-17 .path2:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-17 .path3:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-17 .path4:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-17 .path5:before {
  content: "\e9bc";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-18 .path1:before {
  content: "\e9bd";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-18 .path2:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-18 .path3:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-18 .path4:before {
  content: "\e9c0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-18 .path5:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-19 .path1:before {
  content: "\e9c2";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-19 .path2:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-19 .path3:before {
  content: "\e9c4";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-19 .path4:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-19 .path5:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-20 .path1:before {
  content: "\e9c7";
  color: rgb(11, 59, 127);
}
.icon-filled-circle-blue-20 .path2:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-20 .path3:before {
  content: "\e9c9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-20 .path4:before {
  content: "\e9ca";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-filled-circle-blue-20 .path5:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-circle-blue-1:before {
  content: "\e9cc";
  color: #0b3b7f;
}
.icon-circle-blue-2:before {
  content: "\e9cd";
  color: #0b3b7f;
}
.icon-circle-blue-3:before {
  content: "\e9ce";
  color: #0b3b7f;
}
.icon-circle-blue-4:before {
  content: "\e9cf";
  color: #0b3b7f;
}
.icon-circle-blue-5:before {
  content: "\e9d0";
  color: #0b3b7f;
}
.icon-circle-blue-6:before {
  content: "\e9d1";
  color: #0b3b7f;
}
.icon-circle-blue-7:before {
  content: "\e9d2";
  color: #0b3b7f;
}
.icon-circle-blue-8:before {
  content: "\e9d3";
  color: #0b3b7f;
}
.icon-circle-blue-9:before {
  content: "\e9d4";
  color: #0b3b7f;
}
.icon-circle-blue-10:before {
  content: "\e9d5";
  color: #0b3b7f;
}
.icon-circle-blue-11:before {
  content: "\e9d6";
  color: #0b3b7f;
}
.icon-circle-blue-12:before {
  content: "\e9d7";
  color: #0b3b7f;
}
.icon-circle-blue-13:before {
  content: "\e9d8";
  color: #0b3b7f;
}
.icon-circle-blue-14:before {
  content: "\e9d9";
  color: #0b3b7f;
}
.icon-circle-blue-15:before {
  content: "\e9da";
  color: #0b3b7f;
}
.icon-circle-blue-16:before {
  content: "\e9db";
  color: #0b3b7f;
}
.icon-circle-blue-17:before {
  content: "\e9dc";
  color: #0b3b7f;
}
.icon-circle-blue-18:before {
  content: "\e9dd";
  color: #0b3b7f;
}
.icon-circle-blue-19:before {
  content: "\e9de";
  color: #0b3b7f;
}
.icon-circle-blue-20:before {
  content: "\e9df";
  color: #0b3b7f;
}
