
.investigation-build-page {
  .question-container {
    padding-left: 20px;
  }
  .page-header {
    background: #b2b2b2;
  }

  .MuiStepConnector-root {
    opacity: 0;
  }

  .page-fotter {
    background: #b2b2b2;
    padding: 20px;

    .white {
      color: white;
    }

    .percentages {
      color: white;
      height: 44px;
    }
  
    .MuiSlider-thumb {
      color: #0a3a7e;
    }
  }

  .tab-panel {
    padding: 0;
    border: 1px solid grey;
    border-top: none;
  }

  .drag-and-drop-box {
    min-height: 81px;
    border: 1px dashed black;
    background: white;
    margin: 4px 0;
  }
}

.grey .screen {
    background: grey !important;
    background: -webkit-gradient(linear, left top, left bottom, from(grey), to(#ebdac7)) !important;
    background: linear-gradient(to bottom, grey 0%, #ebdac7 100%) !important;
}

.grey {
  background: grey !important;
}

.marvel-device.iphone5s:before {
  background: grey !important;
}

.marvel-device.iphone5s {
  padding: 105px 22px;
  padding-top: 50px;
  padding-right: 22px;
  padding-bottom: 95px;
  padding-left: 22px;
  background: grey !important;
}