
.investigation-build-page {
  .page-header {
    background: #b2b2b2;
  }

  .MuiStepConnector-root {
    opacity: 0;
  }

  .page-fotter {
    background: #b2b2b2;
    padding: 20px;

    .white {
      color: white;
    }

    .percentages {
      color: white;
      height: 44px;
    }
  
    .MuiSlider-thumb {
      color: #0a3a7e;
    }
  }

  .tab-panel {
    padding: 0;
    border: 1px solid grey;
    border-top: none;
  }

  .drag-and-drop-box {
    min-height: 81px;
    border: 1px dashed black;
    background: white;
    margin: 4px 0;
  }
}