
@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.tick-icon {
  font-size: 26px;
  border: 2px solid $black-blue;
  border-radius: 100%;
}

.filled-tick-icon {
  font-size: 26px;
  letter-spacing: 0 !important;
}

.grey-icon {
  background: $white-grey;
}