@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.classes-events-page {
  .btn-container {
    .btn-blue {
      margin-right: 0.5vw;
    }
  }

  .teach-assigned {
    overflow-y: auto;
    .sort-box {
      display: flex;
      align-items: center;
      height: 6vh;
      padding: 0 1.4vw;
    }
    .sort-radio-btns {
      height: 4.5vh;
      font-size: 1.2vw;

      .MuiFormControlLabel-root {
        width: 50%;
        margin: 0;
      }

      &.full-width .MuiFormControlLabel-root {
        width: 100%;
      }
      .MuiButtonBase-root {
        padding: 0;
      }

      .MuiIconButton-label {
        margin-right: 0.5vw;
        svg {
          color: white;
        }
      }
    }
    .filter-row {
      padding: 0 1.4vw;

      &.margin-smaller {
        &.top-margin-bigger {
          margin-top: 1vh;
        }
      }
    }
    .filter-header {
      position: relative;
      height: 4vh;
      background: var(--light-blue-alpha5);
      padding: 0 1.4vw;
      font-size: 1.2vw !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Brandon Grotesque Bold";
    }
  }
  .tab-content {
    padding-bottom: 1vw;
    color: var(--theme-dark-blue);
    position: relative;

    .publish-toggle {
      top: 1vh;
      > span {
        letter-spacing: 0;
        margin-left: 1.5vw;
      }
    }

    .table {
      overflow-x: auto;

      .table-container {
        width: 118vw;
      }
    }

    .table-head {
      margin-top: 2vh;
      margin-bottom: 1.6vh;
      display: flex;
      font-size: 1.2vw;

      .header {
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          width: 0.7vw;
          height: 0.7vw;
        }
      }
    }
    .name-column {
      padding-left: 1% !important;
      width: 18% !important;
    }
    .created-at-column {
      width: 10%;
    }
    .students-column {
      width: 8%;
      position: relative;

      svg {
        width: 2.3vw;
        height: 2.3vw;
        margin-right: 0.5vw;
      }

      .bigger {
        font-size: 1.4vw;
        margin-bottom: 0.26vw;
      }

      .absolute-students-hover {
        top: 2.1vw;
        left: 2.7vw;
        width: 17vw;
        padding-top: 0.3vw;
        padding-bottom: 0.3vw;
        text-align: center;
        display: none;
        position: absolute;
        z-index: 10;
        background: white;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;
      }

      &:hover {
        .absolute-students-hover {
          display: block;
        }
      }

    }
    .active {
      cursor: pointer;
    }

    .bricks-column {
      width: 5%;
      position: relative;

      .absolute-bricks-hover {
        top: 2.1vw;
        left: 2.7vw;
        width: 27vw;
        padding: 0.3vw 0 0.3vw 1vw;
        text-align: left;
        display: none;
        position: absolute;
        z-index: 10;
        background: white;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;

        .bold {
          margin-bottom: 0.4vw;
        }
      }

      &:hover {
        .absolute-bricks-hover {
          display: block;
        }
      }
    }
    .activity-column {
      width: 7%;
      position: relative;

      .bricks-book-icon {
        display: flex;
        align-items: center;
      }
      svg {
        margin-right: 0.5vw;
        width: 2.3vw;
        height: 2.3vw;
      }

      .absolute-activity-hover {
        top: -1vw;
        left: 2.7vw;
        width: 27vw;
        padding: 0.3vw 0 0.3vw 1vw;
        text-align: left;
        display: none;
        position: absolute;
        z-index: 10;
        background: white;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        border-radius: 0.3vw;

        .bold {
          margin-bottom: 0.4vw;
        }
        li {
          position: relative;
        }
        li > span{
          position: absolute;
          top: 0;
          left: 1vw;
          display: flex;
          span {
            display: block;
          }
          .title-de234 {
            width: 22vw;
            text-overflow: ellipsis;
            overflow-x:hidden;
            white-space: nowrap;
          }
          .bold {
            padding-left: 1vw;
          }
        }
      }

      &:hover {
        .absolute-activity-hover {
          display: block;
        }
      }
    }
    .creator-column {
      width: 18% !important;
    }
    .teacher-column {
      width: 18% !important;
      .teacher-row {
        display: block;
      }
    }
    .domain-column {
      width: 15%;
    }

    .assigned-column {
      width: 12.5%;
    }

    .publish-column {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 11%;
    }
    .underline {
      cursor: pointer;
      text-decoration: underline;
    }
    .first-column {
      display: flex;
      align-items: center;
      padding-left: 2%;
      width: 50%;
      p {
        display: inline;
      }
    }
    .second-column {
      display: flex;
      align-items: center;
      width: 10%;
    }
    .subject-column {
      width: 15%;

      .subject-block {
        display: flex;
        align-items: center;
        margin: 0 0.2vw;
        .circle {
          margin: 0 0.2vw;
          width: 0.7vw;
          height: 0.7vw;
          border-radius: 50%;
        }
      }
    }

    .third-column {
      width: 10%;
      svg {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    .author-column {
      width: 13%;
    }

    .table-row {
      display: flex;
      font-size: 1vw;
      padding: 0.4vw 0;

      &:nth-child(odd) {
        background: var(--tab-gray);
      }
    }
  }

  .MuiTypography-root {
    font-size: 1vw;
  }

  .select-container {
    position: relative;
    .absolute-placeholder {
      font-size: 1vw;
      position: absolute;
      left: 2vw;
      top: calc(2.5vh);
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #7E7E7E;
      z-index: 1;
    }
  }

  .select-multiple-subject {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 21vw;
    .MuiSelect-select {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      color: var(--theme-dark-blue);
      height: 5vh;
      border-radius: 0.5vw;
      background: var(--white);
    }
    &::after, &::before {
      display: none !important;
      content: null !important;
    }
  }

  .filter-domain {
    max-height: calc(58.5vh - 13.5vw);
    overflow-y: scroll;
  }

  .sub-tab-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    .sub-tab-container {
      left: 0;
      top: 0;
    }
    
    > div {
      cursor: pointer;
      font-size: 1vw;
      font-family: $font-family-bold;
      color: var(--dark-gray);
      margin: calc(2vh + 0.3vw) 0.5vw;
      border-bottom: 2px solid rgba($color: #000, $alpha: 0);
      &.active {
        color: var(--theme-dark-blue);
        border-bottom: 2px solid var(--theme-dark-blue);
      }
    }
  }
}

.classes-events-page .tab-content .table .table-row {
  height: unset !important;
}

.classes-events-page .tab-content {
  height: calc(100vh - 5.834vw - 2vw - 6.6vh) !important;
  .table-body {
    height: calc(100vh - 5.834vw - 2vw - 6.6vh - 7vh - 3.6vh - 2vw - 4vh - 0.5vw) !important;
    overflow-y: auto;
  }
  background: white;
}