@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.document-editor {
  border-radius: $editor-radius;
  background-color: var(--tab-gray);
  height: calc(100% - 0.2vh);
  position: relative;
  overflow: hidden;
  .ck-editor {
    height: 100% !important;
    width: calc(100% - 2vw) !important;
    word-break: break-word !important;
    .ck-editor__main {
      height: 100%;
      .ck-content {
        height: 100%;
        margin: 0;
        padding: 6vh 1vw 1vh 2.2vw;
        box-shadow: none !important;
        @extend %textCenter;
        border: 0 !important;
        color: var(--theme-dark-blue);
        background: var(--solitude-light) !important;
        font-size: 1.05vw;
        @include tabletP {
          font-size: $answer-input-text-size;
          min-height: 8vh;
        }
        p {
          color: var(--theme-dark-blue);
          margin: 0 !important;
          @include tabletP {
            font-size: 1.05vw;
          }
        }
        .table {
          display: block;
        }
        table {
          td {
            min-width: 0.5vw;
            font-size: 1.05vw;
            padding: 0;
          }
        }
        li {
          text-align: left;
        }
      }
    }
  }
  .ck-toolbar {
    font-size: 1.4vh;
    border: none !important;
    background: var(--tab-gray) !important;
    padding: 0 !important;
    .ck-toolbar__items {
      background: var(--tab-gray) !important;
      display: block !important;
      button {
        border: none !important;
        margin: 0.2vw 0 !important;
      }
      .ck-dropdown {
        // padding: 0 0.2vw !important;
        margin: 0 0.2vw !important;
        .ck-dropdown__panel {
          z-index: 100 !important;
          position: absolute;
          left: 0;
          right: inherit;
          width: 100%;
          top: 0 !important;
          bottom: inherit;
          background-color: var(--white);
          height: 100%;
          box-shadow: none;
          border: 0;
          .ck-button__icon {
            @include phone_and_tabletL {
              font-size: 3vw;
            }
            @include phone_and_tabletP {
              font-size: 5vw;
            }
          }
          .ck-color-table {
            width: max-content;
            background-color: var(--white);
          }
        }
      }
      .ck-color-ui-dropdown {
        .ck-dropdown__panel {
          left: 0.2vw !important;
          right: unset !important;
          top: 100% !important;
          border-radius: 0.2vw;
        }
      }
    }
    .ck-custom-dropdown {
      .ck-splitbutton__action {
        font-size: 0;
        padding: 0;
        width: 0;
      }
      .ck-splitbutton__action {
        visibility: hidden;
        border: none;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
      }
      .ck-toolbar {
        border-radius: 0 !important;
        padding: 0;
        margin: 0;
        height: 5vh;
        width: 10vh;
        .ck-button {
          padding: 0;
          margin: 0;
          width: 5vh;
        }
      }
    }

    .ck.ck-button.ck-on:not(.ck-disabled):hover,
    a.ck.ck-button.ck-on:not(.ck-disabled):hover {
      background-color: transparent !important;
    }
  }
  .ck-color-table {
    z-index: 10000;
  }
  .ck.ck-reset.ck-dropdown__panel.ck-dropdown__panel_se.ck-dropdown__panel-visible {
    left: auto;
    right: 0;
  }
  .ck-insert-table-dropdown__grid {
    z-index: 100000;
  }
  .upload-button-custom,
  .latex-button-custom {
    span {
      font-family: $font-family-bold !important;
    }
    .ck-button__label {
      font-size: 1.2vw !important;
    }
  }
  .latex-button-custom {
    width: 2vw !important;
    min-width: 2vw !important;
    max-width: 2vw !important;
  }
  &.highlight-editor {
    border-radius: 0 !important;
    .ck-editor {
      width: 100% !important;
      .ck-content {
        padding: 0 !important;
        text-align: left;
        width: 100%;
        background-color: var(--white) !important;
        ::selection {
          background-color: transparent;
        }
      }
    }
  }
  &.content-invalid {
    .ck-editor {
      .ck-content {
        background: var(--theme-orange) !important;
        .ck-placeholder {
          &:before {
            color: var(--white);
          }
        }
      }
    }
  }
}
