@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

span.latex {
    font-family: monospace;
    font-size: 0.8vw;
    background-color: var(--white-gray);
    padding-left: 0.1vw;
    padding-right: 0.1vw;
}
