@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.cover-page {
  .brick-container {
    height: 100%;
    color: var(--theme-dark-blue);
    > div {
      height: 100%;
    }
    .introduction-info {
      height: 100% !important;
    }
    .introduction-page {
      padding-top: 3.5vh;
      padding-left: 3.5vh;

      .first-row {
        display: flex;
        align-items: center;
        font-family: $font-family-black;
        font-size: 1.1vw;

        .brick-id-container {
          border-radius: 0.7vw;
          padding: 1vh 0.8vw;
          color: var(--white);
          background: var(--theme-orange);
        }
        .question {
          color: var(--theme-dark-blue);
          margin-left: 2vw;
        }
        svg {
          width: 2vw;
          height: 2vw;
          margin-left: 0.7vw;
        }
      }
      .brick-title {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        margin-top: 3.6vh;
        font-size: 2.6vw;
        @extend %ellipsis;
        text-transform: uppercase;
        font-family: $font-family-black;
      }
      .author-row {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        font-size: 1.5vw;
        @extend %ellipsis;
        text-transform: capitalize;
      }
      .keywords-row {
        padding-left: 0.5vw;
        padding-right: 0.5vw;
        font-size: 1.1vw;
        @extend %ellipsis;
      }
      .image-container {
        position: relative;
        .image-drag-n-drop {
          padding-left: 0.5vw;
          padding-right: 0.5vw;
          margin-top: 1vh;
          width: 100%;
          .dropzone {
            border-radius: 0.5vw;
            padding: 0 !important;
            border: none !important;
            min-height: 47vh;

            svg {
              width: 35vh;
              height: 35vh;
              stroke-width: 0.7 !important;
              color: var(--theme-dark-blue);
            }

            img {
              margin-top: calc(2vw + 1vh + 0.6vw);
              border-bottom-left-radius: 0.5vw;
              border-bottom-right-radius: 0.5vw;
            }
          }
        }
        .cover-info-row {
          position: absolute;
          $shift: 0.6vw;
          top: calc(1vh + #{$shift});
          left: calc(0.5vw + #{$shift});
          display: flex;
          font-size: 2vw;
          font-family: $font-family-black;
          line-height: 1;

          $circle-size: 2vw;

          .round-button-container {
            display: flex;
            align-items: center;
            margin-right: 0.6vw;
            .round-button {
              width: $circle-size;
              height: $circle-size;
              border-radius: 50%;
            }
          }
          .svg {
            margin-left: 0.5vw;
            width: $circle-size;
            height: $circle-size;
          }
        }
      }
    }
    .introduction-info {
      font-size: $base-popup-font-size;
      .c-next-btn-container {
        margin-top: 4vh;
        display: flex;
        justify-content: center;
        button {
          transition: all 300ms ease-out;
          border: none;
          outline: none;
          font-size: 1.7vw;
          border-radius: 0.7vw;
          padding: 1.4vh 1.9vw;
          color: var(--white);
          background: var(--theme-orange);
          &:hover {
            background: var(--theme-green);
          }
        }
      }
    }
  }
  .hover-area {
    position: relative;
    .hover-content {
      display: none;
    }
    &:hover .hover-content {
      width: 30vw;
      z-index: 100000;
      display: block;
      position: absolute;
      top: 3vw;
      left: 0;
      color: var(--white);
      border-radius: 0.2vw;
      padding: 0.2vw 0.5vw;
      background: var(--theme-light-blue);
    }
  }
}