@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.play-preview-pages .sorted-row .cover-page {
  color: var(--theme-dark-blue);
  overflow-y: auto;
  height: calc(100% - #{$mobile-menu-height} - #{$progress-bar-height}) !important;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;
  .first-row {
    display: flex;
    align-items: center;
    font-family: $font-family-black;
    font-size: 5.5vw;
    .brick-id-container {
      border-radius: 3vw;
      padding: 1.3vh 4vw;
      color: var(--white);
      background: var(--theme-orange);
    }
    .question {
      color: var(--theme-dark-blue);
      margin-left: 8vw;
    }
    svg {
      width: 10vw;
      height: 10vw;
      margin-left: 3vw;
    }
  }
  .brick-title {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 3vh;
    font-size: 7vw;
    @extend %ellipsis;
    text-transform: uppercase;
    font-family: $font-family-black;
  }
  .author-row {
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 6vw;
    @extend %ellipsis;
    text-transform: capitalize;
  }
  .keywords-row {
    padding-left: 2vw;
    padding-right: 2vw;
    margin-top: 2vh;
    font-size: 5vw;
    @extend %ellipsis;
  }
  .hover-area {
    position: relative;
    .hover-content {
      display: none;
    }
    &:hover .hover-content {
      width: 30vw;
      z-index: 100000;
      display: block;
      position: absolute;
      top: 3vw;
      left: 0;
      color: var(--white);
      border-radius: 0.2vw;
      padding: 0.2vw 0.5vw;
      background: var(--theme-light-blue);
    }
  }
  .image-container {
    margin-left: 2vw;
    margin-right: 2vw;
    position: relative;
    .cover-info-row {
      position: absolute;
      top: 2vw;
      left: 2vw;
      display: flex;
      font-size: 6vw;
      align-items: center;
      svg {
        margin-left: 1vw;
        width: 7vw;
        height: 7vw;
      }
    }
    .image-drag-n-drop {
      margin-top: 1vh;
      width: 100%;
      background: var(--tab-gray) !important;
      border-radius: 3vw;
      padding-top: 10vw;
      .dropzone {
        padding: 0;
        border: none !important;
        border-radius: 3vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 70.4vw;
        overflow-y: scroll;
        max-height: 30vh;
        > div {
          width: 100%;
        }
        img {
          width: 100%;
        }
      }
    }
  }
  .introduction-info {
    margin-top: 6vh;
    text-align: center;
    font-size: 8.5vw;
    .c-next-btn-container {
      margin-top: 3vh;
      display: flex;
      justify-content: center;
      button {
        border: none;
        outline: none;
        font-size: 6.5vw;
        border-radius: 3vw;
        padding: 1.1vh 7vw;
        color: var(--white);
        background: var(--theme-orange);
      }
    }
  }
}
