@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.play-preview-pages .sorted-row .cover-page {
  color: var(--theme-dark-blue);
  overflow-y: auto;
  height: calc(100% - #{$mobile-menu-height}) !important;
  padding-top: 4vw;
  padding-left: 4vw;
  padding-right: 4vw;

  .cover-play-button {
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      svg {
        stroke-width: 2;
        margin-right: 1vw;
        width: 9vw;
        height: 9vw;
      }
    }
  }


  h1 {
    font-size: 7vw;
  }
  
  .cover-sponsors {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    img {
      margin-left: 2vw;
      margin-right: 2vw;
      width: 22vw;
    }
    .flex-center {
      height: 100%;
    }
    svg {
      stroke-width: 1.5;
      width: 6vw;
      height: 6vw;
    }
    .dropzone {
      padding: 1.5vw !important;
      min-height: 5vw !important;
      width: 30vw !important;
      img {
        width: 100% !important;
      }
    }
  }

  .q-brick-title {
    overflow: auto !important;
    font-size: 7vw !important;
    white-space: inherit !important;
    text-overflow: initial !important;

    svg {
      $size: 6vw;
      stroke-width: 3;
      margin-right: 1vw;
      width: $size;
      height: $size;
    }

    > div {
      display: flex;
      align-items: center;
    }

    .adapted-text {
      font-size: 3.7vw;
      line-height: 1;
      font-family: $font-family-bold;
    }
    br {
      display: none;
    }
  }


  .first-row {
    display: flex;
    align-items: center;
    font-family: $font-family-black;
    font-size: 5.5vw;

    .brick-id-container {
      display: flex;
      align-items: center;
      .smaller {
        margin-bottom:2vw;
        margin-right: 1vw;
      }
    }

    .question {
      color: var(--theme-dark-blue);
      font-size: 6vw;
      margin-left: 4vw;
    }

    svg {
      width: 10vw;
      height: 10vw;
      margin-left: 3vw;
    }
  }

  .brick-title {
    padding-right: 2vw;
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    font-family: $font-family-black;
    > div {
      @extend %ellipsis;
    }
  }

  .author-row {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vh;
    padding-right: 2vw;
    font-size: 5vw;
    @extend %ellipsis;
    text-transform: capitalize;
    svg {
      width: 4vw;
      height: 4vw;
      margin-right: 1vw;
    }
    div {
      display: inline-flex;
      align-items: center;
      svg {
        margin-left: 1vw;
      }
    }
  }

  .keywords-row {
    display: none;
    padding-right: 2vw;
    margin-top: 2vh;
    font-size: 5vw;
    @extend %ellipsis;
  }

  .cover-image-placeholder {
    margin-top: 3vh;
    font-size: 5vw !important;
  }

  .hover-area {
    position: relative;

    .hover-content {
      display: none;
    }
  }

  .image-container {
    margin-right: 2vw;
    width: 100%;
    position: relative;

    .cover-info-row {
      max-width: 85%;
      position: absolute;
      top: 2.5vw;
      left: 2vw;
      display: flex;
      font-size: 5.7vw;
      align-items: center;
      color: var(--white);
      font-family: $font-family-bold;

      $circle-size: 6vw;

      > span {
        max-width: 73vw;
        overflow-x: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .round-button-container {
        display: flex;
        align-items: center;
        margin-right: 1.7vw;
        .round-button {
          width: $circle-size;
          height: $circle-size;
          border-radius: 50%;
        }
      }

      svg {
        margin-left: 1vw;
        width: 7vw;
        height: 7vw;
      }
    }

    .image-drag-n-drop {
      margin-top: 1vh;
      width: 100%;
      padding-left: 3px;
      padding-right: 3px;
      padding-bottom: 3px;
      background: var(--theme-dark-blue) !important;
      border-radius: 3vw;
      padding-top: 10vw;

      .dropzone {
        padding: 0;
        border: none !important;
        border-radius: 3vw;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 42vw;
        overflow-y: scroll;
        max-height: 30vh;

        >div {
          width: 100%;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .introduction-info {
    margin-top: 2vh;
    text-align: center;
    font-size: 7vw;
    font-family: $font-family-bold;

    .c-next-btn-container {
      margin-top: 2vh;
      display: flex;
      justify-content: center;

      button {
        font-family: $font-family-bold;
        border: none;
        outline: none;
        font-size: 8vw;
        border-radius: 3vw;
        padding: 1.1vh 7vw;
        color: var(--white);
        background: var(--theme-green);
      }
    }
  }

  .hover-area {
    display: flex;
    align-items: center;
  }

  .mobile-help-container {
    position: fixed;
    top: calc(4vw + 10vw + 2.6vh);
    width: 90vw;
    max-height: calc(100% - 4vw - 10vw - 2.6vh - 20vw - 5vw);
    overflow: scroll;
    left: 5vw;
    padding: 4vw;
    background: var(--theme-dark-blue);
    color: var(--white);
    border-radius: 4vw;
    font-family: $font-family-bold;

    .container {
      margin-top: 1vh;
      margin-bottom: 1vh;
      display: flex;

      .white-circle {
        display: inline;
        background: var(--white);
        width:8.5vw;
        height: 8.5vw;
        border-radius: 50%;
        color: var(--theme-dark-blue);
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .add-sign {
        height: 8.5vw;
      }
      .l-text {
        margin-left: 2vw;
        max-width: 68vw;
        &.smaller {
          max-width: 58vw;
        }
      }
    }
  }
  .mobile-help-container.second {
    font-size: 5vw !important;
  }
}

.cover-timer {
  position: absolute;
  right: 2vw;
  top: calc(1vh + 1.2vw);
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 4.5vw !important;
  font-family: $font-family-bold;

  svg {
    display: block !important;
    $size: 4.5vw;
    width: $size !important;
    height: $size !important;
    stroke-width: 2.5;
    margin-left: 1.5vw !important;
    margin-right: 0.5vw;
  }
}