@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.line-highlighting-play {
  color: var(--theme-dark-blue);
  .lines-container {
    width: 100%;
    @include phone_and_tabletP {
      font-size: 3.5vw;
    }
    @include tabletP {
      font-size: 0.7698vw;
    }
    .line {
      cursor: pointer;
      max-width: 100%;
      overflow-wrap: break-word;
    }
    .line.active {
      background: var(--highlight-blue);
    }

    .line.correct {
      background: var(--theme-green);
    }
    .line.wrong {
      background: var(--theme-orange);
    }
  }
  &.lines-inline {
    .line {
      overflow-x: auto;
      white-space: nowrap;
      max-width: unset;
    }
  }
}
