@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.line-highlighting-play {
  color: var(--theme-dark-blue);
  .lines-container {
    width: 100%;
    @include phone_and_tabletP {
      font-size: 3.5vw;
    }
    @include tabletP {
      font-size: 0.7698vw;
    }
    .line {
      cursor: pointer;
    }
    .line.active {
      background: var(--white-blue);
    }

    .line.correct {
      background: var(--theme-green);
    }
    .line.wrong {
      background: var(--theme-orange);
    }
  }
}
