@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.mainPage {
  .view-item-container {

    .eye-glass-icon,
    .eye-glass-icon {
      position: relative;

      .glass-eyes-left,
      .glass-eyes-right {
        opacity: 0;
        transition-delay: 200ms;
        @extend %transitionAll300;
        @extend %floatToYCenter;

        @include tabletP {
          width: 5.5vw;
          height: 5.5vw;
        }

        .svg {
          width: 60%;
          height: 60%;
        }
      }

      $shift: 0.6vw;

      .glass-eyes-left {
        @include tabletP {
          left: $shift;
        }
      }

      .glass-eyes-right {
        @include tabletP {
          right: $shift;

          .aperture {
            position: absolute;
            left: 0;
          }
        }
      }

      .glass-left-inside {
        left: 0.05vw;
        width: 5.5vw !important;
        height: 5.5vw !important;

        svg {
          height: 100% !important;
        }
      }

      .glass-right-inside {
        right: $shift;
      }

      .glass-left-inside,
      .glass-right-inside {
        opacity: 0;
        @extend %transitionAll300;
        position: absolute;
        top: 0;
        right: $shift;
        width: 5.5vw;
        height: 5.5vw;

        svg {
          @extend %transitionAll600;
          -webkit-animation: rotating 2s linear infinite;
          -moz-animation: rotating 2s linear infinite;
          -ms-animation: rotating 2s linear infinite;
          -o-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
          color: var(--theme-dark-blue);
          width: 0 !important;
        }
      }
    }

    &:hover {
      .eye-glass-icon {
        .glass-eyes-left,
        .glass-right-inside,
        .glass-left-inside,
        .glass-eyes-right {
          @include tabletP {
            opacity: 1;
          }
        }
        .glass-right-inside,
        .glass-left-inside {
          @include tabletP {
            svg {
              width: 30% !important;
            }
          }
        }
      }
    }
  }
}

