@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mainPage {
  $welcome-col-width: 35.2vw;
  $first-col-width: 29.6vw;
  background: var(--theme-dark-blue);
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font-family-black;

  .welcome-col {
    width: $welcome-col-width;
    text-align: center;
    padding-top: 15vh;

    .welcome-box {
      color: white;
      letter-spacing: 0.66vw;
      font-size: 2.58vw;
      font-family: $font-family-bold;
      padding-right: 2.9vw;

      .smaller {
        font-size: 2.4vw;
      }

      .welcome-name {
        font-size: 2.5vw;
        letter-spacing: 0.73vw;
        margin-top: 3.2vh;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font-family-light;
        color: var(--theme-orange);
      }
      .notifications-text {
        margin-top: 10vh;
        letter-spacing: 0.1vw;
        font-family: $font-family-light;
        font-size: 1.5vw;

        &.clickable {
          cursor: pointer;
        }
      }

      .notifications-text-2,
      .notifications-text-3 {
        margin-top: 0.6vh;
        color: var(--tab-gray);
        font-family: 'Brandon Grotesque Light Italic';
        letter-spacing: 0.05vw;
        font-size: 1.2vw;
      }

      b {
        font-weight: normal !important;
        font-family: $font-family-bold;
      }
    }
  }

  .first-col {
    width: $first-col-width;
    height: 100%;

    .first-item {
      background: var(--light-blue);
      height: 89.2vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      @extend %flexCenter;
      flex-direction: column;
    }
    .second-item {
      position: relative;
      background: var(--light-blue);
      margin-top: 4.6vh;
      height: 6.2vh;
      text-align: center;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .second-col {
    color: var(--white);
    letter-spacing: 0.3vw;
    font-size: 1.4vw;
    font-family: $font-family-light;
    width: calc(100vw - #{$welcome-col-width} - #{$first-col-width});
    @extend %flexCenter;

    div {
      cursor: pointer;
    }
  }

  .view-item-container,
  .create-item-container,
  .back-item-container {
    width: auto;
    @extend %flexCenter;
    @include tabletP {
      padding: 3vh 0;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      text-align: center;
      flex-direction: column;
      > .svg {
        height: auto;
        @extend %removePosition;
        width: 15vw;
      }
      .item-description {
        padding: 0;
        text-align: center;
        margin: 0;
        font: 1.3vw $font-family-light;
        letter-spacing: 0.27vw;
        color: var(--tab-gray);
      }
      &:hover {
        .item-description {
          font-family: $font-family-bold;
        }
      }
    }
  }
  .view-item-container {
    .btn {
      .svg {
        height: 11vh;
      }
    }
    .glass-eyes-left,
    .glass-eyes-right {
      width: 5vw;
      height: 5vw;
      @extend %floatToYCenter;
      opacity: 0;
      transition-delay: 200ms;
      @extend %transitionAll300;
      top: calc(50% - 0.9vw);
      .svg {
        width: 60%;
        height: 60%;
      }
    }
    .glass-eyes-left {
      left: 1.8vw;
    }
    .glass-eyes-right {
      right: 1.8vw;
    }
    &:hover {
      .glass-eyes-left,
      .glass-eyes-right {
        opacity: 1;
        .pupil {
          animation-name: eye-movement;
          animation-iteration-count: infinite;
          animation-duration: 1300ms;
          animation-delay: 0;
          animation-direction: alternate;
        }
      }
    }
    @keyframes eye-movement {
      0% {
        transform: translateX(0vw);
      }
      50% {
        transform: translateX(0vw);
      }
      70% {
        transform: translateX(0.3vw);
      }
      100% {
        transform: translateX(0.3vw);
      }
    }
  }
  .create-item-container {
    .btn {
      .svg {
        width: 10.5vw;
      }
    }
  }
  .main-page-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 16vw;
    height: $page-head-height;
    right: 0;
    position: fixed;
    background: var(--light-blue);
    transition: all 150ms;
    border-bottom-left-radius: 2vw;

    &.menu-expanded {
      width: 16vw;
      border-bottom-left-radius: 0;
    }

    &.notification-expanded {
      width: 25vw;
      border-bottom-left-radius: 0;
    }
  }

  .mobile-main-page {
    width: 100%;
    height: 100vh;
    @extend %flexCenter;
    flex-direction: column;
    .prev-image,
    .next-image {
      width: 60px;
      height: 60px;
      margin: 30px 0;
      opacity: 0.5;
    }
    .swiper-container {
      width: 100%;
      height: calc(100vh - 100px) !important;
      padding: 1vh 0;
      .swiper-slide {
        width: 100%;
        @extend %flexCenter;
        height: calc(33.33vh - 8vh);
        .btn {
          text-align: center;
          flex-direction: column;
          .svg {
            width: 150px;
            height: 120px;
            @extend %removePosition;
          }
          .item-description {
            padding: 0;
            text-align: center;
            margin: 0;
            font: 5vw $font-family-light;
            letter-spacing: 0.27vw;
            color: var(--tab-gray);
          }
        }
      }
    }
  }

  .policy-text {
    position: fixed;
    font-family: $font-family-regular;
    bottom: 0vh;
    right: 10vw;
  }
}
