@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mainPage {
  $welcome-col-width: 35.2vw;
  $first-col-width: 29.6vw;
  background: var(--theme-dark-blue);
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font-family-black;

  .welcome-col {
    width: $welcome-col-width;
    @extend %textCenter;
    padding-top: 15vh;

    .welcome-box {
      color: white;
      letter-spacing: 0.66vw;
      font-size: 2.58vw;
      font-family: $font-family-bold;
      padding-right: 2.9vw;

      .smaller {
        font-size: 2.4vw;
      }

      .welcome-name {
        font-size: 2.5vw;
        letter-spacing: 0.73vw;
        margin-top: 3.2vh;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font-family-light;
        color: var(--theme-orange);
      }
      .notifications-text {
        margin-top: 10vh;
        letter-spacing: 0.1vw;
        font-family: $font-family-light;
        font-size: 1.5vw;

        &.clickable {
          cursor: pointer;
        }
      }

      .notifications-text-2,
      .notifications-text-3 {
        margin-top: 0.6vh;
        color: var(--tab-gray);
        font-family: $font-family-light-italic;
        letter-spacing: 0.05vw;
        font-size: 1.2vw;
      }

      b {
        font-weight: normal !important;
        font-family: $font-family-bold;
      }
    }
  }

  .first-col {
    width: $first-col-width;
    height: 100%;

    .first-item {
      background: var(--theme-light-blue);
      height: 89.2vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      @extend %flexCenter;
      flex-direction: column;
    }
    .second-item {
      position: relative;
      background: var(--theme-light-blue);
      margin-top: 4.6vh;
      height: 6.2vh;
      @extend %textCenter;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .second-col {
    color: var(--white);
    letter-spacing: 0.3vw;
    font-size: 1.4vw;
    font-family: $font-family-light;
    width: calc(100vw - #{$welcome-col-width} - #{$first-col-width});
    @extend %flexCenter;

    div {
      cursor: pointer;
    }
  }

  .manage-classes {
    flex-direction: column;
    .svg {
      width: 10vw;
      height: 7vw;
      @extend %removePosition;
      .left-class-icon,
      .right-class-icon {
        @extend %transitionAll300;
      }
      .left-class-icon {
        transform: translateX(-0.1vw);
      }
      .right-class-icon {
        transform: translateX(0.1vw);
      }
    }
    span {
      @extend %transitionAll300;
    }
    &:hover {
      .svg {
        .left-class-icon {
          transform: translateX(0.5vw);
        }
        .right-class-icon {
          transform: translateX(-0.5vw);
        }
      }
      span {
        font-family: $font-family-bold;
        @extend %transitionAll300;
        letter-spacing: 0.4vw;
      }
    }
  }

  .view-item-container,
  .create-item-container,
  .back-item-container {
    width: auto;
    @extend %flexCenter;
    flex-direction: column;
    @include tabletP {
      padding: 25px 0;
    }
    @include ex-desktop_wide {
      padding: 3vh 0;
    }
    .eye-glass-icon,
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @extend %textCenter;
      flex-direction: column;
      .svg {
        @extend %removePosition;
        @include phone_and_tabletP {
          width: 150px;
          height: 120px;
        }
        @include tabletP {
          width: 15vw;
          height: 10vw;
        }
        @include laptop {
          width: 10vw;
          height: 8vw;
        }
        @include ex-desktop_wide {
          width: 12vw;
          height: 8vw;
        }
        @include apple-macbook-air-width {
          width: 13vw;
          height: 9vw;
        }
      }
    }
    .item-description {
      padding: 0;
      @extend %textCenter;
      margin: 0;
      font-family: $font-family-light;
      color: var(--tab-gray);
      @include phone_and_tabletP {
        font-size: 25px;
        letter-spacing: 5px;
      }
      @include tabletP {
        font-size: 1.5vw;
        letter-spacing: 0.3vw;
      }
      @include laptop {
        font-size: 1vw;
        letter-spacing: 0.2vw;
      }
      @include ex-desktop_wide {
        font-size: 1.2vw;
        letter-spacing: 0.3vw;
      }
    }
    &:hover {
      .item-description {
        font-family: $font-family-bold;
        &.disabled {
          font-family: $font-family-light !important;
        }
      }
    }
  }
  .view-item-container {
    .eye-glass-icon,
    .btn {
      .svg {
        @include tabletP {
          height: 60px;
        }
        @include ex-desktop_wide {
          height: 5vw;
        }
        @include apple-macbook-air-width {
          height: 11vh;
        }
      }
    }
    .eye-glass-icon {
      position: relative;
      .glass-eyes-left,
      .glass-eyes-right {
        display: none;
        opacity: 0;
        transition-delay: 200ms;
        @extend %transitionAll300;
        @extend %floatToYCenter;
        @include phone_and_tabletP {
        }
        @include tabletP {
          width: 5vw;
          height: 5vw;
        }
        @include laptop {
          width: 50px;
          height: 50px;
        }
        @include ex-desktop_wide {
          width: 4.5vw;
          height: 4.5vw;
        }
        @include apple-macbook-air-width {
          width: 3vw;
          height: 3vw;
        }
        .svg {
          width: 60%;
          height: 60%;
        }
      }
      .glass-eyes-left {
        @include tabletP {
          right: 15px;
        }
        @include laptop {
          left: 10px;
        }
        @include ex-desktop_wide {
          left: 16px;
        }
        @include apple-macbook-air-width {
          left: 3.07vw;
        }
      }
      .glass-eyes-right {
        @include tabletP {
          right: 15px;
        }
        @include laptop {
          right: 10px;
        }
        @include ex-desktop_wide {
          right: 16px;
        }
        @include apple-macbook-air-width {
          right: 2.99vw;
        }
      }
    }
    &:hover {
      .eye-glass-icon {
        .glass-eyes-left,
        .glass-eyes-right {
          opacity: 1;
          .pupil {
            animation-name: eye-movement;
            animation-iteration-count: infinite;
            animation-duration: 1300ms;
            animation-delay: 0;
            animation-direction: alternate;
          }
        }
      }
    }
    @keyframes eye-movement {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(0);
      }
      70% {
        transform: translateX(6px);
        @include ex-desktop_wide {
          transform: translateX(0.3vw);
        }
      }
      100% {
        transform: translateX(6px);
        @include ex-desktop_wide {
          transform: translateX(0.3vw);
        }
      }
    }
  }
  .main-page-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    width: 16vw;
    height: $page-head-height;
    right: 0;
    position: fixed;
    background: var(--theme-light-blue);
    transition: all 150ms;
    border-bottom-left-radius: 2vw;

    &.menu-expanded {
      width: 16vw;
      border-bottom-left-radius: 0;
    }

    &.notification-expanded {
      width: $notification-width;
      border-bottom-left-radius: 0;
    }
  }

  .mobile-main-page {
    width: 100%;
    height: 100%;
    @extend %flexCenter;
    flex-direction: column;
    .prev-image,
    .next-image {
      width: 20%;
      height: 5%;
      margin: 0;
      opacity: 0.5;
    }
    .prev-image {
      margin-top: 10px;
    }
    .next-image {
      margin-bottom: 10px;
    }
    .swiper-container {
      width: 100%;
      height: calc(80%) !important;
      padding: 1vh 0;
      .swiper-slide {
        width: 100%;
        @extend %flexCenter;
        height: calc(26%);
        opacity: 0.65;
        &.swiper-slide-next {
          transform: scale(1);
          @extend %transitionAll300;
          opacity: 1;
        }
        &:not(.swiper-slide-next) {
          transform: scale(0.85);
          pointer-events: none;
        }
        .view-item-container {
          @include phone_and_tabletP {
            .svg {
              width: 230px;
            }
          }
        }
      }
    }
  }

  .policy-text {
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: right;
    padding-right: 2.5vw;
    color: var(--tab-gray);
    font-family: $font-family-regular;
    bottom: 2.4vh;
    line-height: 2vw;
    right: 10vw;
    font-size: 1.6vw;
    span:hover {
      color: var(--theme-orange) !important;
    }
  }

  .dialog-box {
    .MuiDialog-container {
      padding: 0 !important;
    }
  }
}
