.LoginSixthformPage {
  min-height: 100%;
  height: 49vw;
  border-radius: 0 !important;
  padding: 0 !important;
  background: var(--theme-dark-blue);

  $font-scale: 1.2;

  .popup-container {
    display: flex;
  }

  /* fonts */
  .font-8 {
    font-size: calc(0.5vw * $font-scale);
  }

  .font-11 {
    font-size: calc(0.6875vw * $font-scale);
  }

  .font-12 {
    font-size: calc(0.75vw * $font-scale);
  }

  .font-13 {
    font-size: calc(0.81vw * $font-scale);
  }

  .font-14 {
    font-size: calc(0.875vw * $font-scale) !important;
  }

  .font-15 {
    font-size: calc(0.9375vw * $font-scale);
  }

  .font-16 {
    font-size: calc(1vw * $font-scale);
  }

  .font-18 {
    font-size: calc(1.125vw * $font-scale);
  }

  .font-20 {
    font-size: calc(1.25vw * $font-scale);
  }

  .font-22 {
    font-size: calc(1.35vw * $font-scale);
  }

  .font-24 {
    font-size: calc(1.5vw * $font-scale);
  }

  .font-25 {
    font-size: calc(1.56vw * $font-scale);
  }

  .font-28 {
    font-size: calc(1.75vw * $font-scale);
  }

  .font-30 {
    font-size: calc(1.875vw * $font-scale);
  }

  .font-36 {
    font-size: calc(2.25vw * $font-scale);
  }

  .font-40 {
    font-size: calc(2.5vw * $font-scale);
  }

  .first-column {
    width: 60vw;

    .white-logo-r23 {
      z-index: 3;
      top: 14vw;
      left: 2vw;
      width: 42vw;
      height: 8vw;
      position: absolute;
    }

    .red-shape-r23 {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 13vw;
      width: 19vw;
      height: 28vw;
    }

    img {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 49vw;
      overflow-y: hidden;
    }

    .study-text {
      position: absolute;
      top: 28vw;
      width: 45vw;
      left: 0vw;
      z-index: 2;
      color: white;
      text-align: center;
    }
  }

  .second-column {
    width: 30vw;
    padding-right: 1vw;
    color: white;
    position: relative;
    line-height: 1;

    .line-height-1-3 {
      line-height: 1.3;
    }

    .abolute-form-container {
      position: absolute;
      padding-top: 4vh;
      top: 0;
      left: 0;
      max-height: 100vh;
      overflow-y: scroll;
      z-index: 4;

      display: flex;
      align-items: center;
      overflow-y: scroll;
      padding-bottom: 2vw;

      .title-container {
        margin-bottom: 2vh;

        .sixth-login-hand {
          width: 4vw;
          height: 4vw;
        }
      }

      >div {
        width: 30vw;



        input {
          border-radius: 0.5vw;
          padding: 2vh 0;
          width: 30vw;
          line-height: 1;
          color: white;
          border: none;
          outline: none;
          background: #193266;
          display: block;
          margin-top: 2vh;
          margin-bottom: 2vh;
          text-align: center;

          &::placeholder {
            color: #8D9AAB;
          }
        }

        .full-name-input {
          margin-top: 4vh;
        }

        .btn {
          cursor: pointer;
          line-height: 1;
          padding-top: 3vh;
          padding-bottom: 3vh;
          margin-top: 4vh;
          color: white;
          outline: none;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          position: relative;
          background: var(--theme-orange);

          svg {
            position: absolute;
            top: 2.5vh;
            left: 0.9vw;
            width: calc(1.8vw + 1vh);
            height: calc(1.8vw + 1vh);
          }

          &:hover {
            background: var(--theme-light-blue);
          }
        }

        .sign-in-btn {
          margin-top: 2vh;
        }

        .text-box {
          padding-left: 4.5vw;
          margin-top: 2vh;
          position: relative;
          display: flex;
          color: var(--white);
          letter-spacing: 0.1vw;
          font-size: 1.3vw;

          .join-button {
            cursor: pointer;
            position: absolute;
            top: -0.2vw;
            left: 17vw;
            width: 8vw;
            display: flex;
            align-items: center;

            svg {
              margin-top: -0.2vw;
              transition: all 300ms ease-out;
              width: 2vw;
              height: 2vw;
            }

            &:hover {
              svg {
                margin-left: -1vw;
              }
            }
          }
        }

        .button-box-v2 {
          padding-left: 4.5vw;
          margin-top: 3vh;
          position: relative;
          display: flex;
          color: var(--white);
          letter-spacing: 0.1vw;
          font-size: 1.3vw;

          .back-button {
            cursor: pointer;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;

            svg {
              margin-top: -0.2vw;
              transition: all 300ms ease-out;
              width: 2.2vw;
              height: 2.2vw;
            }
          }
        }
      }
    }

    .terms-checkbox-container {
      display: flex;
      align-items: center;
      margin-top: 2vh;

      svg {
        color: white;
      }
      svg, input {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    .text-underline {
      text-decoration: underline;
    }

    .google-button-desktop,
    .microsoft-button-v5 {
      display: block;
      background: var(--white);
      border-radius: 0.6vw;
      width: 100%;
      padding-top: 3vh;
      padding-bottom: 3vh;
      position: relative;
      text-align: center;
      margin-top: 1.8vh;
      margin-bottom: 1.8vh;

      svg {
        position: absolute;
        top: calc(2.75vh);
        left: 0.9vw;
        width: calc(1.8vw + 0.5vh);
        height: calc(1.8vw + 0.5vh);
      }

      span {
        padding-left: 2vw;
        text-align: center;
        width: 100%;
        color: var(--theme-dark-blue) !important;
      }
    }

    .sign-up-link {
      cursor: pointer;
      text-align: center;
    }

    .google-button-desktop {
      margin-top: 2vh;

      span {
        padding-left: 0;
      }
    }

    .microsoft-button-v5 img {
      position: absolute;
      top: calc(3vh);
      left: 0.9vw;
      width: 1.8vw;
      height: 1.8vw;
    }

    .line-container {
      margin-top: 2vh;

      .line {
        opacity: 0.3;
        margin-left: 1vw;
        margin-right: 1vw;
        width: 9vw;
        height: 2px;
        background: white;
      }
    }
  }
}