@import "../../variables";

.pre-login-page {
  height: 100%;

  background-color: #06215C;

  .google-button {
    background-color: white;
    text-transform: none;
    border-radius: 2px;
    padding: 8px 16px;
    color: grey;
    margin-bottom: 38px;
    width: 188px;

    .google-icon {
      height: 18px;
    }

    .google-button-text {
      padding-left: 10px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .email-button {
    background-color: $global-orange;
    text-transform: none;
    border-radius: 2px;
    padding: 8px 16px;
    color: grey;
    margin-bottom: 12px;
    width: 188px;

    .email-icon {
      height: 18px;
    }

    .email-button-text {
      padding-left: 10px;
      color: white;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .login-logo {
    font-size: 20px;
    text-align: center;
    color: #0076B4;
    padding: 5px 20px;
    margin-bottom: 30px;
  }

  .footer-image {
    width: 50%;
    margin-top: 0px;
  }

  @media only screen and (min-width: 1280px) {
    .google-button, .email-button {
      padding: 0.4vw 0.2vw;
      width: 9.9vw !important;
      border-radius: 0.14vw !important;
    }

    .login-logo {
      margin-bottom: 1.54vw;
      .logo-img {
        width: 5.1vw;
      }
    }

    .footer-image {
      width: 12vw;
    }

    .email-button {
      margin-bottom: 0.7vw;
      .email-icon {
        height: 0.9vw !important;
      }
      .email-button-text {
        padding-left: 0.53vw;
        font-size: 0.8vw;
      }
    }

    .google-button {
      margin-bottom: 2vw;
      .google-icon {
        height: 0.95vw;
      }
      .google-button-text {
        padding-left: 0.53vw;
        font-size: 0.74vw;
      }
    }
  }

  @media only screen and (max-width: 1279px) and (min-width: 960px) {

  }

  @media only screen and (max-width: 959px) and (min-width: 600px) {

  }

  @media only screen and (max-width: 599px) {
    .footer-image {
      max-height: 100px;
    }
  }
}