@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.notification-box .MuiPaper-root {
  width: 100%;
  max-width: unset !important;
  height: calc(100% - 63px);
  bottom: 63px !important;
  background: transparent;
  .notification-content {
    $top-size: 20vw;
    $clear-size: 13vw;
    height: calc(100% - #{$top-size} - #{$clear-size});
    max-height: 100% !important;
    .notification-top {
      height: $top-size;
      border-bottom: 0.3vw solid var(--theme-dark-blue);
      color: var(--white);
      display: flex;
      align-items: center;
      svg {
        margin-left: 1vw;
        $size: 5vw;
        width: $size;
        height: $size;
      }
      > div {
        width: 100%;
      }
      > div > div {
        font-size: 6vw;
        font-family: $font-family-bold;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .n-secondary {
        font-size: 5vw;
        font-family: $font-family-regular-italic;
      }
    }
    .notification-list {
      background: var(--theme-light-blue);
      height: 100%;
      max-height: unset !important;

      $circle-size: 13vw;

      li {
        height: 20vw;
        border-bottom: 0.3vw solid var(--theme-dark-blue);
      }

      .notification-detail {
        border: none !important;
        width: 100% !important;
        padding-left: 2vw !important;
        padding-right: 5vw !important;

        .notif-desc,
        .notif-title {
          font-size: 4.5vw !important;
        }
      }

      .left-brick-circle {
        width: $circle-size;
        height: $circle-size;
      }
      .content-box {
        width: calc(100vw - #{$circle-size} - 6vw);
      }
    }
    .clear-notification {
      font-size: 6.5vw;
      height: $clear-size;
      .clickable {
        color: var(--white) !important;
      }
      .clear-all-button .text-white {
        color: var(--white) !important;
      }
      svg {
        margin-right: 3vw;
        margin-left: 2vw;
        $size: 10vw;
        width: $size;
        height: $size;
      }
    }
  }
}
