@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.name-subject-form,
.name-subject-display {
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;

  height: 100%;
  padding-left: 1vw;
  padding-top: 1vh;
}

.name-subject-form {
  .MuiOutlinedInput-input {
    padding-top: 1vh !important;
    padding-bottom: 1vh !important;
  }
  .subject-input {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;

    .MuiSelect-root {
      .MuiListItemIcon-root {
        svg {
          width: 3vw;
          height: 3vw;
        }
      }

      .MuiListItemText-root {
        display: none;
      }
    }

    .arrow-icon {
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
    }
  }

  .name-input {
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    background: var(--tab-gray);
    color: var(--theme-dark-blue);
    border-radius: 0.3vw;
    padding-left: 0.5vw;
  }

  .submit-icon {
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
    color: var(--theme-orange);
    margin-left: 1vw;
    stroke-width: 2.8;

    &.tick {
      color: var(--theme-green);
    }
  }
}

.name-subject-display {
  .subject-icon {
    width: 3vw;
    height: 3vw;
    margin-right: 1vw;
  }

  .name-display {
    font-size: 1.5vw;
    letter-spacing: 0.15vw;
    font-family: $font-family-black;
    text-transform: uppercase;
    color: var(--theme-dark-blue);
  }

  .edit-icon {
    cursor: pointer;
    width: 1.7vw;
    height: 1.7vw;
    color: var(--theme-dark-blue) !important;
    margin-left: 1vw;

    &:hover {
      color: var(--theme-orange) !important;
    }
  }
}
