.progress-bar-sixthform {
  display: flex;
  margin-bottom: 2vh;
  padding-left: 3vw;
  width: 74.566vw;

  > div {
    position: relative;

    .step-s6 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      background: #4C608A;

      &.active, &.completed {
        background: var(--theme-orange);
      }

      &.active {
        border: 3px solid white;
      }
    }

    .progress-label-s6 {
      position: absolute;
      width: 9vw;
      top: 2.2vw;
      text-align: center;
      left: -3.5vw;
    }
  }

  

  .line-r23 {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    height: 2px;
    width: 8vw;
    background: #A1AEBE;

    &.active {
      background: var(--theme-orange);
    }
  }

  .exit-btn {
    cursor: pointer;
    margin-left: 4vw;
    margin-top: 1vw;
  }
}