@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.public-terms-page {
  .sort-and-filter-container {
    padding-top: 7vh;
    padding-left: 1vw;
    
    font-size: 1.2vw;
    
    > div {
      margin-bottom: 2vh;
    }
    .MuiTypography-root {
      font-size: 1.2vw;
      font-family: $font-family-regular;
    }
    .header-link {
      @extend %flexToYCenter;
      cursor: pointer;
      .white-circle {
        border-radius: 50%;
        display: flex;
        height: 1.2vw;
        width: 1.2vw;
        margin-right: 0.5vw;
        background: var(--white);
      }
    }
  }
  .terms-and-conditions {
    padding: 9vh 3vw !important;
    overflow: auto !important;
    overflow-x: hidden;
    color: var(--theme-dark-blue);
    height: calc(100vh - 5.834vw - 2vw) !important;

    ol {
      margin-left: 1vw;
    }
  }
  .MuiButtonBase-root.MuiIconButton-root {
    padding: 0 !important;
    margin-right: 10px;
  }
  .condition-box {
    margin-top: 20px;
    font-size: 20px;
    @extend %flexCenter;
  }
  .MuiCheckbox-colorSecondary.Mui-checked {
    color: var(--theme-light-blue) !important;
  }
  .condition-button {
    margin-top: 5px;
    @extend %flexCenter;

    button {
      background: var(--theme-light-blue);
      border: none;
      padding: 5px 15px;
      color: white;
    }
  }
}