@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.terms-page {
  .sort-and-filter-container {
    padding-top: 7vh;
    padding-left: 1vw;
    
    font-size: 1.2vw;
    
    > div {
      margin-bottom: 2vh;
    }
    .MuiTypography-root {
      font-size: 1.2vw;
      font-family: $font-family-regular;
    }
    .header-link {
      cursor: pointer;
    }
  }
  .terms-and-conditions {
    padding: 9vh 3vw !important;
    overflow: auto !important;
    color: var(--theme-dark-blue);
    height: calc(100vh - 5.834vw - 2vw) !important;
  }
}