@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.MuiExpansionPanelDetails-root {
  padding-top: 0 !important;

  .MuiTypography-root {
    font-size: 0.8vw;
  }
}

$expanded-intro-padding: 2vw;
$introduction-desktop-height: calc(100vh - #{$expanded-intro-padding} - #{$page-head-height});
$introduction-expanded-height: calc(100vh - #{$expanded-intro-padding});

$play-mobile-height: calc(100vh - 60px - 87px - 20vw) !important;

.play-preview-pages {
  background: var(--theme-dark-blue);
  min-height: 100%;
  .sorted-row {
    height: $back-to-work-height-mobile-view;
    overflow: hidden;
    .play-sidebar {
      &.sort-and-filter-container {
        display: none;
      }
    }
    .brick-row-container {
      background-color: var(--white);
      border-radius: 0;
      height: $back-to-work-height-mobile-view;
      transition: 700ms width;

      .brick-container {
        height: calc(100% - 60px);
        // overflow-y: auto;
        .MuiGrid-container {
          display: flex;
          flex-direction: column;
        }
        .left-brick-circle {
          // position: absolute;
          position: unset;
          top: 2.4vh;
          left: 1vw;
          margin-bottom: 0.5vh;
          > div {
            @extend %radCircle;
            background-color: var(--gray);
            height: 17vw;
            width: 17vw;
          }
        }
        .introduction-page {
          font-family: $font-family-regular;
          position: relative;
          height: 100%;
          .intro-desktop-title {
            width: 100vw;
            text-align: center;
            display: block;
            margin-top: 2vh;
            margin-bottom: 3vh;
            font-family: $font-family-black;
            font-size: 3vh !important;
            max-width: 90vw !important;
          }
          .title {
            @include desktop {
              font-size: 4vw;
            }
          }
          p {
            font-size: 4.5vw;
          }
          .intro-header {
            @extend %transitionAll600;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 4vw;
            position: relative;
            > .intro-header {
              position: absolute;
              padding: 0;
              right: 4vw;
              top: 3vw;
            }
            &.expanded-intro-header {
              align-items: flex-start;
              padding: 3vw;
              background-color: var(--solitude-light);
              height: 86px;
              .brick-counter {
                transition: all 300ms;
                font-size: 6vw !important;
                padding-right: 1vw !important;
              }
              .left-brick-circle {
                .round-button {
                  transition: all 300ms;
                  height: 8vw;
                  width: 8vw;
                }
              }

              h1 {
                transition: all 300ms;
                margin: 0;
                width: calc(100vw - 38vw);
                font-size: 4.5vw !important;
                text-align: left !important;
                padding-left: 2vw !important;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              p {
                transition: all 300ms;
                width: 100%;
                padding-left: 9.5vw;
              }
            }

            .play-clock {
              display: none;
            }

            .brick-counter {
              font-size: 5vw;
              padding-right: 5vw;
            }
          }

          .start-brick-button {
            margin-right: 0px;

            > span {
              font-family: $font-family-regular;
              font-size: 25px;
              margin-right: 10px;
            }
          }

          h1,
          p,
          ul,
          ol {
            color: var(--theme-dark-blue);
          }

          h1 {
            text-transform: uppercase;
            width: 100%;
            font-family: $font-family-black;
            position: unset;
            transform: translate(0);
            padding-left: 0 !important;
            font-size: 3vh !important;
            text-align: center !important;
          }

          .intro-content {
            padding: 0 4vw;
            height: calc(100vh - 60px - 86px);
            overflow-y: auto;
          }

          .question-index-container {
            margin: 1vw 1.5vw 2vw 0;
            padding: 0.5vw;
            width: 3.3vw;
            height: 3.3vw;
            @extend %radCircle;
            display: none;
            &.correct {
              .question-index {
                background: var(--theme-green);
              }
            }

            &.wrong {
              .question-index {
                background: var(--theme-orange);
              }
            }

            &.attempted {
              background: var(--highlight-blue);

              .question-index {
                background: var(--blue);
              }
            }

            .question-index {
              padding: 0;
              background: var(--tab-gray);
              border-radius: 100vw;
              font-family: $font-family-black;
              color: var(--theme-dark-blue);
              @extend %textCenter;
              width: 6vw;
              height: 6vw;
              font-size: inherit;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          .question-live-play {
            overflow-y: auto;
            padding-bottom: 2vw;
            position: absolute;
            top: 0;
            width: 100%;
            height: $play-mobile-height;
            margin-top: 4vw;
            .question-title {
              font-family: $font-family-black;
              color: var(--theme-dark-blue);
              font-size: 6vw;
            }
            .short-answer-input {
              border-radius: 0 !important;
              background: transparent !important;
            }
            .short-answer-live {
              .document-editor {
                border-radius: 0 !important;
                background: transparent !important;
                .ck-editor {
                  .ck-content {
                    background: transparent !important;
                    border-radius: 0 !important;
                    padding: 0.5vw 0 !important;
                  }
                }
              }
            }
            &.review-content {
              width: 100% !important;
              padding: 4vw !important;
              margin: 0 !important;
            }
          }

          .swipe-view {
            .react-swipeable-view-container {
              > div {
                overflow-y: hidden !important;
              }
            }
          }
        }
        .introduction-info {
          background-color: var(--solitude-light);
          position: relative;
          border-radius: 1vh;
          margin: 0 4vw;
          .intro-header {
            font-size: 2vw;
            font-family: $font-family-black;
            color: var(--theme-dark-blue);
            display: inline-block;
            padding: 0;
            position: absolute;
            right: 5vw;
            margin-top: 2vw;
            .brick-counter {
              display: none;
            }
            .play-clock {
              display: flex;
            }
            .brick-counter {
              position: absolute;
              right: 0vw;
              top: 1vw;
              font-size: 5vw;
            }
            .clock-image {
              width: 5vw;
              height: 5vw;
            }
            .clock {
              margin-left: 3vw;
              display: flex;
              align-items: center;
              min-width: 6vw;

              .clock-image {
                width: 2vw;
                height: 2vw;
              }
            }
            .counter {
              .counter-seconds {
                font-size: 1vw;
              }
            }
          }
          .intro-text-row {
            width: 100%;
            font-family: $font-family-bold;
            color: var(--theme-dark-blue);
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 3vw;
            font-size: 4.4vw;
            margin-top: 0 !important;
            > p,
            > ul {
              margin: 0;
            }

            > ul {
              margin-top: 0.5vw;
            }

            .stepper {
              .step {
                @extend %posRelative;
                @extend %flexCenter;
                justify-content: flex-start;
                cursor: pointer;
                font-size: 2vw;
                font-family: $font-family-black;
                color: var(--dark-gray);
                &.completed,
                &.current {
                  color: var(--theme-dark-blue);
                }
                > span {
                  width: 3vw;
                }
                > .svg {
                  stroke-width: 2.5;
                  width: 1.5vw;
                  height: 1.5vw;
                }
                .blue-circle-main-container {
                  @extend %floatToXCenter;
                  left: 60%;
                  top: 50%;
                  transform: translate(0, -50%);
                }
                .blue-circle-container {
                  padding: 0.2vw;
                  border-radius: 100vw;
                  background: var(--blue-alpha5);
                  .blue-circle {
                    height: 0.8vw;
                    width: 0.8vw;
                    border-radius: 100vw;
                    background: var(--blue);
                  }
                }
              }
            }
          }
          .max-length {
            font-family: $font-family-regular;
            color: var(--theme-dark-blue);
            margin-left: 0.8vw;
            font-size: 4.8vw;
          }
        }
        .action-footer {
          display: flex;
          color: var(--theme-dark-blue);
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          height: 80px;
          position: fixed;
          right: 0;
          bottom: 80px;
          > div {
            display: flex;
            flex-direction: column;
            position: relative;
            min-height: 5vh;
            margin: 0 3vw;
            min-width: 18vw;
            &:first-child {
              transform: scale(0.7);
            }
            &.direction-info {
              width: 100%;
              position: relative;
              margin: 0;
              display: flex;
              justify-content: center;
              font-family: $font-family-bold;
              @extend %textCenter;
              > h2 {
                width: 100%;
                margin-top: 0;
                margin-bottom: 0;
                @extend %textCenter;
                font-size: 9vw;
              }
              > h3,
              > span {
                position: absolute;
                color: var(--theme-dark-blue);
              }
              > h3 {
                letter-spacing: inherit;
                margin: 0;
                bottom: 75%;
                font-size: 6vw;
              }
              > span {
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                top: 80%;
                @extend %textCenter;
                font-size: 6vw;
              }
            }
            .play-preview {
              @extend %floatToCenter;
            }
          }
        }
        &.play-preview-panel {
          color: var(--theme-dark-blue);
          .MuiListItemText-root,
          .MuiButton-label {
            p {
              font-size: 4.5vw;
            }
          }
          table {
            width: 100%;
            border-collapse: collapse;
          }
          .table {
            width: 100%;
            margin-left: 0;
            margin-right: 0;
          }
          table,
          td,
          th {
            border: 1px solid var(--theme-dark-blue);
          }
          td {
            min-width: 0;
            padding: 0;
          }
          .text-play {
            //#1684 bug fix - overflow: auto;
            margin-top: 1.5vh;
            margin-bottom: 1.5vh;
            blockquote {
              border-left: 0.3vw solid var(--tab-gray);
              padding-left: 1.8vw;
            }
            ul > li {
              font-size: 1.25vw;
            }
          }
          .MuiBox-root {
            padding: 0;
            position: relative;
            padding-top: 0;
          }
          .MuiStepper-root {
            padding-top: 20px;
            padding-bottom: 16px;

            .MuiStepButton-root {
              padding-top: 27px;
              padding-bottom: 10px;
            }
          }
          .introduction-page {
            padding: 0;
            overflow-y: hidden;
            height: $play-mobile-height;
            .sort-category {
              font-size: 4.5vw !important;
            }
          }
          .fotter-text {
            margin-top: 3vw;
          }
          .introduction-info {
            position: relative !important;
            margin: 0 !important;
            border-radius: 0 !important;
          }
        }
        &.provisional-score-page,
        &.ending-page {
          .introduction-page {
            h1 {
              text-transform: capitalize;
            }
          }
        }
        &.live-page,
        &.synthesis-page,
        &.review-page {
          .introduction-info {
            .intro-text-row {
              padding-top: 0 !important;
            }
            .intro-header {
              .brick-counter {
                position: absolute !important;
                right: -2vw !important;
                top: -1vw !important;
                display: block !important;
              }
              .play-clock {
                display: none !important;
              }
            }
          }
          .mobile-next {
            top: auto !important;
            bottom: 87px !important;
            right: 13px !important;
          }
        }
        &.synthesis-page {
          .introduction-info {
            .intro-text-row {
              padding-top: 3vw !important;
            }
          }
          .introduction-page {
            h1 {
              text-transform: capitalize;
              margin: 0.4vw 0 0 0;
            }
          }
          .question-live-play {
            height: calc(100vh - 27.6vh);
            width: 100%;
            margin: 4vh 0 0;
          }
          &.mobile-synthesis-page {
            .direction-info {
              display: none;
            }
            .introduction-page {
              .intro-header {
                h1 {
                  text-transform: capitalize !important;
                }
              }
            }
          }
        }
        &.mobile-synthesis-page,
        &.mobile-provisional-score,
        &.mobile-ending-page {
          .introduction-page {
            h1 {
              background-color: var(--solitude-light) !important;
            }

            .intro-text-row {
              .stepper {
                flex-direction: row !important;
                background-color: var(--solitude-light) !important;
                padding: 2vw;
                .step {
                  font-size: 4vw !important;
                  .svg {
                    height: 4vw !important;
                    width: 4vw !important;
                  }
                }
              }
            }
          }
        }
        .circle-progress-container {
          position: relative;
          width: 100%;
          height: $play-mobile-height !important;
          .circle-progress-first {
            height: 50vh;
            width: 50vh;
            .CircularProgressbar-path {
              stroke: #ffb55f !important;
            }
          }

          .circle-progress-second {
            height: 46vh;
            width: 46vh;

            .CircularProgressbar-path {
              stroke: #317fe0 !important;
            }
          }

          .circle-progress-third {
            height: 42.5vh;
            width: 42.5vh;

            .CircularProgressbar-path {
              stroke: #38c36d !important;
            }
          }

          .circle-progress {
            height: 50vh;
            width: 50vh;

            .CircularProgressbar-path {
              stroke: #ffb55f !important;
            }

            svg {
              overflow: overlay;

              circle {
                stroke-width: 4.5 !important;
              }
            }
          }

          .score-circle {
            left: 0;
            top: 0;
            width: 100%;
            height: inherit;
            position: absolute;
          }

          .score-data {
            position: absolute;
            height: inherit !important;
            width: 50vh;
            top: 0;
            color: var(--theme-dark-blue);
            @extend %textCenter;
            > div {
              height: inherit !important;
              .score-precentage {
                font-family: $font-family-black;
                color: var(--theme-dark-blue);
                line-height: 1;
                font-size: 14vh;
              }

              .score-number {
                font-family: $font-family-bold;
                color: var(--theme-dark-blue);
                line-height: 1;
                font-size: 4vh;
              }
            }
          }
        }
        .MuiCircularProgress-colorPrimary {
          color: #0076b4 !important;
        }
        .CircularProgressbar-trail {
          opacity: 0 !important;
        }
      }
      &.live-page {
        > .introduction-page {
          height: calc(100% - 19vw) !important;
          .MuiTypography-root {
            height: 100% !important;
            .MuiBox-root {
              height: 100% !important;
              .introduction-page {
                height: 100% !important;
                .question-live-play {
                  height: 100% !important;
                  padding-bottom: calc(20vw + 27px) !important;
                }
              }
            }
          }
        }
      }
      &.review-page {
        .introduction-page {
          height: calc(100vh - 60px - 21vw) !important;
          .question-live-play {
            height: 100% !important;
            padding-bottom: calc(21vw + 25px) !important;
          }
        }
      }
      &.mobile-synthesis-page {
        .synthesis-content {
          height: calc(100% - 21vw) !important;
          margin-bottom: 0;
          padding-bottom: calc(20vw + 25px) !important;
        }
      }
    }
    &.sorted-row-expanded {
      margin-top: 0;
    }
  }
  .MuiPaper-root {
    box-shadow: none !important;
  }
  .expand-title {
    color: var(--theme-dark-blue);
    line-height: 1.3;
    display: flex;
    align-items: center;
    margin-top: 2vh;
    font: 6vw $font-family-bold;
    .centered {
      width: 20vw;
    }
    > span {
      font-size: 7vw;
    }
    .round-icon {
      border-radius: 50%;
      margin: 0 1.8vw 0 1vw;
      overflow: hidden;
      position: relative;
      transition: 500ms transform ease-in-out;
      width: 6.9vw;
      height: 6.9vw;
      margin-left: 5vw;
      cursor: pointer;
      &.b-yellow {
        transform: rotate(-90deg);
      }
      .arrow {
        height: 80%;
        width: 80%;
        @extend %posAbsolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .image {
      height: 100%;
    }
    .help-prep {
      color: var(--theme-dark-blue);
      font-family: $font-family-regular;
      font-size: 3vw;
    }
  }
  .expanded-text {
    width: 100%;
    color: var(--theme-dark-blue);
    font-family: $font-family-regular;
    margin: 0 0 1vh 0;
    // font-size: 6vw;
    &.prep-box {
      margin-bottom: 21vh;
    }
  }
}

.play-preview-pages ~ .beta-text {
  display: none;
}

// only stepper in play
.brick-container {
  .introduction-info {
    .heading {
      text-align: center;
      font-size: 6vw;
    }
    .intro-text-row {
      padding-top: 0 !important;
    }

    .stepper {
      width: 100%;
      display: flex;
      box-sizing: border-box;
      overflow-y: hidden;
      > .step {
        color: var(--dark-gray);
        display: inline-flex;
        flex: 1;
        justify-content: center !important;
        min-width: 12vw;
        font-size: 5vw !important;
        span {
          margin-right: 3vw;
        }
        svg {
          stroke-width: 2;
          height: 4vw !important;
          width: 4vw !important;
        }
        .blue-circle-container {
          left: 70% !important;
          .blue-circle {
            height: 2.8vw !important;
            width: 2.8vw !important;
          }
        }
      }
      &.inline {
        display: block;
        .step {
          min-width: 11.5vw !important;
          font-size: 4vw !important;
          display: inline-block !important;
        }
      }
    }
  }
  .open-question {
    margin-top: 3vh;
    font-family: $font-family-regular-italic;
  }
}

.question-live-play {
  .circle-progress-container {
    height: inherit !important;
  }
}

.intro-desktop-title {
  padding-left: 0 !important;
  margin-left: 0 !important;
  font-size: 1.75vw !important;
  @extend %flexToYCenter;
  font-family: $font-family-black;
  text-transform: uppercase;
  max-width: 47.3vw;
  color: var(--theme-dark-blue);
  margin-top: 0;
  height: 5vw;
  margin-bottom: 0;
  text-align: left;
}
.sorted-row-expanded {
  .intro-desktop-title {
    font-size: 2vw !important;
    max-width: 54.2vw;
  }
}
.open-question {
  font-size: 1.25vw;
  color: var(--theme-dark-blue);
}

.mobile-next {
  .svg {
    margin-left: 0;
  }
}
