.convert-credits-dialog {
  .MuiPaper-root {
    min-width: 50vw;
  }
  .title-df233 {
    font-size: 1.9vw;
    margin-bottom: 2vh;
  }
  .m-top-d33 {
    margin-top: 2.7vh;
  }
  .dialog-header {
    margin-bottom: 0 !important;
  }
  .btn {
    cursor: pointer;
    margin: 0.4vw 2vw;
    padding: 0.5vw 1vw;
    color: white;
    background: var(--theme-dark-blue);
    &:hover {
      opacity: 0.8;
    }
    &.btn-gray-de3 {
      padding: 0.5vw 4.5vw;
      background: var(--tab-gray);
    }
    &.disabled {
      cursor: initial;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.convert-credits-dialog.second-conver-dialog {
  .MuiPaper-root {
    min-width: 30vw;
  }

  .btn {
    margin: 0;
    margin-top: 1.8vw;
    width: 15vw;

    &.orange {
      background: var(--theme-orange);
    }
  }

  .m-left-33 {
    margin-left: 1vw;
  }
}