@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.fixed-helpers-container {
  position: fixed;
  left: 6vw;
  color: var(--white);
  font-size: 1.25vw;
  top: calc(2vw + 5.834vw + 0.25vw);
  text-align: center;
  .circles {
    position: absolute;
    left: -4.8vw;
    > div {
      display: flex;
      align-items: center;
      span {
        margin-left: 1.5vw;
        text-align: left;
        width: 7vw;
      }
      .dashed-circle {
        width: 3.5vw;
        height: 3.5vw;
      }
      &.prep {
        position: absolute;
        left: -0.8vw;
        .prep-circle {
          width: 5vw !important;
          height: 5vw !important;
        }
      }
    }
    .highlight {
      margin-top: 0.1vh !important;
      padding-left: 0 !important;
      opacity: 0;
      animation: fadein 230ms 100ms forwards;
    }
    .share {
      margin-top: 0vw !important;
      opacity: 0;
      animation: fadein 180ms 400ms forwards;
    }
    .assign {
      margin-top: 0vw !important;
      opacity: 0;
      animation: fadein 150ms 650ms forwards;
    }
    .adapt {
      margin-top: 0vw !important;
      opacity: 0;
      animation: fadein 100ms 900ms forwards;
    }
  }
}
