@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.review-page {
  .question-title {
    font-size: 2.5vw;
    font-family: $font-family-black;
    color: var(--theme-dark-blue);
  }


  .stepper {
    .step {
      color: var(--theme-dark-blue) !important;
    }
  }
  .edited-step-icon {
    color: $black-blue;
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid $black-blue;
  }

  .back-button {
    height: 3.5vw;
    width: 3.5vw;
    .svg {
      margin: 0 !important;
    }
  }
}
