@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.choose-several-live {
  .image-choice {
    background: inherit;
    border: 4px solid var(--solitude-light) !important;
    width: 100%;
    padding: 0;
  }
}
