@import "_variables";

.vertical-shuffle-play {
  .vertical-shuffle-choice {
    border: 1px dashed black;
    color: black;
    margin: 1px;
    width: 100%;
    > div {
      margin: 10px !important;
    }
  }
  .vertical-shuffle-choice.correct .question-hint {
    background: white;
  }
  .question-hint-global {
    margin-top: 10px;
  }
}
