@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.vertical-shuffle-play {
  .verical-shuffle-sort-list {
    width: 100%;
  }
  .vertical-shuffle-choice {
    background: $tab-grey;
    font-size: 1rem;
    font-family: $font-family-regular;
    margin: 1px;
    border-radius: 4px;
    color: $dark-blue;
    padding-top: 14px;
    padding-bottom: 14px;
    width: 100%;
    display: block;
    .MuiGrid-root {
      margin: 0;
    }
  }
  .vertical-shuffle-choice.correct {
    background: $light-green;

    .question-hint {
      background: white;
    }
  }
  .vertical-shuffle-choice.wrong {
    background: $orange;
  }
  .question-hint-global {
    margin-top: 10px;
  }
}
