@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.word-highlighting-play {
  font-size: 1rem;
  color: var(--theme-dark-blue);
  font-family: $font-family-regular;
  .words-container {
    width: 100%;

    .word {
      cursor: pointer;
    }
    .word.active {
      background: $white-blue;
    }
    .word.correct {
      background: var(--theme-green);
    }
    .word.wrong {
      background: var(--theme-orange);
    }
  }
  .question-hint,
  .question-hint-global {
    color: var(--theme-dark-blue);
  }
}
