@import '_variables';

.word-highlighting-play {
  .words-container {
    width: 100%;
    font-family: $font-family-regular;
    color: $dark-blue;

    .word {
      cursor: pointer;
    }
    .word.active {
      background: $light-green;
    }
  }
}
  