@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.word-highlighting-play {
  font-size: 1rem;
  color: $dark-blue;
  font-family: $font-family-regular;
  .words-container {
    width: 100%;

    .word {
      cursor: pointer;
    }
    .word.active {
      background: $light-green;
    }
  }
}
