.brick-status-circle {

  .hover-brick-circle {
    position: absolute;
    $padding: -0.3vw;
    top: 3vw;
    left: $padding;
    $size: 2.7vw;
    height: $size;
    width: $size;
    border-radius: 50%;
    opacity: 0.5;
  }
  .round-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .label-circle-text {
      color: var(--white);
      font-size: 1.1vw;
    }
  }
}
