@import '_variables';

.document-editor {
  .ck-toolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: $tab-grey !important;
    border: none !important;

    .ck-button {
      color: $dark-blue;
    }
  }

  .ck-content {
    color: $dark-blue;
    font-family: $font-family-regular;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: none !important;
    font-size: 1vw;
    background: #F5F6F7;
  }
}