@import '_variables';

.document-editor {
  .ck-toolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: $tab-grey !important;
    border: none !important;

    .ck-button {
      color: $dark-blue;
    }
    .ck-custom-dropdown {
      margin-right: 29% !important;
      .ck-splitbutton__action {
        font-size: 0;
        padding: 0;
        width: 0;
      }
      .ck-dropdown__panel {
        left: auto;
        right: 0;
      }
      .ck-splitbutton__action {
        visibility: hidden;
        border: none;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
      }
      .ck-splitbutton__arrow {
        width: 2vw;
        padding: 0;
      .ck-button__icon {
        width: 2vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        z-index: 1000;
        background-position: center;
        background-image: url(/feathericons/more-horizontal-blue.png) !important;
          path {
            opacity: 0;
          }
        }
      }
    }

    .ck.ck-button.ck-on:not(.ck-disabled):hover, a.ck.ck-button.ck-on:not(.ck-disabled):hover {
      background-color:transparent !important;
    }

    .ck-button__label {
      font-family: $font-family-regular;
    }
  }


  .ck-content {
    color: $dark-blue;
    font-family: $font-family-regular;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: none !important;
    font-size: 1vw;
    background: #F5F6F7 !important;
    box-shadow: none !important;

    strong {
      font-weight: normal !important;
    }
  }
}