@import '_variables';

.document-editor {
  .ck-toolbar {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background: $tab-grey !important;
    border: none !important;

    .ck-button {
      color: $dark-blue;
    }
    .ck-custom-dropdown {
      .ck-splitbutton__action {
        font-size: 0;
        padding: 0;
        width: 0;
      }
      .ck-splitbutton__action {
        visibility: hidden;
        border: none;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
      }
      .ck-toolbar {
        border-radius: 0 !important;
        padding: 0;
        margin: 0;
        height: 5vh;
        width: 10vh;
        .ck-button {
          padding: 0;
          margin: 0;
          width: 5vh;
        }
      }
    }

    .ck.ck-button.ck-on:not(.ck-disabled):hover, a.ck.ck-button.ck-on:not(.ck-disabled):hover {
      background-color:transparent !important;
    }

    .ck-button__label {
      font-family: $font-family-regular;
    }
  }


  .ck-content {
    color: $dark-blue;
    font-family: $font-family-regular;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border: none !important;
    font-size: 1vw;
    background: #F5F6F7 !important;
    box-shadow: none !important;

    strong {
      font-weight: normal !important;
    }
  }

  .ck-insert-table-dropdown__grid {
    width: 140px;
    height: 125px;
    overflow: hidden;
    padding-right: 0;
  }

  .ck-insert-table-dropdown-grid-box[data-column="9"],
  .ck-insert-table-dropdown-grid-box[data-row="9"] {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  .ck-insert-table-dropdown-grid-box[data-column="10"],
  .ck-insert-table-dropdown-grid-box[data-row="10"] {
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }
}

.document-editor.content-invalid {
  .ck-content {
    background: $orange !important;
  }
}