@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.mobile-scroll-bricks {
  .expanded-mobile-brick-info {
    width: 100%;
    height: calc(39vh - 16vw);
    padding: 8vw;
    background: transparent;
    .brick-icons {
      @extend %flexCenter;
      @extend %radCircle;
      .round-button {
        width: 5vw;
        height: 5vw;
      }
    }
    .brick-description {
      .link-description {
        text-transform: uppercase;
        font-size: 1.7vh;
        font-family: $font-family-bold;
        line-height: 1.2;
        overflow: hidden;
        height: 1.7vh;
        margin-bottom: 0.5vh;
      }
      .link-info {
        color: $lighter-blue;
        line-height: 1.3;
        font-size: 1.6vh;
        font-family: $font-family-regular;
        max-height: 1.9vh;
        overflow-y: hidden;
        margin-bottom: 0.5vh;
      }
      .hovered-open-question {
        margin-top: 2.5vh;
        max-height: 3.6vh;
        margin-bottom: 1.7vh;
      }
    }
  }
}
