@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.expanded-brick-info {
  cursor: pointer;
  background: var(--tab-gray);
  border-radius: 0.5vw;
  margin-left: 0;
  padding: 0.8vh 1.3vh;
  min-height: calc(#{$bricks-height / 6} - 0.8vw) !important;
  position: absolute;
  z-index: 2;
  @include phone_and_tabletP {
    width: calc(100% - 8vw);
  }
  @include tabletP {
    width: 100%;
  }
  .circle-container {
    height: 100%;
    position: relative;
  }
  .hover-text {
    font-family: $font-family-regular;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 3vw;
    font-size: 1.7vh;
    @extend %linkDescription;
    .link-info {
      color: var(--theme-light-blue);
      // line-height: 1.3;
      // font-size: 1.6vh;
      font-family: $font-family-regular;
      // max-height: 1.9vh;
      // overflow-y: hidden;
      margin-bottom: 0.5vh;
      width: 100%;
      @include tabletP {
        display: flex;
      }
      > span {
        margin: 0 0.3vw;
        @extend %ellipsis;
        height: 1.35vw;
        &:first-child {
          margin-left: 0;
        }
        > span {
          margin: 0 0.3vw;
          height: 1.35vw;
          @extend %ellipsis;
          &:nth-child(1) {
            margin: 0;
          }
          &:nth-child(2) {
            margin-left: 0;
          }
        }
      }
    }
    .link-description {
      width: 100% !important;
    }
    .link-description ~ .link-info {
      margin: 0;
    }
    .hovered-open-question {
      $padding: 1.4vh;
      font-family: $font-family-regular-italic;
      overflow: hidden;
      padding-top: $padding !important;
      padding-bottom: $padding !important;
      max-height: calc(4.4vh + #{$padding + $padding});
    }
  }
  .hover-delete-icon {
    position: absolute;
    top:1.6vh;
    right: 1.6vh;
    height: 3.5vw;
    svg {
      height: 1vw !important;
      width: 1vw !important;
    }
  }
}
