@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mobile-scroll-bricks {
  .expanded-mobile-brick-info {
    width: 100%;
    height: calc(39.5vh);
    padding: 4vh 8vw 0 8vw;
    background: transparent;
    .brick-icons {
      @extend %flexCenter;
      margin-bottom: 2vh;
      .round-button {
        @extend %radCircle;
        width: 25vw;
        height: 25vw;
        .svg {
          margin-left: 1.52vw;
        }
      }
    }
    .brick-description {
      @extend %linkDescription;
      > div {
        max-width: 57vw;
        min-width: 43vw;
      }
      @extend %flexCenter;
      .link-info {
        color: var(--theme-light-blue);
        font-size: 1.6vh;
        font-family: $font-family-regular;
      }
      .hovered-open-question {
        margin-top: 2.5vh;
        max-height: 3.6vh;
        margin-bottom: 1.7vh;
        overflow: hidden;
      }
      .expand-open-question {
        margin-top: 1vh;
        margin-bottom: 1vh;
      }
    }
  }
}
