@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.phone-top-brick-16x9 {
  background: var(--tab-gray);
  .hidden {
    opacity: 0;
  }
  .visible {
    animation: fadein 0.5s 0s forwards;
  }
  .left-brick-circle {
    z-index: 10;
    &.score-circle {
      right: 11.5vw !important;
      .label-circle-text {
        font-size: 4.3vw !important;
      }
    }
  }
}