@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mobile-scroll-bricks {
  overflow-y: scroll;
  height: 39.5vh;
  display: flex;
  width: 100%;
  align-items: center;
  .swiper-container {
    width: 100% !important;
    .swiper-slide {
      width: 50% !important;
      .short-description {
        width: 50vw;
        height: calc(87vw - 6vh);
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        @extend %transitionAll300;
        .left-brick-roller {
          .roller-button {
            height: 20vw;
            width: 20vw;
            margin: 2vh auto;
          }
        }
        .left-brick-circle {
          > div {
            border-radius: 50%;
            margin: 0 auto 1vh;
            background-color: var(--gray);
            height: 22vw !important;
            width: 22vw !important;
          }
        }
        .short-brick-info {
          padding: 0 3vw;
          @extend %linkDescription;
          .link-info {
            width: 100%;
            color: var(--theme-light-blue);
            line-height: 1.3;
            font-family: $font-family-regular;
            margin-bottom: 0.1vh;
            @extend %ellipsis;
            @include phone_and_tabletP {
              font-size: 3.8vw;
            }
            @include tabletP {
              font-size: 0.9vw;
            }
          }
        }
      }
    }
  }
}

.round-button-icon {
  @extend %flexCenter;
  height: inherit;
  width: inherit;
  stroke-width: 2;
  @extend %flexCenter;
  svg {
    color: var(--white);
    margin-left: 2%;
    height: 70%;
    width: 70%;
  }
}

.search-highlight {
  background: #ffbf00;
  border-radius: 0.2vw;
}

.short-description {
  cursor: pointer;
  padding-left: 1vw;
  border-radius: 1vw;
  background: var(--white);

  .label-circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--white);
    font-size: 1vw;
    transition: all 300ms ease-out;
  }

  .round-button-icon {
    .label-circle-text {
      display: none;
      font-size: 0;
      width: 0;
      height: 0;
    }
  }

  .hover-delete-icon {
    position: absolute;
    top:1.6vh;
    right: 1.6vh;
  }
  .centered-brick-description {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    
    .link-info {
      font-size: 0.8vw !important;
    }
  }
  &:hover {
    background: var(--tab-gray);
    .hover-delete-icon {
      height: 3.5vw;
      svg {
        height: 1vw !important;
        width: 1vw !important;
      }
    }
    .label-circle-text {
      font-size: 1.3vw !important;
    }
    .round-button-icon {
      svg {
        width: 0 !important;
        height: 0 !important;
      }
      .label-circle-text {
        display: flex;
        width: 100%;
        font-size: 1.3vw;
      }
    }
  }
  &.no-hover {
    background: inherit !important;
  }
}
