@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mobile-scroll-bricks {
  overflow-y: scroll;
  height: 39.5vh;
  display: flex;
  width: 100%;
  align-items: center;
  .swiper-container {
    width: 100% !important;
    .swiper-slide {
      width: 50% !important;
      .short-description {
        width: 50vw;
        height: calc(87vw - 6vh);
        position: relative;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        @extend %transitionAll300;
        .left-brick-roller {
          .roller-button {
            height: 20vw;
            width: 20vw;
            margin: 2vh auto;
          }
        }
        .left-brick-circle {
          > div {
            border-radius: 50%;
            margin: 0 auto 1vh;
            background-color: var(--gray);
            height: 22vw !important;
            width: 22vw !important;
          }
        }
        .short-brick-info {
          padding: 0 3vw;
          @extend %linkDescription;
          .link-info {
            width: 100%;
            color: var(--theme-light-blue);
            line-height: 1.3;
            font-family: $font-family-regular;
            margin-bottom: 0.1vh;
            @extend %ellipsis;
            @include phone_and_tabletP {
              font-size: 3.8vw;
            }
            @include tabletP {
              font-size: 0.9vw;
            }
          }
        }
      }
    }
  }
}

.round-button-icon {
  @extend %flexCenter;
  height: inherit;
  width: inherit;
  stroke-width: 2;
  @extend %flexCenter;
  svg {
    color: var(--white);
    margin-left: 2%;
    height: 70%;
    width: 70%;
  }
}

.search-highlight {
  background: #ffbf00;
  border-radius: 0.2vw;
}

