@import '_variables';

.short-brick-info {
  position: absolute;
  top: 0.3vh;
  left: 3vw;

  .link-description {
    text-transform: uppercase;
    font-size: 0.8vw;
    font-family: $font-family-bold;
    line-height: 1.1;
    margin-bottom: 0.5vh;
    width: 19vw;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
  .link-info {
    color: $lighter-blue;
    line-height: 1.3;
    font-size: 0.9vw;
    font-family: $font-family-regular;
    overflow-y: hidden;
    margin-bottom: 0.1vh;
    width: 19vw;
    overflow: hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
  }
}
