@import '../../assets/sass/partials/variables';
@import '../../assets/sass/partials/mixins';
@import '../../assets/sass/partials/extensions';

.short-brick-info {
  position: absolute;
  top: 0.3vh;
  left: 3vw;

  .link-description {
    text-transform: uppercase;
    font-family: $font-family-bold;
    line-height: 1.1;
    margin-bottom: 0.5vh;
    @include phone_and_tabletP {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 3.8vw;
      width: 75vw;
    }
    @include tabletP {
      font-size: 0.8vw;
      overflow: hidden;
      width: 19vw;
    }
  }
  .link-info {
    color: $lighter-blue;
    line-height: 1.3;
    font-family: $font-family-regular;
    overflow-y: hidden;
    margin-bottom: 0.1vh;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @include phone_and_tabletP {
      font-size: 3.8vw;
      width: 75vw;
    }
    @include tabletP {
      font-size: 0.9vw;
      width: 19vw;
    }
  }
}

.mobile-scroll-bricks {
  overflow-y: scroll;
  height: 30vh;
  display: flex;
  width: 100%;
  align-items: center;
  .short-description {
    width: 50vw;
    height: calc(87vw - 6vh);
    position: relative;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      width: 60vw;
      @extend %transitionAll300;
      .left-brick-circle {
        .round-button {
          height: 30vw !important;
          width: 30vw !important;
        }
      }
    }
    &:not(:hover) {
      @extend %transitionAll300;
      width: 40vw;
      .short-brick-info {
        .link-description {
          font-size: 3vw;
        }
        .link-info {
          font-size: 2.9vw;
        }
      }
    }
  }

  .left-brick-circle {
    > div {
      border-radius: 20vw;
      margin: 0 auto 1vh;
      background-color: var(--gray);
      height: 22vw !important;
      width: 22vw !important;
    }
  }
  .short-brick-info {
    position: inherit;
    top: 0;
    left: 0;
    padding: 0 3vw;
    .link-description,
    .link-info {
      width: 100%;
    }
  }
}
