
.custom-sound-with-waves {
  .react-waves {
    margin: 0 !important;
    height: 3.5vw;
    padding: 0 !important;
    width: 95% !important;
  }
  wave {
    height: 3.5vw !important;
  }
}


// phone preview in build
.fixed-build-phone {
  .custom-sound-with-waves {
    .react-waves {
      margin: 0 !important;
      height: 3.5vw;
      padding: 0 !important;
      width: 95% !important;
    }
    wave {
      height: 3.5vw !important;
    }
  }
}