@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mainPage {
  $welcome-col-width: 35.2vw;
  $first-col-width: 36vw;
  background: var(--theme-dark-blue);
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font-family-black;

  .link-to-landing {
    border-radius: 2vw;
    background: var(--theme-orange);
    letter-spacing: 0;
    cursor: pointer;
    font-size: 1.4vw;
    line-height: 1.7;
    margin-top: 2vh;
    margin-left: 6vw;
    width: 21vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 300ms ease-in-out;

    animation: fadein 500ms 360ms ease-out forwards;

    svg {
      width: 1.9vw;
      height: 1.9vw;
      fill: none;
      margin-right: 0.3vw;
    }

    &:hover {
      background: white;
      color: var(--theme-orange);
    }
  }

  .welcome-col {
    width: $welcome-col-width;
    @extend %textCenter;
    padding-top: 15vh;

    .welcome-box {
      color: white;
      letter-spacing: 0;
      font-size: 3vw;
      font-family: $font-family-bold;

      .smaller {
        font-size: 2.88vw;
      }

      .welcome-name {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.9vw;
        letter-spacing: 0vw;
        margin-top: 3.2vh;
        font-weight: 600;
        text-transform: capitalize;
        font-family: $font-family-light;
        transition: font-family 0.2s ease;
        color: var(--white);

        .custom-tooltip {
          display: none
        }


        .svg,
        .profile-image-border {
          height: 4.5vw;
          width: 4.5vw;
          margin-right: 1vw;
        }
        .svg {
          stroke-width: 1.7;
        }
        .profile-image-border {
          @extend %flexCenter;
          border: 0.25vw solid var(--white);
          border-radius: 50%;
          img {
            width: 105%;
            height: 105%;
            border-radius: 50%;
          }
        }

        .svg {
          stroke-width: 1.7;
        }
      }

      .notifications-text {
        margin-top: 4.3vw;
        letter-spacing: 0.1vw;
        font-family: $font-family-light;
        font-size: 2vw;
      }

      .notifications-text-2,
      .notifications-text-3 {
        margin-top: 0.6vh;
        color: var(--tab-gray);
        font-family: $font-family-light-italic;
        letter-spacing: 0.05vw;
        font-size: 1.6vw;
      }

      b {
        font-weight: normal !important;
        font-family: $font-family-bold;
      }
    }
  }

  $font-size: 2vw;

  .first-col {
    width: $first-col-width;
    height: 100%;

    .first-item {
      background: var(--theme-light-blue);
      height: 89.2vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      @extend %flexCenter;
      flex-direction: column;
    }

    .second-item {
      position: relative;
      background: var(--theme-light-blue);
      margin-top: 4.6vh;
      height: 6.2vh;
      @extend %textCenter;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .eye-glass-frame {
    width: 18vw !important;
    svg {
      width: 18vw !important;
      height: 12vw !important;
    }
  }

  .item-description,
  .my-library-button span {
    font-size: $font-size !important;
  }

  .manage-classes svg {
    width: 17.5vw !important;
    height: 12.2vw !important;
  }

  .create-item-container .btn .svg {
    width: 18vw !important;
    height: 12.5vw !important;
  }

  .create-item-container.stats .btn .svg {
    stroke-width: 2;
    width: 15vw !important;
    height: 13vw !important;
  }

  .my-library-button {
    svg {
      width: 17vw !important;
      height: 11vw !important;
    }
  }

  .second-col {
    color: var(--white);
    font-size: $font-size;
    font-family: $font-family-light;
    width: calc(100vw - #{$welcome-col-width} - #{$first-col-width});
    @extend %flexCenter;

    div {
      cursor: pointer;
    }
  }

  .view-item-container,
  .create-item-container,
  .back-item-container {
    width: auto;
    @extend %flexCenter;
    flex-direction: column;
    padding: 5vh 0;

    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @extend %textCenter;
      flex-direction: column;

      .svg {
        @extend %transitionAll300;
        @extend %removePosition;
        width: 16vw;
        height: 8vw;
      }
    }

    &.disabled {
      div {
        cursor: initial !important;
      }

      svg {
        cursor: initial !important;
        color: var(--theme-dark-blue) !important;
      }

      .item-description {
        font-family: $font-family-light !important;
      }
    }

    &.student-back-work {
      &.disabled {
        .blocks-icon .bl {
          background: var(--theme-light-blue) !important;
        }
      }

      .flex-number {
        display: flex;
        align-items: center;

        .m-red-circle {
          background: var(--theme-orange);
          width: 1.6vw;
          height: 1.6vw;
          border-radius: 50%;
          font-size: 1vw;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          overflow: hidden;

          span {
            margin-left: 0.3vw;
          }
        }
      }
    }

    .item-description {
      padding: 0;
      @extend %textCenter;
      margin: 0;
      font-family: $font-family-light;
      color: var(--tab-gray);
      font-size: 1.2vw;
    }
  }

  .view-item-container {
    &.disabled {
      .eye-glass-icon {

        .glass-eyes-left,
        .glass-eyes-right {
          display: none;
        }
      }
    }
  }

  .create-item-container {
    .btn .svg {
      height: 9vw;
    }
  }

  .create-item-container,
  .back-item-container {
    .item-description {
      margin-top: 0.5vw;
    }
  }

  .policy-text {
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: right;
    padding-right: 2.5vw;
    color: var(--tab-gray);
    font-family: $font-family-regular;
    bottom: 2.4vh;
    line-height: 2vw;
    right: 10vw;
    font-size: 1.6vw;
  }

  // disabled
  .manage-classes.disabled {
    cursor: inherit !important;

    #Path_8-4,
    #Ellipse_12-2,
    #Path_8,
    #Ellipse_12 {
      fill: var(--theme-dark-blue) !important;
    }

    #Path_8-3,
    #Path_8-2 {
      fill: var(--theme-light-blue) !important;
    }

    .right-smile path {
      stroke: var(--theme-light-blue) !important;
    }

    .left-class-icon {
      transform: translateX(0) !important;
    }

    .right-class-icon {
      transform: translateX(0) !important;
    }

    $smileY: 53px;

    .left-smile {
      transform: none;
      transform: translate(12px, $smileY) !important;
    }

    .right-smile {
      transform: translate(139px, $smileY) !important;
    }

    .item-description {
      font-family: $font-family-light !important;
    }

    .left-smile,
    .right-smile {
      path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 2s linear alternate forwards;
      }
    }
  }

  // disabled third button build
  .first-col .first-item .create-item-container.disabled button svg {
    color: var(--theme-dark-blue) !important;
  }

  // disabled button build scond column
  .second-col .create-item-container.disabled button svg {
    color: var(--theme-light-blue) !important;
  }

  .second-col .create-item-container.disabled button svg {
    color: var(--theme-light-blue) !important;
  }

  .second-col .my-library-button.disabled button svg {
    color: var(--theme-light-blue) !important;
  }
}

.mainPage .first-col .student-back-work .blocks-icon.disabled {
  .bl {
    background: var(--theme-dark-blue) !important;
  }
}