@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mainPageMobile {
  background: var(--theme-dark-blue);
  position: fixed;
  width: 100%;
  height: 100%;

  $font-18: 5.3vw;
  $font-22: 6.5vw;

  $bottom-menu-height: 17.5vw;
  $subscribe-button-height: 14vw;

  $coin-size: 11vw;

  $coin-top: 4vw;

  font-size: $font-18;

  .mobile-main-page {
    color: var(--white);
    width: 100vw;
    height: calc(100% - #{$bottom-menu-height} - #{$subscribe-button-height});

    .absolute-brills-and-coins {
      position: absolute;
      top: $coin-top;
      right: 12vw;

      .brill-coin-container {
        align-items: center;
        display: flex;

        .brills-count {
          font-size: $font-18;
          margin-right: 1vw;
        }

        .brill-coin-img {
          position: relative;
          width: $coin-size;
          height: $coin-size;

          img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

          svg {
            color: var(--theme-orange);
            position: absolute;
            top: 22.5%;
            left: 22.5%;
            width: 55%;
            height: 55%;
          }
        }
      }

      .css-custom-tooltip {
        display: none !important;
      }
    }

    .coins-container {
      position: absolute;
      right: 4vw;
      top: $coin-top;

      .phone-credit-coins {
        width: $coin-size;
        height: $coin-size;
        position: relative;

        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      .css-custom-tooltip {
        display: none !important;
      }
    }

    .welcome-container {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 31%;
      font-size: $font-18;
      padding-bottom: 3vh;

      .welcome-title {
        text-align: center;
        font-size: $font-22;
      }

      .welcome-name {
        display: flex;
        align-items: center;
        justify-content: center;

        .centered {
          width: 9vw;
        }

        svg {
          width: 8vw;
          height: 8vw;
        }
      }
    }

    .mobile-main-buttons {
      height: 50%;
    }

    .btn-center-v4 {
      display: flex;
      align-items: center;
      justify-content: center;

      .item-description {
        width: 100%;
        font-size: $font-22;
        text-align: center;
      }

      .view-and-play-btn,
      .assignments-btn,
      .my-library-button {
        height: 50%;
      }
  
      .view-and-play-btn {
        svg {
          width: 31vw;
          height: 17vw;
          padding-bottom: 2vw;
        }
      }
  
      .assignments-btn {
        svg {
          width: 30vw;
          height: 17vw;
          padding-bottom: 2vw;
        }
      }
  
      .my-library-button {
        svg {
          width: 30vw;
          height: 17vw;
          padding-bottom: 2vw;
        }
      }
    }
  }

  .subscribe-btn {
    position: absolute;
    bottom: $bottom-menu-height;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-dark-blue);
    border-top-left-radius: 4vw;
    border-top-right-radius: 4vw;
    height: $subscribe-button-height;
    font-size: $font-22;
    background: var(--white);

    svg {
      margin-left: 1vw;
      width: 8vw;
      stroke-width: 2;
    }
  }

  .main-page-menu {
    padding-top: 1.1vw;

    .menu-buttons {
      padding-bottom: 1.05vw;
      display: flex;
      margin-right: 0;
      width: 70vw;
      height: $bottom-menu-height;
      margin-top: 0;
      flex-wrap: wrap;

      .bell-button {
        width: 70%;
        margin: auto;
      }

      .more-button {
        width: 20%;
        margin-right: 0;
        justify-content: flex-end;

        svg {
          stroke-width: 2;
        }
      }
    }

    &.notification-expanded {
      height: 74px;
    }

    .header-credits-container {
      position: absolute;
      bottom: 2.5vw;
      left: 18vw;
      width: 12.5vw;
      height: 12.5vw;

      .desktop-credit-coins {
        position: relative;
      }

      svg {
        width: 12.5vw;
        height: 12.5vw;
      }

      .css-custom-tooltip {
        display: none;
        position: absolute;
        border-radius: 2vw;
        left: -10vw;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        color: var(--theme-dark-blue);
        width: 82vw;
        background: var(--white);
        padding: 3vw 5vw;
        bottom: 20vw;

        &.visible {
          display: block;
        }

        .bold {
          font-size: $font-22;
        }

        .green-btn {
          margin-top: 3vw;
          border-radius: 9vw;
          padding: 0.7vw 3vw;
          color: white;
          background: var(--theme-green);
        }
      }

      span {
        top: 0;
        left: 0;
        color: white;
        font-size: $font-18;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12.5vw;
        height: 12.5vw;
      }
    }

    .brills-number {
      width: 13vw;
      justify-content: flex-end;
      margin-left: 3vw !important;
      margin-right: 0;
      height: 15vw !important;
      font-size: $font-18 !important;
    }

    .more-button {
      width: 20vw !important;
    }
  }

  .main-page-menu {
    position: absolute;
    width: 100vw !important;
    height: $bottom-menu-height;
    bottom: 0;
    border-radius: 0;
    z-index: 1;

    .more-button {
      margin-right: 4vw;
    }

    .bell-button {
      margin-right: 7.2vw;
    }
  }

  .notification-expanded {
    border-top-left-radius: 0;
    width: 100vw !important;
  }
}

.mainPageMobile~.beta-text {
  display: none;
}


// only case for new students
.mobile-main-page.new-student {
  padding-top: 28%;
  padding-bottom: 20%;
  height: calc(100% - 17.5vw);

  .view-item-container {
    height: 33vw;
  }

  >div {
    display: flex;
    align-items: center;
    height: 37%;
  }

  .eye-glass-frame {
    width: 70vw;
    height: 33vw;
    position: relative;

    >svg {
      position: absolute;
      top: 4vw;
      width: 50vw;
      height: 25vw;
    }
  }

  .back-item-container {
    width: 230px !important;
  }

  .blocks-icon {
    width: 230px !important;
  }

  .zendesk-position {
    position: fixed;
    bottom: 2.5vw;
    left: 2.5vw;
    height: 12.5vw;
    width: 12.5vw;
  }
}

.ggf-new-student-popup {
  p {
    $fontss: 4.8vw;
    font-size: $fontss !important;

    span {
      font-size: $fontss !important;
    }

    &.bold {
      font-family: $font-family-bold;
      font-size: 6.7vw !important;
    }
  }
}
