@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.mainPage {
  $welcome-col-width: 35.2vw;
  $first-col-width: 29.6vw;
  background: var(--theme-dark-blue);
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: $font-family-black;

  .stats svg {
    stroke-width:2.3;
  }

  .welcome-col {
    width: $welcome-col-width;
    @extend %textCenter;
    padding-top: 15vh;

    .welcome-box {
      color: white;
      letter-spacing: 0.66vw;
      font-size: 3vw;
      font-family: $font-family-bold;
      padding-right: 2.9vw;

      .welcome-name {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2.5vw;
        letter-spacing: 0.73vw;
        margin-top: 3.2vh;
        font-weight: 600;
        text-transform: uppercase;
        font-family: $font-family-light;
        transition: font-family 0.2s ease;
        color: var(--theme-orange);
        .custom-tooltip {
          margin-left: -1.4vw;
          letter-spacing: 0.05vw;
          text-transform: none;
          margin-top: 4.9vw;
          font-family: $font-family-regular;
        }

        .svg,
        .profile-image-border {
          height: 3vw;
          width: 3vw;
          margin-right: 1vw;
        }
        .svg {
          stroke-width: 1.7;
        }
        .profile-image-border {
          @extend %flexCenter;
          border: 0.35vw solid var(--theme-orange);
          border-radius: 50%;
          img {
            width: 105%;
            height: 105%;
            border-radius: 50%;
          }
        }
        &:hover {
          font-family: $font-family-regular;
          .svg {
            stroke-width: 2.1;
          }
        }
      }
      .notifications-text {
        margin-top: 4.3vw; //10vh;
        letter-spacing: 0.1vw;
        font-family: $font-family-light;
        font-size: 2vw;

        &.clickable:hover {
          font-family: $font-family-bold;
        }
      }

      .notifications-text-2,
      .notifications-text-3 {
        margin-top: 0.6vh;
        color: var(--tab-gray);
        font-family: $font-family-light-italic;
        letter-spacing: 0.05vw;
        font-size: 1.2vw;
      }

      b {
        font-weight: normal !important;
        font-family: $font-family-bold;
      }
    }
  }

  .first-col {
    width: $first-col-width;
    height: 100%;

    .first-item {
      background: var(--theme-light-blue);
      height: 89.2vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      @extend %flexCenter;
      flex-direction: column;
    }
    .second-item {
      position: relative;
      background: var(--theme-light-blue);
      margin-top: 4.6vh;
      height: 6.2vh;
      @extend %textCenter;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .second-button {
    .disabled {
      .bl {
        background: var(--theme-dark-blue);
      }
    }
  }

  .second-col {
    color: var(--white);
    letter-spacing: 0.3vw;
    font-size: 1.4vw;
    font-family: $font-family-light;
    width: calc(100vw - #{$welcome-col-width} - #{$first-col-width});
    @extend %flexCenter;

    div {
      cursor: pointer;
    }
  }

  .view-item-container,
  .create-item-container,
  .back-item-container {
    width: auto;
    @extend %flexCenter;
    flex-direction: column;
    @include tabletP {
      padding: 5vh 0;
    }
    .btn {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      @extend %textCenter;
      flex-direction: column;
      .svg {
        @extend %transitionAll300;
        @extend %removePosition;
        width: 13vw;
        height: 6vw;
      }
    }
    &.disabled {
      div {
        cursor: initial !important;
      }
      svg {
        cursor: initial !important;
        color: var(--theme-dark-blue) !important;
      }
      &:hover {
        .btn svg {
          transform: rotate(0) !important;
        }
      }
      .item-description {
        font-family: $font-family-light !important;
      }
    }
    &.student-back-work {
      &.disabled {
        .blocks-icon .bl {
          background: var(--theme-light-blue) !important;
        }
      }
      .flex-number {
        display: flex;
        align-items: center;

        .m-red-circle {
          background: var(--theme-orange);
          width: 1.6vw;
          height: 1.6vw;
          border-radius: 50%;
          font-size: 1vw;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          overflow: hidden;

          span {
            margin-left: 0.3vw;
          }
        }
      }
    }
    .item-description {
      padding: 0;
      @extend %textCenter;
      margin: 0;
      font-family: $font-family-light;
      color: var(--tab-gray);
      @include phone_and_tabletP {
        font-size: 25px;
        letter-spacing: 5px;
      }
      @include tabletP {
        font-size: 1.5vw;
        letter-spacing: 0.1vw;
      }
    }
    &:hover {
      .item-description {
        font-family: $font-family-bold;
        &.disabled {
          font-family: $font-family-light !important;
        }
      }
    }
  }
  .view-item-container {
    .eye-glass-icon {
      height: 2.7vw;
    }
    svg {
      width: 13vw;
      height: 5vw;
    }

    &.disabled {
      .eye-glass-icon {
        .glass-eyes-left,
        .glass-eyes-right {
          display: none;
        }
      }
    }
  }
  .create-item-container {
    .btn .svg {
      height: 7.5vw;
      &:hover {
        .btn svg {
          transform: rotate(10deg) !important;
        }
      }
    }
  }
  .create-item-container,
  .back-item-container {
    @include tabletP {
      .item-description {
        margin-top: 0.5vw;
      }
    }
  }

  .policy-text {
    position: fixed;
    cursor: pointer;
    vertical-align: middle;
    text-align: right;
    padding-right: 2.5vw;
    color: var(--tab-gray);
    font-family: $font-family-regular;
    bottom: 2.4vh;
    line-height: 2vw;
    right: 10vw;
    font-size: 1.6vw;
    span:hover {
      color: var(--theme-orange) !important;
    }
  }

  // disabled
  .manage-classes.disabled {
    cursor: inherit !important;
    #Path_8-4, #Ellipse_12-2, #Path_8, #Ellipse_12 {
      fill: var(--theme-dark-blue) !important;
    }
    #Path_8-3, #Path_8-2 {
      fill: var(--theme-light-blue) !important;
    }
    .right-smile path {
      stroke: var(--theme-light-blue) !important;
    }
    .left-class-icon {
      transform: translateX(0) !important;
    }
    .right-class-icon {
      transform: translateX(0) !important;
    }
    $smileY: 53px;
    .left-smile {
      transform: none;
      transform: translate(12px, $smileY) !important;
    }
    .right-smile {
      transform: translate(139px, $smileY) !important;
    }
    .item-description {
      letter-spacing: 0.3vw !important;
      font-family: $font-family-light !important;
    }
    .left-smile, .right-smile {
      path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        animation: dash 2s linear alternate forwards;
      }
    }
  }
  // disabled third button build
  .first-col .first-item .create-item-container.disabled button svg {
    color: var(--theme-dark-blue) !important;
  }
  .second-col .create-item-container.disabled button svg {
    color: var(--theme-light-blue) !important;
  }
}