.unique-component {
  .document-editor {
    height: 500px;
    .ck-toolbar_grouping {
      width: 4vh !important;

      .ck-toolbar__items {
        width: 2vh !important;
      }
      .ck-button {
          width: 2vh !important;
      }
    }
  }
}