@import '_variables';

.next-question-button-container {
  .next-question-button {
    margin: 0;
    margin-top: 22px;
    font-size: 16px;
    padding-bottom: 85px;

    span.MuiFormControlLabel-label {
      margin-right: 5px;
    }
  }

  .MuiFormControlLabel-label {
    font-family: $font-family-regular;
  }
}
.MuiInputLabel-animated {
  font-family: $font-family-regular !important;
}

input {
  font-family: $font-family-regular !important;
}
