.inline-names-container {
  $width: 44.6vw;
  position: relative;

  .inline-names-limiter {
    width: $width;
  }

  .inline-names {
    display: inline;
    white-space: nowrap;
    width: $width;
  }
  &.scrolling {
    width: calc(#{$width} - 4vw);
    margin-left: 2vw;
    margin-right: 2vw;
  
    .inline-names-limiter {
      width: calc(#{$width} - 4vw);
      overflow-y: hidden;
      overflow-x: scroll;
    }

    .inline-names {
      width: calc(#{$width} - 4vw);
    }
  
    .scroll-button {
      position: absolute;
      width: 1.5vw;
      height: 1.5vw;

      &.left {
        left: -2vw;
      }

      &.right {
        right: -2vw;
      }
    }
  }
}