.personal-build {
  .subjects {
    height: auto;
  }
  .sort-and-filter-container {
    height: 100%;
    .sort-box {
      height: 100%;
    }
  }
  .subjects-list {
    overflow-y: scroll;
    max-height: calc(100% - 14.5vh - 5.1vw - 5.3vw - 1.2vw);
    padding-bottom: 0.2vw;
  }

  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
  .filter-container.subject-indexes-box.first {
    margin-bottom: 1.2vw !important;
  }
  .color2 {
    .left-brick-circle {
      padding: 0 !important;
      background: white;
    }
    .round-button {
      background: var(--theme-orange) !important;
    }
  }
  .color4 {
    .round-button {
      background: var(--white) !important;
      border: 0.25vw solid var(--theme-yellow) !important;
    }
    .expanded-brick-info {
      .bin-button,
      .play-button {
        .svg {
          color: var(--theme-yellow) !important;
        }
      }
    }
  }
}
