.personal-build {
  .subjects {
    height: auto;
  }
  .subjects-list {
    overflow-y: scroll;
    height: 30%;
  }

  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
}
