.personal-build {
  .subjects {
    height: auto;
  }
  .subjects-list {
    overflow-y: scroll;
    height: calc(90vh - 15vw) !important;
    padding-bottom: calc(2.3vw + 30px) !important;
  }

  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
  .filter-container.subject-indexes-box.first {
    margin-bottom: 1.2vw !important;
  }
  .color2 {
    .left-brick-circle {
      padding: 0 !important;
      background: white;
    }
    .round-button {
      background: var(--theme-orange) !important;
    }
  }
  .color4 {
    .round-button {
      background: var(--white) !important;
      border: 0.25vw solid var(--theme-yellow) !important;
    }
    .expanded-brick-info {
      .bin-button,
      .play-button {
        .svg {
          color: var(--theme-yellow) !important;
        }
      }
    }
  }
}
