@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.mainPage {
  @keyframes eye-movement {
    0% {
      transform: translateX(-4px);
    }

    50% {
      transform: translateX(-4px);
    }

    70% {
      transform: translateX(4px);
    }

    100% {
      transform: translateX(4px);
    }
  }

  .view-item-container {

    .eye-glass-icon,
    .eye-glass-icon {
      position: relative;

      .glass-eyes-left,
      .glass-eyes-right {
        opacity: 0;
        transition-delay: 200ms;
        @extend %transitionAll300;
        @extend %floatToYCenter;

        @include tabletP {
          width: 5.5vw;
          height: 5.5vw;
        }

        .svg {
          width: 60%;
          height: 60%;
        }
      }

      $shift: 0.6vw;

      .glass-eyes-left {
        @include tabletP {
          left: $shift;
        }
      }

      .glass-eyes-right {
        @include tabletP {
          right: 0.55vw;

          .aperture {
            position: absolute;
            left: 0vw;
          }
        }
      }

      .glass-left-inside {
        left: 0.05vw;
        width: 5.5vw !important;
        height: 5.5vw !important;

        svg {
          height: 100% !important;
        }
      }
    }
  }
}

// mobile
.mobile-main-page .swiper-slide .view-item-container {

  .glass-eyes-left,
  .glass-eyes-right {
    opacity: 0;
    transition-delay: 200ms;
    @extend %transitionAll300;
    @extend %floatToYCenter;

    @include tabletP {
      width: 5.5vw;
      height: 5.5vw;
    }

    .svg {
      width: 60%;
      height: 60%;
    }
  }

  .glass-eyes-left,
  .glass-eyes-right {
    width: 100px;
  }
}


//mobile
.mobile-main-page .swiper-slide .view-item-container {

  .eye-glass-icon {
    position: relative;

    $eye-size: 92px;

    .glass-eyes-left,
    .glass-eyes-right {
      opacity: 0;
      transition-delay: 200ms;
      @extend %transitionAll300;
      @extend %floatToYCenter;

      width: $eye-size;
      height: $eye-size;

      .svg {
        width: 60%;
        height: 60%;
      }
    }

    $shift: 12px;

    .glass-eyes-left {
      left: $shift;
    }

    .glass-eyes-right {
      right: $shift;
    }

    .glass-right-inside,
    .glass-left-inside {
      width: $eye-size !important;
      height: $eye-size !important;

      svg {
        width: 30% !important;
        height: 100% !important;
      }
    }
  }
}

// animation
.mainPage,
.mobile-main-page {

  .swiper-slide.swiper-slide-next,
  .view-item-container {

    .glass-left-inside,
    .glass-right-inside {
      @extend %flexCenter;
      @extend %transitionAll300;
      position: absolute;
      width: 5.5vw;
      height: 5.5vw;

      svg {
        -webkit-animation: rotating 2s linear infinite;
        -moz-animation: rotating 2s linear infinite;
        -ms-animation: rotating 2s linear infinite;
        -o-animation: rotating 2s linear infinite;
        animation: rotating 2s linear infinite;
        color: var(--theme-dark-blue);
        width: 0 !important;
      }
    }
  }

  .swiper-slide.swiper-slide-next,
  .view-item-container:hover {
    .eye-glass-icon {

      .glass-eyes-left,
      .glass-right-inside,
      .glass-left-inside,
      .glass-eyes-right {
        opacity: 1;
      }

      .glass-right-inside,
      .glass-left-inside {
        @include tabletP {
          svg {
            width: 30% !important;
          }
        }
      }
    }
  }
}