@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 900;
  }
}


.my-library-button {
  width: auto;
  @extend %flexCenter;
  @include tabletP {
    padding: 5vh 0;
  }
  button {
    display: block;
    span {
      margin-top: .7vw;
      letter-spacing: 0;
      font-size: 1.5vw;
      color: var(--white);
      font-family: $font-family-light;
      @include phone_and_tabletP {
        font-size: 25px;
        letter-spacing: 5px;
      }
    }
  }
  .btn svg {
    width: 8.7vw;
    height: 7vw;
    @include phone_and_tabletP {
      width: 150px;
      height: 120px;
    }
  }
  &:hover button span {
    font-family: $font-family-bold;
  }

  .book-svg-icon {
    .first-line {
      @extend %transitionAll300;
      stroke-dasharray: 42;
      stroke-dashoffset: 20;
    }
    .second-line {
      @extend %transitionAll300;
      stroke-dasharray: 42;
      stroke-dashoffset: 0;
    }
  }
  &:hover .book-svg-icon {
    .first-line {
      stroke-dasharray: 60;
      stroke-dashoffset: 0;
    }
    .second-line {
      stroke-dasharray: 42;
      stroke-dashoffset: 10;
    }
  }
}
