@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 900;
  }
}

@keyframes re-dash {
  from {
    stroke-dashoffset: 900;
  }
  to {
    stroke-dashoffset: 1000;
  }
}

.mainPage {
  .manage-classes {
    $smileY: 53px;

    flex-direction: column;
    color: white;
    cursor: pointer;
    letter-spacing: 0.1vw;
    font-family: $font-family-regular;
    .svg {
      width: 11.8vw;
      height: 8vw;
      @extend %removePosition;

      .left-smile,
      .right-smile,
      .left-class-icon,
      .right-class-icon {
        @extend %transitionAll300;
      }
      .left-class-icon {
        transform: translateX(-1px);
      }
      .right-class-icon {
        transform: translateX(1px);
        path {
          @extend %transitionAll300;
        }
        .blue {
          fill: var(--theme-light-blue) !important;
        }
      }
      .left-smile {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;

        transform: translate(12px, $smileY);
        path {
          stroke: var(--theme-light-blue);
        }
      }
      .right-smile {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        transform: translate(139px, $smileY);
      }

      .right-smile,
      .left-smile {
        &.leaved {
          stroke-dasharray: 900;
          animation: re-dash 2s linear alternate infinite;
        }
      }
    }
    span {
      @extend %transitionAll300;
      font-size: 1.5vw;
      font-family: $font-family-light;
    }
    &:hover {
      .svg {
        .left-class-icon {
          transform: translateX(8px);
        }
        .right-class-icon {
          transform: translateX(-8px);
        }
        .left-smile,
        .right-smile {
          path {
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: dash 2s linear alternate infinite;
          }
        }
        .left-smile {
          transform: translate(3px, $smileY);
        }
        .right-smile {
          transform: translate(148px, $smileY);
        }
      }
      span {
        @extend %transitionAll300;
        font-family: $font-family-bold;
      }
    }
  }
}
