@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';
.play-preview-pages {
  background: var(--theme-dark-blue);
  min-height: 100%;
  .sort-and-filter-container {
    width: calc(17.15vw - 1vw);
    align-items: center;
    justify-content: center;
  }
  .brick-row-container {
    background-color: var(--white);
    @include tabletP {
      width: calc(82.85vw - 1vw);
    }
    .brick-container {
      @include phone_and_tabletP {
        height: calc(100vh - 21vh);
        overflow-y: auto;
      }
      .introduction-page {
        font-family: $font-family-regular;
        position: relative;
        @include phone_and_tabletP {
          height: 100%;
        }
        @include tabletP {
          overflow-y: auto;
          padding: 4vh 2vw 4vh 7vw;
        }

        .intro-header {
          @include phone_and_tabletP {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 3vh;
          }
          @include tabletP {
            margin-bottom: 10vh;
          }
          .left-brick-circle {
            position: absolute;
            top: 2.4vh;
            left: 0.5vw;
            @include phone_and_tabletP {
              position: unset;
            }
            > div {
              height: 5vw;
              width: 5vw;
              @extend %radCircle;
              background-color: var(--gray);
              @include phone_and_tabletP {
                height: 20vw;
                width: 20vw;
              }
            }
          }
          h1 {
            font-size: 2vw;
            text-transform: uppercase;
            margin: 2.5vw 0;
            text-align: left;
            padding-left: 7vw;
          }
        }
        .start-brick-button {
          margin-right: 0px;
          > span {
            font-family: $font-family-regular;
            font-size: 25px;
            margin-right: 10px;
          }
        }
        h1,
        p,
        ul,
        ol {
          color: var(--theme-dark-blue);
        }

        h1 {
          width: 100%;
          color: var(--theme-dark-blue);
          margin: 1vw 0;
          font-family: $font-family-black;
          text-transform: capitalize;
          @extend %floatToXCenter;
          top: 0;
          font-size: 3.6vw;
          text-align: center;
          @include phone_and_tabletP {
            position: unset;
            transform: translate(0);
            padding-left: 0 !important;
            font-size: 3vh !important;
            text-align: center !important;
            height: 6vw;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .question-index-container {
          margin: 1vw 1.5vw 2vw 0;
          padding: 0.5vw;
          width: 3.3vw;
          height: 3.3vw;
          @extend %radCircle;
          &.correct {
            .question-index {
              background: var(--theme-green);
            }
          }
          &.wrong {
            .question-index {
              background: var(--theme-orange);
            }
          }
          &.attempted {
            background: #82c0ed;
            .question-index {
              background: $blue;
            }
          }
          .question-index {
            padding: 0;
            font-size: 2vw;
            background: #e5e8ed;
            border-radius: 100vw;
            font-family: $font-family-black;
            color: var(--theme-dark-blue);
            text-align: center;
            width: 2.3vw;
            height: 2.3vw;
            line-height: 1.25;
          }
        }
        .question-live-play {
          width: calc(100% - 7vw);
          overflow-y: auto;
          padding-bottom: 2vw;
          margin: 6vh 3vw 1vw 4vw;
          position: absolute;
          top: 0;
          @include phone_and_tabletP {
            height: calc(100vh - 55.8vw);
          }
          @include tabletP {
            height: 75.4vh;
          }
          &.review-content {
            margin-top: 2vh;
          }
          .question-title {
            font-size: 2.5vw;
            font-family: $font-family-black;
            color: var(--theme-dark-blue);
          }
        }
        .swipe-view {
          height: calc(100vh - 7.5vw);
          .react-swipeable-view-container {
            height: calc(100vh - 7.5vw);

            > div {
              overflow-y: hidden !important;
            }
          }
        }
      }
      .introduction-info {
        background-color: var(--light-gray);
        @include phone_and_tabletP {
          border-radius: 1vh;
        }
        @include tabletP {
          position: relative;
          padding: 4vh 2vw;
          height: calc(100vh - 7.8vw);
        }
        .intro-header {
          position: relative;
          font-size: 2vw;
          font-family: $font-family-black;
          color: var(--theme-dark-blue);
          @include phone_and_tabletP {
            display: inline-block;
            padding: 0;
            position: absolute;
            right: 5vw;
            margin-top: 2vw;
          }
          @include tabletP {
            display: flex;
            align-items: center;
            justify-content: flex-end;
          }

          .brick-counter {
            @include phone_and_tabletP {
              position: fixed;
              right: 0vw;
              top: 1vw;
              font-size: 6vw;
              padding-right: 5vw;
            }
          }
          .clock-image {
            @include phone_and_tabletP {
              width: 5vw;
              height: 5vw;
            }
            @include tabletP {
              width: 2vw;
              height: 2vw;
            }
          }
          .clock {
            margin-left: 3vw;
            display: flex;
            align-items: center;
            min-width: 6vw;
            .clock-image {
              width: 2vw;
              height: 2vw;
            }
          }
          .counter {
            .counter-seconds {
              font-size: 1vw;
            }
            // @include phone_and_tabletP {
            //   position: absolute;
            //   top: 0;
            //   right: 0;
            // }
          }
        }
        .intro-text-row {
          width: 100%;
          font-size: 1.15vw;
          font-family: $font-family-bold;
          color: var(--theme-dark-blue);
          display: flex;
          flex-direction: column;
          justify-content: center;
          @include phone_and_tabletP {
            margin-top: 1vw !important;
            padding: 3vw;
            font-size: 4.4vw;
          }
          @include tabletP {
            margin-top: 3vw;
          }
          > p,
          > ul {
            margin: 0;
          }
          > ul {
            margin-top: 0.5vw;
          }
          .stepper {
            .step {
              @extend %posRelative;
              @extend %flexCenter;
              justify-content: flex-start;
              cursor: pointer;
              font-size: 2vw;
              font-family: $font-family-black;
              color: #d3d4d5;
              img {
                height: 2vw;
              }
              &.completed,
              &.current {
                color: var(--theme-dark-blue);
              }
              .blue-circle-main-container{
                @extend %floatToXCenter;
                width: 1.2vw;
                height: 1.2vw;
              }
              .blue-circle-container {
                padding: 0.2vw;
                border-radius: 100vw;
                background: var(--blue-alpha5);
                .blue-circle {
                  height: 0.8vw;
                  width: 0.8vw;
                  border-radius: 100vw;
                  background: var(--blue);
                }
              }
            }
          }
        }
        .action-footer {
          display: flex;
          color: var(--theme-dark-blue);
          @include phone_and_tabletP {
            position: fixed;
            align-items: flex-end;
            justify-content: flex-end;
            bottom: 13vw;
            right: 4vw;
          }
          @include tabletP {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            align-items: center;
            justify-content: flex-end;
            width: 22vw;
            bottom: 5vw;
          }
          .play-preview {
            position: relative;
            left: inherit;
            right: inherit;
            top: inherit;
            @include phone_and_tabletP {
              width: 20vw;
              height: 20vw;
            }
            .svg {
              @include phone_and_tabletP {
                width: 13vw;
                height: 13vw;
              }
            }
          }
          > div {
            @extend %flexCenter;
            flex-direction: column;
            text-align: center;
            @include phone_and_tabletP {
              margin-left: 5vw;
            }
            @include tabletP {
              min-width: 4vw;
            }
            &.direction-info {
              width: 100%;
              padding: 0 1vw;
              position: relative;
              > h2 {
                margin-top: 0;
                margin-bottom: 0;

                font-family: $font-family-bold;
                @include phone_and_tabletP {
                  font-size: 8.4vw;
                  width: max-content;
                }
                @include tabletP {
                  font-size: 2.6vw;
                }
              }
              > h3,
              > span {
                position: absolute;
                color: var(--theme-dark-blue);
              }
              > h3 {
                left: 1.8vw;
                letter-spacing: inherit;
                margin: 0;
                @include phone_and_tabletP {
                  font-size: 5.1vw;
                  top: -4vw;
                }
                @include tabletP {
                  top: -1vw;
                }
              }
              > span {
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                bottom: -2vw;
                line-height: 1vw;
              }
            }
          }
        }
        .max-length {
          font-family: $font-family-regular;
          color: var(--theme-dark-blue);
          margin-left: 0.8vw;
          @include phone_and_tabletP {
            font-size: 4.8vw;
          }
          @include tabletP {
            font-size: 1.8vw;
          }
        }
      }
      &.live-page,
      &.provisional-score-page,
      &.review-page,
      &.synthesis-page,
      &.ending-page {
        .MuiBox-root {
          padding: 0;
          position: relative;
          padding-top: 0;
        }
        .MuiStepper-root {
          padding-top: 20px;
          padding-bottom: 16px;

          .MuiStepButton-root {
            padding-top: 27px;
            padding-bottom: 10px;
          }
        }
        .introduction-page {
          padding: 0;
          overflow-y: hidden;
          @include phone_and_tabletP {
             height: calc(100vh - 55.8vw);
          }
          @include tabletP {
             height: calc(100vh - 7.8vw);
          }
        }
        .fotter-text {
          margin-top: 3vw;
        }
      }
      &.synthesis-page {
        .question-live-play {
          height: calc(100vh - 27.6vh);
          margin: 12vh 3vw 1vw 4vw;
        }
        .introduction-info {
          .intro-text-row {
            position: absolute;
            top: 50%;
            transform: translateY(-10vh);
            margin: 0;
          }
        }
      }

      .action-footer {
        position: absolute;
        @include only_phone {
          margin-top: 3vh;
          position: relative;
        }
        left: 50%;
        transform: translateX(-50%);

        display: flex;

        color: var(--theme-dark-blue);
        @include phone_and_tabletP {
          align-items: flex-end;
          justify-content: flex-end;
          bottom: 3vw;
        }
        @include tabletP {
          align-items: center;
          justify-content: flex-end;
          width: 22vw;
          bottom: 5vw;
        }
        .play-preview {
          position: relative;
          left: inherit;
          right: inherit;
          top: inherit;
          @include phone_and_tabletP {
            width: 26vw;
            height: 26vw;
          }
          .svg {
            @include phone_and_tabletP {
              width: 13vw;
              height: 13vw;
            }
          }
        }
        > div {
          @extend %flexCenter;
          flex-direction: column;
          text-align: center;
          @include phone_and_tabletP {
            margin-left: 5vw;
          }
          @include tabletP {
            min-width: 4vw;
          }
          &.direction-info {
            width: 100%;
            padding: 0 1vw;
            position: relative;
            > h2 {
              margin-top: 0;
              margin-bottom: 0;

              font-family: $font-family-bold;
              @include phone_and_tabletP {
                font-size: 11.6vw;
                width: max-content;
              }
              @include tabletP {
                font-size: 2.6vw;
              }
            }
            > h3,
            > span {
              position: absolute;
              color: var(--theme-dark-blue);
            }
            > h3 {
              left: 1.8vw;
              letter-spacing: inherit;
              margin: 0;
              @include phone_and_tabletP {
                font-size: 6vw;
                top: -6vw;
              }
              @include tabletP {
                top: -1vw;
              }
            }
            > span {
              width: 100%;
              left: 50%;
              transform: translateX(-50%);
              bottom: -2vw;
              line-height: 1vw;
            }
          }
        }
      }
      .circle-progress-container {
        position: relative;
        width: 100%;
        height: $progress-height;
        margin-top: 7vh;
        .circle-progress-first {
          height: 50vh;
          width: 50vh;
          .CircularProgressbar-path {
            stroke: #ffb55f !important;
          }
        }
        .circle-progress-second {
          height: 46vh;
          width: 46vh;
          .CircularProgressbar-path {
            stroke: #317fe0 !important;
          }
        }
        .circle-progress-third {
          height: 42.5vh;
          width: 42.5vh;
          .CircularProgressbar-path {
            stroke: #38c36d !important;
          }
        }
        .circle-progress {
          height: 50vh !important;
          width: 50vh !important;
          .CircularProgressbar-path {
            stroke: #ffb55f !important;
          }
          svg {
            overflow: overlay;
            circle {
              stroke-width: 4.5 !important;
            }
          }
        }
        .score-circle {
          left: 0;
          top: 0;
          width: 100%;
          height: $progress-height;
          position: absolute;
        }
        .score-data {
          position: absolute;
          height: 60vh;
          width: 50vh;
          top: 0;
          color: var(--theme-dark-blue);
          text-align: center;
          > div {
            height: 60vh;
            .score-precentage {
              font-family: $font-family-black;
              color: var(--theme-dark-blue);
              line-height: 1;
              font-size: 14vh;
            }
            .score-number {
              font-family: $font-family-bold;
              color: var(--theme-dark-blue);
              line-height: 1;
              font-size: 4vh;
            }
          }
        }
      }
      .MuiCircularProgress-colorPrimary {
        color: #0076b4 !important;
      }
      .CircularProgressbar-trail {
        opacity: 0 !important;
      }
    }
  }

  .MuiPaper-root {
    box-shadow: none !important;
  }
  .expand-title {
    color: var(--theme-dark-blue);
    line-height: 1.3;
    display: flex;
    align-items: center;
    @include phone_and_tabletP {
      margin-top: 2vh;
      font: 6vw $font-family-bold;
    }
    @include tabletP {
      height: 4vw;
      margin: 5vh 0 1vh 0;

      font: 2.6vw $font-family-bold;
    }
    > span {
      @include phone_and_tabletP {
        font-size: 9vw;
      }
      &:first-child {
        @include tabletP {
          width: 6vw;
        }
      }
    }
    .arrow {
      @include phone_and_tabletP {
        width: 10vw;
        height: 10vw;
        margin-left: 5vw;
      }
      @include tabletP {
        margin: 0 1.5vw 0 0;
        width: 3vw;
        height: 3vw;
      }
      .svg {
        height: 2.1vw;
      }
    }
    .image {
      height: 100%;
    }
    .help-prep {
      color: var(--gray);
      @include phone_and_tabletP {
        font-size: 4vw;
      }
      @include tabletP {
        font-size: 1vw;
      }
    }
  }
  .expanded-text {
    width: 100%;
    color: var(--theme-dark-blue);
    margin: 0 0 1vh 0;
    @include phone_and_tabletP {
      font: 6vw $font-family-regular;
    }
    @include tabletP {
      font: 1vw $font-family-regular;
    }
  }
  .help-text {
    font-family: $font-family-regular;

    margin-bottom: 3px;
    @include phone_and_tabletP {
      font-size: 6vw;
    }
    @include tabletP {
      font-size: 0.8vw;
    }
  }
}

.play-preview-pages ~ .beta-text {
  color: var(--theme-orange) !important;
}
