@import '../../../../assets/sass/partials/variables';
@import '../../../../assets/sass/partials/mixins';
@import '../../../../assets/sass/partials/extensions';

.introduction-page {
  padding: 1vw;

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .other-header {
    font-size: 24px !important;
    font-weight: 400;
  }

  h2 {
    color: $dark-blue;
  }

  .start-brick-button {
    margin-right: 0px;
    > span {
      font-family: $font-family-regular;
      font-size: 25px;
      margin-right: 10px;
    }
  }
}