.auth-page {
  background: var(--theme-dark-blue);
  height: 100%;
  @extend %posRelative;
  .logo-box {
    background-color: transparent;
    @extend %flexCenter;
    @include phone_and_tabletP {
      background-color: var(--light-blue);
      margin-bottom: 4vh;
      height: calc(50vh - 2vh);
      border-bottom-right-radius: 10vw;
      overflow: hidden;
    }
    .logo-image {
      margin-top: 6.1vh;
      margin-bottom: 3.9vh;
      height: 20vh;
      color: var(--theme-orange);

      @include phone_and_tabletP {
        height: 20vh;
      }
    }
    .mobile {
      display: none;
      @include phone_and_tabletP {
        display: block;
      }
    }
    .website {
      @include phone_and_tabletP {
        display: none;
      }
    }
  }
  .back-col {
    display: none;
    @include phone_and_tabletP {
      position: absolute;
      top: 48%;
      left: 50%;
      transform: translate(-47%, -50%);
    }
    @include phone {
      height: 13.3vh;
      width: 28.3vw;
    }
    @include desktop {
      height: 13.3vh;
      width: 32.3vw;
    }
    .back-box {
      text-align: center;
      @include phone_and_tabletP {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .back-button {
        @include phone {
          height: 10.6vw;
          width: 13vw;
          color: var(--white);
          margin-top: -1.5vh;
        }
        @include tabletP {
          height: 5.6vw;
          width: 6vw;
          color: var(--theme-orange);
          transform: rotate(90deg);
          &:hover {
            transform: scale(1.15, 1.05);
          }
        }
      }
    }
  }
  .first-col {
    height: 100%;
    @include phone {
      width: 100%;
    }
    @include tabletP {
      width: 33.6vw;
    }
    @include desktop {
      width: 29.6vw;
    }

    .first-item {
      height: 14.7vh;
      @include phone_and_tabletP {
        display: none;
      }
    }
    .second-item {
      margin-top: 4.7vh;
      height: 80.6vh;
      text-align: center;
      @include phone_and_tabletP {
        margin: 0;
        height: 100vh;
      }
    }
  }
  .second-col {
    margin-left: 2.7vw;
    width: 29.7vw;
    height: 100%;
    @include phone_and_tabletP {
      display: none;
    }
    .first-item {
      height: 70.9vh;
    }
    .second-item {
      margin-top: 4.7vh;
      height: 24.4vh;
    }
  }
  .first-col,
  .second-col {
    .first-item {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
    .first-item,
    .second-item {
      background: var(--light-blue);
      @include phone_and_tabletP {
        background-color: transparent;
      }
    }
  }
  &.pre-login-page {
    .button-box {
      @include phone_and_tabletP {
        background-color: $button-box;
        border-top-right-radius: 10vw;
        overflow: hidden;
        margin-top: 4vh;
        height: calc(50vh - 2vh);
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 3vh 6vw 0;
      }
      .email-button,
      .google-button {
        padding: 2.5vh;
        border-radius: $button-radius;
        text-transform: none;
        letter-spacing: 0.1vw;
        border: 0;
        margin-bottom: 2.7vh;
        transition: all 0.2s ease-in-out;
        @extend %flexCenter;
        @include phone_and_tabletP {
          width: 100%;
          font: 4.8vw $font-family-regular;
          border-radius: 2vh;
        }
        @include tabletP {
          width: 30vw;
          font: 1.4vw $font-family-regular;
        }
        @include desktop {
          font: 1vw $font-family-regular;
          width: 22vw;
        }
        .svg {
          transition: all 0.2s ease-in-out;
          margin-right: 1vw;
          position: inherit;
          top: inherit;
          left: inherit;
          transform: inherit;
          @include phone {
            width: 9.5vw;
            height: 9.5vw;
          }
          @include tabletP {
            width: 2.5vw;
            height: 2.5vw;
          }
          @include desktop {
            width: 2.3vw;
            height: 2.3vw;
          }
        }
        .MuiButton-label {
          justify-content: flex-start;
        }
      }
      .email-button {
        background: var(--theme-orange);
        @include phone_and_tabletP {
          order: 2;
        }
        .svg,
        span {
          color: var(--white);
        }
        &:hover {
          background: var(--theme-dark-blue);
        }
      }
      .google-button {
        background: var(--white);
        span {
          color: var(--theme-dark-blue);
        }
        &:hover {
          background: var(--white);
          .svg {
            transform: scale(1.4);
          }
        }
      }
    }
  }
  &.login-page {
    @include phone_and_tabletP {
      &:focus-within {
        z-index: 999999;
      }
    }
    .logo-box {
      background-color: transparent;
      height: calc(40vh - 2vh);
    }
    .content-box {
      height: 100%;
      @extend %flexCenter;
      @extend %flexColumn;
      @include phone_and_tabletP {
        border-top-right-radius: 10vw;
        background-color: var(--light-blue);
        height: calc(60vh - 2vh);
        padding: 3vh 6vw 0;
      }
      .input-block {
        @include phone {
          width: 100%;
        }
        @include tabletP {
          width: 90%;
        }
        @include tabletL {
          width: 80%;
          justify-content: space-between;
          margin: 0px auto 3vh;
        }
        input {
          color: var(--white);
          text-align: center;
          background: var(--theme-dark-blue);
          &::-webkit-input-placeholder {
            color: var(--white);
            opacity: 0.8;
          }
        }
        .hide-password-icon-container {
          @extend %flexCenter;
          position: absolute;
          right: 1.3vw;
          top: 0;
          padding: 0.5vw 1vw;
          height: 100%;
          .hide-password-icon {
            height: 37%;
            opacity: 0.7;
            color: var(--theme-orange);
            z-index: 5;
          }
          .hide-password-icon:hover {
            opacity: 1;
          }
        }
        button {
          box-shadow: none;
          width: calc(50% - 2vw);
          background: var(--theme-orange);
          letter-spacing: 0.3vw;
          margin: 0 0 2vh 0;
          flex: 1;
          @include phone_and_tabletP {
            color: $black-blue;
            border-radius: 7vw;
            font: 5.2vw $font-family-regular;
            padding: 0.5vh 1.2vw;
          }
          @include tabletP {
            font: 1.2vw $font-family-regular;
            padding: 0.8vh 1.2vw;
            margin: 0px 0px 2vh;
            border-radius: 0.7vw;
          }
          &:hover {
            background: var(--theme-orange);
            box-shadow: none;
            font-family: $font-family-bold;
          }
          &.sign-up-button {
            color: var(--white);
            @include tabletP {
              margin-right: 1vw;
            }
            @include phone_and_tabletP {
              margin-right: 3vw;
            }
          }
          &.sign-in-button {
            color: var(--theme-dark-blue);
            background-color: var(--white);
            @include phone_and_tabletP {
              margin-left: 3vw;
            }
            @include tabletP {
              margin-left: 1vw;
            }
          }
        }
      }
      .register-success {
        position: fixed;
        top: 24.1vh;
        left: 19.2vw;
        color: var(--white);
        .thanks-info {
          cursor: pointer;
          @extend %posRelative;
          line-height: 1.43;
          font-size: 7.15vh;

          .register-success-icon {
            @extend %posAbsolute;
            top: 0.3vh;
            left: -14.6vh;
            font-size: 10.7vh;
            color: var(--theme-orange);
          }
        }
        .contact-info {
          margin-top: 16.4vh;
          line-height: 1;
          font-size: 3.6vh;
        }
      }
    }
  }
}
