@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.sort-and-filter-container {
  margin-top: 0.5vh;
  .subjects-toggle {
    width: 100%;
    display: flex;
    flex-direction: row;

    .toggle-button {
      cursor: pointer;
      display: flex;
      width: 49.6%;
      flex-grow: 0;
      margin: 0;
      flex-direction: column;
      border-top-left-radius: 0.5vw;
      border-top-right-radius: 0.5vw;
      text-align: center;
      font-size: 1vw;
      font-family: $font-family-bold;
      padding-top: 0.25vh;
      padding-bottom: 0.25vh;

      color: #8A8D90;
      background: var(--tab-gray);

      &.active {
        color: var(--theme-dark-blue);
        background: var(--white);
      }

      &:nth-child(odd) {
        margin-right: 0.4%;
      }
      &:nth-child(even) {
        margin-left: 0.4%;
      }
    }
    .my-subjects {
      display: flex;
      flex-direction: row;
      div {
        display: flex;
        flex-direction: column;
        
        &.icon-container {
          margin-left: 1.3vw;
          margin-right: 0.7vw;
          width: 20%;
        }

        &.text-container {
          @extend %flexCenter;
        }

        svg {
          height: 1.7vw;
          width: 1.7vw;
        }
      }
    }
    .all-subjects {
      @extend %flexCenter;
    }
  }
  .scroll-buttons {
    @extend %flexCenter;
    background: var(--white);
    height: 2vw;
    svg {
      cursor: pointer;
      width: 1.7vw;
      height: 1.7vw;
      color: var(--theme-orange);

      &.disabled {
        color: var(--tab-gray);
      }
    }
  }
}