@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.dashboard-page {
  overflow: hidden;
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  font-family: $font-family-regular;

  .brick-row-container {
    background: var(--tab-gray);

    .subjects-column {
      display: block;
    }
  }

  .brick-row-container.view-all-subjects {
    .subjects-column {
      display: flex;
    }
  }

  .desktop-no-bricks {
    .no-found-help-text {
      color: var(--theme-dark-blue);
      font-size: 1.5vw;
      font-family: $font-family-regular-italic;
      margin-left: 1.7vw;
      margin-bottom: 1.9vh;
    }
  }

  .view-all-toggle {
    position: absolute;
  }

  .main-title {
    @extend %transitionAll300;
    max-width: 55vw;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &.subject-title {
      letter-spacing: 0.4vw;
      margin-top: 1.2vw;
      font-size: 2.9vw;
    }
  }

  .no-found {
    margin-left: 0.9vw;
    margin-bottom: 0 !important;
  }

  .found {
    margin-left: 0.9vw;
  }

  .create-button,
  .recomend-button {
    color: var(--theme-dark-blue);
    font-size: 1.5vw;
    font-family: $font-family-bold;
    @extend %flexCenter;

    svg {
      color: var(--theme-orange);
      width: 4vw;
    }
  }

  .create-button {
    cursor: pointer;
    margin-left: 12vw;

    svg {
      @extend %transitionAll300;
      margin-top: calc(#{$bricks-height / 90});
      max-height: calc(#{$bricks-height / 12});
    }

    &:hover {
      svg {
        transform: rotate(10deg);
      }
    }
  }

  .recomend-button {
    margin-left: 10vw;

    svg {
      stroke-width: 2;
      margin-top: calc(#{$bricks-height / 90});
      max-height: calc(#{$bricks-height / 15});
    }
  }

  .unauthorized-sidebar {
    margin-top: 18vh;
    margin-left: 7%;
    width: 86%;

    .title {
      font-size: 2.1vw;
      font-family: $font-family-bold;
    }

    .text {
      font-size: 1.05vw;
    }

    .m-t-3 {
      margin-top: 3vh;
    }

    .f-1-9vw {
      font-size: 1.9vw;
    }
  }
}

.mobile-category {
  .brick-row-title {
    height: calc(5vw + 2.6vh);
    margin-bottom: 0 !important;
  }

  .bricks-list-container {
    height: calc(100vh - 46vh - 5vw - 2.6vh);
    overflow-y: scroll;
  }
}

.uppercase {
  text-transform: uppercase;
}

// mobile
.dashboard-page {
  @include phone_and_tabletP {
    .sorted-row {
      border-top-left-radius: 8vw;
    }
  }

  .expand-button {
    position: fixed;
    top: 1vw;
    left: 1vw;
    border-radius: 50%;
    background: var(--white);
    $size: 9vw;
    height: $size;
    width: $size;
    color: var(--theme-dark-blue);

    svg {
      $size: 6vw;
      padding: 1.5vw;
      height: $size;
      width: $size;
      transform: scale(-1, 1);
    }
  }

  @include phone_and_tabletP {
    .short-brick-info {
      width: calc(100% - 10vw) !important;
    }

    &.expanded {
      .mobile-scroll-bricks {
        height: 42vh;
      }
    }
  }
}