@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.user-list-page {
  .sorted-row {
    height: 100%;

    .brick-row-container {
      height: calc(100% - 17.5vw);

      .user-header {
        .brick-row-title {
          border-bottom: none;
          margin-bottom: 0;
          font-size: 6vw !important;
        }

        .add-user-button {
          width: 20vw;
          font-size: 4vw;
          margin-top: 0 !important;

          >svg {
            width: 90%;
            height: 7vw;
          }

          &:hover svg {
            color: var(--theme-dark-blue);
          }
        }
      }

      .users-table {
        overflow: hidden;
        height: calc(100% - 13.5vw - 6vh) !important;

        >table {
          height: 100%;
          width: 100%;

          thead {
            width: 100%;
            font-size: 3vw;

            tr th .sort-button {
              width: 3vw;
              height: 3vw;
            }
          }

          tr.user-row td {
            font-size: 3vw;
          }

          thead,
          tbody tr {
            display: table;
            width: 100%;
            table-layout: fixed;

            .joing-date {
              width: 9vw;
            }

            .name-container {
              width: 15vw;
            }

            .email-container {
              width: 55vw;
            }

            .preference-type {
              width: 8vw;
            }

            .activate-button-container {
              width: 7vw;

              .custom-toggle {
                width: 5vw;

                svg {
                  width: 5vw;
                }
              }
            }

            .user-actions-cell {
              width: 6vw;

              >div {
                display: block !important;

                .delete-button {
                  margin-left: 1vw;
                  display: block !important;
                  margin-bottom: 2vw;
                }

                .edit-button {
                  margin: 0 !important;
                }

                svg {
                  width: 4vw !important;
                  height: 4vw !important;
                }
              }
            }
          }

          tbody {
            display: block;
            height: calc(100% - 13.5vw);
            overflow: scroll;
          }
        }
      }

      .users-pagination {
        color: var(--theme-dark-blue);
        font-size: 4vw;

        .bottom-next-button>div {
          display: flex;
          align-items: center;
          justify-content: center;

          .btn {
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }

  .upper-part {
    .page-header .logout-container {
      .home-button-container {
        margin-right: 24vw;
      }
      .search-container {
        top: 2.5vw;
        left: 44vw;
      }
    }
  }
}