@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.page-loader {
  @extend %floatToCenter;
  width: 100%;
  height: 100vh;
  @extend %flexCenter;
  @extend %flexColumn;
  background-color: var(--theme-dark-blue);
  svg {
    color: var(--white);
  }
}
