.subjects-filter {
  .MuiRadio-root {
    color: inherit !important;
    .MuiIconButton-label {
      color: inherit !important;
      .MuiSvgIcon-root {
        color: inherit !important;
      }
    }
  }

  .MuiTypography-root {
    color: white !important;
  }
}
