@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.subjects-filter-v2 {
  padding-top: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  .subject-list-v2 {
    cursor: pointer;
    margin-bottom: 0 !important;
    padding-bottom: 0.5vh;
    padding-top: 0.5vh;
    padding-left: 1.2vw;
    padding-right: 1.2vw;
  
    &:hover {
      background: var(--light-blue-alpha3);
    }

    &.checked {
      background: var(--white);
      color: var(--theme-dark-blue);
      .MuiFormControlLabel-root .MuiTypography-root {
        color: var(--theme-dark-blue) !important;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
  .create-subject-button {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding-top: 0.4vh;
    padding-bottom: 0.4vh;

    svg {
      margin-left: 1vw;
      margin-right: 0.4vw;
      height: 1.6vw;
      width: 1.6vw;
    }
    &:hover {
      background: var(--light-blue-alpha3);
    }
  }
}

.subject-border {
  margin-right: 0.4vw !important;
  padding: 0.05vw;
  border-radius: 50%;
  @extend %flexToYCenter;

  .radio-checked {
    stroke-width: 2;
  }
}

.subject-no-border {
  margin: 0.25vw;
  margin-right: 0.65vw;
  .filter-circle {
    margin-right: 0 !important;
    width: 0.85vw;
    height: 0.85vw;
    border-radius: 50%;
  }
}

.subjects-filter {
  .MuiFormControlLabel-root .MuiTypography-root {
    color: var(--white) !important;
  }
}