@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.rotate-instruction-page {
  height: 100%;
  width: 100%;
  background: var(--theme-orange);
  color: var(--white);
  @extend %flexCenter;
  .rotate-button-container {
    @extend %flexCenter;

    &.triangle {
      svg {
        width: 30vw;
        height: 25vh;
      }
    }
  }
  .rotate-button {
    width: 10vw;
    border-radius: 1vw;
    border: 0.5vw solid var(--white);
    .svg {
      width: 5vw;
      height: 5vw;
      padding: 2vw;
      padding-top: 3vw;
    }
    .dot {
      border-radius: 50%;
      width: 1vw;
      height: 1vw;
      background: var(--white);
      margin: auto;
      margin-bottom: 2vw;
    }
  }
  .rotate-text {
    margin-top: 7vh;
    font-size: 3vw;
    font-family: $font-family-bold;
  }

  button {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    color: var(--theme-dark-blue);
    padding: 1vh 2vw;
    border-radius: 1vw;
    letter-spacing: 0;
    font-size: 2.5vw;
    background-color: var(--white);

    &:hover {
      background: var(--theme-dark-blue);
      color: var(--white);
    }
  }
}

.ipad-warning {
  .rotate-button-container {
    svg {
      height: 15vw;
      width: 15vw;
    }
  }
  .rotate-text {
    font-size: 4vw !important;
  }
}
