@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.bricks-played-page {
  .teach-assigned {
    overflow-y: auto;
    .sort-box {
      display: flex;
      align-items: center;
      height: 6vh;
      padding: 0 1.4vw;
    }
    .sort-radio-btns {
      height: 4.5vh;
      font-size: 1.2vw;

      .MuiFormControlLabel-root {
        width: 50%;
        margin: 0;
      }

      &.full-width .MuiFormControlLabel-root {
        width: 100%;
      }
      .MuiButtonBase-root {
        padding: 0;
      }

      .MuiIconButton-label {
        margin-right: 0.5vw;
        svg {
          color: white;
        }
      }
    }
    .filter-row {
      padding: 0 1.4vw;

      &.margin-smaller {
        &.top-margin-bigger {
          margin-top: 1vh;
        }
      }
    }
    .filter-header {
      position: relative;
      height: 4vh;
      background: var(--light-blue-alpha5);
      padding: 0 1.4vw;
      font-size: 1.2vw !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: "Brandon Grotesque Bold";
    }
  }
  .tab-content {
    overflow-y: auto;
    padding-bottom: 1vw;
    color: var(--theme-dark-blue);
    position: relative;

    .publish-toggle {
      top: 1vh;
      > span {
        letter-spacing: 0;
        margin-left: 1.5vw;
      }
    }

    .table-head {
      margin-top: 0.2vh;
      display: flex;
      font-size: 1.2vw;

      .header {
        display: flex;
        align-items: center;

        svg {
          cursor: pointer;
          width: 0.7vw;
          height: 0.7vw;
        }
      }
    }
    .publish-column {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 9%;
    }
    .first-column {
      display: flex;
      align-items: center;
      padding-left: 1%;
      width: 35%;
      white-space: no-wrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      p {
        display: inline;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    .second-column {
      display: flex;
      align-items: center;
      width: 10%;
      position: relative;

      svg {
        cursor: pointer;
        margin-left: 0.5vw;
        width: 1.5vw;
        height: 1.5vw;
      }

      .players-popup-d3423 {
        overflow-y: scroll;
        max-height: 20vh;
        position: absolute;
        top: 0;
        color: var(--theme-dark-blue);
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background: white;
        border-radius: 0.5vw;
        right: 5vw;
        z-index: 2;
        .close-btn {
          position: absolute;
          z-index: 5;
          top: 0.1vw;
          right: 0.3vw;
          width: 1.3vw;
          height: 1.3vw;
          stroke-width: 3;
          color: var(--theme-orange);
        }

        > div {
          padding: 0.2vw 1.3vw 0.2vw;
          position: relative;
        }

        .userRow {
          display: flex;
          .usernames-r431 {
            min-width: 10vw;
          }
          .assignment-class-321 {
            min-width: 12vw;
          }

          &:nth-child(odd) {
            background: var(--tab-gray);
          }
        }
      }
    }
    .subject-column {
      width: 17%;
      display: block !important;

      .subject-block {
        display: flex;
        align-items: center;
        margin: 0 0.2vw;
        .circle {
          margin: 0 0.2vw;
          width: 0.7vw;
          height: 0.7vw;
          border-radius: 50%;
        }
      }

      &.header {
        div {
          padding-left: 0.5vw;
        }
      }
    }

    .third-column {
      width: 10%;
      svg {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    .sponsor-column {
      width: 10%;
    }

    .author-column {
      width: 13%;
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-right: 0.5vw;
    }

    .btn-container {
      margin-right: 2vw;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      &.margin-right-small {
        margin-right: 0.5vw;
      }

      .btn:hover {
        opacity: 0.8;
      }
    }

    .btn {
      cursor: pointer;
      margin-top: 2vh;
      font-size: 1.2vw;
      color: white;
      padding: 0.2vw 0.6vw;
      border-radius: 0.5vw;

      svg {
        margin-left: 0.7vw;
        width: 1vw;
        height: 1vw;
      }
    }

    .btn-green {
      background: var(--theme-green);
    }

    .btn-blue {
      background: var(--theme-dark-blue);
    }

    .table-row {
      display: flex;
      font-size: 1vw;

      &:nth-child(odd) {
        background: var(--tab-gray);
      }

      &.clickable {
        cursor: pointer;
      }
    }
  }

  .MuiTypography-root {
    font-size: 1vw;
  }

  .select-container {
    position: relative;
    .absolute-placeholder {
      font-size: 1vw;
      position: absolute;
      left: 2vw;
      top: calc(2.5vh);
      height: 5vh;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: #7E7E7E;
      z-index: 1;
    }
    .MuiInput-input {
      padding-left: 0.4vw;
    }
  }

  .select-multiple-subject {
    height: 10vh;
    display: flex;
    justify-content: center;
    width: 21vw;
    .MuiSelect-select {
      padding-top: 0;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      color: var(--theme-dark-blue);
      height: 5vh;
      border-radius: 0.5vw;
      background: var(--white);
    }
    &::after, &::before {
      display: none !important;
      content: null !important;
    }
  }
}

.export-dialog-ew35 {
  .MuiBackdrop-root {
    background-color: unset;
  }
  .MuiDialog-container {
    align-items: flex-start;
    justify-content: flex-start;
    .MuiPaper-root {
      background: white;
      margin-top: calc(5.834vw + 2vw + 2.4vw + 2vw + 2vh + 2vw); 
      margin-left: 85vw;
      border-radius: 0.5vw;
      width: 13vw;
      svg {
        margin-left: 3.4vw;
        width: 1.5vw;
        height: 1.5vw;
        color: white;
      }

      img {
        margin-left: 4vw;
        width: 1vw;
        height: 1.3vw;
      }

      .popup-3rfw {
        color: var(--theme-dark-blue);
        padding-top: 0.4vw;
        padding-bottom: 0.7vw;

        .btn-sort {
          padding-left: 0.8vw;
          padding-right: 0.8vw;
          padding-top: 0.2vw;
          padding-bottom: 0.2vw;
          display: flex;
          font-size: 1vw;
          transition: all 200ms ease-in-out;
          cursor: pointer;
          font-family: $font-family-regular;

          .MuiButtonBase-root {
            margin-right: 0.4vw;
            padding: 0;
            color: white;
          }

          &:hover {
            background: var(--tab-gray);
          }
        }
        .no-click {
          font-size: 1.2vw;
          padding-left: 0.8vw;
          padding-top: 0.4vw;
          padding-right: 0.8vw;
          padding-bottom: 0.4vw;
        }
      }
    }
  }
}

.only-bricks-played-page .tab-content .table .table-row {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  height: unset !important;
}

.only-bricks-played-page .tab-content {
  padding-bottom: 0 !important;

  .brick-links {
    padding: 0.2vw 0.6vw;
    font-size: 1.2vw;
    position: absolute;
    top: 2vh;
    right: 10vw;
    text-decoration: underline;
  }

  .table {
    width: 100%;
    overflow-y: scroll;
    .table-scroll {
      width: 102vw;
  
      .table-body {
        height: 40vh;
        overflow-y: scroll;
        height: calc(100vh - 5.834vw - 2vw - 2vh - 6.6vh - 0.4vw - 1.8vw - 0.1vh - 1.8vw) !important;
      }
    }
  }
}