@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.synthesis-page {
  h1 {
    @include tabletP {
      margin: 4vh 0;
      padding-left: 0 !important;
      display: block !important;
      text-align: center !important;
    }
  }

  .introduction-info {
    .intro-text-row {
      text-align: center;
    }
  }

  .synthesis-expansion-panel {
    background: white !important;

    .MuiButtonBase-root {
      padding-left: 10px;
      padding-bottom: 14px;

      .MuiExpansionPanelSummary-content {
        margin-top: 6px;
      }
    }
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .MuiTypography-root {
    width: 100% !important;
  }
}

.cuting-line {
  top: 0;
  margin-bottom: 0;
  margin-top: 11.7vh;
  position: absolute;
  margin-left: 4vw;
  margin-right: 3vw;
  border: 0.1vh solid var(--tab-gray);
  height: 0.1vh;
  border-left: 0;
  border-right: 0;
  background: var(--tab-gray);
  border-radius: 2vh;
  width: calc(100% - 7vw);
}
