@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.synthesis-page {
  h1 {
    @include tabletP {
      margin: 4vh 0;
      padding-left: 0 !important;
      display: block !important;
      text-align: center !important;
    }
  }

  .introduction-info {
    .intro-text-row {
      text-align: center;
    }
  }

  .synthesis-expansion-panel {
    background: white !important;

    .MuiButtonBase-root {
      padding-left: 10px;
      padding-bottom: 14px;

      .MuiExpansionPanelSummary-content {
        margin-top: 6px;
      }
    }
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-size: 16px/24px;
      font-family: $font-family-regular;
      margin-right: 5px;
    }
  }

  .MuiTypography-root {
    width: 100% !important;
  }
}

.cuting-line {
  top: 0;
  margin-bottom: 0;
  margin-top: 11.7vh;
  position: absolute;
  margin-left: 4vw;
  margin-right: 3vw;
  border: 0.1vh solid var(--tab-gray);
  height: 0.1vh;
  border-left: 0;
  border-right: 0;
  background: var(--tab-gray);
  border-radius: 2vh;
  width: calc(100% - 7vw);
}

.sorted-row {
  .synthesis-content {
    overflow-y: auto;
    width: 48vw;
    height: calc(100vh - 12vh - 2vw - #{$page-head-height});
    
    ul, li, ol {
      font-size: 1.25vw;
    }

    blockquote {
      border-left: 0.3vw solid var(--tab-gray);
      padding-left: 1.8vw;
    }

    table {
      color: var(--theme-dark-blue);
      @include phone_and_tabletP {
        font-size: 3.5vw;
      }
      @include tabletP {
        font-size: 1.05vw;
      }
    }
  }
}
