@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.synthesis-page {
  h1 {
    @include tabletP {
      margin: 4vh 0;
      padding-left: 0 !important;
      display: block !important;
      text-align: center !important;
    }
  }

  .synthesis-expansion-panel {
    background: white !important;

    .MuiButtonBase-root {
      padding-left: 10px;
      padding-bottom: 14px;

      .MuiExpansionPanelSummary-content {
        margin-top: 6px;
      }
    }
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-size: 16px/24px;
      @extend %fontFamilyRegular;
      margin-right: 5px;
    }
  }

  .MuiTypography-root {
    width: 100% !important;
  }

  &.mobile-synthesis-page {
    height: calc(100vh - 6vh) !important;
    position: relative;
    overflow-y: inherit !important;

    h1 {
      position: absolute !important;
      top: 0.2vw !important;
    }
  }
}

.cuting-line {
  top: 0;
  margin-bottom: 0;
  width: 46.5vw;
  margin-top: 11.7vh;
  position: absolute;
  margin-left: 4vw;
  margin-right: 3vw;
  border: 0.1vh solid var(--tab-gray);
  height: 0.1vh;
  border-left: 0;
  border-right: 0;
  background: var(--tab-gray);
  border-radius: 2vh;
  @include desktop {
    width: 53vw !important;
  }
}

.synthesis-content {
  padding-top: 2vh;
  padding-bottom: 4vh;
  overflow-y: auto;
  height: calc(100vh - 55.8vw);
  table {
    color: var(--theme-dark-blue);
  }

  @include desktop {
  }
  @include desktop {
    width: 53vw !important;
    height: calc(100vh - 12vh - 2vw) !important;
    // width: 46.5vw !important;
    // height: calc(100vh - 12vh - 2vw - #{$page-head-height}) !important;
    margin: 12vh 3vw 1vw 4vw;
  }

  @include phone_and_tabletP {
    padding: 0;
    position: fixed;
    top: 4.3vh;
    width: 96vw;
    height: calc(100% - 4.3vh - 160px) !important;
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
