@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";


.animated-brick-container {
  .absolute-assignment-title {
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 0.9vw;
    color: var(--theme-dark-blue);
  }
  .flex-brick-container {
    position: relative;
    height: calc(#{$bricks-height / 2.5});
    display: flex;
    align-items: center;
    transition: all 400ms ease-out !important;

    .publish-brick-container {
      min-width: 22vw;
      cursor: pointer;
      position: relative;
      border-radius: 0.95vw;
      margin-left: 0.9vw;
      margin-right: 0.9vw;
      overflow: hidden;
      height: calc(#{$bricks-height / 3});

      .level {
        position: absolute;
        z-index: 3;
        right: 1vh;
        top: 1vh;

        svg {
          $size: 3.5vh;
          width: $size;
          height: $size;
        }
      }

      .level>div {
        height: 4.5vh;
        width: 4.5vh;
        border-radius: 50%;
        font-size: 3vh;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
      }

      .hidden {
        opacity: 0;
      }
      .visible {
        animation: fadein 0.5s 0s forwards;
      }

      .bottom-description-color {
        height: 3vw;
        opacity: 0.8;
        background: var(--tab-gray);
      }

      .bottom-description-color,
      .bottom-description {
        color: var(--theme-dark-blue);
        height: 3vw;
        font-size: 1vw;
        letter-spacing: 1;
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      .scroll-block {
        height: 100%;
        width: 100%;
        overflow-y: scroll;
      }
      
      .p-cover-image {
        height: 100%;
        background: var(--tab-gray);
      }

      .p-cover-icon {
        background: var(--tab-gray);
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--theme-dark-blue);
      }
    }
  }
}