@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.user-preference-page .user-preference-container .radio-container svg, .user-preference-page .user-preference-container .radio-container input {
  padding: 0.4vw;
}

.user-preference-page .user-preference-container .radio-container svg, .user-preference-page .user-preference-container .radio-container {
  .MuiIconButton-label:hover {
    background: var(--theme-dark-blue-alpha3) !important;
    border-radius: 50%;
  }
}

.user-preference-page {
  background-color: var(--theme-dark-blue);
  color: var(--theme-dark-blue) !important;
  height: 100%;

  .user-preference-container {
    background-color: var(--white);
    padding: 4vh 6vw;

    border-radius: $main-panel-radius;

    position: relative;

    .MuiRadio-root {
      color: rgba(0, 0, 0, 0.54);
      color: var(--theme-dark-blue) !important;
    }

    .round-button {
      background: var(--theme-green) !important;
      svg {
        $padding: 0.7vw;
        padding: $padding;
        color: var(--white);
        height: calc(100% - #{$padding * 2}) !important;
        width: calc(100% - #{$padding * 2}) !important;
      }
    }

    .pointer {
      cursor: pointer;
    }

    h2 {
      text-transform: none !important;
      text-align: center !important;
      display: block !important;
      padding: 0 !important;
      width: 100%;
      font-size: 3.1vw !important;
      margin-top: 0vw;
      font-family: $font-family-black !important;
    }

    .user-preference-subtitle {
      font-family: $font-family-bold;
      padding: 0 !important;
      font-size: 2.1vw;
      margin-top: 2vh;
    }

    .radio-container {
      @extend %flexToYCenter;
      margin-top: 5vh;

      .MuiRadio-root {
        padding: 0;
        margin-right: 2vw;
      }

      svg,
      input {
        height: 2.8vw;
        width: 2.8vw;
      }

      .radio-text {
        font-size: 2.5vw !important;
        font-family: $font-family-bold !important;
      }
      &.disabled {
        color: rgba(0, 0, 0, 0.54) !important;
        .MuiIconButton-label {
          opacity: 0.5;
          color: rgba(0, 0, 0, 0.54) !important;
        }
      }
    }

    .inner-radio-text {
      margin-left: 5.8vw;
      font-size: 1.1vw;

      &.last-one {
        font-family: $font-family-regular-italic;
        margin-top: 5vh;

        .bold {
          font-family: $font-family-bold-italic;
        }
      }
    }

    .user-preference-next {
      position: absolute;
      bottom: 3vw;
      right: 3vw;
      left: auto;
      display: inline;
    }
  }

  @include phone_and_tabletP {
    .user-preference-container {
      border-radius: 8vw;
      height: 80%;
      width: 95%;
      h2 {
        font-size: 5.5vw !important;
      }
      .user-preference-subtitle {
        margin-top: 1vh;
        font-size: 4vw;
        text-align: center;
      }
      .radio-container {
        margin-top: 3vh;
        .input, svg {
          height: 6vw;
          width: 6vw;
        }
      }
      .radio-container .radio-text {
        font-size: 5vw !important;
      }
      .inner-radio-text {
        margin-left: 8vw;
        font-size: 3.5vw;
      }
      .user-preference-next {
        height: 7vh;
        width: 7vh;
      }
    }
  }
}
