@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.main-page-menu {
  display: block;
  flex-wrap: wrap;
  margin-left: auto;
  box-sizing: border-box;
  width: 27vw;
  height: $page-head-height;
  right: 0;
  position: fixed;
  background: var(--theme-light-blue);
  @include transitionAll300;
  border-bottom-left-radius: 2vw;

  &.menu-expanded {
    width: 27vw;
    border-bottom-left-radius: 0;
  }

  &.notification-expanded {
    width: $notification-width;
    transition: all 300ms ease-in;
  }
}

.main-page-menu {
  padding-top: 1.1vw;

  .menu-buttons {
    padding-bottom: 1.05vw;
    margin: auto;
    display: flex;
    margin-right: 0;
    width: 100%;
    margin-top: 3px;
    flex-wrap: wrap;

    .bell-button {
      width: 5vw;
      margin: auto;
    }

    .more-button {
      width: 5vw;
      margin: auto;
    }

    .brill-intro-container {
      display: flex;
    }

    .brills-number {
      margin-left: 1vw;
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      height: 3.68vw;
      color: white;
    }

    .brills-icon {
      width: 7vw;
      margin-right: 1vw;
      height: 3.68vw;
    }
  }

  &.notification-expanded {
    height: auto;
  }
}

@include phone_and_tabletP {
  .main-page-menu {
    position: absolute;
    width: 42vw;
    height: 60px;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 6vw;
    z-index: 1;

    .more-button {
      margin-right: 4vw;
    }

    .bell-button {
      margin-right: 7.2vw;
    }
  }

  .menu-expanded {
    border-top-left-radius: 0;
    width: 45vw !important;
  }

  .notification-expanded {
    border-top-left-radius: 0;
    width: 100vw !important;
  }

  .manage-classes {
    font-size: 25px;

    .svg {
      width: 200px;
      height: 120px;
    }
  }
}

.main-page-menu.menu-without-credits {
  border-bottom-left-radius: 0 !important;

  .no-credits-container {
    height: 7.8vw;
    font-size: 1.38vw;
    color: var(--theme-dark-blue);
    background: white;
    border-bottom-left-radius: 2vw !important;
    .text-container-cd43 {
      font-family: $font-family-regular;
      padding-left: 0.8vw;
      padding-right: 0.8vw;
    }
    .btn.green {
      cursor: pointer;
      transition: all 300ms ease-in-out;
      margin-top: 0.4vw;
      color: white;
      width: 60%;
      padding: 0.3vw;
      background: var(--theme-green);

      &:hover {
        background: var(--theme-dark-blue);
      }
    }
  }
}