@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.main-page-menu {
  display: block;
  flex-wrap: wrap;
  margin-left: auto;
  box-sizing: border-box;
  width: 16vw;
  height: $page-head-height;
  right: 0;
  position: fixed;
  background: var(--theme-light-blue);
  @extend %transitionAll300;
  border-bottom-left-radius: 2vw;
  z-index: 9999;
  padding-top: 1.1vw;
  &.menu-expanded {
    width: 16vw;
    border-bottom-left-radius: 0;
  }

  &.notification-expanded {
    width: $notification-width;
    transition: all 300ms ease-in;
  }
  .menu-buttons {
    padding-bottom: 1.05vw;
    margin: auto;
    display: flex;
    margin-right: 0;
    width: 11vw;
    @include phone_and_tabletP {
      width: 42vw;
      margin-top: 3px;
      display: block;
      flex-wrap: wrap;
      .bell-button {
        width: 56%;
        margin: auto;
      }
      .more-button {
        width: 40%;
        margin: auto;
      }
    }
  }
  &.notification-expanded {
    height: auto;
  }
}
