@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.main-page-menu {
  display: block;
  flex-wrap: wrap;
  margin-left: auto;
  box-sizing: border-box;
  width: 20vw;
  height: $page-head-height;
  right: 0;
  position: fixed;
  background: var(--theme-light-blue);
  @extend %transitionAll300;
  border-bottom-left-radius: 2vw;

  &.menu-expanded {
    width: 20vw;
    border-bottom-left-radius: 0;
  }

  &.notification-expanded {
    width: $notification-width;
    transition: all 300ms ease-in;
  }
}

.main-page-menu {
  padding-top: 1.1vw;
  .menu-buttons {
    padding-bottom: 1.05vw;
    margin: auto;
    display: flex;
    margin-right: 0;
    width: 19vw;
    @include phone_and_tabletP {
      width: 42vw;
      margin-top: 3px;
      display: block;
      flex-wrap: wrap;
      .bell-button {
        width: 56%;
        margin: auto;
      }
      .more-button {
        width: 40%;
        margin: auto;
      }
    }

    .brill-intro-container {
      display: flex;
    }

    .brills-number {
      margin-left: 1vw;
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      height: 3.68vw;
      color: white;
    }
    .brills-icon {
      width: 7vw;
      margin-right: 1vw;
      height: 3.68vw;
    }
  }
  &.notification-expanded {
    height: auto;
  }
}

@include phone_and_tabletP {
  .main-page-menu {
    position: absolute;
    width: 42vw;
    height: 60px;
    bottom: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 6vw;
    z-index: 1;

    .more-button {
      margin-right: 4vw;
    }
    .bell-button {
      margin-right: 7.2vw;
    }
  }
  .menu-expanded {
    border-top-left-radius: 0;
    width: 45vw !important;
  }
  .notification-expanded {
    border-top-left-radius: 0;
    width: 100vw !important;
  }
  .manage-classes {
    font-size: 25px;
    .svg {
      width: 200px;
      height: 120px;
    }
  }
}
