@import '../../../assets/sass/partials/variables';
@import '../../../assets/sass/partials/mixins';
@import '../../../assets/sass/partials/extensions';

.user-list-page,
.user-profile-page,
.play-preview-pages,
.bricks-list-page,
.dashboard-page,
.back-to-work-page {
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  font-family: $font-family-light;
	@include phone_and_tabletP {
		background-color: var(--light-gray);
	}
  .search-input {
    width: 100%;
  }
  .upper-part {
    position: relative;
    min-height: 100%;
		background: var(--theme-dark-blue);
		@include phone_and_tabletP {
			background-color: var(--light-gray);
			display: flex;
			flex-direction: column-reverse;
			justify-content: flex-end;
		}
		.page-header {
			@include phone_and_tabletP {
				flex-wrap: inherit;
				height: 6vh;
				z-index: 999998;
				padding: 0.7vh 4.5vw 0;
				position: relative;
				align-items: center;
				justify-content: center;
				&.active {
					z-index: 999999;
				}
			}
			&:before,
			&:after {
				@include phone_and_tabletP {
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
				}
			}

			&:before {
				@include phone_and_tabletP {
					content: '';
					background: #193266;
					z-index: 0;
					border-radius: 3.5vh 3.5vh 0vh 0vh;
				}
			}
			&:after {
				@include phone_and_tabletP {
					content: '';
					background-color: var(--white);
					z-index: -1;
				}
			}
		}
    h3 {
      color: white;
      font-weight: normal;
      margin-top: 2.5vh;
      margin-left: 1.05vw;
      margin-bottom: 1vh;
      letter-spacing: 0.27vw;
      font-size: 1.3vw;
    }
    .users-pagination,
    .bricks-pagination {
      height: max-content;
      font-size: 0.9vw;
      font-family: $font-family-regular;
      color: var(--theme-dark-blue);
      @include phone_and_tabletP {
        display: none;
      }
      .gray {
        color: var(--gray);
      }
      .left-pagination {
        padding-top: 0.35vh;
        padding-left: 0.15vw;
        line-height: 1.4;
      }
    }
    .bottom-next-button {
      bottom: 1vh;
      color: white;
      > div {
        position: relative;
        .prev-button {
          position: absolute;
          top: -0.6vh;
          margin-left: 2.8vh;
          left: -4vw;
        }
        .next-button {
          position: absolute;
          left: -4vw;
          top: 1vh;
        }
        .active:hover {
          cursor: pointer;
          color: var(--theme-dark-blue) !important;
        }
        svg {
          height: 4.7vh;
          width: 4.7vh;
          color: var(--gray);
        }
      }
    }
    .brick-hover {
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      height: 32vh !important;
      .right-color-column {
        width: 0;
      }
    }
    .bigger-hover:hover {
      height: 35.4vh;
      .hover-icons-row {
        height: 11.2vh;
      }
    }

    .next-bricks {
      position: absolute;
      right: 0;
      color: white;
      top: 2vh;
    }
	}
	.zEWidget-launcher {
		@include phone_and_tabletP {
			background-color: red !important;
			left: 5% !important;
			bottom: -1vh !important;
			width: 17vw !important;
			opacity: 0 !important;
		}
	}
}
