@import "_variables";

.user-list-page,
.user-profile-page,
.bricks-list-page,
.back-to-work-page {
  .page-header {
    height: 10.5vh;

    .logout-container {
      height: 10.5vh;
      border-bottom-left-radius: 2vw;
      background: $light-blue;
      padding-top: 1vh;

      .search-button {
        cursor: pointer;
        display: block;
        margin-left: 1.4vw;
        height: 7.9vh;
        width: 7.9vh;
        margin-top: 0.1vh;
        margin-right: 0vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/images/brick-list/search.png);
        transition: all 0.2s ease-in-out;
        transform-origin: 70% 50%;
      }
      .search-button:hover {
        background-image: url(/images/brick-list/search-hover.png);
      }

      .search-input {
        display: block;
        border: none;
        background-color: $light-blue !important;
        font-family: $font-family-regular;
        font-size: 1.7vw;
        border: red;
        border-radius: 12px;
        border: none !important;
        margin-left: 1.5vw;
        margin-top: 1vh;
        letter-spacing: 0.045vw;
        height: 5.5vh;
        width: 40vw;
        padding-right: 2px;
        color: #acacac;
      }

      .bell-button {
        cursor: pointer;
        margin-top: 0.53vh;
        display: block;
        color: white;
        text-align: center;
        height: 5.3vh;
        width: 4.8vh;
        margin-top: 1.6vh;
        margin-right: 3.5vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url(/images/brick-list/bell.png);
        transition: all 0.2s ease-in-out;
        transform-origin: 50% 50%;

        > span {
          margin-top: 1vh;
        }
      }

      .bell-button:hover {
        background-image: url(/images/brick-list/bell-hover.png);
      }

      .more-button {
        cursor: pointer;
        margin-top: 1.7vh;
        margin-right: 2.2vw;
        width: 6.7vh;
        display: inline-block;
        background-color: $orange;

        -webkit-mask: url("/images/more-horizontal.svg") no-repeat 50% 50%;
        mask: url("/images/more-horizontal.svg") no-repeat 50% 50%;
        -webkit-mask-size: cover;
        mask-size: cover;

        transition: all 0.2s ease-in-out;
        transform-origin: 50% 50%;
      }

      .more-button:hover {
        transform: scale(1.4);
      }
    }
  }
}
