@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.main-listing,
.play-preview-pages {
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  @include phone_and_tabletP {
    background-color: var(--solitude-light);
  }
  .search-input {
    width: 100%;
  }
  .page-navigation {
    position: relative;
    @extend %floatToXCenter;
    top: 0.5vh;
    width: 100%;
    z-index: 9999;
    @include phone_and_tabletP {
      @extend %flexCenter;
    }
    @include tabletP {
      display: none;
    }
    .glasses {
      width: 9vw;
      height: 3vh;
    }
    .breadcrumbs {
      @extend %floatToYCenter;
      right: 1vw;
      background-color: var(--white);
      color: var(--theme-light-blue);
      padding: 0.4vw 2vw;
      border-radius: 40vw;
      font-family: $font-family-regular;
      font-size: 3.5vw;
    }
  }
  .upper-part {
    position: relative;
    @include phone_and_tabletP {
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 1;
    }
    .page-header {
      display: flex;
      @include phone_and_tabletP {
        padding: 2vw 4vw;
        border-radius: 0;
        background: var(--theme-light-blue);
        flex-wrap: inherit;
        z-index: 999998;
        position: relative;
        align-items: center;
        justify-content: center;
        height: 60px;
        &.active {
          z-index: 999999;
        }
      }
      @include tabletP {
        justify-content: flex-end;
      }
      .logout-container {
        display: flex;
        align-items: center;
        @include phone_and_tabletP {
          margin: 0;
          width: 100% !important;
          flex-wrap: inherit !important;
          justify-content: space-between;
        }
        @include tabletP {
          height: $page-head-height;
          width: calc(93.16vw - 1vw) !important;
          margin-left: 1vw;
          border-bottom-left-radius: 2vw;
          background: var(--theme-light-blue);
          jusify-content: flex-end;
        }

        .search-container {
          display: flex;
          align-items: center;
          @include phone_and_tabletP {
            display: flex;
            &.active {
              width: calc(100% - 17vw);
              margin-left: 17vw;
              position: absolute;
              right: 0;
            }
          }
          @include tabletP {
            width: 70%;
            height: 3.698vw;
          }

          .open-search,
          .close-search {
            @include phone_and_tabletP {
              display: flex;
              width: 45px;
              height: 45px;
            }
            @include tabletP {
              display: none;
            }
          }
          .search-area {
            width: 100%;
            @include phone_and_tabletP {
              display: none;
              z-index: 1;
              transition: all 300ms;
              &.active {
                display: flex;
              }
            }
            .search-input {
              display: block;
              background-color: transparent;
              font-family: $font-family-regular;
              border: none;
              border-radius: 12px;
              letter-spacing: 0.045vw;
              width: 100%;
              color: var(--dark-gray);
              padding: 0.7vh 0.6vw;
              @include phone_and_tabletP {
                font-size: 3.7vw;
              }
              @include tabletP {
                font-size: 1.7vw;
              }
            }
          }
        }
        .action-container {
          justify-content: flex-end;
          @include phone_and_tabletP {
            width: 100%;
            display: flex;
          }
          @include tabletP {
            width: 30%;
          }
        }

        .help-button {
          opacity: 0;
        }
        .search-button {
          @include tabletP {
            margin: 0 0 0 1.4vw;
          }
          &:hover {
            .svg {
              stroke-width: 2;
            }
          }
        }
        .user-button {
          cursor: pointer;
          margin-top: 0.635vh;
          display: block;
          height: 4.3vh;
          width: 4.1vh;
          margin-right: 1.9vw;
          background-size: 100% 100%;
          background-repeat: no-repeat;
          background-position: center;
          background-image: url(/images/brick-list/user.png);
          transition: all 0.2s ease-in-out;
          transform-origin: 50% 50%;
          &:hover {
            background-image: url(/images/brick-list/user-hover.png);
            transform: scale(1.4);
          }
        }
      }
    }
    h3 {
      color: white;
      font-weight: normal;
      margin-top: 2.5vh;
      margin-left: 1.05vw;
      margin-bottom: 1vh;
      letter-spacing: 0.27vw;
      font-size: 1.3vw;
    }
    .brick-hover {
      position: absolute;
      z-index: 2;
      left: 0;
      width: 100%;
      height: 32vh !important;
      .right-color-column {
        width: 0;
      }
    }
    .bigger-hover:hover {
      height: 35.4vh;
    }

    .next-bricks {
      position: absolute;
      right: 0;
      color: white;
      top: 2vh;
    }
  }
  .zEWidget-launcher {
    @include phone_and_tabletP {
      background-color: red !important;
      left: 5% !important;
      bottom: -1vh !important;
      width: 17vw !important;
      opacity: 0 !important;
    }
  }
  .users-pagination,
  .bricks-pagination {
    height: $pagination-size;
    font-size: 0.9vw;
    font-family: $font-family-regular;
    color: var(--theme-dark-blue);
    @include phone_and_tabletP {
      display: none;
    }
    .gray {
      color: var(--gray);
    }
    .left-pagination {
      padding: 0 1.18vw;
      line-height: 1.4;
    }
    .bottom-next-button {
      bottom: 1vh;
      position: relative;
      color: var(--gray);
      @extend %flexCenter;
      .btn {
        height: 4.7vh;
        width: 4.7vh;
        cursor: pointer;
        &.active:hover {
          .svg {
            color: var(--theme-dark-blue);
          }
        }
      }
      > div {
        display: flex;
        justify-content: center;
      }
    }
  }
}

.back-to-work-page {
  .sorted-row {
    @include phone_and_tabletP {
      height: $back-to-work-height-mobile-view;
    }
    .sort-and-filter-container {
      @include phone_and_tabletP {
        height: $back-to-work-height-mobile-view;
      }
    }
    .brick-row-container {
      @include phone_and_tabletP {
        height: calc(100vh - 6vh);
      }
    }
    .bricks-list-container {
      @include phone_and_tabletP {
        height: calc(100vh - 12vh);
      }
    }
  }
}

.main-listing ~ .beta-text {
  color: var(--theme-dark-blue) !important;
}

@media only screen and (max-width: 1279px) and (min-width: 960px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 12px;
          .sort-by {
            padding-top: 5px;
          }
          .sort-element {
            padding-top: 6px;
            font-size: 12px;
          }

          .expanded-icon {
            height: 24px !important;
            width: 24px !important;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 959px) and (min-width: 600px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 9px;
          .sort-by {
            padding-top: 1px;
          }
          .sort-element {
            padding-top: 2px;
            font-size: 8px;
          }

          .expanded-icon {
            height: 12px !important;
            width: 12px !important;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 599px) {
  .bricks-list-page {
    .bricks-sort {
      .sort-and-search-row {
        .sort-bricks-by {
          font-size: 7px;
          .sort-by {
            padding-top: 1px;
          }
          .sort-element {
            padding-top: 2px;
            font-size: 7px;
          }

          .expanded-icon {
            height: 10px !important;
            width: 10px !important;
          }
        }
      }
    }
  }
}

.header-btn {
  cursor: pointer;
  display: inline-block;
  @include phone_and_tabletP {
    width: 45px;
    height: 45px;
  }
  @include tabletP {
    margin: 0 2vw 0 0;
    width: 3.698vw;
    height: 3.698vw;
  }
  .svg {
    width: 100% !important;
    height: 100% !important;
    color: var(--theme-orange);
    stroke-width: 1;
  }

  &.more-button {
    &:hover {
      .svg {
        stroke-width: 2;
      }
    }
  }
}

// mobile
.mainPage ~ .beta-text {
  @include phone_and_tabletP {
    opacity: 0;
    display: none;
  }
}
