@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.ending-page {
  h1 {
    padding-left: 0 !important;
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .score-precentage {
    margin-top: 3vh;
    font-family: $font-family-black;
    color: var(--theme-dark-blue);
    font-size: 12.5vh;
    line-height: 1;
    overflow: hidden;
  }

  .intro-header {
    font-size: 1.7vw !important;
  }

  .blue {
    color: var(--theme-dark-blue);
  }
}
