@import '_variables';

.choose-one-live {
  .choose-choice {
    color: $dark-blue;
    text-align: center;
    text-transform: none !important;
    border-radius: 0 !important;
    width: 100%;
    font-size: 1vw !important;
    padding-top: 10px;
    padding-bottom: 10px;

    img {
      width: 100%;
    }
  }

  .choose-choice {background: $tab-grey}

  .choose-choice.active {
    border: 5px solid white;
  }

  .choose-choice.correct {
    background: $light-green !important;

    .question-hint {
      background: white;
    }
  }
  
  .question-hint-global {
    margin-top: 10px;
  }
}