@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.choose-one-live {
  .MuiButton-label {
    div {
      display: inline;
      margin: 0 !important;
    }
    p {
      margin: 0 !important;
    }
  }
  .choose-choice {
    font-family: $font-family-regular;
    margin-top: 5px;
    margin-bottom: 5px;
    color: $dark-blue;
    text-align: center;
    text-transform: none !important;
    border-radius: 0 !important;
    width: 100%;
    font-size: 1vw !important;
    padding-top: 14px;
    padding-bottom: 14px;

    img {
      width: 100%;
    }
  }

  .choose-choice {background: $tab-grey}

  .image-choice {
    background: inherit;
    border: 4px solid $lighter-grey !important;
    width: 100%;
    padding: 0;
  }

  .choose-choice.active {
    background: $blue;
  }

  .choose-choice.correct {
    background: $light-green;

    .question-hint {
      background: white;
    }
  }

  .choose-choice.wrong {
    background: $orange;
  }

  .question-hint-global {
    margin-top: 10px;
  }
}