@import '../../../assets/sass/partials/variables';
@import '../../../assets/sass/partials/mixins';
@import '../../../assets/sass/partials/extensions';

.choose-user-page {
  .mobile-choose-user {
    background: $mobile-background;
    height: 100%;

    .first-mobile-row {
      padding-top: 1.4vh;
      height: 32.65%;
      .first-col {
        width: 9.05%;
        height: 100%;
        border-top-right-radius: $mobile-col-radius;
        border-bottom-right-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
      .second-col {
        margin-left: 4.6%;
        width: 86.35%;
        height: 100%;
        border-top-left-radius: $mobile-col-radius;
        border-bottom-left-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
    }

    .second-mobile-row {
      margin-top: 1.85vh;
      height: 31.4%;
      .first-col {
        width: 59.2%;
        height: 100%;
        border-top-right-radius: $mobile-col-radius;
        border-bottom-right-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
      .second-col {
        margin-left: 3.8%;
        width: 37%;
        height: 100%;
        border-top-left-radius: $mobile-col-radius;
        border-bottom-left-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
    }
    .third-mobile-row {
      margin-top: 1.86vh;
      height: 31.4%;
      .first-col {
        width: 20.3%;
        height: 100%;
        border-top-right-radius: $mobile-col-radius;
        border-bottom-right-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
      .second-col {
        margin-left: 4.6%;
        width: 75.1%;
        height: 100%;
        border-top-left-radius: $mobile-col-radius;
        border-bottom-left-radius: $mobile-col-radius;
        background: $mobile-col-color;
      }
    }
  }
  .logo-mobile-image {
    margin-top: 10vh;
    height: 25vh;
  }
  .logo-mobile-text-image {
    margin-top: 3.5vh;
    margin-bottom: 2.5vh;
    height: 5.45vh;
  }

  .mobile-arrow {
    margin-top: -1.2vh;
    height: 5.6vh;
    width: 20vw;
    color: $mobile-arrow-color;
    margin-bottom: 1.3vh;
  }
  .user-type-mobile-btn {
    padding: 0vh 0;
    background-color: $orange;
    color: white;
    margin-top: 1.55vh;
    margin-bottom: 1vh;
    border-radius: 1vh;
    width: 87.7%;
    font-size: 5.7vh;

    span {
      font-family: "Brandon Grotesque Light";
      font-weight: 200 !important;
      line-height: 1.57;
      padding-bottom: 0.1vh;
    }
  }
  .user-type-mobile-btn:hover {
    background-color: $orange;
  }
}
