@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
  opacity: 0;
}

.live-page {
  .edited-step-icon {
    color: var(--black-blue);
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid var(--black-blue);
  }
}

.lines-container,
.words-container {
  font-size: 1.25vw !important;
  line-height: 1.5 !important;

  @include phone_and_tabletP {
    font-size: 4.5vw !important;
  }
}

.post-play-page {
  .lines-container,
  .words-container {
    font-size: 0.85vw !important;
  }
}

.words-container {
  line-height: 0.8 !important;
}

.words-container.break-lines {
  line-height: 1.5 !important;

  .word {
    display: inline-block !important;
  }
}

.words-container.lines-inline {
  .word {
    white-space: nowrap;
  }
}
