@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.MuiStepConnector-root.MuiStepConnector-horizontal.MuiStepConnector-alternativeLabel {
  opacity: 0;
}
.live-page {
  @include phone_and_tabletP {
    height: calc(100% - 60px) !important;
    overflow-y: hidden !important;
  }
  .introduction-page {
    @include phone_and_tabletP {
      height: calc(100vh - 60px - 19vw) !important;
    }
    .question-index-container,
    .question-title {
      @include phone_and_tabletP {
        display: none;
      }
    }
  }
  .edited-step-icon {
    color: var(--black-blue);
    border-radius: 100%;
    font-size: 16px !important;
    padding: 5px;
    border: 2px solid var(--black-blue);
  }
  .ck-content {
    @include phone_and_tabletP {
      font-size: 4vw;
    }
  }
}
.lines-container, .words-container {
  font-size: 1vw !important;
  line-height: 1.5 !important;

  @include phone_and_tabletP {
    font-size: 4.5vw !important;
  }
}

.post-play-page {
  .lines-container, .words-container {
    font-size: 0.85vw !important;
  }
}

.words-container {
  line-height: 0.8 !important;
}

.words-container.break-lines {
  line-height: 1.5 !important;
  .word {
    display: inline-block !important;
  }
}
