@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.user-profile-page {
  background: var(--theme-dark-blue);
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: $font-family-regular;

  input:-webkit-autofill {
    background: var(--solitude-light) !important;
  }
  input:autofill {
    background: var(--solitude-light) !important ;
  }

  .phone-question-preview-box {
    top: $page-head-height;
    height: calc(100vh - #{$page-head-height}) !important;
    width: 27.5vw;

    @include phone_and_tabletP {
      display: none;
    }
  }

  .invalid-bottom-text {
    margin-left: 0.6vw;
    color: var(--theme-orange);
  }

  .type-invalid {
    margin-bottom: 0 !important;
  }

  .profile-block {
    position: relative;
    background: var(--solitude-light);
    height: 85.9vh;
    margin-top: 3.6vh;
    width: 72.5vw;
    border-top-right-radius: 2vw;
    overflow-y: auto;
    padding-bottom: 10vh;

    @include phone_and_tabletP {
      width: 100%;
      margin: 0;
      border-radius: 0;
      height: calc(100vh - 6vh);
    }

    .profile-header {
      padding-top: 3.1vh;
      margin-left: 1.08vw;
      font-size: 5.4vw;
      @extend %textCenter;
      font-family: $font-family-bold;
      color: var(--theme-dark-blue);
      line-height: 1;
      text-transform: capitalize;

      @include phone_and_tabletP {
        font-size: 13.4vw;
        display: flex;
        flex-direction: column;
      }

      .profile-username {
        @include phone_and_tabletL {
          font-size: 5vw;
        }

        @include tabletL {
          font-size: 2vw;
        }

        letter-spacing: 0.25vw;
        margin-left: 1.08vw;
      }
    }

    .save-button-container {
      position: fixed;
      top: calc(5.834vw + 3.6vh + 1vh);
      left: 65.5vw;

      @include phone_and_tabletP {
        position: fixed;
        bottom: 10vh;
        right: 5vw;
        top: inherit;
        z-index: 999;
      }
    }

    .profile-fields {
      display: flex;
      justify-content: space-between;
      padding-left: 4.5vw;
      padding-right: 4.2vw;

      @include phone_and_tabletP {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .profile-image-container {
        position: relative;
        padding-top: 5vh;
        width: 11vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include phone_and_tabletP {
          width: max-content;
        }

        .profile-image {
          @extend %textCenter;
          height: 11vw;
          width: 11vw;
          background: var(--tab-gray) 0% 0% no-repeat padding-box;
          border: 0.25vw solid var(--solitude-light);
          box-shadow: $base-shadow;
          border-radius: 50%;

          @include phone_and_tabletP {
            height: 35vw;
            width: 35vw;
          }

          .svg {
            height: 7.8vw;
            width: 7.8vw;

            @include phone_and_tabletP {
              height: 25vw;
              width: 25vw;
            }
          }
        }

        .real-profile-image {
          height: 97%;
          width: 97%;
          border-radius: 50%;
        }

        .add-image-button {
          width: 4vw;
          height: 4vw;
          z-index: 100;
          position: absolute;
          background-color: var(--theme-dark-blue);
          bottom: -2vh;
          right: 0vw;
          border-radius: 50%;
          cursor: pointer;
          @extend %transitionAll300;

          @include phone_and_tabletP {
            height: 13vw;
            width: 13vw;
          }

          .MuiIconButton-label {
            margin: 0;
          }

          .svg {
            width: 2vw;
            height: 2vw;

            @include phone_and_tabletP {
              height: 8vw;
              width: 8vw;
            }
          }

          &.remove-image {
            background-color: var(--theme-orange);
            transform: rotate(45deg);
          }
        }

        .status-container {
          margin-top: 2.6vh;
          display: flex;
          align-items: center;
          justify-content: center;

          .svg {
            color: #30c474;
            font-size: 2.35vw;
            @extend %removePosition;
          }

          >span {
            margin-left: 0.45vw;
            color: var(--theme-dark-blue);
            font-size: 1.5vw;

            @include phone_and_tabletL {
              font-size: 5vw;
            }
          }
        }
      }

      .profile-inputs-container {
        padding-top: 5.1vh;
        width: 25vw;
        margin: 0 0.5vw 0 1vw;

        @include phone_and_tabletP {
          width: 100%;
        }

        .MuiSvgIcon-root,
        .MuiCheckbox-root,
        .MuiFormControlLabel-root,
        .MuiFormControlLabel-label {
          color: var(--theme-dark-blue) !important;
          font-family: $font-family-regular;
        }

        input {
          line-height: 1.45;
        }

        .password-container {
          position: relative;
          .button-container {
            position: absolute;
            top: 0;
            right: 0.5vw;
            height: calc(3.6vh + 2.1vw);
            display: flex;
            align-items: center;
            button {
              border-radius: 0.6vw;
              height: 1.7vw;
              font-size: 1.1vw;
              font-family: $font-family-regular;
              color: var(--theme-dark-blue);
              padding-left: 0.6vw;
              padding-right: 0.6vw;
              border: none;
              outline: none;
              background: var(--tab-gray);
            }
          }
          .confirm-container {
            svg {
              cursor: pointer;
              height: 2vw;
              width: 2vw;
            }
            .start {
              position: absolute;
              bottom: -2.4vw;
              left: 0.5vw;
              color: var(--theme-green);
            }
            .end {
              position: absolute;
              bottom: -2.4vw;
              right: 0.4vw;
              stroke-width: 3;
              color: var(--theme-orange);
            }
          }
        }
      }

      .profile-roles-container {
        width: 22vw;

        @include phone_and_tabletP {
          width: 100%;
        }

        &.preference-container {
          margin-right: 0.5vw;
        }

        &.roles-container {
          margin-left: 0.5vw;
        }

        .roles-title {
          height: 5.1vh;
          width: 100%;
          @extend %textCenter;
          font-size: 1.82vw;
          color: var(--theme-dark-blue);
          font-family: $font-family-bold;
          line-height: 1.41;

          @include phone_and_tabletP {
            font-size: 6vw;
          }
        }

        .roles-box {
          min-height: calc(6.8vw + 13.2vh);
          width: 100%;
          border-radius: 1.7vh;
          box-shadow: $base-shadow;
          padding: 1.15vw;

          @include phone_and_tabletP {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
          }

          @extend %radioBlue;

          .first-column {
            margin-right: 2vw;
          }

          .MuiGrid-item {
            width: 100%;

            .MuiSvgIcon-root {
              color: var(--theme-dark-blue);
              font-size: 1.55vw;

              @include phone_and_tabletP {
                font-size: 5vw;
              }
            }

            .MuiIconButton-root {
              padding: 0.5vw !important;
            }

            .MuiFormControlLabel-label {
              margin-left: 0.1vw;
              font-size: 1.45vw;
              color: var(--theme-dark-blue);
              font-family: $font-family-regular;

              @include phone_and_tabletP {
                font-size: 4vw;
              }
            }

            .MuiFormControlLabel-root {
              margin: 0;
            }

            .disabled {
              .MuiSvgIcon-root {
                color: #a6acaf;
              }

              .MuiTypography-root {
                color: #a6acaf;
              }
            }
          }
        }
      }
    }

    .big-input-container {
      margin-top: 2.3vh;
      padding-left: 4.5vw;

      @include tabletL {
        width: 68.25vw;
      }

      @include phone_and_tabletL {

        width: calc(100% - 4.5vw);
      }

      .MuiAutocomplete-root {
        margin-bottom: 0 !important;
      }

      .MuiAutocomplete-tag {
        font-family: $font-family-regular;
        color: var(--theme-dark-blue);
        background-color: var(--tab-gray);

        @include phone_and_tabletL {
          font-size: 4vw;
        }

        @include tabletL {
          font-size: 1vw;
        }
      }

      .MuiInputBase-input {
        &::-webkit-input-placeholder {
          font-size: 5;
        }
      }

      .MuiChip-deleteIcon {
        color: var(--theme-orange);
      }

      .MuiInput-underline:after {
        display: none !important;
      }

      textarea {
        width: 100%;
        height: 15vh;
        background: var(--solitude-light);
        color: var(--theme-dark-blue);
        border: none;
        border-radius: 0.5vw;
        box-shadow: $base-shadow;
        padding-top: 0;
        padding-left: 0.65vw;
        max-height: 18vh;
        font-size: 1.45vw;

        @include phone_and_tabletL {
          font-size: 4vw;
        }
      }

      .MuiAutocomplete-hasPopupIcon {
        .MuiAutocomplete-endAdornment {
          top: 0;
        }
      }
    }

    .centered {
      width: 4.2vw;

      .red-circle {
        width: 1.9vw;
        height: 1.9vw;
        padding: 0.3vw;
        border-radius: 50%;
        background: var(--theme-orange);
        color: white;
        stroke-width: 1.5;
        transition: all 0.4s ease-out;
        opacity: 1;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }

  .profile-phone-preview {
    >div {
      >div {
        height: 39.5vw;
      }
    }

    .phone-question-preview {
      top: auto !important;
      right: 1.8% !important;
    }

    .custom-component {
      background-color: white;
    }
  }
}
