@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.user-profile-page {
  background: var(--theme-dark-blue);
  overflow: hidden;
  height: 100%;
  width: 100%;
  font-family: $font-family-regular;

  input:-webkit-autofill {
    background: var(--off-white) !important;
  }
  input:autofill {
    background: var(--off-white) !important ;
  }

  .phone-question-preview-box {
    top: $page-head-height;
    height: calc(100vh - #{$page-head-height}) !important;
    width: 27.5vw;

    @include phone_and_tabletP {
      display: none;
    }
  }

  .invalid-bottom-text {
    margin-left: 0.6vw;
    color: var(--theme-orange);
  }

  .type-invalid {
    margin-bottom: 0 !important;
  }

  .profile-block {
    position: relative;
    background: var(--white);
    height: 85.9vh;
    width: 72.5vw;
    overflow-y: auto;

    @include phone_and_tabletP {
      width: 100%;
      margin: 0;
      border-radius: 0;
      height: calc(100vh - 6vh);
    }

    .profile-header {
      padding-top: 2vw;
      font-size: 2vw;
      font-family: $font-family-bold;
      color: var(--theme-dark-blue);
      line-height: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-left: calc(2vw);
      width: 18vw;

      > div {
        text-transform: capitalize;
      }

      svg {
        margin-left: 1vw;
        stroke-width: 1.5;
        width: 4.6vw;
        height: 4.6vw;
      }

      @include phone_and_tabletP {
        font-size: 13.4vw;
        display: flex;
        flex-direction: column;
      }

      .profile-username {
        @include phone_and_tabletL {
          font-size: 5vw;
        }

        @include tabletL {
          font-size: 2vw;
        }

        letter-spacing: 0.25vw;
        margin-left: 1.08vw;
      }
    }

    .absolute-top-container {
      position: absolute;
      height: calc(5vw);
      top: 0;
      right: 5vw;

      .brills-number {
        margin-right: 1vw;
        font-size: 1.3vw;
        color: var(--theme-dark-blue);
        font-family: $font-family-bold;
      }

      .brill-coin-img {
        position: relative;
        width: 3vw;
        height: 3vw;

        margin-right: 1.2vw;

        img {
          width: 100%;
          height: 100%;
        }

        svg {
          position: absolute;
          top: 22.5%;
          left: 22.5%;
          color: var(--theme-orange);
          width: 55%;
          height: 55%;
        }
      }
    }


    .absolute-library-link {
      cursor: pointer;
      position: relative;
      margin-right: 1.2vw;
      border-radius: 50%;
      background: var(--theme-dark-blue);
      color: white;

      width: 3vw;
      height: 3vw;
      
      svg {
        width: 70%;
        height: 70%;
      }
      .css-custom-tooltip {
        z-index: 100;
        display: none;
        top: 3vw;
        font-family: $font-family-bold;
      }
      &:hover {
        .css-custom-tooltip {
          display: block;
          text-align: center;
          padding-left:0;
          opacity: 1;
          width: 6.5vw;
        }
      }
    }

    .save-button-container {
      .css-custom-tooltip {
        z-index: 10;
      }
    }

    .profile-fields {
      display: flex;
      justify-content: space-between;
      padding-left: 2vw;
      padding-right: 4.2vw;

      @include phone_and_tabletP {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .profile-image-container {
        position: relative;
        padding-top: 5vh;
        width: 16vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include phone_and_tabletP {
          width: max-content;
        }

        .profile-image {
          @extend %textCenter;
          height: 11vw;
          width: 11vw;
          background: var(--tab-gray) 0% 0% no-repeat padding-box;
          border: 0.25vw solid var(--off-white);
          border-radius: 50%;

          @include phone_and_tabletP {
            height: 35vw;
            width: 35vw;
          }

          .svg {
            height: 7.8vw;
            width: 7.8vw;

            @include phone_and_tabletP {
              height: 25vw;
              width: 25vw;
            }
          }
        }

        .real-profile-image {
          height: 97%;
          width: 97%;
          border-radius: 50%;
        }

        .add-image-button {
          width: 4vw;
          height: 4vw;
          z-index: 100;
          position: absolute;
          background-color: var(--theme-dark-blue);
          bottom: -2vh;
          right: 0vw;
          border-radius: 50%;
          cursor: pointer;
          @extend %transitionAll300;

          @include phone_and_tabletP {
            height: 13vw;
            width: 13vw;
          }

          .MuiIconButton-label {
            margin: 0;
          }

          .svg {
            width: 2vw;
            height: 2vw;

            @include phone_and_tabletP {
              height: 8vw;
              width: 8vw;
            }
          }

          &.remove-image {
            background-color: var(--theme-orange);
            transform: rotate(45deg);
          }
        }

        .status-container {
          margin-top: 2.6vh;
          display: flex;
          align-items: center;
          justify-content: center;

          .svg {
            color: #30c474;
            font-size: 2.35vw;
            width: 1vw;
            height: 1vw;
            @extend %removePosition;
          }

          >span {
            margin-left: 0.45vw;
            color: var(--theme-dark-blue);
            font-size: 1.5vw;

            @include phone_and_tabletL {
              font-size: 5vw;
            }
          }
        }

        .active-status-container {
          margin-left: 0vw;
          width: calc(100% + 4vw);

          .premium-container {
            .btn-premium {
              cursor: pointer;
              transition: all 300ms ease-in-out;
              font-family: $font-family-bold;
              margin-left: 0.5vw;
              border-radius: 3vw;
              padding-left: 0.3vw;
              padding-right: 0.3vw;
              color: var(--white);
              background: var(--theme-green);
              font-size: 1vw;

              &:hover {
                background: var(--theme-dark-blue);
              }

              display: flex;
              align-items: center;

              svg {
                color: var(--white);
                stroke-width: 2;
                width: 1.1vw;
                height: 1.1vw;
              }
            }
          }
        }
      }

      .profile-inputs-container {
        padding-top: 5vw;
        width: 25vw;
        margin: 0 0.5vw 0 1vw;

        @include phone_and_tabletP {
          width: 100%;
        }

        .MuiSvgIcon-root,
        .MuiCheckbox-root,
        .MuiFormControlLabel-root,
        .MuiFormControlLabel-label {
          color: var(--theme-dark-blue) !important;
          font-family: $font-family-regular;
        }

        input {
          line-height: 1.45;
        }

        .password-container {
          position: relative;
          .button-container {
            position: absolute;
            top: 0;
            right: 0.5vw;
            height: calc(3.6vh + 2.1vw);
            display: flex;
            align-items: center;
            button {
              border-radius: 0.6vw;
              height: 1.7vw;
              font-size: 1.1vw;
              font-family: $font-family-regular;
              color: var(--theme-dark-blue);
              padding-left: 0.6vw;
              padding-right: 0.6vw;
              border: none;
              outline: none;
              background: var(--tab-gray);
            }
          }
          .confirm-container {
            svg {
              cursor: pointer;
              height: 2vw;
              width: 2vw;
            }
            .start {
              position: absolute;
              bottom: -2.4vw;
              left: 0.5vw;
              color: var(--theme-green);
            }
            .end {
              position: absolute;
              bottom: -2.4vw;
              right: 0.4vw;
              stroke-width: 3;
              color: var(--theme-orange);
            }
          }
        }
      }

      .profile-roles-container {
        width: 22vw;

        @include phone_and_tabletP {
          width: 100%;
        }

        &.preference-container {
          margin-right: 0.5vw;
        }

        &.roles-container {
          margin-left: 0.5vw;
        }

        .roles-box {
          margin-top: 5vw;
          min-height: calc(6.8vw + 13.2vh);
          width: 100%;
          border-radius: 1.7vh;
          background: var(--off-white);
          padding: 1.15vw;
          padding-top: 2vw;

          position: relative;

          .fixed-label {
            position: absolute;
            top: 0.5vw;
            font-size: 1.5vw;
            color: var(--theme-dark-blue);
            font-family: $font-family-bold;
            width: 100%;
            text-align: center;
          }

          @include phone_and_tabletP {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
          }

          @extend %radioBlue;

          .first-column {
            margin-right: 2vw;
          }

          .MuiGrid-item {
            width: 100%;

            .MuiSvgIcon-root {
              color: var(--theme-dark-blue);
              font-size: 1.55vw;

              @include phone_and_tabletP {
                font-size: 5vw;
              }
            }

            .MuiIconButton-root {
              padding: 0.5vw !important;
            }

            .MuiFormControlLabel-label {
              margin-left: 0.1vw;
              font-size: 1.45vw;
              color: var(--theme-dark-blue);
              font-family: $font-family-regular;

              @include phone_and_tabletP {
                font-size: 4vw;
              }
            }

            .MuiFormControlLabel-root {
              margin: 0;
            }

            .disabled {
              .MuiSvgIcon-root {
                color: #a6acaf;
              }

              .MuiTypography-root {
                color: #a6acaf;
              }
            }
          }
        }
      }
    }
    .MuiAutocomplete-root .MuiInput-formControl {
      box-shadow: none !important;
      background: var(--off-white);
    }

    .big-input-container {
      margin-top: 2.3vh;
      padding-left: 2vw;

      @include tabletL {
        width: 68.25vw;
      }

      @include phone_and_tabletL {

        width: calc(100% - 4.5vw);
      }

      .MuiAutocomplete-root {
        margin-bottom: 0 !important;
      }

      .MuiAutocomplete-tag {
        font-family: $font-family-regular;
        color: var(--theme-dark-blue);
        background-color: var(--tab-gray);

        @include phone_and_tabletL {
          font-size: 4vw;
        }

        @include tabletL {
          font-size: 1vw;
        }
      }

      .MuiInputBase-input {
        &::-webkit-input-placeholder {
          font-size: 5;
        }
      }

      .MuiChip-deleteIcon {
        color: var(--theme-orange);
      }

      .MuiInput-underline:after {
        display: none !important;
      }

      textarea {
        width: 100%;
        height: 15vh;
        background: var(--off-white);
        color: var(--theme-dark-blue);
        border: none;
        border-radius: 0.5vw;
        padding-top: 0;
        padding-left: 0.65vw;
        max-height: 18vh;
        font-size: 1.45vw;

        @include phone_and_tabletL {
          font-size: 4vw;
        }
      }

      .MuiAutocomplete-hasPopupIcon {
        .MuiAutocomplete-endAdornment {
          top: 0;
        }
      }
    }

    .centered {
      width: 4.2vw;

      .red-circle {
        width: 1.9vw;
        height: 1.9vw;
        padding: 0.3vw;
        border-radius: 50%;
        background: var(--theme-orange);
        color: white;
        stroke-width: 1.5;
        transition: all 0.4s ease-out;
        opacity: 1;

        &.hidden {
          opacity: 0;
        }
      }
    }
  }

  .profile-phone-preview {
    >div {
      >div {
        height: 39.5vw;
      }
    }

    .phone-question-preview {
      top: auto !important;
      right: 1.8% !important;
    }

    .custom-component {
      background-color: white;
    }
  }
}

.dialog-box.image-dialog-v56 .MuiPaper-root {
  max-width: 48vw !important;
  .dropzone-instructions {
    width: 40vw;
  }
  .dropzone-instructions--main {
    &::after {
      font-size: 2vw;
      font-family: $font-family-bold;
    }
  }
  .dropzone-instructions--sub {
    font-family: $font-family-light;
  }
  .light {
    font-size: 1.2vw;
  }
  .btn svg {
    margin-left: 1vw;
    width: 2vw;
    height: 2vw;
  }
}

















.user-profile-page .manage-account-block {
  padding: 3vh 3vw 3vh 3vw;
  font-size: 1.5vw;
  color: var(--theme-dark-blue);
  $border-radius: 0.5vw;
  .current-plan {
    display: flex;
    position: relative;
    padding: 1vh 1vw;
    border-radius: $border-radius;
    background: var(--off-white);
    width: 65%;

    > span {
      display: flex;
      align-items: center;
      width: 75%;

      > span {
        margin-right: 0.5vw;
      }

      svg {
        width: 2vw;
        height: 2vw;
      }
    }

    .price {
      width: 25%;
      > div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        background: var(--theme-green);
        border-radius: 5vw;
        transition: all 300ms ease-in-out;
        font-family: $font-family-bold;

        svg {
          margin-left: 0.2vw;
          width: 1.5vw;
          height: 1.5vw;
          stroke-width: 2;
        }

        &:hover {
          background: var(--theme-dark-blue);
        }
      }
    }
  }

  .next-billing-date {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 35%;
  }

  .credits-container {
    margin-top: 2vh;
    min-height: 20vh;
    padding: 1vw;
    border-radius: $border-radius;
    background: var(--off-white);
    .brills-container {
      width: 12vw;
      justify-content: flex-start;

      .brill-coin-img {
        width: 4vw;
        height: 4vw;
        position: relative;
    
        > img {
          width: 100%;
          height: 100%;
        }
        svg {
          color: var(--theme-orange);
          position: absolute;
          top: 25%;
          left: 25%;
          width: 50%;
          height: 50%;
        }
      }

      .bold {
        margin-left: 1.2vw;
      }
    }
  }
  
  .card-details {
    display: flex;
    align-items: center;
    border-radius: $border-radius;
    margin-top: 3vh;
    height: 9vh;
    padding-left: 1vw;
    font-family: $font-family-bold;
    background: var(--off-white);

    .bigger-circles {
      margin-left: 1vw;
      margin-right: 1vw;
      font-size: 2.8vw;
      margin-bottom: 0.6vw;
    }

    .btn {
      margin-left: 17vw;
      padding: 0.5vh 1vw;
      background: var(--tab-gray);
      svg {
        width: 1.5vw;
        height: 1.5vw;
        margin-right: 0.8vw;
      }
    }
  }

  .leave-container {
    display: flex;
    margin-top: 5vh;  

    .label {
      font-family: $font-family-light;
      width: 28.5vw;
    }
    .btn {
      cursor: pointer;
      border-radius: $border-radius;
      background: var(--tab-gray);
      padding: 0.3vh 1vw;
      margin-left: 1vw;
    }
  }
}