.short-answer-live {
  display: inline;
  place-content: center space-evenly;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 20px;
  }

  .short-answer-input.correct .question-hint {
    background: white !important;
  }

  input.MuiInput-input {
    height: auto;
    padding: 0;
    line-height: 2;
  }

  @media only screen and (max-width: 599px) {
    .short-answer-input {
      width: 100% !important;
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
