@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.short-answer-live {
  display: flex;
  width: 100%;
  flex-direction: column;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 0.5vh;
  }
  .document-editor {
    width: 100%;
    .ck-editor {
      width: 100%;
      .ck-content {
        background-color: var(--tab-gray);
        padding: 0.5vw !important;
        p {
          margin: 0;
        }
      }
    }
    .ck-toolbar {
      display: none !important;
    }
  }
}
