@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.short-answer-live {
  display: inline;
  place-content: center space-evenly;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 20px;
  }
  .document-editor {
    width: 90%;
  }
}
