.progress-bar-sixthform {
  display: flex;
  margin-bottom: 2vh;
  padding-left: 3vw;
  width: 74.566vw;

  > div {
    position: relative;

    .step-s6 {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2vw;
      height: 2vw;
      border-radius: 50%;
      background: #4C608A;

      &.active, &.completed {
        background: var(--theme-orange);
      }

      &.active {
        border: 3px solid white;
      }
    }

    .progress-label-s6 {
      position: absolute;
      width: 9vw;
      top: 2.2vw;
      text-align: center;
      left: -3.5vw;
    }
  }

  

  .line-r23 {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    height: 2px;
    width: 8vw;
    background: #A1AEBE;

    &.active {
      background: var(--theme-orange);
    }
  }

  .exit-btn {
    cursor: pointer;
    margin-left: 4vw;
    margin-top: 1vw;
  }
}


.progress-description-container-r3234 {
  margin-top: 2vh;
  margin-left: 0.5vw;
  border-radius: 0.5vw;
  box-shadow: 0px 2px 13px 0px #4C608A26;
  position: relative;

  .progress-bar-sixthform {
    width: 100% !important;
    padding-left: 0.4vw;
    margin-bottom: 0.9vh;

    .line-r23 {
      margin-top: 1vh;
      border-radius: 0.3vw;
      height: 0.24vw;
      width: 12vw;
      margin-left: 0.4vw;
      margin-right: 0.4vw;
    }
  }

  .paging-3c1 {
    margin-left: 0.8vw;
    margin-bottom: 1vw;
  }

  svg {
    position: absolute;
    top: calc(1.9vh + 0.5vw);
    width: 1.3vw;
    height: 1.3vw;
    stroke-width: 1;
  }

  .subject-description-3c1 {
    padding-left: 12vw;
    padding-right: 12vw;
    padding-top: 1vh;
    padding-bottom: 2vh;
  }
}

.progress-container-r1-323 {
  margin-top: 2vh;
  margin-left: 0;
  position: relative;

  .progress-bar-sixthform {
    padding-left: 0;
    width: 100% !important;
    margin-bottom: 0.9vh;

    .line-r23 {
      margin-top: 1vh;
      border-radius: 0.3vw;
      height: 0.24vw;
      width: 12vw;
      margin-left: 0.4vw;
      margin-right: 0.4vw;
    }
  }

  .paging-3c1 {
    margin-left: 0.3vw;
    margin-bottom: 1vw;
  }
}

.step3question5 .subject-description-3c1 {
  padding-left: 4vw;
  padding-right: 4vw;
}