@import '../../../../../assets/sass/partials/variables';
@import '../../../../../assets/sass/partials/mixins';
@import '../../../../../assets/sass/partials/extensions';

.missing-word-live {
  line-height: 50px;
  margin: 5px 0;
  display: inline;
  place-content: center space-evenly;

  .missing-word-choice {
    font-family: $font-family-regular;
    display: inline;
    color: var(--theme-dark-blue);
    margin-bottom: 20px;
    .missing-select {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: -3px;
      font-family: $font-family-regular;
      color: var(--theme-dark-blue);
    }
  }
}

.MuiListItem-root {
  color: var(--theme-dark-blue) !important;
  font-family: $font-family-regular !important;
}
