@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.notification-box {
  .MuiPaper-root {
    background: inherit;
  }
  .MuiCardContent-root {
    padding: 1vw !important;
  }
  .MuiPopover-paper {
    @include phone_and_tabletP {
      box-shadow: none !important;
      width: 100%;
      transform: none !important;
      transform-origin: 0 !important;
      left: 0 !important;
      top: unset !important;
      bottom: 60px;
      border-radius: 12px 0 0 0;
      overflow: unset !important;
    }
    @include tabletP {
      border-radius: 0 0 0 2.5vw;
      left: calc(100% - 37vw) !important;
    }
    @include tabletL {
      left: calc(100% - 30vw) !important;
    }
    @include desktop {
      box-shadow: none;
      left: calc(100% - 25vw) !important;
    }
    .notification-content {
      background-color: var(--light-blue);
      box-shadow: none !important;
      @include phone_and_tabletP {
        width: 100vw;
        border-radius: 2.5vw 0 0 0;
      }
      @include tabletP {
        border-radius: 0 0 0 2.5vw;
        width: 37vw;
      }
      @include tabletL {
        width: 30vw;
      }
      @include desktop {
        width: 25vw;
      }
      .notification-list {
        max-height: 30vh;
        overflow-x: auto;
        padding: 0;
        @include phone_and_tabletP {
          max-height: 26vh;
        }
        li {
          padding: 0;
          @extend %displayFlex;
          @extend %flexAlignCenter;
          .left-brick-circle {
            .MuiSvgIcon-fontSizeLarge {
              font-size: 2.8rem;
            }
          }
          .content-box {
            cursor: pointer;
            display: flex;
            width: calc(100% - 56px);
            .notification-detail {
              border-bottom: 0.02vh solid var(--theme-dark-blue);
              .notif-title,
              .notif-desc {
                @include phone_and_tabletP {
                  font-size: 3.5vw;
                }
                @include tabletP {
                  font-size: 1.1vw;
                }
                @include tabletL {
                  font-size: 0.9vw;
                }
                @include desktop {
                  font-size: 1vw;
                }
              }
              .notif-title {
                color: var(--white);
                text-transform: capitalize;
              }
              .notif-desc {
                color: var(--dark-gray);
              }
            }
            .actions {
              @extend %flexCenter;
              flex-direction: column;
              color: var(--tab-gray);
              .notification-time {
                @extend %textCenter;
                white-space: nowrap;
                margin-top: 0.4vh;
                @include phone_and_tabletP {
                  font-size: 2.5vw;
                }
                @include tabletP {
                  font-size: 0.9vw;
                }
                @include tabletL {
                  font-size: 0.8vw;
                }
                @include desktop {
                  font-size: 0.7vw;
                }
              }
              .delete-notification {
                padding: 0;
                @extend %width100;
                @include phone {
                  width: 7vw;
                  height: 7vw;
                }
                @include tabletP {
                  width: 2vw;
                  height: 2vw;
                }
                svg {
                  @extend %removePosition;
                  &:hover {
                    color: var(--theme-orange);
                  }
                }
              }
            }
          }
        }
        .notification-detail-single {
          @include phone_and_tabletP {
            font-size: 4vw;
            padding: 15px 0;
          }
          @include tabletP {
            font-size: 1.2vw;
            padding: 1vw 0;
          }
          @include tabletL {
            font-size: 1.4vw;
          }
          color: white;
          font-family: $font-family-light;
          @extend %textCenter;
          font-size: 1vw;
          em {
            font-size: 1vw;
          }
        }
      }
    }
    .clear-notification {
      background-color: var(--theme-orange);
      color: var(--white);
      justify-content: flex-end;
      padding: 0;
      @include phone_and_tabletP {
        font-size: 3.5vw;
        button {
          padding: 2vw;
        }
      }
      @include tabletP {
        font-size: 1vw;
        height: 4.5vh;
        button {
          padding-top: 0vw;
          padding-bottom: 0vw;
        }
      }
      .delete-notification {
        padding: 0;
        @extend %width100;
        @include phone {
          width: 7vw;
          height: 7vw;
        }
        @include tabletP {
          width: 2vw;
          height: 2vw;
        }
        svg {
          @extend %removePosition;
          &:hover {
            color: var(--theme-orange);
          }
        }
      }
      .MuiCardActions-spacing {
        > :not(:first-child) {
          margin-left: 0;
        }
      }
    }
  }
}
