@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.vertical-shuffle-play {
  .verical-shuffle-sort-list {
    width: 100%;
  }
}
.vertical-shuffle-choice {
  display: flex;
  .vertical-content {
    width: 100%;
    &.full-height {
      > div {
        height: 100%;
        @extend %flexCenter;
      }
    }
    .image-container {
      margin: 5px;
      width: 100%;
    }
  }
}
