* {
  margin: 0 !important;
  padding: 0 !important;
}

div {
  float: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-sizing: border-box !important;
  text-align: center !important;
  width:100% !important;
  height:100% !important;
  position: absolute !important;
  left: 0 !important;
  top: 0 !important;
  right: unset !important;
}
#Embed style {
  display: none !important
}

#Embed > div {
}

#Embed > div > div > .wrapper-AtBcr {
  width: 40px !important;
  height: 40px !important;
  max-width: 40px !important;
  min-width: 40px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  padding: 0 !important;
  position: absolute !important;
  left: 50% !important;
  top: 50% !important;
  transform: translate(-50%, -50%) !important;
}

#Embed > div > div > .wrapper-AtBcr > span:last-child {
  display: none !important;
}

#Embed > div > div > .wrapper-AtBcr > .Icon {
  margin: 0 10vw 0 0;
}

#Embed > div > div > .wrapper-AtBcr > .Icon svg path:last-child {
    color: #c43c30;
    fill: #c43c30;
}

.zEWidget-launcher {
  background-color: var(--theme-orange) !important;
  left: 5% !important;
  bottom: -1vh !important;
  width: 17vw !important;
  opacity: 0 !important;
}