@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.ql-custom-toolbar {
  border: none !important;
  border-radius: $editor-radius;
  background-color: var(--tab-gray) !important;
  padding: 1vh 0.5vw !important;
  &.ql-global-toolbar {
    position: fixed;
    z-index: 1000;
    transform: translateX(0);
    height: 4vh;
    top: 0.2vw;
    left: 0.2vw;
    right: 0.2vw;
  }
  .formats {
    background-color: var(--tab-gray) !important;
    font-size: 16px;
    button,
    .picker {
      padding: 0;
      margin: 0;
      margin-left: 0.1vw;
      margin-right: 0.1vw;
      line-height: 1;
      background: none;
      background: none;
      border: none;
      cursor: pointer;
      float: left;
      height: 24px;
      width: 32px;
      &.active svg {
        color: var(--blue) !important;
      }
      svg {
        color: var(--theme-dark-blue) !important;
        width: var(--ck-icon-size);
        height: var(--ck-icon-size);
        * {
          stroke: currentColor;
        }
      }
      &:disabled,
      &.disabled {
        svg {
          color: var(--dark-gray) !important;
          cursor: default;
        }
      }
      .picker-label {
        display: inline-block;
        width: 1.8vw !important;
        height: 1.8vw !important;
        svg {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    input.ql-image {
      display: none;
    }
    .picker-options {
      z-index: 200;
      padding: 0 !important;
      width: 5vw;
      display: none;
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
      position: absolute;
      background-color: #fff;
      &.q-align {
        width: 2vw;
      }
      .ql-picker-item {
        margin: 0.2vw;
        padding: 0;
        border-radius: 0.2vw;
        width: 1.2vw;
        height: 1.2vw;
        display: inline-block;
      }
    }
    .picker.ql-expanded .picker-options {
      display: block;
      margin-top: -1px;
      // top: 100%;
      z-index: 1;
    }
    .q-align .ql-picker-item {
      width: 1.6vw;
      height: 1.6vw;

      svg {
        width: inherit;
        height: inherit;
      }
    }
  }
}

svg#image {
  stroke-width: 1.8;
}

.ql-align-left {
  text-align: left;
}
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}
s {
  text-decoration: line-through;
}

.link-embed {
  background-color: var(--tab-gray);
  border-radius: $editor-radius;
  overflow: hidden;
  display: block;
  color: var(--text-blue) !important;
  text-decoration: none !important;
  img {
    width: 100%;
    object-fit: cover;
  }
  .embed-title {
    font-family: $font-family-bold;
    padding: 0 1rem;
  }
  .embed-description {
    padding: 0 1rem 0.5rem 1rem;
  }
}

.quill-document-editor {
  border-radius: $editor-radius;
  background-color: var(--tab-gray);
  height: calc(100% - 0.2vh);
  position: relative;
  overflow: visible;

  .ql-toolbar {
    @extend .ql-custom-toolbar;
  }

  .ql-container {
    height: 100% !important;
    border: none !important;
    word-break: break-word !important;
    font-size: inherit;
    font-family: inherit;
    overflow: visible;

    .ql-editor {
      height: 100%;
      margin: 0;
      padding: 6vh 1vw 1vh 2.2vw;
      box-shadow: none !important;
      @extend %textCenter;
      border: 0 !important;
      color: var(--theme-dark-blue);
      background: var(--solitude-light) !important;
      font-size: 1.05vw;
      border: none !important;
      background-color: var(--solitude-light) !important;
      padding: 1vw;
      ::before {
        font-style: normal !important;
      }
      text-align: left;
      p,
      li {
        padding-left: 0;
      }
      div:not(.quill-desmos >),
      p,
      strong,
      span {
        background: inherit !important;
      }
      blockquote {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 5px;
        padding-top: 5px;
      }
      .latex {
        background: #e1e1e1 !important;
      }
      iframe {
        max-width: 100%;
      }
    }
  }

  .ql-table-toggle {
    background: var(--theme-dark-blue);
    fill: var(--white);
  }

  .ql-table-menu {
    &__item {
      &-icon {
        svg {
          path {
            fill: var(--theme-dark-blue);
          }
        }
      }
      &-text {
        color: var(--theme-dark-blue);
      }
    }
  }

  &.content-invalid {
    .ql-container {
      .ql-editor {
        background: var(--theme-orange) !important;
        &.ql-blank {
          &:before {
            color: var(--white);
          }
        }
      }
    }
  }
}

// #3101 make image icon thicker everywhere
.ql-custom-toolbar,
.ql-global-toolbar {
  .formats .q-image svg {
    stroke-width: 1.5 !important;
  }
}

.ql-editor.ql-blank::before {
  font-style: normal !important;
}

.katex {
  line-height: 1.5;
}
