@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.ql-custom-toolbar {
  border: none !important;
  border-radius: $editor-radius;
  background-color: var(--tab-gray) !important;
  padding: 1vh 0.5vw !important;
  .formats {
    background-color: var(--tab-gray) !important;
    font-size: 16px;
    button,
    .picker {
      padding: 0;
      margin: 0;
      margin-left: 0.1vw;
      margin-right: 0.1vw;
      line-height: 1;
      background: none;
      background: none;
      border: none;
      cursor: pointer;
      float: left;
      height: 24px;
      width: 32px;
      &.active svg {
        color: var(--blue) !important;
      }
      svg {
        color: var(--theme-dark-blue) !important;
        width: var(--ck-icon-size);
        height: var(--ck-icon-size);
        * {
          stroke: currentColor;
        }
      }
      &:disabled,
      &.disabled {
        svg {
          color: var(--dark-gray) !important;
          cursor: default;
        }
      }
    }
    input.ql-image {
      display: none;
    }
    .picker-options {
      padding: 0 !important;
      width: 6.5vw;
      display: none;
      border: 1px solid transparent;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 8px;
      position: absolute;
      background-color: #fff;
      .ql-picker-item {
        margin: 0.2vw;
        padding: 0;
        border-radius: 0.2vw;
        width: 1.2vw;
        height: 1.2vw;
        display: inline-block;
      }
    }
    .picker.ql-expanded .picker-options {
      display: block;
      margin-top: -1px;
      // top: 100%;
      z-index: 1;
    }
  }
}

.quill-document-editor {
  border-radius: $editor-radius;
  background-color: var(--tab-gray);
  height: calc(100% - 0.2vh);
  position: relative;
  overflow: hidden;

  .ql-toolbar {
    // border: none !important;
    // padding: 1vh 0.5vw;
    // .ql-formats {
    //   background-color: var(--tab-gray) !important;
    //   font-size: initial;
    //   button,
    //   .ql-picker {
    //     padding: 0;
    //     margin: 0;
    //     margin-left: 0.1vw;
    //     margin-right: 0.1vw;
    //     line-height: 1;
    //     svg {
    //       color: var(--theme-dark-blue) !important;
    //       width: var(--ck-icon-size);
    //       height: var(--ck-icon-size);
    //       * {
    //         stroke: currentColor;
    //       }
    //     }
    //   }
    //   .ql-picker-options {
    //     padding: 0 !important;
    //     width: 6.5vw;
    //     .ql-picker-item {
    //       margin: 0.2vw;
    //       padding: 0;
    //       border-radius: 0.2vw;
    //       width: 1.2vw;
    //       height: 1.2vw;
    //     }
    //   }
    // }
    @extend .ql-custom-toolbar;
  }

  .ql-container {
    height: 100% !important;
    border: none !important;
    word-break: break-word !important;
    font-size: inherit;
    font-family: inherit;

    .ql-editor {
      height: 100%;
      margin: 0;
      padding: 6vh 1vw 1vh 2.2vw;
      box-shadow: none !important;
      @extend %textCenter;
      border: 0 !important;
      color: var(--theme-dark-blue);
      background: var(--solitude-light) !important;
      font-size: 1.05vw;
      border: none !important;
      background-color: var(--solitude-light) !important;
      padding: 1vw;
      p {
        text-align: left;
      }
    }
  }
  &.content-invalid {
    .ql-container {
      .ql-editor {
        background: var(--theme-orange) !important;
        &.ql-blank {
          &:before {
            color: var(--white);
          }
        }
      }
    }
  }
}
