@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.quill-document-editor {
  border-radius: $editor-radius;
  background-color: var(--tab-gray);
  height: calc(100% - 0.2vh);
  position: relative;
  overflow: hidden;

  .ql-container {
    height: 100% !important;
    width: calc(100% - 2vw) !important;
    word-break: break-word !important;
    font-size: inherit;
    font-family: inherit;

    .ql-editor {
      height: 100%;
      margin: 0;
      padding: 6vh 1vw 1vh 2.2vw;
      box-shadow: none !important;
      @extend %textCenter;
      border: 0 !important;
      color: var(--theme-dark-blue);
      background: var(--solitude-light) !important;
      font-size: 1.05vw;
    }
  }
}
