@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.dashboard-page {
  overflow: hidden;
  background: var(--theme-dark-blue);
  height: 100%;
  width: 100%;
  .create-subject-button {
    font-size: 1.05vw;
    font-family: $font-family-light;
  }
  .ffef-loader-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
    color: var(--theme-dark-blue);
    .page-loader {
      position: relative;
      left: unset;
      top: unset;
      transform: unset;
      height: 100%;
      background: inherit !important;
    }
  }
  .level-filter-box {
    position: relative;
    .MuiTypography-root {
      font-family: $font-family-light !important;
      font-size: 1.05vw;
    }
    .absolute-difficult-help {
      width: 4vw !important;
      position: absolute;
      right: 0;
      top: calc(1.3vh - 0.2vw);
      > div {
        font-family: $font-family-bold;
      }
      .white-circle {
        color: var(--white);
        background: var(--theme-dark-blue);
      }
      .hover-content {
        background: var(--white);
        color: var(--theme-dark-blue);
        right: 0;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      }
      .l-text.smaller {
        width: calc(100% - 4vw);
      }
      .hover-area.custom {
        &:hover .hover-content {
          top: -8vw;
          left: 3vw;
        }
      }
    }
  }
  .sorted-row {
    border-top-left-radius: 8vw;
    .sort-and-filter-container {
      margin-top: 0.5vh;
      .view-all-sort-box {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        @extend %flexToXCenter;
      }
      .subjects-toggle {
        width: 100%;
        display: flex;
        flex-direction: row;

        .toggle-button {
          cursor: pointer;
          display: flex;
          width: 49.6%;
          flex-grow: 0;
          margin: 0;
          flex-direction: column;
          border-top-left-radius: 0.5vw;
          border-top-right-radius: 0.5vw;
          text-align: center;
          font-size: 1vw;
          font-family: $font-family-bold;
          padding-top: 0.25vh;
          padding-bottom: 0.25vh;

          color: #8a8d90;
          background: var(--tab-gray);

          &.active {
            color: var(--theme-dark-blue);
            background: var(--white);
          }

          &.not-active:hover {
            background: var(--off-white) !important;
          }

          &:nth-child(odd) {
            margin-right: 0.4%;
          }
          &:nth-child(even) {
            margin-left: 0.4%;
          }
        }
        .my-subjects {
          display: flex;
          flex-direction: row;
          div {
            display: flex;
            flex-direction: column;

            &.icon-container {
              margin-left: 1.3vw;
              margin-right: 0.7vw;
              width: 20%;
            }

            &.text-container {
              @extend %flexCenter;
            }

            svg {
              height: 1.7vw;
              width: 1.7vw;
            }
          }
        }
        .all-subjects {
          @extend %flexCenter;
        }
      }
      .scroll-buttons {
        position: relative;
        @extend %flexCenter;
        background: var(--white);
        font-size: 1.05vw;
        height: 2vw;
        svg {
          cursor: pointer;
          width: 1.7vw;
          height: 1.7vw;
          color: var(--theme-dark-blue);

          &:hover {
            color: var(--theme-orange);
          }

          &.disabled {
            color: var(--tab-gray);
          }
        }
        .radio-container {
          position: absolute;
          left: 1.27vw;
          color: var(--theme-dark-blue);
          svg {
            width: 1.25vw;
            height: 1.25vw;
            color: var(--theme-dark-blue);
          }
          .MuiFormControlLabel-label {
            font-size: 1.05vw;
            font-family: $font-family-light !important;
          }
        }
        .arrow-cancel {
          position: absolute;
          right: 1.5vw;
          &::after, &::before {
            background: var(--theme-dark-blue);
          }
          
          &:hover {
            &::after, &::before {
              background: var(--theme-orange);
            }
          }
        }
      }
    }
    .brick-row-container {
      .subjects-column {
        display: flex;
        align-items: center;
        margin-left: 2vw;
        margin-right: 2vw;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .subject-row {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &:nth-child(even) {
            width: calc(100% - 8vw);
            margin: 0 4vw;
          }
          .subject-item {
            transition: all 300ms ease-out;
            cursor: pointer;
            position: relative;
            background: var(--white);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 16vw;
            font-size: 1.3vw;
            border-radius: 0.8vw;
            &:nth-child(even) {
              // width: calc(100% - 8vw);
              // margin: 0 4vw;
              margin: 0.3vw 0.6vw;
            }
            .subject-name {
              padding: 2vh 0;
              color: var(--theme-dark-blue);
            }
            .round-circle-container {
              left: 0.8vw;
              position: absolute;
              height: 100%;
              @extend %flexCenter;
              .round-circle {
                border-radius: 50%;
                @include tabletL {
                  width: 1.2vw;
                  height: 1.2vw;
                }
              }
              &.icon {
                color: var(--theme-orange);
                svg {
                  width: 2.5vw;
                  height: 2.5vw;
                }
              }
            }
            &:hover {
              background: var(--theme-dark-blue);
              .subject-name {
                color: var(--white);
              }
              .round-circle-container.icon .svg {
                color: var(--white);
              }
              .icon {
                color: var(--theme-dark-blue);
              }
            }
          }
        }
      }
    }
    .desktop-no-bricks {
      .no-found-help-text {
        color: var(--theme-dark-blue);
        font-size: 1.5vw;
        font-family: $font-family-regular-italic;
        margin-left: 1.7vw;
        margin-bottom: 1.9vh;
      }
      .subjects-column {
        justify-content: flex-start;
        align-items: flex-start !important;
      }
    }
    .sort-box.subject-scrollable {
      .subject-list-v2 {
        .subjects-indexes-box {
          font-family: $font-family-light;
          font-size: 1.05vw;
        }
      }
    }
  }
  .view-all-toggle {
    position: absolute;
  }
  .main-title {
    padding-top: calc(2.1vh + 0.9vw) !important;
    letter-spacing: 0 !important;
    font-family: $font-family-bold !important;
    @extend %transitionAll300;
    max-width: 55vw;
    font-size: 3vw !important;
    line-height: 1.2 !important;
    min-height: 10vh;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    &.subject-title {
      font-size: 2.9vw;
    }
  }
  .bricks-pagination {
    position: absolute;
    bottom: 0;
  }
  .no-found {
    margin-left: 0.9vw;
    margin-bottom: 0 !important;
  }
  .found {
    margin-left: 0.9vw;
  }
  .create-button,
  .recomend-button {
    color: var(--theme-dark-blue);
    font-size: 1.5vw;
    font-family: $font-family-bold;
    @extend %flexCenter;
    svg {
      color: var(--theme-orange);
      width: 4vw;
    }
  }
  .create-button {
    cursor: pointer;
    margin-left: 14.4vw;
    svg {
      @extend %transitionAll300;
      margin-top: calc(#{$bricks-height / 90});
      max-height: calc(#{$bricks-height / 12});
    }
    &:hover {
      svg {
        transform: rotate(10deg);
      }
    }
  }
  .recomend-button {
    margin-left: 10vw;
    svg {
      stroke-width: 2;
      margin-top: calc(#{$bricks-height / 90});
      max-height: calc(#{$bricks-height / 15});
    }
  }
  .unauthorized-sidebar {
    margin-top: 18vh;
    margin-left: 7%;
    width: 86%;
    font-family: $font-family-regular;
    font-size: 1.9vw;

    .text {
      font-size: 1.5vw;
    }
  }
  // #2776 zoom brick on hover
  .brick-container {
    display: flex;
    align-items: center;
    justify-content: center !important;
    .absolute-container {
      width: 100%;
      height: 4.8vw;
      transition: all 300ms ease-out;
    }
    .absolute-container:hover {
      width: 100% !important;
      height: 4.8vw !important;
    }
  }
}

.mobile-category {
  .brick-row-title {
    height: calc(5vw + 2.6vh);
    margin-bottom: 0 !important;
  }
  .bricks-list-container {
    height: calc(100vh - 46vh - 5vw - 2.6vh);
    overflow-y: scroll;
  }
}

.sorted-row .sort-and-filter-container .sort-box .filter-header.subject-category-name {
  color: gray;
  background: var(--white);
  text-align: center;
  text-transform: none;
  span {
    letter-spacing: 0;
    width: 100%;
    text-align: inherit;
  }
}

.dashboard-page .sorted-row .brick-row-container {
  padding-top: 0 !important;

  .fwe1-16x9-deadline {
    display: none;
  }
}