@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.SixthformOutcomePage {
  $placeholder-color: #4C608A;
  $font-scale: 1.14;
  background: var(--theme-dark-blue);
  height: 100%;

  .top-left-logo-container {
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    width: 12vw;
    height: 5.834vw;
    border-bottom-right-radius: 2vw;
    background: var(--theme-light-blue);

    .logo-container-r23 {
      position: relative;

      svg {
        position: absolute;
        top: 0;
      }

      .white-logo-r23 {
        z-index: 2;
        top: 0.5vw;
        height: 5.334vw;
        left: 1vw;
        width: 8.5vw;
      }

      .red-shape-r23 {
        width: 3.6vw;
        height: 5vw;
        left: 3.5vw;
      }
    }

    .course-select-label {
      height: 5.834vw;
      display: flex;
      align-items: center;
      color: white;
      margin-left: 11.4vw;
    }
  }

  .logo-top-container {
    z-index: 2;
    position: absolute;
    top: 0 !important;
  }

  .white-blue {
    color: #4C608A;
  }

  .logout-container {
    background: var(--theme-light-blue);
    margin-left: 14.434vw;
    height: 5.834vw;
    border-bottom-left-radius: 2vw;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    width: calc(100vw - 14.434vw);
  }

  .header-top {
    height: 5.834vw;
  }

  .dashboard-page {
    background: var(--theme-dark-blue);
  }

  .sorted-row {
    display: flex;
  }

  .bold {
    font-family: 'Brandon Grotesque Bold';
  }

  ::-webkit-scrollbar {
    margin-left: 2vw;
    width: 0.5vw;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: inherit;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #475F92;
    border-radius: 0.2vw;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #475F92;
  }

  .tab-container-e354 {
    display: flex;
    width: 100%;

    .tab-e354 {
      $tab-size: 2vw;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 34%;
      background: #193266;
      height: $tab-size;
      font-size: 1.3vw;
      border-top-left-radius: 0.5vw;
      border-top-right-radius: 0.5vw;
      border: 2px solid #4C608A;

      &.active {
        height: calc(#{$tab-size} + 2vh);
        background: #4C608A;
      }

      &.not-active {
        margin-top: 2vh;
        height: $tab-size;
      }
    }
  }

  .opacity-04 {
    opacity: 0.4;
  }

  .opacity-07 {
    opacity: 0.7;
  }

  .m-t-1-e3 {
    margin-top: 1vw;
  }

  .m-t-2-e3 {
    margin-top: 2vw;
  }

  .content-container-e354 {
    margin-top: 2vw;
    width: 100vw;
    color: white;
    height: calc(100vh - 5.834vw - 2vw - 2vh - 2vw);

    >div {
      height: calc(100vh - 5.834vw - 2vw - 2vh - 2vw);
    }

    .tab-content-e354 {
      overflow-y: auto;
      padding-bottom: 6vh;
      padding-top: 3vh;
      color: white;
      padding-left: 4vw;
      padding-right: 4vw;
      height: calc(100vh - 5.834vw - 2vw - 2vh - 2vw);
      background: #4C608A;

      .top-header-e354 {
        position: relative;
        padding-left: 2.7vw;

        svg {
          position: absolute;
          top: 0.3vw;
          left: -0.7vw;
          width: 3vw;
          height: 3vw;
        }
      }

      .boxes-e354 {
        margin-top: 3vh;
        display: flex;

        .box-box {
          height: 10.5vw;
          border-radius: 1vw;
          border: 2px solid #FFFFFF66;
          background: #19326680;
          stroke-width: 2;
        }

        .box-first {
          padding-top: 0.6vh;
          padding-bottom: 0.6vh;
          padding-left: 1vw;
          position: relative;
          width: 25vw;
          margin-right: 1vw;

          svg {
            position: absolute;
            top: 0.4vw;
            right: 0.4vw;
            width: 1vw;
            height: 1vw;
          }
        }

        .box-second {
          padding-top: 0.4vw;
          padding-right: 1vw;
          padding-left: 1vw;
          position: relative;
          width: 65vw;
          margin-left: 1vw;

          svg {
            width: 1vw;
            height: 1vw;
          }

          .not-started-label {
            svg {
              margin-right: 0.3vw;
            }
          }

          .percentage-final {
            height: 7.5vw;
          }

          .survey-button {
            margin-top: 0.4vw;
            padding: 0.2vw 2vw;
            border-radius: 1vw;
            background: var(--theme-orange);
            cursor: pointer;
          }

          .progress-bar-sixthform {
            margin-top: 0vw;
            margin-bottom: 1.3vw;
            width: 60vw;
          }

          .second-box-top-text {
            display: flex;

            >div {
              width: 50%;
            }

            .absolute-icon {
              position: absolute;
              width: 2vw;
              height: 2vw;
              top: 0.5vw;
              right: 0.5vw;
            }
          }

          .flex-end {
            display: flex;
            justify-content: flex-end;

            .survey-button {
              border-radius: 0.5vw;
              margin-top: 0.8vw;
            }
          }
        }
      }

      .box-e354-big {
        margin-top: 3vh;
        display: flex;
        border-radius: 1vw;
        padding-left: 1vw;
        padding-right: 1vw;
        border: 2px solid #FFFFFF66;
        background: #19326680;
        stroke-width: 2;
        width: 100%;

        .box-box {
          width: 100%;
        }

        .top-text-cotainer {
          margin-bottom: 3vh;
          width: 100%;
          padding-top: 0.3vw;
          display: flex;

          .first-box {
            width: 50%;
          }

          .second-box {
            width: 50%;
            text-align: right;
          }
        }

        .line-e354 {
          margin-top: 0.8vh;
          background: #FFFFFF66;
          height: 3px;
          width: 100%;
        }

        .cards-drop {
          //overflow-x: scroll;
          min-height: 12vw;
          display: flex;
          flex-wrap: wrap;

          >div {
            margin-bottom: 1vw;
          }

          &.empty {
            svg {
              height: 7vw;
              width: 29.1vw;

              &.first {
                margin-right: 1vw;
              }

              &.last {
                margin-left: 1vw;
              }
            }
          }

          &.real {
            margin-top: 1.5vw;
            display: flex;
            margin-bottom: 1.5vw;
            overflow-x: scroll;

            >div {
              margin-right: 1vw;
            }

            .subject-group {
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: center;
              width: 28.8vw;
              background: #193266B2;
              border: 2px solid #E5E6ED66;
              border-radius: 0.5vw;
              color: #FFFFFFB2;
            }

            &.definities-list {
              .T-level {
                width: 88.5vw;

                .subject-name {
                  width: 87vw !important;

                  .left-part-e323 {
                    width: 52vw;

                    .level-round {
                      margin-left: 1vw;
                      display: inline;
                    }
                  }
                  .right-part-e323 {
                    width: 34vw;
                  }
                }

                .flex-box-e234 {
                  display: flex;

                  &:nth-child(1) {
                    width: 20vw;
                  }

                  .box-v32 {
                    margin-top: 0;
                    padding-top: 1vw;
                    width: 8vw;
                    height: 8.4vw;
                  }

                  .taste-container {
                    margin-left: 0.5vw;
                  }
                }
              }
            }
          }
        }
      }
    }

    .tab-content-survey {
      img {
        margin-top: 4vh;
        height: 30vh;
      }

      .btn-orange {
        cursor: pointer;
        margin-top: 3vh;
        border-radius: 0.5vw;
        padding: 0.6vw 1.4vw;
        background: var(--theme-orange);
      }
    }

    .taster-content {
      padding-left: 5.8vw;

      .title-above {
        margin-left: 1vw;
      }

      .bricks-container {
        display: flex;
        flex-wrap: wrap;

        .brick-container-23 {
          position: relative;
          margin-left: 1vw;
          margin-right: 1vw;

          .brick-container {
            cursor: pointer;

            .scroll-block {
              margin-top: 2.5vw;
              margin-bottom: 2.5vw;
              width: 20vw;
              height: 11vw;
              border-radius: 1vw;
              background-size: cover;
              background-position: center center;

              flex-flow: column nowrap;
              background-repeat: no-repeat;
              position: relative;
              margin-left: auto;
              margin-right: auto;
            }

            .bottom-description,
            .bottom-description-color {
              position: absolute;
              bottom: 2.5vw;
              text-align: center;
              height: 4vw;
              width: 100%;
            }

            .bottom-description-color {
              opacity: 1;
              background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
              z-index: 10;
              border-bottom-right-radius: 1vw;
              border-bottom-left-radius: 1vw;
            }

            .bottom-description {
              display: flex;
              align-items: center;
              justify-content: center;
              z-index: 11;
              text-transform: uppercase;
            }
          }

          .subjectName {
            bottom: 1vw;
            position: absolute;
          }
        }
      }
    }
  }

  /* fonts */
  .font-8 {
    font-size: calc(0.5vw * $font-scale);
  }

  .font-11 {
    font-size: calc(0.6875vw * $font-scale);
  }

  .font-12 {
    font-size: calc(0.75vw * $font-scale);
  }

  .font-13 {
    font-size: calc(0.81vw * $font-scale);
  }

  .font-14 {
    font-size: calc(0.875vw * $font-scale) !important;
  }

  .font-15 {
    font-size: calc(0.9375vw * $font-scale);
  }

  .font-16 {
    font-size: calc(1vw * $font-scale);
  }

  .font-18 {
    font-size: calc(1.125vw * $font-scale);
  }

  .font-20 {
    font-size: calc(1.25vw * $font-scale);
  }

  .font-22 {
    font-size: calc(1.35vw * $font-scale);
  }

  .font-24 {
    font-size: calc(1.5vw * $font-scale);
  }

  .font-25 {
    font-size: calc(1.56vw * $font-scale);
  }

  .font-30 {
    font-size: calc(1.8vw * $font-scale);
  }

  .font-32 {
    font-size: calc(2vw * $font-scale);
  }

  .font-36 {
    font-size: calc(2.25vw * $font-scale);
  }

  .font-40 {
    font-size: calc(2.5vw * $font-scale);
  }

  .font-48 {
    font-size: calc(3vw * $font-scale);
  }

  .font-64 {
    font-size: calc(4vw * $font-scale);
  }

  .line-height-1 {
    line-height: 1;
  }

  .line-height-1m15 {
    line-height: 1.15;
  }




  .subject-sixth-card {
    width: 28.8vw;
    min-width: 28.5vw;

    > div {
      color: var(--theme-dark-blue);
      border-radius: 0.5vw;
      background: white;
      padding: 2vh 1.2vw;
    }

    .height-transform {
      transition: all 200ms ease-in-out;
    }

    .visible {
      max-height: 100vw;
    }

    .hidden {
      max-height: 0;
      overflow: hidden;
    }

    &.expanded {
      max-height: unset;
      min-height: calc(10.3vw + 4vh + 1vh + 2vh + 1.3vh + 1.3vh);
    }

    .facilitation-container {
      width: 100%;
      position: relative;

      >div {
        position: absolute;
        top: 0.3vw;
        right: 0;
        display: flex;
        align-items: center;
      }

      svg {
        width: 1vw;
        height: 1vw;
      }
    }

    .subject-name {
      position: relative;
      display: flex;
      align-items: center;
      width: 26vw !important;

      padding-bottom: 1vh;

      .subject-name-only {
        width: 23vw;
      }

      .subject-circle {
        margin-right: 0.3vw;
        width: 0.8vw;
        height: 0.8vw;
      }

      .yellow-circle {
        color: var(--theme-yellow);
      }

      .green-circle {
        color: var(--theme-green);
      }

      .red-circle {
        color: var(--theme-orange);
      }
    }

    .second-row {
      display: flex;

      .box-v32 {
        margin-top: 2vh;
        border-radius: 0.3vw;
        width: 33.3%;
        background: #4C608A1A;
        padding-bottom: 0.5vh;

        text-align: center;

        div {
          padding-top: 0.2vh;
          padding-bottom: 0.2vh;
        }

        svg {
          padding-top: 0.5vw;
          width: 2vw;
          height: 2vw;
        }

        &.m-r {
          margin-right: 0.5vw;
        }

        &.m-l {
          margin-left: 0.5vw;
        }

        >div {
          display: flex;
          justify-content: center;
        }
      }
    }

    .switch-button {
      border-radius: 0.5vw;
      margin-top: 2vh;
      background: #EEF0F4;
      color: #181B20;
      display: flex;
      padding-top: 0.22vw;
      padding-bottom: 0.22vw;
      padding-left: 0.22vw;
      padding-right: 0.22vw;

      >div {
        cursor: pointer;
        text-align: center;
        width: 33.4%;
        padding-top: 0.6vh;
        padding-bottom: 0.6vh;
      }

      .active {
        border-radius: 0.5vw;
      }

      .active-yellow {
        color: white;
        background: var(--theme-yellow);
      }

      .active-green {
        color: white;
        background: var(--theme-green);
      }

      .active-red {
        color: white;
        background: var(--theme-orange);
      }
    }

    .level-round {
      max-width: 4.5vw;
      padding-left: 0.5vw;
      padding-right: 0.5vw;
      height: 1.5vw;
      border-radius: 0.4vw;
      background: #4C608AB2;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .taste-container {
      margin-top: 2vh;
      display: flex;
      background: #4C608A1A;
      border-radius: 0.5vw;
      padding: 0 0.6vw;

      >div {
        width: 48%;
      }

      .label-container {
        display: flex;
        align-items: center;
        padding-right: 0;
        width: 52%;

        .font-18 {
          margin-bottom: 1vh;
        }

        .percentages {
          line-height: 1.2;
          color: var(--theme-green);
        }

        .btn-orange {
          margin-top: 0.3vw;
          cursor: pointer;
          color: white;
          width: 9vw;
          line-height: 1.6;
          background: var(--theme-orange);
          text-align: center;
          border-radius: 3vw;
          transition: opacity 200ms ease-in-out;

          &:hover {
            opacity: 0.8;
          }
        }
      }

      .brick-container {
        position: relative;

        .scroll-block {
          margin-top: 2vh;
          margin-bottom: 2vh;
          width: 9.5vw;
          height: 6.4vw;
          border-radius: 1vw;
          background-size: cover;
          background-position: center center;

          flex-flow: column nowrap;
          background-repeat: no-repeat;
          position: relative;
          margin-left: auto;
          margin-right: auto;
        }

        .bottom-description,
        .bottom-description-color {
          position: absolute;
          bottom: 0;
          text-align: center;
          height: 1.8vw;
          width: 100%;
        }

        .bottom-description-color {
          opacity: 0.8;
          background: var(--tab-gray);
          z-index: 10;
        }

        .bottom-description {
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 11;
        }
      }

      &.smaller {
        .brick-container .scroll-block {
          margin-top: 1.3vh;
          margin-bottom: 1.3vh;
          margin-right: 0;
        }

        .label-container .margin-bottom-0 {
          margin-bottom: 0;
        }

        .brick-title-e342 {
          width: 15vw;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          text-transform: uppercase;

          >p {
            text-transform: uppercase;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
      }
    }
  }
}

.SixthformChoicesPage~.beta-text {
  display: none;
}