$orange: #C43C30;
$global-light-text-grey: #757576;
$black-blue: #0b3b7f;
$dark-blue: #001C58;
$light-blue: #193266;
$white-grey: #E1E1E1;
$tab-grey: #E5E8ED;
$light-green: #30C474;
$input-grey: #FAFAFB;

$global-drop-border-radius: 0.4vw;
$base-lg-text-size: 0.65vw;
$base-sm-text-size: 0.9vw;
$base-md-text-size: 1.1vw;
$bin-size: 1.3vw;

$font-family-regular: 'Brandon Grotesque Regular'; 
$answer-input-text-size: 1.1vw;

