$orange: #B44438;
$global-orange: #B54639;
$global-orange-hover: #c94f42;
$global-light-text-grey: #757576;

$global-drop-border-radius: 0.4vw;

$base-lg-text-size: 0.65vw;

$bin-size: 1.3vw;

$black-blue: #0b3b7f;
$dark-blue: #001D55;

$white-grey: #E1E1E1;
