@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

@import 'src/assets/sass/utils/utils';


.f-regular {
  font-family: $font-family-regular;
}

.f-bold {
  font-family: $font-family-bold;
}

.f-black {
  font-family: $font-family-black;
}

.flex-y-center {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.codeblockcustom {
  width: 100%;
  display: block;
  font-family: monospace;
  background: #23241f;
  color: #f8f8f2;
  padding-top: 0vw;
  padding-bottom: 0vw;
  padding-left: 0.5vw;

  strong {
    font-family: monospace !important;
  }
}

.quill-document-editor {
  .codeblockcustom {
    padding-left: 0.4vw;
  }
}