$lf-palette: (
    50 : #e0eff6,
    100 : #b3d6e9,
    200 : #80bbda,
    300 : #4d9fcb,
    400 : #268bbf,
    500 : #0076b4,
    600 : #006ead,
    700 : #0063a4,
    800 : #00599c,
    900 : #0a3b7e,
    A100 : #b8d6ff,
    A200 : #5bc1ff,
    A400 : #529cff,
    A700 : #398dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
