@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.build-complete-page {
  color: var(--theme-dark-blue) !important;

  .MuiRadio-root {
    color: rgba(0, 0, 0, 0.54);
    color: var(--theme-dark-blue) !important;
  }

  .MuiIconButton-root.MuiRadio-colorSecondary.Mui-checked {
    color: var(--theme-dark-blue);
  }

  .introduction-page {
    padding: 0 !important;
  }

  .round-button {
    background: var(--theme-green) !important;
    svg {
      $padding: 0.7vw;
      padding: $padding;
      color: var(--white);
      height: calc(100% - #{$padding * 2}) !important;
      width: calc(100% - #{$padding * 2}) !important;
    }
  }

  .intro-header {
    position: absolute;
    top: 0;
    left: 4.7vw;
    right: 2vw;
    width: calc(100% - 4.7vw - 2vw);
  }

  .left-brick-circle {
    left: -3vw !important;
    top: 3.7vh !important;
  }

  h2 {
    text-transform: none !important;
    text-align: center !important;
    display: block !important;
    padding: 0 !important;
    width: 100%;
    margin-top: 3vh !important;
    font-size: 4.1vw !important;
    font-family: $font-family-bold !important;
  }

  .radio-container {
    @extend %flexToYCenter;
    margin-top: 5vh;

    .MuiRadio-root {
      padding: 0;
      margin-right: 2vw;
    }

    svg,
    input {
      height: 1.8vw;
      width: 1.8vw;
    }

    .svg {
      margin-left: 2vw;
    }

    .radio-text {
      font-size: 2vw !important;
      font-family: $font-family-bold !important;
    }
  }

  .pointer {
    cursor: pointer;
  }

  .inner-radio-text {
    margin-left: 4vw;

    &.last-one {
      font-family: $font-family-regular-italic;
      margin-top: 5vh;

      .bold {
        font-family: $font-family-bold-italic;
      }
    }
  }
  .complete-brick-name {
    padding-left: 0;
    font-size: 2.1vw;
    margin-top: 7vh;
  }
}
