@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.short-answer-live {
  display: flex;
  width: 100%;
  flex-direction: column;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 0.5vh;
    background-color: var(--tab-gray);
    @extend %themeRadius;
  }

  .document-editor {
    width: 100%;
  }
}
