@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.short-answer-live {
  display: flex;
  width: 100%;
  flex-direction: column;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 0.5vh;
    background-color: var(--tab-gray);
    @extend %themeRadius;
  }
  .document-editor {
    width: 100%;
    .ck-editor {
      width: 100% !important;
      .ck-content {
        background-color: var(--tab-gray);
        padding: 0.3vw 0.3vw 0 0.3vw !important;
        p {
          margin: 0;
          @extend %textCenter;
        }
      }
    }
    .ck-toolbar {
      display: none !important;
    }
  }
}
