@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.short-answer-live {
  display: flex;
  width: 100%;
  flex-direction: column;
  .short-answer-input {
    display: inline-block;
    margin-bottom: 0.5vh;
    background-color: var(--tab-gray);
    @extend %themeRadius;
  }
  $toolbar-width: 2vw;
  $border-radius: 0.6vw;

  .document-editor {
    width: 100%;
    .ck-editor {
      width: calc(100% - #{$toolbar-width}) !important;
      background: #f5f6f7;
      padding-left: 1vw !important;
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      .ck-content {
        background-color: var(--tab-gray);
        padding: 0.3vw 0.3vw 0 0.3vw !important;
        p {
          margin: 0;
          @extend %textCenter;
        }
      }
    }
    .ck-toolbar {
      position: absolute;
      width: $toolbar-width;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      .ck-toolbar__items {
        border-top-right-radius: $border-radius !important;
        border-bottom-right-radius: $border-radius !important;
      }
    }
  }
}
