@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.short-answer-live {
  display: flex;
  width: 100%;
  flex-direction: column;
  .short-answer-input {
    position: relative;
    display: inline-block;
    margin-bottom: 0.5vh;
    background-color: var(--tab-gray);
    @extend %themeRadius;
    
    .quill-document-editor .ql-editor::before {
      font-size: 1.4vw;
    }

    &.correct .quill-document-editor .ql-editor{
      background: var(--theme-green-alpha5) !important;
    }
    &.wrong .quill-document-editor .ql-editor{
      &::before {
        color: var(--white) !important;
      }
      color: var(--white) !important;
      p, span {
        color: var(--white) !important;
      }
      background: var(--theme-orange) !important;
    }
  }
  $toolbar-width: 5vw;
  $border-radius: 0.6vw;

  .document-editor {
    width: 100%;
  }
  .MuiSnackbar-root {
    position: absolute !important;
    z-index: 999999;
    font-size: 2vw;

    top: 30% !important;
    height: 30vh;
    left: unset !important;
    right: 6vw !important;
    width: 20vw;

    .MuiSnackbarContent-root {
      text-align: justify;
      padding: 0 1.7vw 0.8vw 1vw;
      border-radius: 0.7vw;
      background: var(--theme-light-blue);
      font-size: 1.4vw;
      font-family: $font-family-regular;

      .MuiSnackbarContent-action {
        padding: 0;
      }

      .exclamation-mark {
        border-radius: 100vw;
        padding-left: 0.7vw;
        padding-right: 0.7vw;
        margin-right: 1vw;
        font-size: 1.2vw;
        @extend %textCenter;
        font-weight: bold;
        font-family: $font-family-black;
        color: white;
        background-color: var(--theme-orange);
      }
    }
  }
}
