@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.ending-page {
  h1 {
    @include tabletP {
      margin: 4vh 0;
      padding-left: 0 !important;
      display: block !important;
      text-align: center !important;
    }
  }
  .introduction-page {
    .intro-text-row {
      .stepper {
        .step {
          color: var(--theme-dark-blue) !important;
          .svg {
            @extend %removePosition;
          }
        }
      }
    }
  }

  .begin-row {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: right;
  }

  .start-brick-button {
    margin-right: 0px;

    > span {
      font-family: $font-family-regular;
      font-size: 18px;
      margin-right: 10px;
    }
  }

  .score-precentage {
    margin-top: 3vh;
    font-family: $font-family-black;
    color: var(--theme-dark-blue);
    font-size: 12.5vh;
    line-height: 1;
    overflow: hidden;
  }

  .score-number {
    font-family: $font-family-bold;
    color: var(--theme-dark-blue);
    font-size: 4vh;
    line-height: 1;
    @extend %textCenter;
  }

  .intro-header {
    font-size: 1.7vw !important;
  }

  .blue {
    color: var(--theme-dark-blue);
  }
  &.mobile-ending-page {
    height: calc(100vh - 6vh) !important;
    position: relative;
    overflow-y: inherit !important;
    .question-live-play {
      margin-top: 0 !important;
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100% !important;
    }
    .circle-progress-third {
      height: 80vw !important;
      width: 80vw !important;
    }
    .circle-progress-second {
      height: 85vw !important;
      width: 85vw !important;
    }
    .circle-progress-first {
      height: 90vw !important;
      width: 90vw !important;
    }

    .introduction-page {
      .intro-header {
        display: none !important;
      }
    }
  }
}
