@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.privacy-policy-dialog.dialog-box {
  height: 100vh !important;
  padding: 6vh 5vw;
  z-index: 1000000 !important;
  width: 100vw;
  overflow: hidden;

  // for desktop
  .MuiDialog-paper {
    position: relative;
    height: 88vh;
    width: 50vw;
    max-width: 90vw;
    padding-top: 0;
    padding-bottom: 0;

    .private-policy-content {
      padding: 2.5vh 1.5vw;
      height: 84vh;
      font-size: 1.43vw;
      overflow-y: auto;
      color: var(--theme-dark-blue);
      @include phone_and_tabletP {
        font-size: 4vw !important;
      }
      .private-policy-title {
        text-transform: capitalize;
        font-family: $font-family-black;
        @extend %textCenter;
        margin-bottom: 2.5vh;
        color: var(--theme-orange);
      }
      p,
      ol {
        margin-bottom: 2vh;
        text-align: justify;
        font-family: $font-family-regular;
      }

      h4 {
        font-family: $font-family-bold;
        color: var(--theme-orange);
        margin-bottom: 0;
      }
      h3 {
        color: var(--theme-orange);
        font-size: 2vw;
        @extend %textCenter;
        font-family: $font-family-bold;
        letter-spacing: 0;
      }
    }
  }

  // for mobile
  @include phone_and_tabletP {
    .MuiDialog-paper {
      position: relative;
      height: 88vh;
      width: 90vw;
      max-width: 90vw;
    }
  }
}

.cookie-policy-dialog {
  .MuiDialog-paper {
    height: auto !important;
  }
  .private-policy-content {
    height: auto !important;
  }
  button {
    margin-bottom: 2.5vh;
  }
}