@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.progress-value {
  $level-size: 6vh;
  .academic-lines {
    .start-lines, .end-lines {
      display: flex;
      align-items: center;
      height: $level-size;
      > div {
        width: 100%;
      }
      .level {
        background: var(--tab-gray);
        width: 100%;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        height: 0.7vh;
      }
    }
    .end-lines {
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    &.smaller {
      .start-lines, .end-lines {
        height: 3vh;
      }
      .level {
        background: var(--tab-gray);
        width: 100%;
        margin-top: 0.3vh;
        margin-bottom: 0.3vh;
        height: 0.4vh;
      }
    }
  }
}