@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.progress-value {
  $level-size: 6vh;
  .academic-lines {
    .start-lines, .end-lines {
      display: flex;
      align-items: center;
      height: $level-size;
      > div {
        width: 100%;
      }
      .level {
        background: var(--white);
        width: 100%;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
        height: 0.7vh;
      }
    }
    .end-lines {
      width: 100%;
      position: absolute;
      bottom: 0;

      .lib-author {
        position: absolute;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .lib-circle {
          background: var(--white);
          border-radius: 50%;
          width: 1.4vw;
          height: 1.4vw;
          max-height: 6vh;
          max-width: 6vh;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1vw;
          color: var(--theme-dark-blue);
        }
      }
    }

    &.smaller {
      .start-lines, .end-lines {
        height: 3vh;
      }
      .level {
        background: var(--white);
        width: 100%;
        margin-top: 0.3vh;
        margin-bottom: 0.3vh;
        height: 0.4vh;
      }
    }
  }
}