@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';


.my-library {
  $small-level-size: 3vh;
  $level-size: 6vh;

  .competition-star {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    > svg {
      border-bottom-left-radius: 0.4vw;
      border-bottom-right-radius: 0.4vw;
      width: 0.8vw;
      height: 1.5vw;
      padding-top: 0;
      display: flex;
      justify-content: center;
      border-top-left-radius: 0.25vw;
      border-top-right-radius: 0.25vw;
    }

    &.bigger {
      > svg {
        width: 2vw;
        height: 3.9vw;
        border-bottom-left-radius: 1vw;
        border-bottom-right-radius: 1vw;
      }
    }
  }

  .custom-tooltip.subject-tooltip .brick-inline {

    p,
    span {
      color: var(--white) !important;
    }
  }

  .library-title {
    display: flex;
    align-items: center;
    margin-top: 2vh;
    padding-left: 3vw;
    font-family: $font-family-bold;
    color: var(--theme-dark-blue);
    font-size: 3vw;
    text-transform: capitalize;

    .circle-container {
      border-radius: 50%;
      margin-left: 1.5vw;
      width: 2.5vw;
      height: 2.5vw;
      color: var(--white);
      position: relative;

      svg {
        position: absolute;
        stroke-width: 2;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
      }
    }

    .book-green {
      border-radius: 50%;
      margin-left: 1.5vw;
      width: 2.5vw;
      height: 2.5vw;
      color: var(--white);
      background: var(--theme-green);
      position: relative;

      svg {
        position: absolute;
        stroke-width: 2;
        top: 20%;
        left: 20%;
        width: 60%;
        height: 60%;
      }

      .custom-tooltip {
        display: none;
      }

      &:hover .custom-tooltip {
        display: block;
        z-index: 100;
        top: 3vw;
        left: -5vw;
        background: var(--tab-gray);
        width: 13vw;
      }
    }

    .static-numbers {
      margin-left: 0.5vw;
      font-size: 2vw;
      display: flex;
      align-items: center;
    }

    .smaller-number {
      margin-left: 0.3vw;
      margin-bottom: 1.2vw;
      font-size: 1.2vw;
    }

    .box-blue {
      background: var(--theme-dark-blue);
      .custom-tooltip {
        display: none;
      }

      &:hover .custom-tooltip {
        display: block;
        z-index: 100;
        top: 3vw;
        left: -1.8vw;
        background: var(--tab-gray);
        width: 7vw;
      }
    }

    .box-yellow {
      background: var(--theme-yellow);
      svg {
        padding-left: 0.2vw;
      }

      .custom-tooltip {
        display: none;
      }

      &:hover .custom-tooltip {
        display: block;
        z-index: 100;
        top: 3vw;
        left: -1.8vw;
        background: var(--tab-gray);
        width: 7vw;
      }
    }

    .absolute-scores {
      position: absolute;
      right: 1vw;
      width: 17.3vw;
      display: flex;
    }

    .ellipsis-title {
      width: 30vw;
      font-size: 2.4vw;
      max-width: 30vw;
      text-overflow: ellipsis;
      overflow-x: hidden;
      white-space: nowrap;
    }

    .hs-score {
      $size: 2.5vw;
      font-size: 1.2vw;
      position: relative;

      .custom-tooltip {
        display: none;
      }

      &:hover .custom-tooltip {
        display: block;
        z-index: 100;
        top: 3vw;
        left: -1.8vw;
        background: var(--tab-gray);
        width: 7vw;
      }

      .score-container-v5 {
        margin-left: 0.3vw;
        height: $size;
        width: $size;
        position: relative;
      }

      .CircularProgressbar {
        position: absolute;
        top: 0;
        left: 0;
        width: $size;
        height: $size;

        .CircularProgressbar-trail {
          display: none;
        }

        .CircularProgressbar-path {
          stroke: var(--theme-green);
        }
      }

      .score-absolute {
        top: 0;
        left: 0;
        width: $size;
        height: $size;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 1vw;
      }
    }

    .avg-score {
      margin-left: 1vw;

      .CircularProgressbar {
        .CircularProgressbar-path {
          stroke: var(--theme-light-blue);
        }
      }
    }

    .ls-score {
      margin-left: 1vw;

      .CircularProgressbar {
        .CircularProgressbar-path {
          stroke: var(--theme-orange);
        }
      }
    }
  }

  .all-subject-assignments {
    height: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh) !important;

    .my-library-list {
      padding-bottom: 9vh;
    }
  }

  .subjects-filter {
    height: 25vh !important;
  }

  .classroom-filter-custom {
    height: 25vh;
    overflow-y: scroll;
  }

  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }

  .one-subject {
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 12vh;
    height: 100%;

    .libary-container {
      background: var(--theme-dark-blue);
      border-radius: 0.7vw;
      height: 100%;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      $base-side-margin: 0.32vw;
      padding-left: $base-side-margin;
      padding-right: $base-side-margin;

      >div {
        height: 100%;
        $base-width: 2vw;

        .assignment {
          margin-left: $base-side-margin;
          margin-right: $base-side-margin;
          $base-radius: 0.55vw;
          border-radius: $base-radius;

          .progress-value {
            border-radius: $base-radius;

            .rotated-text {
              font-size: 1.2vw;
              color: var(--white);
            }

            .text-dark-gray {
              .rotated-text {
                color: var(--dark-gray);
              }
            }
          }

          .default-value.progress-value .rotated-text {
            padding-left: calc(5.5vw + 2.8vh);
          }
        }

        .length-20 {
          width: $base-width;

          .rotated .rotated-text {
            height: $base-width;
            line-height: 1.7;
          }

          .progress-value {
            width: $base-width;
          }
        }

        .length-40 {
          $width: calc(#{$base-width} * 2);
          width: $width;

          .rotated .rotated-text {
            height: $width;
            line-height: 3.4;
          }

          .progress-value {
            width: $width
          }
        }

        .length-60 {
          $width: calc(#{$base-width} * 4);
          width: $width;

          .rotated .rotated-text {
            height: $width;
            line-height: 6.4;
          }

          .progress-value {
            width: $width;
          }
        }
      }
    }
  }

  .single-assignment-progressbar {
    .background {
      height: 100%;
      width: 100%;
      border-radius: 0.35vw;
    }
    .default-value .rotated-container .rotated .rotated-text {
      opacity: 0.5;
    }
    &.general {
      .progress-value .rotated-container .rotated .rotated-text {
        color: var(--theme-dark-blue);
      }
      .progress-value.default-value .rotated-container .rotated .rotated-text {
        color: white;
      }
      .pr-lock-container {
        color: var(--theme-dark-blue) !important;
      }
      .academic-lines {
        .lib-circle {
          color: white !important;
          background: var(--theme-dark-blue) !important;
        }
        .level {
          background: var(--theme-dark-blue) !important;
        }
      }
    }

    .rotated-container {
      position: absolute;
      bottom: 0;

      .rotated {
        transform: rotate(270deg);

        .rotated-text {
          padding-left: $level-size;
          padding-right: $level-size;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          overflow: hidden;
          font-family: $font-family-bold;
          color: #C8CACC;
          width: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh - 8vh - 3vh);

          p {
            color: #C8CACC;
            font-size: 1vw;
            font-family: $font-family-bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }

      &.white .rotated .rotated-text p {
        color: var(--white);
      }

      &.left-align {
        .rotated .rotated-text {
          justify-content: flex-start;
        }
      }
    }

    .custom-tooltip.subject-tooltip {
      margin-top: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh - 8vh - 2vh);
    }

    .length-40 .custom-tooltip.subject-tooltip {
      margin-left: 0.5vw;
    }

    .length-60 .custom-tooltip.subject-tooltip {
      margin-left: 2vw;
    }

    .teacher-initials {
      width: 100%;
      position: absolute;
      display: flex;
      left: 0;
      justify-content: center;
      bottom: 1vh;
      z-index: 200;

      >div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8vw;
        width: 1.3vw;
        height: 1.3vw;
        max-width: 3vh;
        max-height: 3vh;
        text-align: center;
        border-radius: 50%;
        text-transform: uppercase;
        background: var(--white);
        color: var(--theme-dark-blue);
      }
    }

    .pr-lock-container {
      position: absolute;
      width: 100%;
      border-top-left-radius: 1.5vw;
      border-top-right-radius: 1.5vw;
      border-bottom-left-radius: 0.35vw;
      border-bottom-right-radius: 0.35vw;
      height: calc(5vw + 2.8vh);
      bottom: 0;
      font-family: $font-family-bold;
      color: var(--white);

      >div {
        display: flex;
        justify-content: center;
        line-height: 1 !important;
      }

      svg {
        margin-top: 0.8vw;
        margin-bottom: 0.4vw;
        height: 1.5vw;
        width: 1.5vw;
        stroke-width: 2;
      }
    }
  }

  .progress-value {
    transition: all 300ms ease-out !important;
  }

  .one-subject-pagination {
    position: absolute;
    bottom: 1vh;
    width: calc(100% - 4vw) !important;
    right: 2vw;
  }

  .single-subject-assignments {
    height: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh) !important;
  }

  .my-library-list {
    height: 100%;
    padding-top: 2vh;
    padding-left: 1.5vw;
    margin-right: 2vw;

    .libary-container-1 {
      height: calc(100% / 3);
      margin-left: 0.5vw;
      margin-right: 0.5vw;

      .subject-name-v3 {
        cursor: pointer;
        padding: 0 !important;
        position: relative;
        color: white;
        background: var(--theme-light-blue);
        width: 2vw;
        border-top-left-radius: 0.8vw;
        border-bottom-left-radius: 0.8vw;
        font-size: 1vw;

        >div {
          width: 0;
          height: 0;
          transform: rotate(-90deg);

          >div {
            .round-circle {
              width: 0.8vw;
              height: 0.8vw;
              border-radius: 50%;
              margin-right: 0.4vw;
            }
            font-family: $font-family-bold;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 0.1vw;
            right: 0;
            position: absolute;
            width: calc((100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 11vh) / 3) !important;
            height: 2vw;
          }
        }
      }

      .libary-container {
        height: 100%;
        display: flex;
        background: var(--theme-dark-blue);
        border-radius: 0.7vw;
        padding-right: 0.4vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-top: 0;
        padding-bottom: 0;

        >div {
          padding-left: 0.3vw;
          padding-top: 1vh;
          padding-bottom: 1vh;
        }
      }
    }
  }

  .assignment-progressbar {
    position: relative;
    height: 100%;
    display: inline-block;

    &.all-subjects:hover {
        .default {
          background: rgba(25, 50, 102, 0.9) !important;
        }
    }

    .assignment:hover .progress-value {
      opacity: 0.5 !important;

      &.small-value:hover {
        opacity: 0.9 !important;
      }
  
    }

    .rotated-container {
      z-index: 1000;
      position: absolute;
      bottom: 0;

      .rotated {
        transform: rotate(270deg);

        .rotated-text {
          padding-left: $small-level-size;
          padding-right: $small-level-size;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          overflow: hidden;
          font-family: $font-family-bold;
          color: #C8CACC;
          font-size: 0.8vw;

          &.no-padding {
            text-align: center;
            padding-left: 2.2vh;
            padding-right: 0 !important;
          }
        }
      }

      &.white .rotated .rotated-text p {
        color: var(--white);
      }

      &.left-align {
        .rotated .rotated-text {
          justify-content: flex-start;
        }
      }
    }

    .assignment {
      $small-book-radius: 0.2vw;

      cursor: pointer;
      height: 100%;
      width: 1vw;
      margin-left: 0.2vw;
      margin-right: 0.2vw;
      border-radius: $small-book-radius;

      &.default {
        background: var(--theme-light-blue) !important;
      }

      &.assigned {
        opacity: 0.2;
      }

      .default-value {
        height: 100%;
      }

      &.length-20 {
        width: 0.8vw;

        .progress-value {
          width: 0.8vw;
          line-height: 1;
        }
      }

      &.length-40 {
        width: 1.6vw;

        .progress-value {
          line-height: 1.9;
          width: 1.6vw;
        }
      }

      &.length-60 {
        width: 3.2vw;

        .progress-value {
          line-height: 3.9;
          width: 3.2vw;
        }
      }
    }

    .progress-value {
      position: absolute;
      bottom: 0;
      border-radius: 0.25vw;
    }

    .subject-tooltip {
      background: var(--white);
      margin-top: calc((100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 12vh) / 4);
      text-align: center;
      transform: translate(-25%, 0);
      width: 13vw;
      z-index: 1200;

      &.yellow-background {
        background: var(--theme-yellow);

        .CircularProgressbar .CircularProgressbar-path {
          stroke: var(--theme-dark-blue) !important;
        }
      }

      .relative {
        margin-top: 1vh;
        margin-bottom: 1vh;
        position: relative;
      }

      .brick-inline {
        font-family: $font-family-bold;

        p {
          font-family: $font-family-bold;
          color: var(--theme-dark-blue) !important;
        }
      }

      .circle-score {
        position: absolute;
        top: 0;
        height: 3vw;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .CircularProgressbar {
        width: 3vw;
        height: 3vw;

        .CircularProgressbar-trail {
          display: none;
        }

        .CircularProgressbar-path {
          stroke: var(--theme-green);
        }
      }
    }
  }

  .one-subject {
    .assignment-progressbar {
      .rotated-container {
        .rotated {
          .rotated-text {
            padding-left: $level-size;
            padding-right: $level-size;
          }
        }
      }
    }
  }

  .progress-value {
    .academic-lines {

      .start-lines,
      .end-lines {
        display: flex;
        align-items: center;
        height: $level-size;

        >div {
          width: 100%;
        }

        .level {
          background: var(--white);
          width: 100%;
          margin-top: 0.5vh;
          margin-bottom: 0.5vh;
          height: 0.7vh;
        }
      }

      .end-lines {
        width: 100%;
        position: absolute;
        bottom: 0;
      }

      &.smaller {

        .start-lines,
        .end-lines {
          height: $small-level-size;
        }

        .level {
          background: var(--white);
          width: 100%;
          margin-top: 3px;
          margin-bottom: 3px;
          height: 3px;
        }
      }
    }
  }
  .assignment-progressbar.general .academic-lines {

    &.smaller .level {
      background: var(--theme-dark-blue) !important;
    }
  }
}