@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';


.my-library {
  $small-level-size: 3vh;
  $level-size: 6vh;
  .custom-tooltip.subject-tooltip .brick-inline {
    p, span {
      color: var(--white) !important;
    }
  }

  .library-title {
    margin-top: 2vh;
    padding-left: 3vw;
    font-family: $font-family-bold;
    color: var(--theme-dark-blue);
    font-size: 3vw;
  }

  .all-subject-assignments {
    height: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh) !important;
    .my-library-list {
      padding-bottom: 9vh;
    }
  }
  .subjects-filter {
    height: 25vh !important;
  }
  .classroom-filter-custom {
    height: 25vh;
    overflow-y: scroll;
  }
  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
  .one-subject {
    padding-top: 3vh;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 12vh;
    height: 100%;
    .libary-container {
      background: var(--white);
      border-radius: 0.7vw;
      height: 100%;
      padding-top: 1.5vh;
      padding-bottom: 1.5vh;
      $base-side-margin: 0.32vw;
      padding-left: $base-side-margin;
      padding-right: $base-side-margin;
      > div {
        height: 100%;
        $base-width: 2vw;
        .assignment {
          margin-left: $base-side-margin;
          margin-right: $base-side-margin;
          $base-radius: 0.35vw;
          border-radius: $base-radius;
          .progress-value {
            border-radius: $base-radius;
            .rotated-text {
              font-size: 1.2vw;
              color: var(--white);
            }
            .text-dark-gray {
              .rotated-text {
                color: var(--dark-gray);
              }
            }
          }
          .default-value.progress-value .rotated-text {
            padding-left: 5.5vw;
          }
        }
        .length-20 {
          width: $base-width;
          .rotated .rotated-text {
            height: $base-width;
            line-height: 1.7;
          }
          .progress-value {
            width: $base-width;
          }
        }
        .length-40 {
          $width: calc(#{$base-width} * 2);
          width: $width;
          .rotated .rotated-text {
            height: $width;
            line-height: 3.4;
          }
          .progress-value {
            width: $width
          }
        }
        .length-60 {
          $width: calc(#{$base-width} * 4);
          width: $width;
          .rotated .rotated-text {
            height: $width;
            line-height: 6.4;
          }
          .progress-value {
            width: $width;
          }
        }
      }
    }
  }
  .single-assignment-progressbar {
    .rotated-container {
      position: absolute;
      bottom: 0;
      .rotated {
        transform: rotate(270deg);
  
        .rotated-text {
          padding-left: $level-size;
          padding-right: $level-size;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          overflow: hidden;
          font-family: $font-family-bold;
          color: #C8CACC;
          width: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh - 8vh - 3vh);
          p {
            color: #C8CACC;
            font-size: 1vw;
            font-family: $font-family-bold;
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
          }
        }
      }
      &.white .rotated .rotated-text p {
        color: var(--white);
      }
  
      &.left-align {
        .rotated .rotated-text {
          justify-content: flex-start;
        }
      }
    }
    .custom-tooltip.subject-tooltip {
      margin-top: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh - 8vh - 2vh);
    }
    .length-40 .custom-tooltip.subject-tooltip {
      margin-left: 0.5vw;
    }
    .length-60 .custom-tooltip.subject-tooltip {
      margin-left: 2vw;
    }
    .teacher-initials {
      width: 100%;
      position: absolute;
      display: flex;
      left: 0;
      justify-content: center;
      bottom: 1vh;
      z-index: 200;
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8vw;
        width: 1.3vw;
        height: 1.3vw;
        max-width: 3vh;
        max-height: 3vh;
        text-align: center;
        border-radius: 50%;
        text-transform: uppercase;
        background: var(--white);
        color: var(--theme-dark-blue);
      }
    }
    .pr-lock-container {
      position: absolute;
      width: 100%;
      border-top-left-radius: 1.5vw;
      border-top-right-radius: 1.5vw;
      border-bottom-left-radius: 0.35vw;
      border-bottom-right-radius: 0.35vw;
      height: 5vw;
      bottom: 0;
      font-family: $font-family-bold;
      color: var(--white);
      > div {
        display: flex;
        justify-content: center;
      }
      svg {
        margin-top: 0.8vw;
        margin-bottom: 0.4vw;
        height: 1.5vw;
        width: 1.5vw;
        stroke-width: 2;
      }
    }
  }
  
  .progress-value {
    transition: all 300ms ease-out !important;
  }
  .one-subject-pagination {
    position: absolute;
    bottom: 1vh;
    width: calc(100% - 4vw) !important;
    right: 2vw;
  }
  .single-subject-assignments {
    height: calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh) !important;
  }
  
  .my-library-list {
    height: 100%;
    padding-top: 2vh;
    padding-left: 1.5vw;
    margin-right: 2vw;
    .libary-container-1 {
      height: calc(100% / 3);
      margin-left: 0.5vw;
      margin-right: 0.5vw;
      .libary-container {
        height: 100%;
        display: flex;
        background: var(--white);
        border-radius: 0.7vw;
        padding-left: 0.4vw;
        padding-right: 0.4vw;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-top: 1vh;
        padding-bottom: 1vh;
      }
    }
  }
  
  .assignment-progressbar {
    position: relative;
    height: 100%;
    display: inline-block;
  
    .rotated-container {
      position: absolute;
      bottom: 0;
      .rotated {
        transform: rotate(270deg);
  
        .rotated-text {
          padding-left: $small-level-size;
          padding-right: $small-level-size;
          white-space: nowrap;
          text-overflow: ellipsis;
          position: absolute;
          overflow: hidden;
          font-family: $font-family-bold;
          color: #C8CACC;
          font-size: 0.8vw;
        }
      }
      &.white .rotated .rotated-text p {
        color: var(--white);
      }
  
      &.left-align {
        .rotated .rotated-text {
          justify-content: flex-start;
        }
      }
    }
  
    .assignment {
      $small-book-radius: 0.2vw;
  
      cursor: pointer;
      height: 100%;
      width: 1vw;
      margin-left: 0.2vw;
      margin-right: 0.2vw;
      border-radius: $small-book-radius;
  
      &.default {
        background: var(--tab-gray) !important;
      }
  
      &.assigned {
        opacity: 0.2;
      }
  
      .default-value {
        height: 100%;
        &:hover {
          opacity: 0.5;
          background: var(--theme-light-blue) !important;
        }
      }
  
      &.length-20 {
        width: 0.8vw;
        .progress-value {
          width: 0.8vw;
          line-height: 1;
        }
      }
      &.length-40 {
        width: 1.6vw;
        .progress-value {
          line-height: 1.9;
          width: 1.6vw;
        }
      }
      &.length-60 {
        width: 3.2vw;
        .progress-value {
          line-height: 3.9;
          width: 3.2vw;
        }
      }
    }
    .progress-value {
      position: absolute;
      bottom: 0;
      border-radius: 0.25vw;
    }
    .subject-tooltip {
      background: var(--theme-light-blue);
      color: var(--tab-gray);
      margin-top: calc((100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 2.5vh) / 4);
      text-align: center;
      transform: translate(-25%, 0); 
      width: 16vw;
      z-index: 1000;
    }
  }
  
  .progress-value {
    .academic-lines {
      .start-lines, .end-lines {
        display: flex;
        align-items: center;
        height: $level-size;
        > div {
          width: 100%;
        }
        .level {
          background: var(--white);
          width: 100%;
          margin-top: 0.5vh;
          margin-bottom: 0.5vh;
          height: 0.7vh;
        }
      }
      .end-lines {
        width: 100%;
        position: absolute;
        bottom: 0;
      }
  
      &.smaller {
        .start-lines, .end-lines {
          height: $small-level-size;
        }
        .level {
          background: var(--white);
          width: 100%;
          margin-top: 0.3vh;
          margin-bottom: 0.3vh;
          height: 0.4vh;
        }
      }
    }
  }
}