@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.phone-my-library {
  $base-brick-width: 8vw;

  .ml-content {
    height: calc(100% - 64px);

    .ml-title {
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--theme-light-blue);
      min-height: 8%;
      font-size: 8vw;
      font-family: $font-family-bold;
      color: var(--white);
    }

    .rotated-text {
      font-size: 3.5vw;
    }

    .progress-value {
      position: relative;
      .rotated-text {
        color: var(--white);
        text-transform: uppercase !important;
        font-family: $font-family-bold !important;
      }
    }
    .rotated-container {
      bottom: 0;
      right: 0;
      position: absolute;
      width: 100% !important;
      .rotated {
        transform: rotate(270deg);
        .rotated-text {
          padding-left: 3vh;
          padding-right: 3vh;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .length-20 .rotated-container .rotated {
      margin-bottom: 1vw;
    }
    .length-40 .rotated-container .rotated {
      margin-bottom: 5vw;
    }
    .length-60 .rotated-container .rotated {
      margin-bottom: 13vw;
    }
  }

  .page-header {
    height: 74px !important;
  }

  .page-navigation {
    display: none;
  }

  .all-subject-assignments {
    height: calc(100% - 8%) !important;
    padding: 0 !important;

    .my-library-list {
      width: calc(100% - 4vw);
      height: 100%;
      padding: 0 2vw;
      margin: 0 2vw;
      font-size: $mbase-font-size;
      overflow-y: scroll;

      .libary-container-1 {
        height: calc(34vh + 8vw);
        margin-left: 0.5vw;
        margin-right: 0.5vw;
        max-width: 100%;

        .ml-subject {
          color: var(--theme-dark-blue);
          font-family: $font-family-bold;
          font-size: 8vw;
          line-height: 1;
          padding-top: 1vh;
          padding-bottom: 2vh;
        }

        .libary-container {
          width: max-content;
          max-width: 100%;
          height: calc(30vh);
          display: flex;
          background: var(--white);
          border-radius: 1vw;
          padding: 1.5vw;

          >div {
            width: 100%;
            display: flex;
            flex-direction: row;
            overflow: hidden;
            overflow-x: auto !important;
          }
        }

        .assignment-progressbar {
          position: relative;
          height: 100%;
          display: inline-block;

          .assignment {
            cursor: pointer;
            height: 100%;
            width: 100%;
            margin-left: 0.8vw;
            margin-right: 0.8vw;
            border-radius: 1vw;

            &.default {
              background: var(--tab-gray) !important;
            }

            &.assigned {
              opacity: 0.2;
            }

            .default-value {
              height: 100%;

              .white .rotated-text {
                padding-left: 14.5vw;
              }

              .text-dark-gray .rotated-text {
                color: var(--dark-gray);
              }

              .pr-lock-container {
                position: absolute;
                border-radius: 1vw;
                border-top-right-radius: 4vw;
                border-top-left-radius: 4vw;
                height: 13vw;
                width: 100%;
                bottom: 0;
                font-family: $font-family-bold;
                color: var(--white);
                > div {
                  display: flex;
                  justify-content: center;
                }
                svg {
                  padding-top: 1vw;
                  $size: 5vw;
                  stroke-width: 1.5;
                  width: $size;
                  height: $size;
                }
              }
            }

            &.length-20 {
              width: $base-brick-width;

              .progress-value {
                width: $base-brick-width;
              }
            }

            &.length-40 {
              width: $base-brick-width * 2;

              .progress-value {
                width: $base-brick-width * 2;
              }
            }

            &.length-60 {
              width: $base-brick-width * 4;

              .progress-value {
                width: $base-brick-width * 4;
              }
            }
          }

          .progress-value {
            position: absolute;
            bottom: 0;
            border-radius: 1vw;

            .lib-circle {
              width: 5.5vw;
              height: 5.5vw;
              font-size: 3.3vw;
              max-height: 6vh;
              max-width: 6vh;
            }
          }

          .subject-tooltip {
            background: var(--theme-light-blue);
            color: var(--tab-gray);
            margin-top: calc((100vh - 5.834vw - 2vw - -7vw - 2.1vh - 2.5vh) / 4);
            text-align: center;
            transform: translate(-25%, 0);
            z-index: 1000;
          }
        }
      }
    }
  }

  .subjects-filter {
    height: 25vh !important;
  }

  .classroom-filter-custom {
    height: 25vh;
    overflow-y: scroll;
  }
}

// spaces
.my-library .all-subject-assignments .my-library-list .libary-container-1 .assignment-progressbar .assignment {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}