@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.back-to-work-teach {
  .right-index {
    height: 100%;
  }

  .classroom-list {
    padding-top: calc(3vh + 1.5vw);
  }

  .teach-sort-box {
    height: 100%;
  }

  .index-box {
    @extend %flexToYCenter;
    height: 4.7vh !important;
    font-size: 1.05vw !important;
    font-family: $font-family-regular;
    .right-index .svg {
      stroke-width: 1.5;
    }
  }
  .white-box {
    margin-left: 0.3vw;
    background: white;
    color: var(--theme-dark-blue);
    border-radius: 0.65vw;
    padding: 0.25vw 0.6vw;
    font-size: 1vw;
    line-height: 1;
  }
  .classroom-title {
    color: var(--theme-dark-blue);
    display: flex;
    @extend %flexAlignCenter;
    @include tabletP {
      height: calc(#{$bricks-height / 6.35 / 2});
    }
    font-size: 1.5vw;
    text-transform: capitalize;
    > div {
      width: 100%;
      height: 100%;
      background: var(--tab-gray);
    }
    &.one-of-many {
      margin-top: 1vh;
      margin-bottom: 1vh;
      height: calc(calc(100vh - 5.834vw - 2vw - 5.2vw - 2.1vh - 0.5vh - 6vh) / 6.35 - 2vh);
      > div {
        padding-left: 2vw !important;
      }
    }
  }

  .sort-box {
    width: 100%;

    .filter-container {
      display: flex;
      margin: 0;
      width: 100%;
      .custom-color svg {
        color: var(--color);
      }

      .filter-radio,
      .MuiFormControlLabel-root,
      .sortBy {
        padding: 0 !important;
        margin: 0 !important;
        margin-right: 0.5vw !important;

        svg {
          width: 1.25vw;
          height: 1.25vw;
          color: var(--theme-orange);
          padding: 0 !important;
        }
      }

      .MuiFormControlLabel-label {
        font: 1.05vw $font-family-light !important;
        letter-spacing: 0.06vw;
      }
    }

    .sort-by-box {
      padding: $sidebar-gutter;
      flex-direction: column;

      .sort-header {
        text-transform: uppercase;
        font-size: 2.3vh;
        letter-spacing: 0.45vh;
        font-family: $font-family-bold;
      }

      .sort-group {
        padding: $sidebar-gutter 0 0 0;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        label {
          width: max-content !important;
          margin-left: 0 !important;
          margin-right: 0 !important;
        }
      }
    }

    .subject-indexes-box,
    .indexes-box {
      flex-direction: column;

      .index-box {
        cursor: pointer;
        position: relative;
        font-size: 1.1vw;
        .right-index {
          position: absolute;
          color: var(--theme-dark-blue);
          background: white;
          line-height: 1;
          padding: 0.25vw 0.6vw;
          border-radius: 0.65vw;
          font-size: 1vw;
          right: 1.4vw;
          top: 50%;
          transform: translateY(-50%);
        }

        &.active {
          background: var(--theme-orange);
        }

        &.color1 {
          .round-button,
          .right-index {
            background: var(--theme-orange);
          }

          svg {
            color: var(--theme-orange);
          }
        }

        &.color2 {
          .round-button,
          .right-index {
            background: var(--theme-yellow);
          }

          svg {
            color: var(--theme-yellow);
          }
        }

        &.color7 {
          .round-button,
          .right-index {
            border: 0.11vw solid var(--theme-yellow);
            padding: 0.1vw 0.4vw;
            color: var(--theme-yellow);
            background: inherit;
          }

          svg {
            color: var(--white);
          }
          svg:first-child {
            color: var(--theme-yellow);
          }
        }

        &.color3 {
          .round-button,
          .right-index {
            background: var(--white);
          }

          svg {
            color: var(--white);
          }
        }

        &.color4 {
          .round-button,
          .right-index {
            background: var(--theme-green);
          }

          svg {
            color: var(--theme-green);
          }
        }
        &.color5 {
          .round-button,
          .right-index {
            border: 0.11vw solid var(--theme-green);
            background: inherit;
            color: var(--theme-green);
            padding: 0.1vw 0.4vw;
          }
          .MuiIconButton-label {
            > div {
              > svg {
                color: var(--white);
              }
              > svg:first-child {
                color: var(--theme-green);
              }
            }
          }
        }
      }
    }

    .subject-indexes-box {
      margin: 0 !important;
      width: calc(100% - #{$sidebar-gutter * 2});

      .index-box {
        margin: 0 0 0.5vw 0;
        height: auto !important;

        .right-index {
          right: 1vw !important;
        }
      }
    }

    .indexes-box {
      .index-box {
        padding: 0.53vw 0 0.53vw 1.4vw;
      }
    }

    .role-filter-header {
      margin-top: 1.2vh;
      margin-left: 1.3vw;
      text-transform: uppercase;
      font-size: 2.4vh;
      letter-spacing: 0.25vw;
      margin-bottom: 1.7vh;
    }

    .roles-row {
      margin-left: 0.3vw;
    }

    .filter-header {
      position: relative;
      text-transform: capitalize;
      background: var(--light-blue-alpha5);
      padding: 0.3vw 1.4vw;
      font-size: 1.2vw;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: $font-family-bold;
      margin-bottom: 1vh;
      .filter-control {
        height: 100%;
        vertical-align: middle;
        &:not(:first-child) {
          margin-left: 0.9vw;
          cursor: pointer;
        }
      }
    }

    .index-box {
      cursor: pointer;
      position: relative;
      font-size: 1.1vw;
      .right-index {
        position: absolute;
        color: var(--theme-dark-blue);
        background: white;
        line-height: 1;
        padding: 0.25vw 0.6vw;
        border-radius: 0.65vw;
        font-size: 1vw;
        right: 1.4vw;
        top: 50%;
        transform: translateY(-50%);
      }

      &.active {
        background: var(--theme-orange);
      }

      &.color1 {
        .round-button,
        .right-index {
          background: var(--theme-orange);
        }

        svg {
          color: var(--theme-orange);
        }
      }

      &.color2 {
        .round-button,
        .right-index {
          background: var(--theme-yellow);
        }

        svg {
          color: var(--theme-yellow);
        }
      }

      &.color7 {
        .round-button,
        .right-index {
          border: 0.11vw solid var(--theme-yellow);
          padding: 0.1vw 0.4vw;
          color: var(--theme-yellow);
          background: inherit;
        }

        svg {
          color: var(--white);
        }
        svg:first-child {
          color: var(--theme-yellow);
        }
      }

      &.color3 {
        .round-button,
        .right-index {
          background: var(--white);
        }

        svg {
          color: var(--white);
        }
      }

      &.color4 {
        .round-button,
        .right-index {
          background: var(--theme-green);
        }

        svg {
          color: var(--theme-green);
        }
      }
      &.color5 {
        .round-button,
        .right-index {
          border: 0.11vw solid var(--theme-green);
          background: inherit;
          color: var(--theme-green);
          padding: 0.1vw 0.4vw;
        }
        .MuiIconButton-label {
          > div {
            > svg {
              color: var(--white);
            }
            > svg:first-child {
              color: var(--theme-green);
            }
          }
        }
      }
    }

    .subjects-filter {
      margin: 0 $sidebar-gutter;
      padding: 2vh 0 6vh 0;
      width: calc(100% - #{$sidebar-gutter * 2});

      @include phone_and_tabletP {
        height: calc(100vh - 55vw);
      }

      @include tabletP {
        height: calc(100vh - 34vh);
      }

      overflow-y: auto;

      .published-count {
        font-size: 1.05vw;
        @extend %textCenter;
        font-family: $font-family-light;
      }

      .MuiGrid-container {
        margin-bottom: 1vh;
      }

      .MuiRadio-root {
        color: inherit !important;

        .MuiIconButton-label {
          color: inherit !important;

          .MuiSvgIcon-root {
            color: inherit !important;
          }
        }
      }

      .MuiTypography-root {
        color: var(--white) !important;
      }
    }
  }

  .empty-filter-content {
    margin-top: 18vh;
    padding-left: 2vw;
    padding-right: 2vw;

    font-size: 1.4vw;

    .bold {
      margin-bottom: 4vh;
    }
  }
}

.tab-content {
  .tab-content-centered {
    width: 100%;
    height: 70%;
    @extend %flexCenter;
    color: var(--theme-light-blue);
    .glasses-icon-container {
      margin-top: 5vh;
      @extend %transitionAll300;
      .glass-eyes-inside {
        @extend %transitionAll300;
        opacity: 0;
        position: absolute;
        @extend %flexCenter;
      }
      .glass-left-inside,
      .glass-right-inside {
        @extend %flexCenter;
        height: 6vw;
        z-index: 1000;
      }
      .glass-eyes-right,
      .glass-eyes-left {
        position: absolute;
        top: 0.7vw;
        width: 5vw;
        .aperture {
          width: 40%;
        }
        .eyeball {
          width: 90%;
          height: 90%;
        }
      }
      .glass-eyes-left {
        left: 2vw;
      }
      .glass-eyes-right {
        right: 2vw;
      }
      &:hover {
        transform: scale(1.2);
        .glass-eyes-inside {
          opacity: 1;
          .aperture {
            @include animation(rotating 2s linear infinite)
          }
        }
      }
    }
    .icon-container {
      @extend %flexToXCenter;
      width: 100%;
      margin-bottom: 5vh;
      cursor: pointer;
    }
    .glasses-icon {
      width: 19vw;
      height: 7.6vw;
      color: var(--theme-orange);
    }
    .bold {
      text-align: center;
      font-size: 1.5vw;
    }
  }
  .empty-tab-content {
    height: 80%;
  }

  .assignment-tab-content-text {
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    border-radius: 0.9vw;
    margin-top: 1vw;
    margin-left: 6.7vw;
    margin-right: 6.7vw;
    padding-left: 2vw;
    padding-right: 2vw;
    background: var(--tab-gray);

    p {
      font-size: 1.5vw;
      color: var(--theme-dark-blue);
      margin-top: 1.5vw;
      margin-bottom: 1.5vw;
    }
  }

  .f-top-loader {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-dark-blue);
    height: 100% !important;
  }
}

// view all button
.manage-classrooms-page {
  .m-view-all {
    position: relative !important;
    cursor: pointer;
    padding-top: 1vh;
    display: block;
    font-size: 1.05vw;
    font-family: $font-family-regular;
    padding-left: 1.4vw;
    height: 9vh !important;

    .right-index {
      padding-top: calc(1vh + 0.5vw) !important;
      transform: unset !important;
      top: 0 !important;
      height: 4vh !important;
    }

    &.yellow {
      background: var(--theme-yellow);
      color: var(--theme-dark-blue);

      .right-index {
        color: var(--theme-dark-blue) !important;
      }

      &:hover {
        background: var(--theme-yellow);
      }
      &.active {
        color: var(--white) !important;
        .right-index {
          color: var(--white) !important;
        }
      }
    }
    
    &.active {
      background-color: var(--theme-orange);
      &:hover {
        background: var(--theme-orange);
      }
    }
    .right-index {
      display: flex;
      align-items: center;
      right: 1.2vw !important;
      color: var(--white) !important;
      background: inherit !important;
      svg {
        margin-left: 0.2vw;
      }
      .svg {
        width: 1.3vw;
        height: 1.3vw;
      }
    }
  }
}

.back-to-work-teach {
  .custom-tooltip, .css-custom-tooltip {
    font-family: $font-family-bold;
  }
  .css-custom-tooltip {
    color: var(--tab-gray);
    background: var(--theme-light-blue);
  }
}