@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

$base-build-font-size: 1.25vw;

.manage-classrooms-page {
  $base-filter-padding-left: 2vw;

  .students-content {
    .selected-class-name > div {
      background: inherit !important;
      .name-input,
      .edit-icon,
      .assign-button-container .btn {
      }
    }
  }

  .subject-border {
    display: flex;
    align-items: center;
    margin-right: 0.65vw;
  }

  .subject-no-border {
    margin: 0.25vw;
    margin-right: 0.65vw;
    .filter-circle {
      margin-right: 0 !important;
      width: 0.85vw;
      height: 0.85vw;
      border-radius: 50%;
    }
  }

  .new-class-container {
    cursor: pointer;
    .bold-hover {
      font-size: 2vw;
      text-align: center;
    }
  }

  .selected-class-name {
    padding-top: 1vh;
    padding-bottom: 1vh;
    > div {
      padding-left: 0.7vw;
      background: var(--tab-gray);
    }
  }

  .new-class-container:hover {
    .bold-hover {
      font-family: $font-family-bold;
    }
    svg {
      stroke-width: 1.6 !important;
    }
  }

  .brick-row-container {
    background: inherit !important;

    .brick-row-title {
      padding-top: 0.5vh !important;
    }
  }

  .sort-by-box {
    padding-top: 4vh !important;
    padding-left: 1.2vw !important;
    padding-bottom: 1vw !important;

    .class-header,
    .record-header,
    .individuals-header {
      font-size: 1.3vw;
    }

    .record-header,
    .individuals-header {
      color: var(--dark-gray);
      font-family: $font-family-regular;
    }

    .class-header {
      cursor: pointer;
    }

    .individuals-header {
      cursor: pointer;
      margin-left: -0.5vw;
    }

    .class-header {
      font-family: $font-family-bold;
    }

    .record-header {
      cursor: pointer;
    }
  }

  .create-class-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 0vw !important;
    padding-bottom: 0 !important;
    font-size: 1.05vw;
    font-family: $font-family-regular;
    svg {
      height: 2vw;
      width: 2vw;
      margin-right: 0.4vw;
      margin-left: 0 !important;
      transition: all 300ms ease-out;
    }
    .custom-tooltip {
      letter-spacing: 0;
    }

    //#3318 assign tab button 
    &.assign {
      .flex-relative {
        display: flex;
        position: relative;
      }
      svg {
        margin-left: 0.3vw;
      }
      .custom-tooltip {
        width: 0;
        padding: 0;
        overflow: hidden;
      }
      &:hover {
        .custom-tooltip {
          width: 7vw;
          top: 0.3vw;
          left: 2.7vw;
          font-size: 1vw;
        }
      }
    }
  }

  .m-absolute-sort {
    position: absolute;
    top: calc(5vh);
    right: 2.2vw;

    .svg {
      width: 2vw;
      height: 2vw;
    }
  }

  .filter-header2 {
    text-transform: capitalize !important;
    padding-left: $base-filter-padding-left !important;
    font-size: 1vw !important;
    letter-spacing: 0.05vw !important;
    padding-right: 0 !important;
  }

  .selected-column {
    width: 11vw;
    letter-spacing: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    .selected-label,
    .action-buttons,
    .class-assign-button {
      .svg {
        @extend %removePosition;
        width: 1.7vw;
        height: 1.7vw;
      }
    }
    .selected-label {
      margin-right: 1.5vw;
      > span {
        font-family: $font-family-regular !important;
        &.selected-count {
          margin-left: 0vw;
          margin-right: 0.2vw;
        }
      }
      .thin {
        stroke-width: 1.5;
      }
    }
    .action-buttons {
      margin-right: 1.5vw;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 4.5vh;
      .edit-button,
      .trash-button {
        cursor: pointer;
        margin-left: 0.7vw;

        &:hover {
          color: var(--theme-orange) !important;
        }
      }
    }
    .class-assign-button {
      z-index: 1000;
      cursor: pointer;
      position: absolute;
      right: 95%;
      top: 0.45vw;
      svg {
        padding-top: 0;
        background: var(--theme-green);
        border-radius: 50%;
        color: var(--white);
      }
    }
  }
  .user-radio-column {
    padding-left: 1.2vw !important;
    width: 6vw;
    display: flex;
    align-items: center;
    @extend %radioBlue;
  }

  .users-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .manage-classrooms-filter {
    .index-box {
      .custom-color {
        color: inherit !important;
        .MuiSvgIcon-root {
          color: inherit !important;
          fill: currentColor !important;
        }
      }

      .MuiTypography-root {
        font-family: $font-family-light !important;
        color: var(--white) !important;
      }
    }
    .item-box2 {
      padding-top: 0.5vh;
      padding-bottom: 0.7vh;
      margin-bottom: 0 !important;
    }
  }

  .right-index2 {
    padding: 0 !important;
    position: absolute;
    right: 0.7vw !important;
    color: white !important;
    background: inherit !important;
    @extend %flexCenter;

    svg {
      margin-left: 0.2vw;
      $icon-size: 1vw;
      height: $icon-size;
      width: $icon-size;
    }
  }

  .classrooms-box {
    display: flex;
    align-items: center;
    margin-left: 0.3vw;
    color: var(--white);
    border-radius: 0.65vw;
    padding: 0.1vw 0.4vw;
    font-size: 1vw;
    line-height: 1;
    div {
      margin-left: 0.3vw;
      width: 1.2vw;
      height: 0.8vw;
      border-radius: 0.2vw;
      border: 0.11vw solid var(--white);
    }
  }

  .hh-student-name {
    padding-left: 1.6vw;
  }

  .classroom-names {
    max-width: 19vw;
    display: flex;

    .classroom-name {
      padding-left: 0.3vw;
      padding-right: 0.3vw;
      margin-right: 0.1vw;
      margin-left: 0.1vw;
      background: var(--tab-gray);
      border-radius: 0.3vw;
      display: flex;
      height: 100%;
      &.pending-label {
        max-width: 6vw;
        padding: 0 0.7vw;
        color: var(--theme-dark-blue) !important;
        background-color: transparent !important;
        svg {
          position: absolute;
          top: 0.18vw;
          left: 0.2vw;
          $size: 1vw;
          width: $size;
          height: $size;
        }
        span {
          padding-left: 0.5vw;
        }
      }
      &.resend-label {
        color: var(--theme-dark-blue);
        background: var(--tab-gray);
        transitioN: all 300ms ease-out;


        > div {
          display: flex;
          align-items: center;
        }

        svg {
          stroke-width: 2;
          margin-left: 0.3vw;
          $size: 1vw;
          width: $size;
          height: $size;
        }
        &:hover {
          color: var(--white);
          background: var(--theme-dark-blue);
        }
      }
    }
  }
  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
  .remove-class:hover {
    color: var(--theme-orange) !important;
  }
  .radio-checked {
    color: var(--white) !important;
    fill: var(--white) !important;
    width: 1.25vw;
    height: 1.25vw;
  }
  .index-box.active .remove-class:hover {
    color: var(--theme-dark-blue) !important;
  }
  .filter-class-name {
    max-width: 11.5vw;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  .student-row {
    position: relative;
    .student-name {
      display: flex;
      align-items: center;
      max-width: 100%;
      font-size: 1.05vw;

      > span {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
        width: 16.5vw;
      }

      .resend-label {
        position: absolute;
        right: 0.45vw;
        letter-spacing: 0;
        margin-left:0.3vw;
        font-size: 1vw;
        font-family: $font-family-regular;
        background: var(--tab-gray);
        color: var(--theme-dark-blue);
        display: flex;
        align-items: center;
        svg {
          padding-left: 0.2vw;
          $size: 1vw;
          width: $size;
          height: $size;
        }
        &:hover {
          color: var(--white);
          background: var(--theme-light-blue);
        }
      }
    }
  }
}

.main-listing.user-list-page.manage-classrooms-page.manage-classrooms-checkboxes {
  .tab-content {
    .tab-content-centered {
      .icon-container {
        margin-bottom: 1vh;
      }
      .svg {
        @extend %transitionAll300;
        cursor: pointer;
        width: 28vw;
        height: 18vh;
        color: var(--theme-light-blue);
        &:hover {
          stroke-width: 1.6 !important;
        }
      }
    }
  }
  .empty-filter-content {
    margin-top: 18vh;
    padding-left: 2vw;
    padding-right: 2vw;

    font-size: 1.4vw;

    .space-line {
      margin-bottom: 1.4vw;
    }

    .bold {
      margin-bottom: 4vh;
    }
  }
}

.manage-classrooms-checkboxes {
  .MuiRadio-root.MuiIconButton-root {
    padding: 0 !important;

    .MuiSvgIcon-root {
      fill: var(--theme-dark-blue) !important;
      padding: 0;
      height: 2vw;
      width: 2vw;
    }
  }
}
