@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.manage-classrooms-page {
  .indexes-box {
    height: calc(100vh - #{$page-head-height} - 5.9vh - 6.5vw) !important;
    overflow: auto;
  }
  $base-filter-padding-left: 2vw;

  .brick-row-container {
    background: var(--white);

    .brick-row-title {
      padding-top: 0.5vh !important;
    }
  }

  .sort-by-box {
    padding-top: 4vh !important;
    padding-left: $base-filter-padding-left !important;
    padding-bottom: 1vw !important;

    .class-header,
    .record-header {
      letter-spacing: 0.25vw;
      font-size: 1.3vw;
    }

    .record-header {
      color: var(--dark-gray);
      font-family: $font-family-regular;
    }

    .class-header {
      font-family: $font-family-bold;
    }
  }

  .create-class-button {
    cursor: pointer;
    padding-left: $base-filter-padding-left !important;
    padding-bottom: 1vh !important;
    margin-bottom: 1vh;
    letter-spacing: 0.02vw;
    font-size: 1.1vw;
    font-family: $font-family-bold;
  }

  .filter-header {
    text-transform: capitalize !important;
    padding-left: $base-filter-padding-left !important;
    font-size: 1vw !important;
    letter-spacing: 0.05vw !important;
    padding-right: 0 !important;
  }

  .users-table {
    height: calc(100vh - #{$page-head-height} - #{$sorted-row-margin-top} - 5.2vw - 15vh) !important;
  }

  .selected-column {
    letter-spacing: 0;
    position: relative;
    display: flex;
    .selected-label,
    .action-buttons,
    .class-assign-button {
      margin-right: 1.5vw;
      .svg {
        @extend %removePosition;
        width: 1.7vw;
        height: 1.7vw;
      }
    }
    .selected-label {
      > span {
        font-family: $font-family-regular !important;
        &.selected-count {
          margin-left: 0vw;
          margin-right: 0.2vw;
        }
      }
    }
    .action-buttons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .edit-button,
      .trash-button {
        cursor: pointer;
      }
    }
    .class-assign-button {
      z-index: 1000;
      cursor: pointer;
      margin-left: 0.7vw;
      font-size: 1.3vw;
      @extend %flexCenter;
      svg {
        padding-top: 0;
        background: var(--theme-green);
        border-radius: 50%;
        color: var(--white);
      }
    }
  }
  .user-radio-column {
    padding-left: 0 !important;
    width: 10%;
    text-align: center !important;
    @extend %radioBlue;
    padding: 0;
  }
  .MuiRadio-root.MuiIconButton-root {
    padding: 0 !important;

    .MuiSvgIcon-root {
      fill: var(--theme-dark-blue) !important;
      padding: 0;
      height: 2vw;
      width: 2vw;
    }
  }

  .users-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .right-index {
    padding: 0 !important;
    position: absolute;
    right: 0.7vw !important;
    color: white !important;
    background: inherit !important;
    @extend %flexCenter;

    svg {
      margin-left: 0.2vw;
      $icon-size: 1vw;
      height: $icon-size;
      width: $icon-size;
    }
  }

  .white-box {
    margin-left: 0.3vw;
    background: white;
    color: var(--theme-dark-blue);
    border-radius: 0.65vw;
    padding: 0.25vw 0.6vw;
    font-size: 1vw;
    line-height: 1;
  }

  .index-box {
    padding-left: $base-filter-padding-left !important;
  }

  .classroom-names {
    max-width: 19vw;
    overflow-x: scroll;
    display: flex;

    .classroom-name {
      max-width: 3vw;
      margin-right: 0.1vw;
      background: var(--tab-gray);
      border-radius: 0.3vw;
      display: flex;
      height: 100%;
      @extend %ellipsis;
    }
  }
}
