@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.manage-classrooms-page {
  $base-filter-padding-left: 2vw;
  .manage-classrooms-filter {
    height: calc(94vh - #{$page-head-height} - 5.9vh - 6.5vw) !important;
    overflow: auto;
    .index-box {
      padding-left: $base-filter-padding-left !important;
    }
  }

  .brick-row-container {
    background: inherit !important;

    .brick-row-title {
      padding-top: 0.5vh !important;
    }
  }

  .sort-by-box {
    padding-top: 4vh !important;
    padding-left: $base-filter-padding-left !important;
    padding-bottom: 1vw !important;

    .class-header,
    .record-header,
    .individuals-header {
      letter-spacing: 0.25vw;
      font-size: 1.3vw;
    }

    .record-header,
    .individuals-header {
      color: var(--dark-gray);
      font-family: $font-family-regular;
    }

    .class-header {
      cursor: pointer;
    }

    .individuals-header {
      cursor: pointer;
      margin-left: -0.5vw;
    }

    .class-header {
      font-family: $font-family-bold;
    }
  }

  .create-class-button {
    cursor: pointer;
    padding-left: $base-filter-padding-left !important;
    padding-bottom: 1vh !important;
    margin-bottom: 1vh;
    letter-spacing: 0.02vw;
    font-size: 1.1vw;
    font-family: $font-family-bold;
  }

  .filter-header2 {
    text-transform: capitalize !important;
    padding-left: $base-filter-padding-left !important;
    font-size: 1vw !important;
    letter-spacing: 0.05vw !important;
    padding-right: 0 !important;
  }

  .selected-column {
    width: 11vw;
    letter-spacing: 0;
    position: relative;
    display: flex;
    justify-content: flex-end;
    .selected-label,
    .action-buttons,
    .class-assign-button {
      .svg {
        @extend %removePosition;
        width: 1.7vw;
        height: 1.7vw;
      }
    }
    .selected-label {
      margin-right: 1.5vw;
      > span {
        font-family: $font-family-regular !important;
        &.selected-count {
          margin-left: 0vw;
          margin-right: 0.2vw;
        }
      }
      .thin {
        stroke-width: 1.5;
      }
    }
    .action-buttons {
      margin-right: 1.5vw;
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 4.5vh;
      .edit-button,
      .trash-button {
        cursor: pointer;
        margin-left: 0.7vw;

        &:hover {
          color: var(--theme-orange) !important;
        }
      }
    }
    .class-assign-button {
      z-index: 1000;
      cursor: pointer;
      position: absolute;
      right: 95%;
      top: 0.45vw;
      svg {
        padding-top: 0;
        background: var(--theme-green);
        border-radius: 50%;
        color: var(--white);
      }
    }
  }
  .user-radio-column {
    padding-left: 1vw !important;
    width: 4vw;
    @extend %radioBlue;
  }

  .users-pagination {
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .manage-classrooms-filter {
    .index-box {
      .custom-color {
        color: inherit !important;
        .MuiSvgIcon-root {
          color: inherit !important;
          fill: currentColor !important;
        }
      }

      .MuiTypography-root {
        color: var(--white) !important;
      }
    }
    .item-box2 {
      padding-top: 0.5vh;
      padding-bottom: 0.7vh;
      margin-bottom: 0 !important;
    }
  }

  .right-index2 {
    padding: 0 !important;
    position: absolute;
    right: 0.7vw !important;
    color: white !important;
    background: inherit !important;
    @extend %flexCenter;

    svg {
      margin-left: 0.2vw;
      $icon-size: 1vw;
      height: $icon-size;
      width: $icon-size;
    }
  }

  .classrooms-box {
    margin-left: 0.3vw;
    border: 0.1vw solid var(--white);
    color: var(--white);
    border-radius: 0.65vw;
    padding: 0.1vw 0.4vw;
    font-size: 1vw;
    line-height: 1;
  }

  .classroom-names {
    max-width: 19vw;
    overflow-x: scroll;
    display: flex;

    .classroom-name {
      max-width: 3vw;
      margin-right: 0.1vw;
      background: var(--tab-gray);
      border-radius: 0.3vw;
      display: flex;
      height: 100%;
      @extend %ellipsis;

      &.pending-label {
        max-width: 6vw;
        padding: 0 0.7vw;
      }
    }
  }
  .index-box.hover-light:hover {
    background: var(--light-blue-alpha3);
  }
  .remove-class:hover {
    color: var(--theme-orange) !important;
  }
  .radio-checked {
    color: var(--white) !important;
    fill: var(--white) !important;
  }
  .index-box.active .remove-class:hover {
    color: var(--theme-dark-blue) !important;
  }
}

.main-listing.user-list-page.manage-classrooms-page.manage-classrooms-checkboxes {
  .tab-content {
    .tab-content-centered {
      .icon-container {
        margin-bottom: 1vh;
      }
      .svg {
        @extend %transitionAll300;
        cursor: pointer;
        width: 28vw;
        height: 18vh;
        color: var(--theme-light-blue);
        &:hover {
          stroke-width: 1.6 !important;
        }
      }
    }
  }
  .empty-filter-content {
    margin-top: 18vh;
    padding-left: 2vw;
    padding-right: 2vw;

    font-size: 1.4vw;

    .space-line {
      margin-bottom: 1.4vw;
    }

    .bold {
      margin-bottom: 4vh;
    }
  }
}

.manage-classrooms-checkboxes {
  .MuiRadio-root.MuiIconButton-root {
    padding: 0 !important;

    .MuiSvgIcon-root {
      fill: var(--theme-dark-blue) !important;
      padding: 0;
      height: 2vw;
      width: 2vw;
    }
  }
}
