@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.student-assignments-page {
  .animated-brick-container .flex-brick-container {
    .publish-brick-container {
      position: relative;
      transition: all 300ms ease-in-out;
    }
    &:hover {
      margin-top: 0 !important;
      .publish-brick-container {
        margin-top: -1vw !important;
      }
    }
  }
  
  .bricks-list-container {
    padding-top: 1vw;
    height: 100% !important;
  }
  .index-box:hover {
    background: var(--light-blue-alpha3) !important;
  }

  .sort-by-box {
    position: relative;
    border-bottom: 2px solid rgba(222,222,222, 0.1);

    .sort-v4y4 {
      cursor: pointer;
      position: absolute;
      top: 1.4vw;
      right: 1.2vw;
      svg {
        width: 1.8vw;
        height: 1.8vw;
      }
    }
  }

  .classrooms-filter .right-index .white-box {
    padding: 0.2vw 0.8vw;
  }

  .classrooms-filter .right-index .white-box.completed {
    background: #788CB6;
  }

  .index-box.active:hover {
    background: var(--theme-orange) !important;
  }
  .brick-row-container {
    background: inherit;
  }
  .tab-content {
    height: calc(100vh - #{$home-button-size} - 2vw);
    background: var(--white);
  }
  .animated-brick-container .flex-brick-container .publish-brick-container .p-cover-image .scroll-block {
    overflow-y:hidden;
  }
  .fwe1-16x9-deadline {
    z-index: 3;
    position: absolute;
    top: -3vw;
    left: -3vw;
    width: 9vw;
    height: 9vw;
    font-size: 0.9vw;

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-45deg);
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.2vw;
        width: 100%;
        font-family: $font-family-bold;
        white-space: nowrap;
      }
      > div.yellow {
        color: var(--theme-dark-blue);
        background: var(--theme-yellow);
      }
      > div.green {
        font-size: 0.5vw;
        color: var(--white);
        background: var(--theme-green);

        &.bigger {
          font-size: 1vw;
        }
      }
      > div.orange {
        color: var(--white);
        background: var(--theme-orange);
      }
      >div.smaller-blue {
        font-size: 0.5vw;
        color: var(--white);
        background: var(--theme-dark-blue);
      }
    }
  }
}

// color fix for radio button sidebar
.student-assignments-page .sorted-row .sort-and-filter-container .sort-box .filter-container .MuiFormControlLabel-root svg {
  color: var(--white) !important;
}

// overflow scroll filter classes sidebar
.classrooms-filter {
  height: calc(100vh - 5.834vw - 2vw - 5vw - 2.4vw - 2vw - 0.3vw);
  overflow-y: auto;
}