@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.student-assignments-page {
  .bricks-list-container {
    margin-top: 2vw;
  }
  .index-box:hover {
    background: var(--light-blue-alpha3) !important;
  }
  .index-box.active:hover {
    background: var(--theme-orange) !important;
  }
}