@import "src/assets/sass/partials/variables";
@import "src/assets/sass/partials/mixins";
@import "src/assets/sass/partials/extensions";

.student-assignments-page {
  .left-brick-circle.brick-status-circle.skip-top-right-border {
    border-radius: 50%;
  }

  .search-container {
    top: 2.6vw !important;
    left: 44vw;
  }

  .home-button-container {
    margin-right: 23vw;
  }

  .color1 .round-button {
    border-radius: 50%;
    background: var(--theme-orange) !important;
  }

  .swiper-slide {
    .label-circle-text {
      font-size: 10vw !important;
    }

    .short-description {
      background: inherit !important;
    }
  }

  .brick-row-title {
    margin-bottom: 0 !important;
  }

  .brick-row-container {
    height: auto !important;
    overflow: hidden;
  }

  .bricks-list-container {
    height: calc(100vh - 39.5vh - 6vw - 5vw - 74px) !important;
    padding-top: 0 !important;

    .main-brick-container .brick-container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      margin-bottom: 0 !important;

      .short-description {
        padding-left: 4vw;
        padding-right: 4vw;
        padding-bottom: 1.5vw;
        padding-top: 1.5vw;
        min-height: calc(7vh + 3vw) !important;
      }

      .short-description.mobile-expanded {
        background: var(--tab-gray);

        .label-circle-text {
          font-size: 5.5vw !important;
        }
      }
    }
  }
}

.student-mobile-assignments-page {
  .MuiGrid-root.sorted-row.MuiGrid-container {
    height: auto !important;
  }

  .bricks-list-container {
    .short-brick-info {
      width: 80vw !important;
    }
  }
}


.student-mobile-assignments-page {
  .assignment-phone-container {
    overflow-y: scroll;
    height: calc(100% - 17.5vw);
  }

  .assigments-top-menu {
    position: relative;
    display: flex;
    color: white;
    height: 9%;
    background: var(--theme-light-blue);
    font-family: $font-family-bold;
    font-size: 6.5vw;

    svg.arrow-left-v6 {
      padding-left: 2vw;
      padding-right: 2vw;
      stroke-width: 1.5;
      width: 10vw;
      height: 10vw;
    }

    .search-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      z-index: 101;
      background: rgba(0, 0, 0, 0.1);
      height: 1111%;
    }
   
    .assignments-search-dropdown {
      position: absolute;
      top: 100%;
      left: 3vw;
      width: 94vw;
      z-index: 102;
      background: var(--theme-light-blue);
      border-bottom-left-radius: 2vw;
      border-bottom-right-radius: 2vw;
      height: 50vh;
      overflow-y: auto;

      .MuiSvgIcon-root {
        margin-left: 5vw;
        width: 5vw;
        height: 5vw;
        color: white !important;
      }

      .drop-container {
        .c-count-v5 {
          position: absolute;
          top: 2.3vw;
          right: 5vw;
          padding-left: 3vw;
          padding-right: 3vw;
          font-size: 4vw;
          border-radius: 5vw;
          background: white;
          color: var(--theme-dark-blue);
        }
      }
    }
    
    .filter-btn-container {
      top: 0;
      right: 6vw;
      height: 100%;
      position: absolute;
      font-family: $font-family-regular;
      display: flex;
      align-items: center;

      .filter-btn {
        color: white;
        > div {
          font-size: 4vw;
          border-radius: 1.5vw;
          padding: 1.5vw 1vw 1.5vw 2vw;
          display: flex;
          align-items: center;
          background: var(--theme-dark-blue);
          white-space: nowrap;
    
          svg {
            margin-left: 1vw;
            position: relative;
            left: unset;
            top: unset;
            width: 5vw;
            height: 5vw;
          }
        }
      }
    }
  }

  .va-bricks-container {
    overflow-y: scroll;
    padding-bottom: 2vh;
    margin-top: -0.2vw;
    width: 100vw;
    background: var(--white);

    .bricks-scroll-row {
      padding-left: 4vw;
      overflow-x: scroll;
    }

    .bricks-flex-row {
      overflow-x: scroll;
      display: flex;
    }

    .gg-subject-name {
      margin-left: 4vw;
      margin-right: 4vw;
      font-size: 4vw;
      line-height: 1;
      padding-left: 0.3vw;
      padding-top: 2vh;
      padding-bottom: 0.5vh;
      margin-bottom: 1.5vh;
      color: var(--theme-dark-blue);
      position: relative;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #DEDEDE;

      .gg-class-name {
        height: 4.7vw;
        line-height: 4.7vw;
        width: 68vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .va-class-count {
        border-radius: 2vw;
        line-height: 0;
        padding-left: 2vw;
        padding-right: 2vw;
        height: 4.7vw;
        font-family: $font-family-bold;
        color: white;
        background: var(--theme-light-blue);
        font-size: 4vw;

        svg {
          width: 4vw;
          height: 4vw;
        }

        &.completed {
          stroke-width: 3;
          color: var(--theme-dark-blue);
          background: #788CB6;
        }
      }

      .va-expand {
        position: absolute;
        top: 2vh;
        right: 2vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &.va-hide {
          svg {
            padding-top: 0;
            padding-bottom: 0.5vw;
          }
        }
      }
    }

    .phone-top-brick-16x9 {
      border-radius: 3.5vw;
      overflow: hidden;
      margin-right: 2vw;
      position: relative;
      width: 58vw;
      height: 33vw;
      padding: 0 !important;

      .best-score-container {
        position: absolute;
        z-index: 100;
        background: rgba(255,255,255,0.4);
        width: 100%;
        height: calc(33vw - 9vw);

        $borderc: 1.6vw;
        $sizec: 12vw;

        .score-circle {
          border-radius: 50%;
          padding: $borderc !important;
          background: white;
          position: relative;
          top: unset !important;
          left: unset !important;
          right: unset !important;

          .round-button {
            width: $sizec !important;
            height: $sizec !important;
            .label-circle-text {
              font-size: 4.5vw !important;
            }
          }

          .CircularProgressbar {
            margin-top: $borderc;
            margin-right: $borderc;
            width: 12vw;
            height: 12vw;
          }
        }
      }

      .p-cover-image {
        width: 100%;
      }

      .left-brick-circle {
        top: 2vw;
        right: 2vw;
        position: absolute;

        .round-button {
          border-radius: 50%;
          $size: 8vw;
          width: $size !important;
          height: $size !important;
        }

        &.alternative-subject {
          right: 1vw;
        }
      }

      .bottom-description-color,
      .bottom-description {
        position: absolute;
        bottom: -0.2vw;
        height: 9vw;
        width: 100%;
      }

      .bottom-description-color {
        opacity: 0.8;
        background: var(--tab-gray);
        z-index: 10;
      }

      .bottom-description {
        color: var(--theme-dark-blue);
        font-family: $font-family-bold;
        display: flex;
        font-size: 4vw;
        align-items: center;
        justify-content: center;
        z-index: 13;

        .brick-inline {
          padding-left: 1vw;
          padding-right: 1vw;
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    .va-s-subject-bricks {
      .va-level-container {
        padding-bottom: 1vh;
        padding-top: 1vh;
      }
    }
    .ba-content {
      overflow-x: hidden;
      height: calc(100% - 1vh - 10vw - 1vh - 14vw - 1vh - 10vw - 2vw - 4vw - 0.5vh - 1vh - 0.2vh);
  
      &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10vw;
        font-family: $font-family-bold;
        color: var(--tab-gray);
        padding-bottom: 10vh;
      }
  
      &.full {
        overflow-y: auto;
        padding: 0 7vw;
  
        .phone-top-brick-16x9 {
          margin: 7vw 0;
          border-radius: 3.5vw;
          overflow: hidden;
          margin-right: 2vw;
          position: relative;
          width: 86vw;
          height: 50.6vw;
          padding: 0 !important;
  
          .p-cover-image {
            width: 115%;
          }
  
          .left-brick-circle {
            top: 2vw;
            right: 2vw;
            position: absolute;
  
            .round-button {
              border-radius: 50%;
              $size: 8vw;
              width: $size !important;
              height: $size !important;
            }
          }

          .best-score-container {
            position: absolute;
            z-index: 100;
            background: rgba(255,255,255,0);
            width: 100%;
            height: calc(33vw - 9vw);
    
            $borderc: 1.6vw;
            $sizec: 12vw;
    
            .score-circle {
              border-radius: 50%;
              padding: $borderc !important;
              background: white;
              position: relative;
              top: unset !important;
              left: unset !important;
              right: unset !important;
    
              .round-button {
                width: $sizec !important;
                height: $sizec !important;
                .label-circle-text {
                  font-size: 4.5vw !important;
                }
              }
    
              .CircularProgressbar {
                margin-top: $borderc;
                margin-right: $borderc;
                width: 12vw;
                height: 12vw;
              }
            }
          }
  
          .bottom-description-color,
          .bottom-description {
            position: absolute;
            bottom: 0vw;
            height: 14vw;
            width: 100%;
          }
  
          .bottom-description-color {
            opacity: 0.8;
            background: var(--tab-gray);
            z-index: 10;
          }
  
          .bottom-description {
            color: var(--theme-dark-blue);
            font-family: $font-family-bold;
            display: flex;
            font-size: $mbase-font-size;
            align-items: center;
            justify-content: center;
            z-index: 13;
  
            .brick-inline {
              padding-left: 1vw;
              padding-right: 1vw;
              overflow-x: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
  
        .va-phone-expanded-brick {
          bottom: 0;
        }
      }
    }

    &.completed {
      .va-class-count {
        border: 0.8vw solid var(--theme-green);
      }
      .fwe1-16x9-deadline {
        .yellow, .orange {
          color: var(--white);
          background: var(--theme-green);
        }
      }
      .va-expand {
        background: var(--theme-green);
      }
    }
  }

  .subject-no-bricks {
    margin-left: 4vw;
    border-radius: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: $mbase-font-size;
    width: 58vw;
    height: 33vw;
    background: var(--tab-gray);
    color: var(--theme-dark-blue);
    font-family: $font-family-regular-italic;
  }

  .va-phone-expanded-brick {
    animation: gew-grow 0.4s forwards;
    position: fixed;
    bottom: 17.5vw;
    z-index: 23;
    left: 4vw;
    min-width: 92%;
    width: 92vw;
    margin-top: 1.5vh;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
    padding: 3vw 3.5vw;
    color: var(--white);
    background: var(--theme-light-blue);


    .va-title-container {
      font-family: $font-family-bold;
      position: relative;

      .va-title {
        overflow: hidden;
        width: calc(100% - 13vw);
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: $mbase-font-size;

        p {
          overflow: hidden;
          width: 100%;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        br {
          display: none;
        }
      }
    }

    .va-clock-container {
      display: flex;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0vw;
      line-height: 1;
      font-family: $font-family-regular;
      font-size: 5vw;

      svg {
        width: 5.5vw;
        height: 5.5vw;
        stroke-width: 1.5;
        margin-right: 0.5vw;
      }
    }

    .va-brief {
      margin-top: 2vw;
      font-size: 4.14vw;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }

    .va-footer {
      height: 16vw;
      position: relative;

      .va-right-play {
        margin-top: 4vw;
        position: absolute;
        right: 2vw;
        padding: 1vw 5vw;
        border-radius: 1.8vw;
        font-size: 5.5vw;
        color: var(--white);
        background: var(--theme-orange);
      }
    }
  }

  .fwe1-16x9-deadline {
    position: absolute;
    top: -7vw;
    left: -7vw;
    width: 24vw;
    height: 24vw;
    font-size: 3vw;

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(-45deg);
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4.5vw;
        width: 100%;
        font-family: $font-family-bold;
        white-space: nowrap;
      }
      > div.yellow {
        color: var(--theme-dark-blue);
        background: var(--theme-yellow);
      }
      > div.orange {
        color: var(--white);
        background: var(--theme-orange);
      }
      > div.smaller-blue {
        font-size: 1.8vw;
        color: var(--white);
        background: var(--theme-dark-blue);
      }
    }
  }
}

// expanded class
.student-mobile-assignments-page .va-bricks-container .ba-content.full .phone-top-brick-16x9 .best-score-container {
  height: 36.6vw !important;
  background: rgba(255, 255, 255, 0.4);
}