html,
body,
#root {
  margin: 0;
  padding: 0;
  // height: 100%;
  font-family: $font-family-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: fixed;
  width: 100vw;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal !important;
}

strong {
  font-family: $font-family-bold !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input,
select,
textarea {
  font-family: $font-family-regular !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.hide {
  display: none !important;
}

.text-center {
  text-align: center !important;
}

.scale-07 {
  transform: scale(0.7) !important;
}

.btn-transparent {
  background: transparent !important;
  border: 0 !important;
  outline: none !important;
  padding: 0 !important;
  cursor: pointer !important;
}

.svg {
  @extend %noUserSelect;
  fill: currentColor;
  // stroke: currentColor;
  // @media not all and (min-resolution: 0.001dpcm) {
  //   @supports (-webkit-appearance: none) {
  //     fill: currentColor;
  //     stroke: currentColor;
  //   }
  // }
}

.svgOnHover {
  @extend %posRelative;
  @extend %flexCenter;
  > .svg,
  > span {
    @include transition(all 350ms cubic-bezier(0.5, 1, 0.89, 1));
  }
  > .svg {
    width: 20px;
    height: 20px;
    visibility: visible;
    opacity: 1;
    @extend %floatToCenter;
    &.svg-default,
    &.svg-blue,
    &.svg-white,
    &.svg-green,
    &.svg-red,
    &.svg-orange {
      color: var(--tab-gray);
    }
    &.hover,
    &.colored {
      visibility: hidden;
      opacity: 0;
    }
    &.active {
      visibility: visible;
      opacity: 1;
    }
  }
  &:hover,
  &.active {
    > .svg {
      visibility: hidden;
      opacity: 0;
      &.hover,
      &.active,
      &.colored {
        visibility: visible;
        opacity: 1;
      }
      &.svg-default {
        color: var(--solitude-light);
      }
      &.svg-blue {
        color: var(--blue);
      }
      &.svg-white {
        color: var(--white);
      }
      &.svg-green {
        color: var(--theme-green);
      }
      &.svg-red {
        color: var(--red);
      }
      &.svg-orange {
        color: var(--theme-orange);
      }
    }
  }
  > h5,
  > h6,
  > span {
    &:not(:last-child):not(:first-child) {
      margin: 0 7px;
    }
    &:first-child {
      margin-right: 7px;
    }
    &:last-child {
      margin-left: 7px;
    }
    &:only-child {
      margin: 0px;
    }
  }
  > span.tooltip-inner {
    margin: 0px;
  }
}

.your-bricks-list {
  position: relative;
  min-height: 70%;
  padding-left: $left;
  padding-right: $right;
}

.help-icon {
  display: none;
  @include phone_and_tabletP {
    display: block;
    z-index: 1;
  }
}

h3 {
  color: white;
  font-family: $font-family-regular;
  font-weight: normal;
  margin-top: 2.5vh;
  margin-left: 1.05vw;
  margin-bottom: 1vh;
  letter-spacing: 0.27vw;
  font-size: 1.3vw;
}

.next-bricks {
  position: absolute;
  right: 0;
  color: white;
  top: 2vh;
}

.vertical-shuffle-choice,
.choose-choice {
  cursor: pointer;
  display: block;
  line-height: 1.75;
  color: var(--theme-dark-blue) !important;
  @extend %textCenter;
  text-transform: none !important;
  width: 100%;
  border-radius: 0.6vw !important;
  background-color: var(--tab-gray) !important;
  opacity: 1;
  @include phone_and_tabletP {
    padding: 1vw 1.5vw !important;
    margin-bottom: 1.2vh;
  }
  @include tabletP {
    margin: 0 0 0.5vw 0 !important;
    padding: 0 !important;
  }
  .MuiGrid-root {
    margin: 0 !important;
  }
  .MuiButton-label {
    flex-direction: column;
    padding: 0 !important;

    img {
      width: calc(100% - 0.6vw);
    }
  }
  .question-hint {
    margin-bottom: 0;
  }
}

.horizontal-shuffle-answer,
.pair-match-play-option,
.missing-word-choice,
.vertical-shuffle-choice,
.short-answer-input,
.pair-match-play-choice,
.pair-match-image-choice,
.choose-choice {
  &.active {
    background: var(--highlight-blue) !important;
  }
  &.correct {
    background: var(--theme-green) !important;
    .question-hint {
      margin: 0;
      width: 100%;
      background: var(--off-white) !important;
    }
  }
  &.wrong {
    background: var(--theme-orange);
  }
}
.pair-match-play-choice.image-choice .image-container img {
  max-width: 100%;
}

.short-answer-input.correct {
  .question-hint {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
  $border-radius: 2vw;
  .question-hint {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.pair-match-image-choice {
  padding: 0.5vw;
  background: none;
  img {
    max-width: 100%;
    height: auto;
  }
}

.zoom-item {
  cursor: pointer;
  @extend %textCenter;
  @extend %transitionAll300;
}

.mobile-hidden {
  @include phone_and_tabletP {
    display: none !important;
  }
}

.regular {
  font-family: $font-family-regular;
}

.bold {
  font-family: $font-family-bold;
}

.bolder {
  font-weight: 600 !important;
}

.font-black {
  font-family: $font-family-black;
}

.text-left {
  text-align: left;
}

.uppercase {
  text-transform: uppercase !important;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropzone {
  margin: 0;
  border: 2px dashed var(--gray-alpha5) !important;
  min-height: 10vh;
  font: 1.2vw $font-family-bold;
  color: var(--gray);
  background: var(--tab-gray) !important;
  @extend %themeRadius;
  &.disabled {
    background: #ebebe4;
  }
}
.image-drag-n-drop {
  .dropzone {
    background: var(--tab-gray) !important;
    border-color: var(--gray) !important;
  }
}

// material select
.MuiPaper-root.MuiMenu-paper.MuiPopover-paper {
  .MuiMenu-list {
    span[role='menuitem'] {
      min-height: auto !important;
      font-family: $font-family-regular !important;
      font-size: 1.2vw !important;
      line-height: 2.2vw !important;
      color: var(--theme-dark-blue) !important;
    }
  }
}

.blue-page {
  height: 100%;
  width: 100%;
  background: var(--theme-dark-blue);
}

.pointer {
  cursor: pointer;
}

.flex-center {
  @extend %flexCenter;
}

.centered {
  @extend %flexCenter;
  @include phone_and_tabletP {
    height: auto;
    width: 100%;
  }
}

.centered-y-start-x {
  height: 100% !important;
  @extend %flexToYCenter;
  align-items: flex-start !important;
}

.MuiInputBase-input {
  text-transform: unset !important;
}

.MuiInputBase-input::placeholder {
}

.inline {
  display: inline;
}