.tooltip {
  @extend %posRelative;
  &:after {
    content: '';
    @extend %floatToXCenter;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.45vw;
    @include opacity(0);
    visibility: hidden;
    @include transition(all 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
    @include user-select(none);
  }
  .tooltip-inner {
    @extend %posAbsolute;
    @extend %fw-5;
    margin: 0 !important;
    padding: 0.5vw 0.7vw !important;
    font-size: 0.8vw;
    line-height: 1vw;
    color: var(--white) !important;
    text-align: center;
    background-color: var(--theme-dark-blue);
    @extend %themeRadius;
    z-index: 99999;
    @include opacity(0);
    visibility: hidden;
    pointer-events: none;
    @include transition(all 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
    @include user-select(none);
    white-space: nowrap;
    &.top {
      bottom: 50%;
      @include transition(bottom 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      @include translateX(-50%);
      &:after {
        bottom: 0;
        left: 50%;
        @include translateX(-50%);
        border-color: var(--theme-dark-blue) transparent transparent transparent;
      }
    }
    &.top-right {
      bottom: 50%;
      right: 0px;
      @include translateY(-0%);
      @include transition(bottom 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      &:after {
        bottom: 0;
        right: 7px;
        border-color: var(--theme-dark-blue) transparent transparent transparent;
        @include translateY(-0%);
      }
    }
    &.right {
      left: 50%;
      top: 50%;
      @include translateY(-50%);
      @include transition(left 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      &:after {
        top: 50%;
        left: 0;
        @include translateY(-50%);
        border-color: transparent var(--theme-dark-blue) transparent transparent;
      }
    }
    &.bottom-right {
      top: 50%;
      right: -15px;
      @include translateY(0%);
      @include transition(top 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      &:after {
        top: 0;
        right: 13px !important;
        @include translateY(0%);
        border-color: transparent transparent var(--theme-dark-blue) transparent;
      }
    }
    &.bottom {
      top: 50%;
      left: 50%;
      @include translateX(-50%);
      @include transition(top 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      &:after {
        top: 0;
        left: 50% !important;
        border-color: transparent transparent var(--theme-dark-blue) transparent;
        @include translateX(-50%);
      }
    }
    &.bottom-left {
      top: 50%;
      left: -7px;
      @include translateY(0%);
      @include transition(top 150ms cubic-bezier(0.39, 0.575, 0.565, 1));
      &:after {
        top: 0;
        left: 4px;
        @include translateX(0%);
        border-color: transparent transparent var(--theme-dark-blue) transparent;
      }
    }
  }
  &.left,
  &.right {
    .tooltip-inner {
      left: 50%;
      top: 50%;
      transform: translateY(-50%);
    }
    &:after {
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &.left {
    .tooltip-inner {
      left: inherit;
      right: 50%;
    }
    &:after {
      left: inherit;
      right: 0;
      border-color: transparent transparent transparent var(--theme-dark-blue);
    }
  }
  &.right {
    .tooltip-inner {
      right: inherit;
      left: 50%;
    }
    &:after {
      right: inherit;
      left: 0;
      border-color: transparent var(--theme-dark-blue) transparent transparent;
    }
  }
  &.top,
  &.top-left,
  &.top-right {
    .tooltip-inner {
      bottom: 50%;
    }
    &:after {
      bottom: 0;
      border-color: var(--theme-dark-blue) transparent transparent transparent;
    }
  }
  &.bottom,
  &.bottom-left,
  &.bottom-right {
    .tooltip-inner {
      top: 50%;
    }
    &:after {
      top: 0;
      border-color: transparent transparent var(--theme-dark-blue) transparent;
    }
  }
  &.top,
  &.bottom {
    .tooltip-inner {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &.top-left,
  &.bottom-left {
    .tooltip-inner {
      left: 0px;
    }
  }
  &.top-right,
  &.bottom-right {
    .tooltip-inner {
      right: 0px;
    }
  }
}
