@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.MuiExpansionPanelDetails-root {
  padding-top: 0 !important;

  .MuiTypography-root {
    font-size: 0.8vw;
  }
}

.play-sidebar {
  text-align: right;
  $resize-icon-size: 2.7vw;
  $icons-size: 2vw;
  $right-padding: 1.6vw;
  justify-content: flex-start !important;

  .collapsable-sidebar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
    .sidebar-button {
      cursor: pointer;
      font-family: $font-family-bold !important;
      width: 100%;
      font-size: 1.6vw;
      @extend %flexCenter;
      flex-direction: column;
      span,
      .svg {
        color: var(--white);
      }
      span {
        letter-spacing: 0.03vw;
        // padding-right: $right-padding;
        width: 70%;
        transition: 700ms width;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
      }
      .svg {
        @extend %removePosition;
        $size: calc(#{$icons-size} * 1.11);
        width: $size;
        height: $size;
      }
      // .maximize-icon,
      // .minimize-icon,
      .highlight-button,
      .annotate-button {
        width: calc(100% - 2vw);
        margin: 2vw 1vw 0 1vw;
        justify-content: center;
      }
      .maximize-icon,
      .minimize-icon {
        margin: 1vw 1vw 0 1vw;
        justify-content: flex-end;
        .svg {
          color: var(--theme-orange);
        }
      }
      .highlight-button {
        &.active {
          span,
          .svg {
            color: var(--theme-yellow);
          }
        }
      }
      .annotate-button {
        span,
        .svg {
          color: var(--dark-gray);
        }
      }
      .assign-class-button {
        background: var(--theme-orange);
        outline: none;
        border: none;
        margin-top: 3vh;
        padding: 1.3vh 0.5vw;
        border-radius: $editor-radius;
        width: 80%;
        height: 3.5vw;
        font-size: 1.6vw;
        font-family: $font-family-bold;
        @extend %flexCenter;
        @extend %transitionAll300;
        overflow: hidden;

        span {
          @extend %transitionAll300;
        }

        svg {
          @extend %transitionAll300;
        }

        &:hover {
          background: var(--white);
          span {
            color: var(--theme-orange) !important;
          }
          svg {
            color: var(--theme-orange) !important;
          }
        }

        &.blue {
          background: var(--theme-dark-blue);
          stroke-width: 2;
          &:hover {
            background: var(--tab-gray);
            span {
              color: var(--theme-dark-blue) !important;
            }
            svg {
              color: var(--theme-dark-blue) !important;
            }
          }
        }
      }
      &.unauthorized {
        .first {
          margin-top: 12vh;
        }
        .margin-top {
          margin-top: 3vh;
        }
        .text-left {
          width: 76%;
          margin-left: 2vw;
          margin-right: 2vw;
          font-size: 1.1vw;
        }
      }
    }
  }
  &.rolled-up {
    margin-top: $home-button-size !important;
    width: $home-button-size !important;
    .collapsable-sidebar {
      justify-content: center;
      .sidebar-button {
        .svg {
          marker: 0 auto;
        }
      }
      span {
        width: 0%;
      }
      .maximize-icon,
      .minimize-icon,
      .highlight-button,
      .annotate-button {
        justify-content: center;
      }
      .assign-class-button {
        width: 3.5vw;
      }
    }
  }
}

@include desktop {
  .stepper {
    .step:hover {
      color: var(--theme-light-blue) !important;
    }
  }
}
