@import '../../palette.scss';

$color-english-1: map-get($map: $lf-palette, $key: A200);
$color-english-2: map-get($map: $lf-palette, $key: 500);
$color-english-3: map-get($map: $lf-palette, $key: 900);
.theme-English {
    .pallet-tile-1 { background-color: $color-english-1; color: black }
    .pallet-tile-2 { background-color: $color-english-2; color: black }
    .pallet-tile-3 { background-color: $color-english-3; color: white; }
}

$color-maths-1: #90E201;
$color-maths-2: #74B501;
$color-maths-3: #0C660C;
.theme-Maths{
    .pallet-tile-1 { background-color: $color-maths-1; }
    .pallet-tile-2 { background-color: $color-maths-2; }
    .pallet-tile-3 { background-color: $color-maths-3; color: white; }
}

$color-mixed-1: #F44336;
$color-mixed-2: #00BCD4;
$color-mixed-3: #4CAF50;
.theme-Mixed{
    .pallet-tile-1 { background-color: $color-mixed-1; color: white; }
    .pallet-tile-2 { background-color: $color-mixed-2; color: white; }
    .pallet-tile-3 { background-color: $color-mixed-3; color: white; }
}
