%lhInherit {
  line-height: inherit !important;
}

%ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

%widthAuto {
  width: auto;
}
%width100 {
  width: 100%;
}
%maxWidth100 {
  max-width: 100%;
}

%heightAuto {
  height: auto;
}
%height100 {
  height: 100%;
}

%posRelative {
  position: relative;
}
%posAbsolute {
  position: absolute;
}
%posFixed {
  position: fixed;
}

%fontInherit {
  font-family: inherit;
}

%uppercase {
  text-transform: uppercase;
}

%fontFamilyLight {
  font-family: "Brandon Grotesque Light";
}
%fontFamilyLightItalic {
  font-family: "Brandon Grotesque Light Italic";
}
%fontFamilyRegular {
  font-family: "Brandon Grotesque Regular";
}
%fontFamilyRegularItalic {
  font-family: "Brandon Grotesque Regular Italic";
}
%fontFamilyBold {
  font-family: "Brandon Grotesque Bold";
}
%fontFamilyBoldItalic {
  font-family: "Brandon Grotesque Bold Italic";
}
%fontFamilyBlack {
  font-family: "Brandon Grotesque Black";
}
%fontFamilyBlackItalic {
  font-family: "Brandon Grotesque Black Italic";
}

%fs9 {
  font-size: 9px;
}
%fs10 {
  font-size: 10px;
}
%fs11 {
  font-size: 11px;
}
%fs12 {
  font-size: 12px;
}
%fs13 {
  font-size: 13px;
}
%fs14 {
  font-size: 14px;
}
%fs15 {
  font-size: 15px;
}
%fs16 {
  font-size: 16px;
}
%fs17 {
  font-size: 17px;
}
%fs18 {
  font-size: 18px;
}
%fs19 {
  font-size: 19px;
}
%fs20 {
  font-size: 20px;
}
%fs21 {
  font-size: 21px;
}
%fs22 {
  font-size: 22px;
}
%fs23 {
  font-size: 23px;
}
%fs24 {
  font-size: 24px;
}
%fs25 {
  font-size: 25px;
}
%fs30 {
  font-size: 30px;
}

%fw-3 {
  font-weight: 300;
}
%fw-4 {
  font-weight: 400;
}
%fw-5 {
  font-weight: 500;
}
%fw-6 {
  font-weight: 600;
}
%fw-7 {
  font-weight: 700;
}
%fw-8 {
  font-weight: 800;
}
%fw-9 {
  font-weight: 900;
}

%noWrap {
  white-space: nowrap !important;
}

%displayFlex {
  display: flex;
}
%flexNone {
  flex: none;
}
%flexRow {
  flex-direction: row;
}
%flexColumn {
  flex-direction: column;
}
%flexJustifyCenter {
  justify-content: center;
}
%flexAlignStart {
  align-items: flex-start;
}
%flexAlignCenter {
  align-items: center;
}
%flexAlignEnd {
  align-items: flex-end;
}
%flexNowrap {
  flex-wrap: nowrap;
}
%flexWrap {
  flex-wrap: wrap;
}

%flexFlowColumn {
  flex-flow: column wrap;
}
%flexFlowColReverse {
  flex-flow: column-reverse wrap;
}
%flexFlowRow {
  flex-flow: row wrap;
}
%flexFlowRowReverse {
  flex-flow: row-reverse wrap;
}
%flexFlowWrapReverse {
  flex-flow: wrap-reverse;
}

%noUserSelect {
  @include user-select(none);
}
%noDisplay {
  display: none;
}
%noShadow {
  box-shadow: none;
}
%noOutline {
  outline: none;
}
%nolistStyle {
  list-style: none;
}
%noTextDecor {
  text-decoration: none;
}

%cursorDisabled {
  pointer-events: none;
}

%cursorPointer {
  cursor: pointer;
}

%noPointerEvent {
  pointer-events: none;
}

%noBg {
  background: none;
}
%bgTransparent {
  background-color: transparent;
}

%noRad {
  border-radius: 0;
}
%rad40 {
  border-radius: 40px;
}
%radCircle {
  border-radius: 50%;
}
%themeRadius {
  border-radius: $editor-radius;
}

%op0 {
  @include opacity(0);
}
%op03 {
  @include opacity(0.3);
}
%op04 {
  @include opacity(0.4);
}
%op05 {
  @include opacity(0.5);
}
%op1 {
  @include opacity(1);
}

%b0 {
  border: 0;
}
%b1 {
  border-width: 1px;
  border-style: solid;
}
%bb1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
%br1 {
  border-right-width: 1px;
  border-right-style: solid;
}
%bl1 {
  border-left-width: 1px;
  border-left-style: solid;
}

%shDefault {
  box-shadow: 0 0px 3px 0 var(--black-alpha2);
}
%shActive {
  box-shadow: 0px 2px 5px var(--black-alpha2);
}
%sh14 {
  box-shadow: 0 2px 10px var(--black-alpha2);
}

%cardDefault {
  background-color: var(--gray);
}
%cardActive {
  background-color: var(--gray);
}

%borderGray {
  border-color: var(--gray);
}
%borderGrayDark {
  border-color: var(--dark-gray);
}

%borderCollapse {
  outline: none;
}

%overflowHidden {
  overflow: hidden;
}

%removeAppearence {
  @include appearance(none);
}

%removeAnimation {
  animation: none !important;
}

%p0 {
  padding: 0px;
}
%p3 {
  padding: 3px;
}
%p5 {
  padding: 5px;
}
%p6 {
  padding: 6px;
}
%p7 {
  padding: 7px;
}
%p10 {
  padding: 10px;
}
%p13 {
  padding: 13px;
}
%p14 {
  padding: 14px;
}
%p15 {
  padding: 15px;
}
%p20 {
  padding: 20px;
}
%p28 {
  padding: 28px;
}

%marginAuto {
  margin: auto;
}
%m0 {
  margin: 0px;
}
%m5 {
  margin: 5px;
}
%m7 {
  margin: 7px;
}
%m10 {
  margin: 10px;
}
%m15 {
  margin: 15px;
}
%m20 {
  margin: 20px;
}

%mb5 {
  margin-bottom: 5px;
}

%textCenter {
  text-align: center;
}
%textRight {
  text-align: right;
}
%textLeft {
  text-align: left;
}

%textUppercase {
  text-transform: uppercase;
}

%pullLeft {
  float: left;
}
%pullRight {
  float: right;
}
%pullNone {
  float: none;
}

%transitionAll150 {
  @include transition(all 150ms cubic-bezier(0.5, 1, 0.89, 1));
}
%transitionAll300 {
  @include transition(all 300ms cubic-bezier(0.5, 1, 0.89, 1));
}
%transitionAll400 {
  @include transition(all 400ms cubic-bezier(0.5, 1, 0.89, 1));
}
%transitionAll500 {
  @include transition(all 500ms cubic-bezier(0.5, 1, 0.89, 1));
}
%transitionAll600 {
  @include transition(all 600ms cubic-bezier(0.5, 1, 0.89, 1));
}

%floatToCenter {
  @extend %posAbsolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
%floatToXCenter {
  @extend %posAbsolute;
  left: 50%;
  transform: translateX(-50%);
}
%floatToYCenter {
  @extend %posAbsolute;
  top: 50%;
  transform: translateY(-50%);
}
%flexCenter {
  @extend %displayFlex;
  @extend %flexAlignCenter;
  @extend %flexJustifyCenter;
}
%flexToYCenter {
  @extend %displayFlex;
  @extend %flexAlignCenter;
}
%flexToXCenter {
  @extend %displayFlex;
  @extend %flexJustifyCenter;
}

%radioBlue {
  .MuiIconButton-root {
    &.MuiRadio-colorSecondary {
      &:hover {
        background-color: var(--theme-dark-blue-alpha1);
      }
      &.Mui-checked {
        color: var(--theme-dark-blue);
        &:hover {
          background-color: var(--theme-dark-blue-alpha1);
        }
      }
    }
  }
}

%checkboxValidation {
  .MuiSvgIcon-root {
    color: var(--gray) !important;
    &:hover {
      background-color: var(--gray-alpha4) !important;
    }
  }
  &.checkbox-invalid {
    color: var(--theme-orange) !important;
    &:hover {
      background-color: var(--theme-orange-alpha4) !important;
    }
    svg {
      color: var(--theme-orange) !important;
    }
  }
  &.Mui-checked {
    color: var(--theme-green) !important;
    &:hover {
      background-color: var(--theme-green-alpha4) !important;
    }
    svg {
      color: var(--theme-green) !important;
    }
  }
}

%inputContainer {
  @extend %flexCenter;
  flex-direction: column;
  @include phone_and_tabletL {
    background-color: var(--solitude-light);
    border-radius: 5.1vw;
    padding: 1vh 2vh 0;
    margin: 4vh auto;
    height: 15vh;
  }
  @include tabletL {
    margin: 6vw auto;
    width: 40vw !important;
    font-size: 1.4vw !important;
    border: transparent;
  }
}
%buildInputs {
  @extend %posRelative;
  width: 100%;
  margin: 1vw 0;
  .MuiInput-underline {
    width: 100%;
    color: var(--theme-dark-blue);
    &:before,
    &:after {
      display: none !important;
    }
  }
  &:after,
  &:before {
    content: "";
    @extend %floatToXCenter;
    bottom: 0;
    pointer-events: none;
    transition: width 200ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 1px;
    height: 2px;
  }
  &:before {
    width: 0;
    background-color: var(--theme-dark-blue);
    z-index: 1;
  }
  &:after {
    width: 100%;
    background-color: var(--tab-gray);
    z-index: 0;
  }
  &:hover,
  &:focus-within {
    &:before {
      width: 100%;
    }
  }
  .quill-document-editor {
    background-color: transparent;
  }
  input,
  textarea,
  .ql-editor {
    width: 100%;
    background-color: transparent !important;
    padding: 0 0 0.8vw 0;
    border: 0;
    @include phone {
      font-size: 6.3vw;
    }
    @include tabletP {
      font-size: 3.3vw;
    }
    @include tabletL {
      font-size: $base-popup-font-size;
    }
    &.ql-blank {
      &:before {
        font-style: normal;
      }
    }
  }
}

%tutorialPanel {
  &.tutorial-panel {
    .tutorial-step-1 {
      margin: 0 3vw;
      margin-top: 3.3vh;
      background: var(--off-white);
      color: var(--theme-dark-blue);
      border-radius: 0.7vw;
      height: 72vh;
      overflow: auto;
      h1 {
        margin-top: 1vh;
        margin-left: 2vw;
        margin-bottom: 1.8vh;
        font-size: 3.05vw;
        font-family: $font-family-bold;
      }
      .editor-border {
        margin: 2vw 1vw 0 1vw;
        padding: 1.5vw;
        width: 8vw;
        height: 8vw;
        position: relative;
        border: 0;
        border-radius: 50%;
        @extend %flexCenter;
        &:before {
          content: " ";
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border-width: 0.3vw;
          border-style: dashed;
          border-color: var(--theme-orange);
          border-radius: 50%;
        }
        .svg {
          @extend %removePosition;
        }
      }
      .center {
        margin: 2.3vh 0;
        padding: 0;
        font-size: 1.28vw;
        @extend %textCenter;
      }
      .center-second {
        margin: 0;
        padding: 0;
        font-size: 1.28vw;
        @extend %textCenter;
      }
      .proposal-box {
        margin-left: 1vw;
        h2 {
          margin: 4.1vh 0 0 0vw;
          padding: 0;
          font-family: $font-family-bold;
          font-size: 2.1vw;
        }
        p {
          margin: 0;
          font-size: 1.5vw;
        }
        .last-text {
          margin-top: 3.5vh;
        }
      }
    }
    .bold {
      font-family: $font-family-bold;
    }
    .button-row {
      margin-top: 2vh;
      color: var(--theme-dark-blue);
      font-size: 1.5vw;
      button {
        cursor: pointer;
        background: white;
        color: var(--theme-dark-blue);
        border-radius: $editor-radius;
        font-size: 1.5vw;
        line-height: 1.36;
        padding: 0 0.8vw;
        font-family: $font-family-bold;
        border: 0.1vw solid var(--theme-dark-blue);
        transition: all 0.2s ease-in-out;
        &:hover {
          background: var(--theme-dark-blue);
          color: white;
        }
      }
      .left-arrow,
      .right-arrow {
        cursor: pointer;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        height: 2.5vw;
        width: 2.5vw;
      }
      .left-arrow {
        background-image: url(/feathericons/chevron-left-orange.png);
        margin-left: 1.8vw;
        margin-right: 1.3vw;
      }
      .right-arrow {
        background-image: url(/feathericons/chevron-right-orange.png);
        margin-right: 2vw;
      }
    }
  }
}

%linkDescription {
  .link-description {
    text-transform: uppercase;
    font-family: $font-family-bold;
    margin-bottom: 0.5vh;
    color: var(--theme-dark-blue);
    margin: 0;
    @extend %ellipsis;
    @include phone_and_tabletP {
      font-size: 4vw;
    }
    @include tabletP {
      font-size: 0.8vw;
    }
  }
}

%questionLinkDescription {
  .link-description {
    @extend %textCenter;
    font-family: $font-family-regular;
    margin: 0;
    @include phone_and_tabletP {
      font-size: 3vw;
      line-height: 3.2vw;
    }
    @include tabletP {
      font-size: 1.4vw;
      line-height: 2vw;
    }
  }
}

%removePosition {
  position: unset !important;
  top: unset !important;
  left: unset !important;
  transform: unset !important;
}

%arrow-top-bottom {
  .top-scroll-area,
  .bottom-scroll-area {
    position: absolute;
    width: 100%;
    height: 5vh;
    @extend %flexCenter;
    .top-button-container,
    .bottom-button-container {
      position: relative;
      width: 100%;
      height: 100%;
      @extend %flexCenter;
      justify-content: flex-end;
      > button {
        @extend %floatToCenter;
        .svg {
          $scroll-button-size: 2vw;
          height: $scroll-button-size;
          width: $scroll-button-size;
          &.disabled {
            color: var(--tab-gray) !important;
          }
        }
      }
    }
    .scroll-text {
      @extend %flexCenter;
      @extend %flexCenter;
      span {
        font-size: 1vw;
        color: var(--theme-dark-blue);
      }
      button {
        width: 1.1vw;
        height: 1.1vw;
        margin: 0 0.4vw;
        > svg {
          width: inherit;
          height: inherit;
        }
      }
    }
  }
  .top-scroll-area,
  .bottom-scroll-area {
    .top-button-container,
    .bottom-button-container {
      max-width: 45%;
      min-width: 45%;
    }
  }
  .bottom-scroll-area {
    bottom: 0;
  }
}
