$yellow: #ff9d00;
$orange: #c43c30;
$global-light-text-grey: #757576;
$black-blue: #0b3b7f;
$white-grey: #e1e1e1;
$tab-grey: #e5e8ed;
$light-green: #30c474;
$input-grey: #fafafb;
$lighter-blue: #304775;
$light-blue: #193266;
$light-blue2: #193366;
$dark-blue: #001c58;
$left-grey: #e6e6ed;
$grey: #b0b0ad;
$light-grey: #f3f4f7;

$base-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);

$border-radius: 2vw;
$question-radius: 0.6vw;
$button-radius: 0.7vw;

$main-panel-radius: 2vw;
$left: 0.8vw;
$right: 1.4vw;

$mobile-col-radius: 8vw;
$mobile-col-color: $light-blue;
$mobile-background: $dark-blue;
$mobile-arrow-color: #96a0b6;

$font-family-light: 'Brandon Grotesque Light';
$font-family-regular: 'Brandon Grotesque Regular';
$font-family-bold: 'Brandon Grotesque Bold';
$font-family-black: 'Brandon Grotesque Black';

$brick-radius: 1.2vh;
$main-panel-radius: 2vw;
$brick-radius: 1.2vh;
$main-panel-radius: 2vw;

$min-brick-height: 4.4vw;
$global-drop-border-radius: 0.4vw;
$base-lg-text-size: 0.65vw;
$base-sm-text-size: 0.9vw;
$base-md-text-size: 1.1vw;
$bin-size: 1.3vw;
$left: 0.8vw;
$right: 1.4vw;
$answer-input-text-size: 1vw;

$answer-height: 3.9vw;

$phone-width: 300px;
$phone-landscape-width: 568px;
$tablet-portrait-width: 768px;
$tablet-landscape-width1: 991;
$phone-and-tablet-portrait-width: 1023px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;
$laptop-landscape-width: 1366px;
$desktop-wide-width: 1440px;
$ex-desktop-wide-width: 1680px;
