$colors: (
  'global-light-text-gray': #757576,
  'white': #ffffff,
  'white-gray': #e1e1e1,
  'input-gray': #fafafb,
  'gray': #b0b0ad,
  'blue': #0681db,
  'light-blue': #193266,
  'black-blue': #0b3b7f,
  'theme-light-blue': #304775,
  'theme-dark-blue': #001c58,
  'white-blue': #8ad6e8,
  'tab-dark-gray': #e6e6ed,
  'tab-gray': #e5e8ed,
  'light-gray': #f3f4f7,
  'theme-green': #30c474,
  'theme-orange': #c43c30,
  'theme-dark-orange': #9e281d,
  'pelorous': #17a2b8,
  'yellow': #ff9d00,
  'off-white': #f5f6f7,
  'muted': #444444,
);

$global-light-text-gray: #757576;
$button-box: #e1e5eb;

$base-shadow: -10px -10px 15px rgba(255, 255, 255, 0.5), 10px 10px 15px rgba(70, 70, 70, 0.12);

$home-button-size: 5.834vw;
$sidebar-gutter: 1.2vw;
$border-radius: 2vw;
$question-radius: 0.6vw;
$button-radius: 0.7vw;

$main-panel-radius: 2vw;
$left: 0.8vw;
$right: 1.4vw;

$progress-height: 60vh;

$mobile-col-radius: 8vw;
$mobile-col-color: var(--light-blue);
$mobile-background: var(--theme-dark-blue);
$mobile-arrow-color: #96a0b6;

$font-family-light: 'Brandon Grotesque Light';
$font-family-regular: 'Brandon Grotesque Regular';
$font-family-bold: 'Brandon Grotesque Bold';
$font-family-black: 'Brandon Grotesque Black';

$brick-radius: 1.2vh;
$main-panel-radius: 2vw;
$brick-radius: 1.2vh;
$main-panel-radius: 2vw;

$min-brick-height: 4.4vw;
$global-drop-border-radius: 0.4vw;
$base-lg-text-size: 0.65vw;
$base-sm-text-size: 0.9vw;
$base-md-text-size: 1.1vw;
$bin-size: 1.3vw;
$left: 0.8vw;
$right: 1.4vw;
$answer-input-text-size: 1vw;

$height-mobile-view: calc(100vh - 48.5vh);
$back-to-work-height-mobile-view: 100vh;
$height-desktop-view: calc(100vh - 7.834vw);

$answer-height: 3.9vw;

$phone-width: 300px;
$tablet-portrait-width: 760px;
$tablet-landscape-width: 1024px;
$desktop-width: 1280px;
$laptop-landscape-width: 1366px;
$desktop-wide-width: 1440px;
$ex-desktop-wide-width: 1680px;
