@import "_variables";

$col-blue: #183265;
$border-radius: 2vw;
$button-radius: 0.4vw;

html, body, #root {
  height: 100%
}

.login-page {
  background: $dark-blue;
  height: 100%;
  .back-col {
    height: 13.3vh;
    width: 32.3vw;
    .back-box {
      .back-button {
        width: 4.5vw;
        height: auto;
        color: $orange;
      }
    }
  }

  .first-col {
    width: 29.6vw;
    height: 100%;

    .first-item {
      background: $col-blue;
      height: 14.7vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $col-blue;
      margin-top: 4.7vh;
      height: 80.6vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-align: center;

      .logo-image {
        margin-top: 6.1vh;
        margin-bottom: 4.2vh;
        height: 20vh;
      }
    }
  }
  .second-col {
    margin-left: 2.7vw;
    width: 29.7vw;
    height: 100%;

    .first-item {
      background: $col-blue;
      height: 70.9vh;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
    .second-item {
      background: $col-blue;
      margin-top: 4.7vh;
      height: 24.4vh;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  .login-field {
    margin-bottom: 2vh;
    padding: 2vh 0 2vh 0 !important;
    color: white;
    font-family: 'Brandon Grotesque Regular';
    width: 70%;
    text-align: center;
    background: $dark-blue;
    border: none;
    padding: 10px;
    border-radius: $button-radius;
  }

  ::-webkit-input-placeholder { /* Edge */
    color: white;
    opacity: 0.8;
  }

  .sign-in-button {
    width: 7.5vw;
    padding: 0.7vh 1vw 0.7vh 1vw;
    background: $orange;
    font-weight: normal !important;
    font-size: 0.9vw;
    letter-spacing: 0.2vw;
    font-family: 'Brandon Grotesque Regular';
    border-radius: 0.7vw;
    margin-bottom: 2vh;
  }

  .register-button {
    margin-right: 1vw;
  }

  .sign-in-button:hover {
    background: $orange; 
    opacity: 0.7;
  }
}