@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.QuickAssignPage {
  position: relative;
  height: 100%;
  display: flex;
  background: var(--theme-dark-blue);

  .page-content {
    height: calc(100% - 17.5vw);

    .top-header {
      height: 9%;
      width: 100vw;
      color: white;
      background: var(--theme-light-blue);
    }

    .bricks-list {
      height: 91%;
      background: white;

      overflow-y: scroll;

      .publish-brick-container {
        border-radius: 4vw;
        margin-left: 5vw;
        width: 90vw;

        .bottom-description,
        .bottom-description-color {
          height: 9vw;
          font-size: 4vw;
        }
      }
    }
  }

  .page-header {
    z-index: 1;
    display: flex;
    background: var(--theme-light-blue);
    position: absolute;
    bottom: 0;
    height: 17.5vw;
    width: 100vw;

    svg {
      width: 45px;
      height: 45px;
    }

    .home-btn {
      margin-left: calc(50vw - 22.5px);
      height: 100%;
    }

    .search-btn-container {
      height: 100%;
      margin-left: 28vw;
    }

    .search-btn {
      width: 10vw;
      height: 10vw;
      background: var(--white) !important;
      border-radius: 50% !important;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
    
      svg {
        stroke-width: 1.5;
        width: 70% !important;
        height: 70% !important;
        color: var(--theme-dark-blue) !important;
        position: absolute;
        z-index: 27;
      }
    
      .gh-phone-background {
        position: absolute;
        border-radius: 50%;
        z-index: 26;
        width: 118%;
        height: 118%;
        opacity: 0.5;
        background: var(--white);
      }
    }
  }
}