@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

.QuickAssignPage {
  height: 100%;
  display: flex;
  background: var(--theme-dark-blue);
  .sidebar {
    margin-top: calc(5.834vw + 2vw);
    height: calc(100% - 5.834vw - 2vw);
    width: 5.834vw;
    border-top-right-radius: 2vw;
    background: var(--theme-light-blue);
  }

  .page-content {
    overflow-y: scroll;
    border-top-left-radius: 2vw;
    margin-top: 2vw;
    margin-left: 2vw;
    width: calc(100vw - 5.834vw);
    height: calc(100% - 2vw);
    background: white;

    .classroom-name {
      padding-top: 5vh;
      padding-bottom: 2vh;
      color: var(--theme-dark-blue);
      font-size: 1.8vw;
      padding-left: 2vw;
    }

    .bricks-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-left: 1.5vw;

      .publish-brick-container {
        min-width: unset !important;
        width: 21vw;
        margin-left: 0.6vw;
        margin-right: 0.6vw;
      }
    }
  }
}