@import './partials/variables';
@import './partials/extensions';
@import './partials/mixins';

.beta-text {
  position: fixed;
  bottom: 1%;
  right: 1%;
  color: $orange;
  font-size: 2vw;
  letter-spacing: 0.4vw;
  font-family: $font-family-black;
}

strong {
  font-family: $font-family-black;
  font-weight: normal;
}

.svg {
	@extend %noUserSelect;
	@extend %transitionAll300;
	fill: currentColor;
}

.svgOnHover {
	> .svg {
		width: 20px;
		height: 20px;
		display: inline-flex;
		&.svg-default,
		&.svg-blue,
		&.svg-white,
		&.svg-green,
		&.svg-red,
		&.svg-orange {
			color: var(--theme-pro-gray);
		}
		&.hover,
		&.colored {
			display: none;
		}
		&.active {
			display: inline-flex;
		}
	}
	&:hover,
	&.active {
		> .svg {
			display: none;
			&.hover,
			&.active,
			&.colored {
				display: inline-flex;
			}
			&.svg-default {
				color: var(--black-light);
			}
			&.svg-blue {
				color: var(--blue);
			}
			&.svg-white {
				color: var(--white);
			}
			&.svg-green {
				color: var(--green);
			}
			&.svg-red {
				color: var(--red);
			}
			&.svg-orange {
				color: var(--orange);
			}
		}
	}
	> h5,
	> h6,
	> span {
		&:not(:last-child):not(:first-child) {
			margin: 0 7px;
		}
		&:first-child {
			margin-right: 7px;
		}
		&:last-child {
			margin-left: 7px;
		}
		&:only-child {
			margin: 0px;
		}
	}
	> span.tooltip-inner {
		margin: 0px;
	}
}