@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';
@import 'src/assets/sass/component/authpages';
@import 'src/assets/sass/introjs/desktopIntrojs';

@import 'src/assets/sass/animations/animations';

@import './utils/desktop/global-desktop';
@import './utils/desktop/sidebar-desktop';
@import './utils/desktop/dialog-desktop';
@import './utils/desktop/tooltips-desktop';
@import './utils/desktop/buttons-desktop';
@import './utils/desktop/form-elements-desktop';
@import './utils/desktop/dropdowns-desktop';

#launcher {
  left: 0 !important;
  width: 5.7vw !important;
  height: 2.5vw !important;
  margin: 1vw 0 1vw 1.5vw !important;
}

.global-base-font {
  font-size: 1.4vw;
}

.beta-text {
  color: var(--theme-light-blue);
}

.browser-type-container {
  height: 100vh;
  width: 100vw;
}

.short-description {
  cursor: pointer;
  padding-left: 1vw;
  border-radius: 1vw;
  background: var(--white);

  .visible-on-hover {
    display: none;
    font-size: 1vw;
  }

  &:hover {
    background: var(--tab-gray);

    .visible-on-hover {
      display: block;
      position: absolute;
      bottom: 0.2vw;
      right: 0.4vw;
    }

    .hover-delete-icon {
      height: 3.5vw;

      svg {
        height: 1vw !important;
        width: 1vw !important;
      }
    }

    .label-circle-text {
      font-size: 1.3vw !important;
    }

    .round-button-icon {
      svg {
        width: 0 !important;
        height: 0 !important;
      }

      .label-circle-text {
        display: flex;
        width: 100%;
        font-size: 1.3vw;
      }
    }
  }

  &.no-hover {
    background: inherit !important;
  }

  .label-circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--white);
    font-size: 1vw;
    transition: all 300ms ease-out;
  }

  .round-button-icon {
    .label-circle-text {
      display: none;
      font-size: 0;
      width: 0;
      height: 0;
    }
  }

  .hover-delete-icon {
    position: absolute;
    top: 1.6vh;
    right: 1.6vh;
  }

  .centered-brick-description {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

    .link-info {
      font-size: 0.8vw !important;
    }
  }
}

.stop-cookie-tracking {
  cursor: pointer;
  position: fixed;
  bottom: 1.2vw;
  left: calc(5.5vw + 0.6vw + 20px + 0.5vw + 0.5vw);
  border: none;
  height: 2.3vw;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  padding: 0;
  background: inherit;

  svg {
    width: 2vw;
    height: 2vw;
    color: var(--white);
    transition: all 300ms ease-out;
  }

  &:hover {
    svg {
      color: var(--theme-orange);
    }
  }
}

.dialog-header {
  .r-popup-title {
    font-size: 2vw;
    margin-bottom: 0.3vw !important;
  }

  .r-brick-level {
    font-family: $font-family-regular;
    display: flex;
    align-items: center;
    height: 4.185vw;
    width: 15vw;
    font-size: 2vw;
    padding-left: 2vw;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
    margin-left: 0.2vw;
    background: var(--white);
    color: var(--theme-dark-blue);
  }

  .r-class-inputs {
    display: flex;
    margin-bottom: 0.4vw;

    input {
      border-top-left-radius: 1vw !important;
      border-bottom-left-radius: 1vw !important;
      padding-top: 0.4vw !important;
      padding-bottom: 0.4vw !important;
      color: var(--white) !important;
      width: 35vw !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background: var(--theme-dark-blue) !important;

      &::placeholder {
        color: #69799d !important;
      }
    }

    .r-brick-level {
      background: var(--theme-dark-blue);
      color: var(--white);
    }
  }

  .r-regular-center {
    text-align: center;
    font-family: $font-family-regular;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
  }

  .r-first-class {
    font-size: 2.6vw;
    margin-bottom: 1.2vw !important;
  }

  .r-new-class {
    margin-bottom: 1vw !important;
  }

  .r-student-emails {
    .MuiAutocomplete-root {
      margin-bottom: 0 !important;
    }

    .MuiFormControl-root {
      .MuiOutlinedInput-root {
        display: flex !important;
        align-items: flex-start;
        height: 8.3vw;

        input {
          padding-left: 0.3vw;
          padding-top: 0.1vw;
          padding-bottom: 0.1vw;
        }
      }

      max-height: 8.3vw !important;
      overflow-y: auto;
      margin-bottom: 0 !important;
      position: inherit !important;

      .MuiButtonBase-root.MuiIconButton-root.MuiAutocomplete-popupIndicator {
        display: none !important;
      }
    }

    .MuiInputBase-root {
      border: none !important;
      outline: none !important;
      border-radius: 1vw !important;
      border: none !important;
      outline: none !important;
      background: var(--theme-dark-blue) !important;
      box-sizing: none !important;
      color: var(--white) !important;

      input {
        color: var(--white) !important;
        background: var(--theme-dark-blue) !important;
      }
    }
  }

  .r-class-selection {
    display: flex;
    align-items: center;
    margin-bottom: 1.3vw !important;

    .select-existed-class.MuiInputBase-root {
      width: 35vw;
      border-radius: 0;
      border-top-left-radius: 1vw;
      border-bottom-left-radius: 1vw;
      color: var(--theme-dark-blue);
      text-align: left;
      font-size: 1.4vw !important;

      &::before,
      &::after {
        content: none !important;
      }

      .MuiSelect-root {
        padding-top: 0.4vw;
        padding-bottom: 0.4vw;
        display: flex;
        align-items: center;

        .MuiSvgIcon-root {
          margin-left: 1vw;
          margin-right: 0.8vw;
          width: 2.2vw;
          height: 2.2vw;
        }
      }
    }
  }

  .r-radio-row {
    display: flex;
    justify-content: center;
    color: var(--white);
    margin-bottom: 1vw !important;
  }

  .r-radio-row {
    .MuiTypography-root {
      font-size: 1.4vw;
    }

    .MuiSvgIcon-root {
      color: var(--white) !important;
    }
  }

  .r-day-date-row {
    transition: all 300ms ease-out;
    overflow: hidden;

    &.r-hidden {
      height: 0;
    }
  }

  .r-long {
    padding-top: 0.8vh !important;
    padding-bottom: 0.8vh !important;
    min-width: 13vw;

    .label {
      font-size: 2vw !important;
    }
  }

  .r-radio-buttons {
    padding-right: 2vw;
    margin-top: 0.5vw;
    margin-bottom: 1.2vw !important;

    .MuiFormControlLabel-root {
      margin-left: 2vw;
      margin-right: 2vw;
    }

    .MuiTypography-root {
      font-size: 1.6vw;
    }

    .MuiSvgIcon-root {
      color: var(--white);
    }

    .MuiSelect-root {
      font-size: 1.2vw;
    }

    .MuiInputBase-input {
      padding: 0.2vw;
    }

    .MuiInputBase-root {
      background: var(--theme-dark-blue) !important;
    }
  }
}

// tooltip
.css-custom-tooltip {
  position: absolute;
  opacity: 0;
  font-size: 1.05vw;
  transition: all 300ms ease-out;
  border-radius: 0.5vw;
  color: var(--theme-dark-blue);
  background: var(--tab-gray);
  padding-left: 0.5vw;
  display: block;
  position: absolute;
}

.short-brick-info {
  width: calc(100% - 4.4vw);
}

.sidebar-footer {
  border-top: 0.3vw solid var(--light-blue-alpha5);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 5vw;
  width: 100%;
  background: var(--theme-light-blue);
}

.brick-inline {
  p {
    display: inline;
  }

  br {
    display: none;
  }

  span,
  p {
    color: var(--theme-dark-blue) !important;
    background: inherit !important;
  }
}

.dashboard-page .sort-and-filter-container,
.users-filter,
.manage-class-filter,
.teach-assigned,
.personal-build-filter,
.build-filter {
  height: calc(100vh - #{$home-button-size} - 2vw) !important;

  .flex-height-box {
    height: calc(100vh - #{$home-button-size} - 2vw - 5vw) !important;
    display: flex;
    flex-flow: column;

    >div {
      width: 100%;
      flex-direction: column;

      >div {
        width: 100%;
      }
    }
  }


  .subject-scrollable {
    overflow-y: auto;
  }

  .sort-box {
    >div {
      width: 100%;
    }
  }

  .outline-box {
    margin-left: 0.3vw !important;
    border: 0.1vw solid var(--white) !important;
    color: var(--white) !important;
    background: inherit !important;
    border-radius: 0.65vw !important;
    padding: 0.1vw 0.4vw !important;
    font-size: 1vw !important;
    line-height: 1 !important;
  }
}

.dashboard-page .sorted-row {
  flex-wrap: unset;
}

.permision-buttons {
  font-size: 1vw;
}

.introduction-page,
.phone-question-preview,
.proposal-phone-preview {
  li[data-list=bullet] {
    list-style: none;

    &::before {
      content: "•";
      line-height: 1;
      font-size: 2vw;
      margin-right: 0.3vw;
    }
  }
}

.proposal-phone-preview,
.phone-question-preview li {
  font-size: 1vw;

  &[data-list=bullet]::before {
    font-size: 1.3vw;
    margin-right: 0.3vw;
  }
}

.introduction-page li {
  font-size: 1.4vw;
}



.il-image-container {
  .ili-image-container {
    position: relative;

    .image-source-container {
      width: 1.2vw;
      position: absolute;
      bottom: 0;
      right: -0.9vw;
      height: calc(100% - 0.2vw);
      overflow: hidden;

      .image-source {
        position: absolute;
        bottom: 0.75vw;
        transform: rotate(-90deg);
        line-height: 1;
        white-space: nowrap;
        display: inline-block;
        font-size: 0.6vw;
      }
    }
  }
}

.phone-preview-component .il-image-container {
  max-width: 95%;
}

// short answer live
.play-preview-panel .short-answer-live {
  .ql-custom-toolbar .formats button svg {
    height: 2vw;
    width: 2vw;
  }

  .ql-custom-toolbar {
    display: none !important;
  }

  .ql-container {
    min-height: 4vw;
    width: 100%;

    .ql-editor {
      text-align: center;
      border-radius: 0.6vw !important;
    }
  }

  .each {
    .quill-document-editor {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;

      .ql-editor {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }
  }
}

.bold-important {
  font-family: $font-family-bold !important;
}

.question-hint-global,
.question-hint {
  padding: 0.3vw 0.65vw;
  font-size: 1.4vw;
  background: #ff9d00;
  text-align: left !important;

  >div {
    display: inline;
    width: 100%;
    height: 100%;
    text-align: left !important;

    >div {
      text-align: left !important;
      display: inline;

      p {
        display: inline;
        text-align: left !important;
      }
    }

    .hint-icon-block {
      display: inline-block;

      .ged-phone-circle {
        $size: 1.3vw;
        width: $size;
        height: $size;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.4vw;

        svg {
          color: var(--theme-yellow);
          width: 80%;
          height: 80%;
          stroke-width: 2.5;
        }
      }
    }
  }

  &.correct {
    background: var(--off-white);
  }

  &.correct>div .hint-icon-block .ged-phone-circle svg {
    margin-top: 0.1vw;
    color: var(--white);
  }
}

.phone-question-preview {
  .question-hint-global,
  .question-hint {
    font-size: 1vw;

    .hint-icon-block .ged-phone-circle {
      $size: 1vw;
      width: $size;
      height: $size;
    }
  }
}

.missing-word-live .question-hint {
  margin-top: 0.5vw;
  margin-bottom: 0.2vw;
  border-radius: 0.6vw;
}

.choose-one-live, .choose-several-live {
  .choose-choice {
    .question-hint {
      background: var(--solitude-light) !important;
    }
    &.wrong {
      background: var(--theme-orange) !important;
      .question-hint {
        background: var(--theme-yellow) !important;
      }
    }
  }
}

.play-preview-pages .play-brief-page {
  ::-webkit-scrollbar {
    width: 10px;
    display: block !important;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    display: block !important;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    display: block !important;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: block !important;
  }
  .question-live-play {
    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb:hover {
      display: none !important;
    }
  }
}

.play-preview-pages .play-brief-page .introduction-page {
  position: fixed !important; 
  top: 2vw;
  width: 79.3vw;
  .scrollable {
    height: calc(100vh - 8vw) !important;
  }
  .new-layout-footer {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
  }
}

.play-preview-pages {
  .play-brief-page,
  .synthesis-page .introduction-page,
  .real-live-page .play-question-container,
  .review-page .play-question-container {
    $size: 0.3vw;
    ::-webkit-scrollbar {
      width: $size * 2;
      display: block !important;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      border-radius: $size;
      background: var(--theme-light-blue);
      display: block !important;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: $size;
      background: var(--tab-gray);
      display: block !important;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: var(--off-white);
      display: block !important;
    }
    .scrollable,
    .synthesis-content,
    .question-live-play {
      overflow-x:hidden;
      ::-webkit-scrollbar,
      ::-webkit-scrollbar-track,
      ::-webkit-scrollbar-thumb,
      ::-webkit-scrollbar-thumb:hover {
        display: none !important;
      }
    }
    .question-live-play {
      > div {
        padding-left: 7vw;
        padding-right: 7vw;
        width: 100%;
        overflow-x: auto;
      }
    }
  }
}

.horizontal-shuffle-answer.correct,
.vertical-shuffle-choice.correct {
  background: var(--theme-green-alpha5) !important;
}

.play-preview-pages .introduction-page .dd-live-container.question-live-play {
  z-index: 10;
  top: 0;
  margin-top: calc(2vw + 4vw) !important;
  position: fixed !important;
  width: 80vw !important;
  padding-right: 2.3vw !important;
  padding-left: 0 !important;
  > div {
    padding-left: 7vw !important;
    padding-right: 7vw !important;
  }
}


.post-play-page .book-main-container .book-container .help-text,
.question-live-play .question-unique-play .help-text {
  font-family: $font-family-regular-italic;
  display: flex;
  align-items: center;
  padding-bottom: 1vw;
  span {
    display: flex;
    align-items: center;
    padding-right: 0.3vw;
  }
  svg {
    padding-right: 0.3vw;
    height: 1.2vw;
    width: 1.2vw;
    fill: var(--theme-dark-blue);
  }
}