@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

@import 'src/assets/sass/component/authpages-tablet';
@import 'src/assets/sass/animations/animations';

@import './utils/mobile/global-mobile';
@import './utils/mobile/sidebar-mobile';
@import './utils/mobile/dialog-mobile';
@import './utils/mobile/tooltips-mobile';
@import './utils/mobile/buttons-mobile';
@import './utils/mobile/form-elements-mobile';
@import './utils/mobile/dropdowns-mobile';

#launcher {
  left: 0 !important;
  margin: 7px !important;
  width: 50px !important;
  height: 50px !important;
  padding: 4px !important;
}

// #2870 unauthorized dashbaord scrolling fix
.unauthrozied-container {
  height: 100%;
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-option {
    font-size: 7vw;
  }
}

.MuiDialog-root.dialog-box.light-blue.unlimited {
  .close-button {
    top: 4vw;
    right: 4vw;
    svg {
      color: var(--theme-orange);
    }
  }
  .title {
    margin-top: 5vw;
    font-size: 7vw;
  }
  .social-share-row {
    svg {
      height: 10vw;
      margin-left: 5vw;
      margin-right: 5vw;
      width: 10vw;
    }
    .custom-tooltip {
      display: none;
    }
  }
  .link {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.8vw;
  }
  .dialog-footer {
    .btn {
      padding-left: 9vw;
      padding-right: 9vw;
      background: var(--theme-orange) !important;
    }
  }
}

.MuiDialog-root.dialog-box.link-copied-dialog {
  .MuiListItem-root.MuiListItem-gutters {
    padding-top: 0 !important;
  }
  .MuiListItem-root.MuiListItem-gutters:first-child {
    $top: 24vw;
    margin-top: $top;
    padding-bottom: 0 !important;
    position: relative;
    .MuiListItemAvatar-root {
      position: absolute;
      top: -21vw;
      left: calc(50% - 10vw);
      .MuiAvatar-root {
        width: 18vw;
        height: 18vw;
        svg {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }
  .MuiTypography-root.MuiListItemText-primary {
    font-size: 6vw !important;
  }
}

.dialog-box.light-blue .MuiDialog-paper .dialog-header input {
  font-size: 7vw !important;
}

.autocomplete-profile-image {
  width: 10vw !important;
  height: 10vw !important;
  margin-left: -0.25vw !important;
  margin-right: 2vw !important;
}

.autocomplete-profile-icon {
  width: 13vw !important;
  height: 13vw !important;
  margin-left: -0.25vw !important;
  margin-right: 2vw !important;
}
.time-container {
  filter: drop-shadow(0mm -10px 8px rgba(0, 0, 0, 0.2));
  $height: 10px;
  $width: 100%;
  left: 0;
  position: fixed;
  bottom: $mobile-menu-height;
  width: $width !important;
  padding: 8px;
  background-color: var(--tab-gray);
  z-index: 20000;
  .timer-progressbar {
    width: $width !important;
    border-radius: 1.5vw !important;
    height: $height !important;
    .MuiLinearProgress-bar {
      height: $height !important;
    }
  }
}

.browser-type-container {
  height: 100%;
  width: 100vw;
}

.stop-cookie-tracking {
  display: none;
}

// global footer fix
.menu-dropdown .MuiPaper-root {
  width: 58vw !important;
  .menu-item {
    padding: 1vw 4vw !important;
    .menu-text {
      font-size: 6vw !important;
    }
  }
}

.svg {
  overflow: visible !important;
}

//#2889 short answer updated. rounded and text centered.
.short-answer-live {
  $border-radius: 2vw;
  .short-answer-input {
    width: 100% !important;
    margin-bottom: 1.5vh;

    .quill-document-editor .ql-custom-toolbar .formats {
      padding-left: 3vw;
      button {
        height: 7vw;
        width: 7vw;
      }
      svg {
        height: inherit;
        width: inherit;
      }
    }
    .ql-editor {
      padding-top: 1vh;
      padding-bottom: 1vh;
    }
    .ql-blank::before {
      font-size: 4.5vw;
    }
  }
  .question-hint-global {
    border-radius: $border-radius;
    padding: 2vw;
  }
}

// page header
.main-listing,
.play-preview-pages {
  .upper-part {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 1;
  }
}

// user preference page
.user-preference-container {
  height: 70% !important;
  margin-bottom: 40% !important;
}

.brick-inline {
  p {
    display: inline;
  }
}

// policy text
.auth-page.login-page .mobile-policy-text .policy-text {
  font-size: 6vw !important;
  right: 40vw !important;
}

.visible-on-hover {
  display: none;
}

.introduction-page,
.phone-question-preview,
.proposal-phone-preview {
  li[data-list=bullet] {
    list-style: none;
    &::before {
      content: "•";
      line-height: 1;
      font-size: 6vw;
      margin-left: 0.5vw;
      margin-right: 2vw;
    }
  }
}

.introduction-page li {
  font-size: 4.5vw;
}

// sort play fixes
.question-live-play .question-unique-play .sort-category {
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.question-live-play .question-unique-play .sortable-list {
  .MuiTypography-root > div {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}

.question-live-play .question-unique-play .help-text {
  font-family: $font-family-regular-italic;
}

.image-source {
  font-size: 4vw;
}

.play-preview-pages .sorted-row .brick-row-container .brick-container .introduction-page .question-live-play .quill-document-editor {
  input, textarea {
    font-size: 4.5vw !important;
  }
  .ql-blank::before {
    font-size: 4.5vw !important;
  }
  p {
    font-size: 4.5vw !important;
  }
  input:focus {
    font-size: 4.5vw !important;
  }
}

.il-image-container {
    position: relative;
    .image-source-container {
      width: 1.2vw;
      position: absolute;
      bottom: 0;
      right: -0.9vw;
      height: 100%;
      overflow:hidden;
      .image-source {
        position: absolute;
        bottom: 0.5vw;
        transform: rotate(-90deg);
        line-height: 1;
        white-space: nowrap;
        display: inline-block;
        font-size: 0.6vw;
      }
    }
  }


.il-image-container .ili-image-container {
  position: relative;
  width: auto;
  max-width: 95%;
  height: 100%;
  .image-source-container {
    width: 4vw;
    height: calc(100% - 4vw);
    position: absolute;
    bottom: 2vw;
    right: -4vw;
    overflow: hidden;
    .image-source {
      transform: rotate(-90deg);
      white-space: nowrap;
      display: inline-block;
      line-height: 1;
      font-size: 3vw;
    }
  }
}

// auth page
.auth-page {
  .button-box {
    &.mobile-button-box {
      background: var(--theme-light-blue);
    }
    a, button.email-button {
      justify-content: flex-start !important;
      font-size: 5.5vw;
      border-radius: 4vw !important;
      span {
        letter-spacing: 0.6vw;
        margin-left: 5.5vw;
      }
    }
  }
  .button-box {
    width: 100%;
    margin-top: 2vh;
    transition: width ease-in-out 300ms;
    position: relative;
    color: var(--white);

    .text-box {
      position: absolute;
      left: 2vw;
      text-align: left;
      letter-spacing: 1vw;
    }

    .join-button {
      cursor: pointer;
      position: absolute;
      top: -2vw;
      left: 50vw;
      width: 40vw;
      display: flex;
      align-items: center;
      font-family: $font-family-bold;
      letter-spacing: 0.4vw;

      svg {
        transition: all 300ms ease-out;
        width: 10vw;
        height: 10vw;
      }
    }
  }
  .logo-box {
    position: relative;
    height: 45% !important;
    .logo-box-inner {
      height: 65% !important;
      margin-bottom: 2%;
    }
    &.big {
      height: 100% !important;
    }
    .h-arrow-down {
      position: absolute;
      bottom: 2.5vh;
      display: flex;
      justify-content: center;
      width: 100%;
      left: 0;
      svg {
        opacity: 0;
        animation: fadein 0.5s 2s forwards;
        color: var(--white);
        width: 4.7vh;
        height: 4.7vh;
      }
    }
  }
  .button-box {
    margin-top: 1.7vh !important;
  }
  .input-block.button-box .orange-button {
    border-radius: 3vw !important;
    margin: 0 !important;
    font-size: 5.5vw !important;
    text-transform: none !important;
    color: var(--white) !important;
    background: var(--theme-orange) !important;
  }
  .m-register-box {
    button {
      margin: 0 !important;
      padding-top: 1vh !important;
      padding-bottom: 1vh !important;
      letter-spacing: 1vw !important;
      font-size: 5vw !important;
      text-transform: capitalize !important;
      color: var(--white) !important;
      background: var(--theme-orange) !important;
    }
  }
}

.mobile-button-box {
  background-color: $button-box;
  border-top-right-radius: 10vw;
  overflow: hidden;
  margin-top: 34px;
  height: calc(61% - 34px);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end !important;
  padding: 8vh 9vw 0;
}
