#launcher {
  position: fixed;
  margin-left: 1vw !important;
  margin-bottom: 0px !important;
  left: 0;
  margin: 1vw;
  width: 52px;
  height: 50px;
}

// #2870 unauthorized dashbaord scrolling fix
.unauthrozied-container {
  height: 100%;
}

.MuiAutocomplete-popper {
  .MuiAutocomplete-option {
    font-size: 7vw;
  }
}

.MuiDialog-root.dialog-box.light-blue.unlimited {
  .close-button {
    top: 4vw;
    right: 4vw;
    svg {
      color: var(--theme-orange);
    }
  }
  .title {
    margin-top: 5vw;
    font-size: 7vw;
  }
  .social-share-row {
    svg {
      height: 10vw;
      margin-left: 5vw;
      margin-right: 5vw;
      width: 10vw;
    }
    .custom-tooltip {
      display: none;
    }
  }
  .link {
    margin-left: 0;
    margin-right: 0;
    font-size: 3.8vw;
  }
  .dialog-footer {
    .btn {
      padding-left: 9vw;
      padding-right: 9vw;
      background: var(--theme-orange) !important;
    }
  }
}

.MuiDialog-root.dialog-box.link-copied-dialog {
  .MuiListItem-root.MuiListItem-gutters {
    padding-top: 0 !important;
  }
  .MuiListItem-root.MuiListItem-gutters:first-child {
    $top: 24vw;
    margin-top: $top;
    padding-bottom: 0 !important;
    position: relative;
    .MuiListItemAvatar-root {
      position: absolute;
      top: -21vw;
      left: calc(50% - 10vw);
      .MuiAvatar-root {
        width: 18vw;
        height: 18vw;
        svg {
          width: 10vw;
          height: 10vw;
        }
      }
    }
  }
  .MuiTypography-root.MuiListItemText-primary {
    font-size: 6vw !important;
  }
}

.dialog-box.light-blue .MuiDialog-paper .dialog-header input {
  font-size: 7vw !important;
}

.autocomplete-profile-image {
  width: 10vw !important;
  height: 10vw !important;
  margin-left: -0.25vw !important;
  margin-right: 2vw !important;
}

.autocomplete-profile-icon {
  width: 13vw !important;
  height: 13vw !important;
  margin-left: -0.25vw !important;
  margin-right: 2vw !important;
}
.time-container {
  $height: 3vw;
  $width: 94vw;
  z-index: 20000;
  left: 3vw;
  position: fixed;
  bottom: 19vw;
  width: $width !important;
  .timer-progressbar {
    width: $width !important;
    border-radius: 1.5vw !important;
    height: $height !important;
    .MuiLinearProgress-bar {
      height: $height !important;
    }
  }
}

.stop-cookie-tracking {
  display: none;
}

// global footer fix
.menu-dropdown .MuiPaper-root {
  width: 58vw !important;
  .menu-text {
    font-size: 6vw !important;
  }
}

// main page adjustments for biger menu
.mainPageMobile .main-page-menu.menu-expanded {
  width: 58vw !important;
}

.svg {
  overflow: visible !important;
}

//#2889 short answer updated. rounded and text centered.
.short-answer-live {
  $border-radius: 2vw;
  .short-answer-input {
    width: 100% !important;
    margin-bottom: 1.5vh;
    .document-editor {
      .ck-editor {
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        .ck-content {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .ck-toolbar {
        border-top-right-radius: $border-radius !important;
        border-bottom-right-radius: $border-radius !important;
      }
    }
  }
  .question-hint-global {
    border-radius: $border-radius;
    padding: 2vw;
  }
}