@import 'src/assets/sass/partials/variables';
@import 'src/assets/sass/partials/mixins';
@import 'src/assets/sass/partials/extensions';

@import './utils/tablet/global-tablet';
@import './utils/tablet/sidebar-tablet';
@import './utils/tablet/dialog-tablet';
@import './utils/tablet/tooltips-tablet';
@import './utils/tablet/buttons-tablet';
@import './utils/tablet/form-elements-tablet';
@import './utils/tablet/dropdowns-tablet';

#launcher {
  left: 0 !important;
  width: 5.7vw !important;
  *width: 5.7vw !important;
  height: 2.5vw !important;
  *height: 2.5vw !important;
  margin: 1.7vw !important;
  *margin: 1.7vw !important;
}

.short-description {
  cursor: pointer;
  padding-left: 1vw;
  border-radius: 1vw;
  background: var(--white);
  &:hover {
    background: var(--tab-gray);
    .hover-delete-icon {
      height: 3.5vw;
      svg {
        height: 1vw !important;
        width: 1vw !important;
      }
    }
    .label-circle-text {
      font-size: 1.3vw !important;
    }
    .round-button-icon {
      svg {
        width: 0 !important;
        height: 0 !important;
      }
      .label-circle-text {
        display: flex;
        width: 100%;
        font-size: 1.3vw;
      }
    }
  }
  &.no-hover {
    background: inherit !important;
  }
  .label-circle-text {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: var(--white);
    font-size: 1vw;
    transition: all 300ms ease-out;
  }

  .round-button-icon {
    .label-circle-text {
      display: none;
      font-size: 0;
      width: 0;
      height: 0;
    }
  }

  .hover-delete-icon {
    position: absolute;
    top: 1.6vh;
    right: 1.6vh;
  }
  .centered-brick-description {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;

    .link-info {
      font-size: 0.8vw !important;
    }
  }
}

.stop-cookie-tracking {
  cursor: pointer;
  position: fixed;
  bottom: 5vw;
  left: 2vw;
  border: none;
  height: 2.3vw;
  display: flex;
  align-items: center;
  outline: none;
  font-size: 1.4vw;
  border-radius: 0.5vw;
  padding: 0;
  background: inherit;
  svg {
    width: 2vw;
    height: 2vw;
    color: var(--white);
    transition: all 300ms ease-out;
  }
  &:hover {
    svg {
      color: var(--theme-orange);
    }
  }
}

// tooltip
.css-custom-tooltip {
  position: absolute;
  opacity: 0;
  font-size: 1.05vw;
  transition: all 300ms ease-out;
  border-radius: 0.5vw;
  color: var(--theme-dark-blue);
  background: var(--tab-gray);
  padding-left: 0.5vw;
  display: block;
}

.short-brick-info {
  width: calc(100% - 4.4vw);
}
